<!-- <mat-card *ngIf="blogDetails">
    <mat-card-title>{{blogDetails.header}}</mat-card-title>
    <mat-card-subtitle>{{blogDetails.subHeader}}</mat-card-subtitle>
    <mat-card-content>{{toHTML(blogDetails.message)}}</mat-card-content>
    <img mat-card-image src="{{getImage(blogDetails.image)}}">
    
</mat-card> -->
<app-header-web></app-header-web>
<div class="wrapper">
    <div class="blog-banner">
        <div class="overlay"></div>
        <figure class="m-0">
            <img src="assets/images/blog/blog-detail-banner.png" alt="">
        </figure>
        <div class="banner-text">
            <div class="container p-0 h-100">
                <div class="banner-text-inner h-100">
                    <h2 class="text-center">Blog Details</h2>

                </div>

            </div>

        </div>
    </div>
    <div class="blog-detail-card">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-card-content">
                        <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                            <div class="cate d-flex align-items-center justify-content-start">
                                <i> </i><small>{{blogDetails.header}}</small>
                            </div>
                            <div class="share">
                                <figure class="m-0 cursor-pointer" (click)="openShare(blogDetails)"><img src="assets/images/blog/share.png" alt=""></figure>
                                
                            </div>
                            <div class="main-b share-box" *ngIf="blogDetails.shareBlog">
                                <div class="share-box-header d-flex align-items-center justify-content-between">
                                  <h1>Share this blog</h1>
                                  <small (click)="closeShare(blogDetails)">
                                    <img src="assets/images/close.png" alt="">
                                  </small>
                                </div>
                                
                                <share-buttons show="14"  url="https://opinionest.com/blogs/{{newHeader}}"></share-buttons>
                              </div>
                            
                        </div>
                        <div class="detail-content">
                            <div class="mb-4">
                                <h2 class="card-title">{{blogDetails.subHeader}}</h2>
                                <span class="time d-block">{{blogDetails.fromDate | niceDateFormatPipe }}</span>
                            </div>

                            <div [innerHTML]="blogDetails.message | safe :'html'"></div>
                            <!-- <div [innerHTML]="toHTML(blogDetails.message)">
                             
                            </div>
                            -->
                            <figure class="">
                                <img src="{{blogDetails.image}}" alt="">
                            </figure>
                           
                        </div>
                        <div *ngIf="blogDetails.blogsTag" class="tags d-flex align-items-center">
                            <b>Tags:</b>
                            <ul  *ngFor="let tag of blogDetails.blogsTag" class="p-0 m-0 d-flex align-items-center pl-3">
                                <li>{{tag.tagName}}</li>
                            </ul>
                        </div>

                    </div>

                    
                </div>
                <div class="col-md-3">
                    <div class="g-ad mb-3">
                        <img src="assets/images/blog/google-ad.jpg" alt="">
                    </div>
                    <div class="g-ad">
                        <img src="assets/images/blog/google-ads.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="also-like px-3">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="main-h">You may also like</h5>
                            </div>
                            <div class="col-md-3 mb-4" *ngFor="let oth of otherlist;let index = index">
                                <div class="blog-card">
                                  <figure class="m-0 max-h-160">
                                    <img src="{{oth.image}}" style="height:150px;"alt="">
                                  </figure>
                                  <div class="blog-card-content px-3">
                                    <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                                      <div class="cate d-flex align-items-center justify-content-start">
                                        <i> </i><small>{{oth.subHeader}}</small>
                                      </div>
                                      <span class="time">{{oth.fromDate | niceDateFormatPipe}}</span>
                                    </div>
                                    <h2 class="card-title">{{oth.header}}</h2>
                                    <div class="share share-blog d-flex align-items-center justify-content-between">
                                        <figure class="m-0 cursor-pointer" (click)="openShare(oth)"><img src="assets/images/blog/share.png" alt=""></figure>
                                        <div class="share-box" *ngIf="oth.shareBlog">
                                            <div class="share-box-header d-flex align-items-center justify-content-between">
                                              <h1>Share this blog</h1>
                                              <small (click)="closeShare(oth)">
                                                <img src="assets/images/close.png" alt="">
                                              </small>
                                            </div>
                                            
                                            <share-buttons show="14"  url="https://opinionest.com/blogs/{{oth.newHeader}}"></share-buttons>
                                          </div>
                                        
                                      
                                      <span><a (click)="transferBlog(oth.newHeader)">Read this</a></span>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-web></app-footer-web>