// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.wrapper{
    padding-top: 80px;
    .blog-banner{
        position: relative;
        max-height: 450px;
        overflow: hidden;
        .overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(248, 148, 6, 0.5);;
        }
        figure{
          img{
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .banner-text{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 70%;
          h2{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
    
            color: #fff;
          }
          
        }
    }
    .share{
        figure{
          width: 16px;
        }
        span{
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          /* identical to box height */
          cursor: pointer;
          text-decoration-line: underline;
          color: #363637
        }
      }
    .time{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.04em;

        color: rgba(19, 37, 59, 0.4);
      }

    .blog-card-content{
        padding: 24px;
        .header-card{
          .cate{
            background: #F89406;
            border-radius: 28px;
            padding: 2px 8px;
            max-width: 65%;
            i{
              height: 5px;
              width: 5px;
              background-color: #fff;
              border-radius: 40px;
              margin-right: 4px;
            }
            small{
              font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              display: -webkit-box;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              text-align: center;
              color: #FFFFFF;
              width: 88%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              display: block !important;
            }
          }
          
        }
        .card-title{
          font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #363637;
        margin-bottom: 10px;
        }
       
      }
    .detail-content{
        h4{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* or 169% */
            margin-bottom: 24px;
            letter-spacing: 0.04em;

            color: rgba(27, 27, 37, 0.75);
        }
        p{
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            /* or 150% */
            margin-bottom: 24px;
            letter-spacing: 0.04em;

            color: rgba(27, 27, 37, 0.62);
            a{
                color: #1671FB;
                font-weight: 500;
                text-decoration: underline;
            }
        }
    }
    .tags{
        b{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */

            display: flex;
            align-items: center;

            color: #000000;
        }
        ul{
            li{
                background: #FCF1E1;
                border-radius: 27px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                margin-right: 8px;
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                color: #F89406;
                padding: 2px 12px;
            }
        }
    }

    .blog-card{
        background: #FFFFFF;
        box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        height: 375px;
        overflow: hidden;
        .blog-card-content{
            padding: 24px;
            position: relative;
            .header-card{
              .cate{
                background: #F89406;
                border-radius: 28px;
                padding: 2px 8px;
                i{
                  height: 5px;
                  width: 5px;
                  background-color: #fff;
                  border-radius: 40px;
                  margin-right: 4px;
                }
                small{
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;
                  line-height: 12px;
                  /* or 120% */
                  
                  display: flex;
                  align-items: center;
                  text-align: center;
                  
                  color: #FFFFFF;
                }
              }
              .time{
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                /* or 140% */
        
                text-align: right;
                letter-spacing: 0.04em;
        
                color: rgba(19, 37, 59, 0.4);
              }
            }
            .card-title{
              font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #363637;
            margin-bottom: 32px;
            height: 100px;
            }
            .share{
              figure{
                width: 16px;
              }
              span{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */
                cursor: pointer;
                text-decoration-line: underline;
                color: #363637
              }
            }
          }
      }
    .main-h{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        color: #13253B;
        text-align: center;
        margin-bottom: 40px;
    }
    .also-like{
        border-top: solid 1px #ddd;
        padding: 44px 0;
        margin-top: 32px;
    }
}
.main-b{
  bottom: initial;
  left: initial;
  top: 48px;
  right: 39px;
  width: 49%;
}