      <form #f="ngForm" (ngSubmit)="onSubmit()">
    
API <input matInput [(ngModel)]="Api"  required name="Api" #query="ngModel">https://api2.opinionest.com/api/QuestionAnswer/MandatoryQuestionTotal
<br>
Header <textarea matInput [(ngModel)]="header" style="width: fit-content;" value=""  required name="Header"
 #query="ngModel"></textarea> authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjEyNzkwOSIsIm5iZiI6MTU5NTI2MzA5NSwiZXhwIjoxNTk1ODY3ODk1LCJpYXQiOjE1OTUyNjMwOTV9.D1hFfQSJ4mYyUM1JvOqeQjI62NDGkFng2dElpdsiPcA
<button class="btn op-cta btn-shadow">Submit</button>
</form>