
// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';

.wrapper{
  @include padding(0, 52px, 0, 52px);
  .registration-wrapper{
    @include boxshadow(1);
    height: calc(100vh - 104px);
    overflow: hidden;
    position: relative;
    .or{
      background: red;
      @include position(absolute, 50%, initial, initial, 50%);
      color: #fff;
      @include font-family();
      font-size: $medium-font;
      font-weight: map-get($font-weight, 'semi-bold');
      z-index: 999;
      background-color: #36bdcae6;
      width: 60px;
      height: 60px;
      @include border-radius(100%);
      margin: -30px 0 0 -44px;
    }
    .social-login{
      background-image: url('../../../assets/images/registration-left-side.png');
      height: 100%;
      background-size: cover;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: relative;
      .overlayer{
        @include position(absolute, 0, initial, initial, 0);
        background-color: rgba(42, 191, 206, 0.88);
        z-index: 9;
      }
      .social-login-inner{
        @include padding(24px, 24px, 24px, 24px);
        position: relative;
        z-index: 99;
        h3{
          color: #183558;
          font-size: $root-font;
          font-weight: map-get($font-weight, 'regular');
          letter-spacing: map-get($letterspacing, 'letterspace-4');
          b{
            color: #fff;
            position: relative;
            &:after{
              content: "";
              @include position(absolute, initial, initial, -6px, 0);
              width: 47px;
              height: 2px;
              background-color: #fff;
            }
          }
        }
        .logo-traingle-pattern{
          @include position(absolute, 0, initial, initial, 0);
          width: 254px;
        }
        .curve-pattern{
          @include position(absolute, initial, initial, 0, 0);
          width: 180px;
        }
        .social-content{
          position: relative;
            z-index: 9;
          .logo{
            h1{
              max-width: 170px;
              width: 100%;
            }
          }
          .login-list{
            height: calc(100vh - 177px);
            justify-content: center;
            flex-direction: column;
            .white-bg{
              background-color: $white-bg;
              width: 240px;
              font-size: $default-font;
              font-weight: map-get($font-weight, 'medium');
              letter-spacing: map-get($letterspacing, 'letterspace-4');
            }
            .fb-color{
              color: #2196F3;
            }
            .gmail-color{
              color: #F34A38;
            }
            .wechat-color{
              color: #2DC100;
            }
          }
        }

      }
    }

    .custom-login{
      @include padding(24px, 30px, 52px, 30px);
      h2{
        font-size: $font-36;
        font-weight: map-get($font-weight, 'bold');
        letter-spacing: map-get($letterspacing, 'letterspace-4');
        color: #183558;
        position: relative;
        margin-bottom: 36px;
        &:after{
          content: "";
          @include position(absolute, initial, initial, -13px, 0);
          width: 126px;
          height: 4px;
          background: #F89406;
          @include border-radius(10px);
        }
      }
    }
  }
}
.initial-header {
  /* width: 556px;
  height: 34px; */
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.96px;
  color: #f89406;
}
.household-information {
  // width: 941px;
  // height: 58px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: 0.56px;
  color: #13253b;
}
.btn-next {
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: #f89406;
  width: 165px;
  color: #fff;
}
.help-header {
  font-family: Poppins;
  font-size: $extra-large-font;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  color: #f89406;
}
 .mat-checkbox-background {
  background-color: #F89406;
}
.fa-question-circle {
  color: #f89406;
  font-size: $large-font;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #F89406;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #F89406;
}
// ::ng-deep .mat-dialog-container {
//   height: auto;
// }
.popup-img {
  width: 370px !important;
  height: auto;
  margin: 0px !important;
}
.popup-img3 {
  width: 320px !important;
  height: auto;
  margin: 0px !important; 
}
.close {
  position: absolute;
  top: 3px;
  right: 21px;
  cursor: pointer;
}