<div *ngIf="switchMobile" >
  <mat-card class="pl-0 pr-0 updatenum " style="box-shadow:none; ">
      <!-- <mat-card-title>We value your Honesty and in return We believe in sharing Accurate Surveys with You</mat-card-title> -->
      <div>  
        <div class="row">
          <div class="col-md-12 text-center ">
            <h2 class="help-header m-0"  *ngIf="!otpClicked">Confirm your Mobile Number</h2>
            <h2 class="help-header m-0"  *ngIf="otpClicked">Verify your Mobile Number</h2>
            <!-- <div class="close">
              <mat-icon>close</mat-icon>
            </div> -->
            
          </div>
          <div class="col-md-12 text-center mt-2">
            <p class="household-information " *ngIf="!otpClicked">All we need you to do is fill in few details for the profiling to get started</p>
            <p class="household-information" *ngIf="otpClicked">We have sent an OTP to {{mobile}} Please enter the OTP to verify your Mobile Number</p>
            
            <form  [formGroup]="MobileForm" *ngIf="!otpClicked" class="example-form">
              <mat-form-field class="example-full-width " style="width: 82%!important;" appearance="">
                <mat-label>Enter Mobile Number</mat-label>
                <input type="number" matInput formControlName="mobile"  minlength=10 maxlength=15 matInput  placeholder="">
                <mat-error *ngIf="MobileForm.get('mobile').dirty || MobileForm.get('mobile').touched">
                  <span *ngIf="MobileForm.controls['mobile'].hasError('required') ">
                      Mobile is required
                  </span>
                  <span *ngIf="MobileForm.controls['mobile'].hasError('pattern') ">
                    Invalid Number
                    </span>
              </mat-error>
              <figure style="
              width: 35px;
              position: absolute;
              margin-left: 92%;
              margin-bottom: -10px!important;
              margin-top: -14px;">
                <img *ngIf="countryData" src="{{countryData?.flagPath}}"  class="pr-2"/>
                <img  *ngIf="!countryData" src="./../../../assets/images/loader.gif"  class="pr-2"/>
              </figure>
                 
              </mat-form-field>
            
              <div  class="d-block mt-2">
                <button style="font-family: Poppins;
                font-size: 15px;" [disabled]="MobileForm.invalid || clicked" (click)="resend()" class="btn btn-next btn-shadow  mat-primary" 
                color="primary">Submit</button>
              </div>
            </form>
            <form *ngIf="otpClicked" [formGroup]="OTPForm" id="OTPForm" autocomplete="on">

              <mat-form-field class="d-block">
                  <input type="text" matInput placeholder="OTP received on mobile sms" maxlength="4" minlength="4"
                      formControlName="otp">
                  <mat-error *ngIf="OTPForm.get('otp').dirty || OTPForm.get('otp').touched">
                      <span *ngIf="OTPForm.controls['otp'].hasError('required') ">
                          OTP is required
                      </span>
                    
                  </mat-error>

              </mat-form-field>
              
              <div *ngIf="otpClicked" class="form-footer mt-4 d-flex justify-content-between align-items-center">
                <div class="resend"  *ngIf="!clicked"  (click)="resend()">
                  <img src="assets/images/refresh.png" style="width: 25px;" alt="">
                  <b>Resend OTP</b> 
                </div>
                <div  *ngIf="clicked"  class="resend">
                  <img src="assets/images/refresh.png" style="width: 25px;" alt="">
                  <b>Please Wait..</b> 
                </div>
                <div class="resend" (click)="otpClicked=false;">
                  <b>Change Number</b> 
                </div>
                  <button mat-flat-button color="primary" [disabled]="OTPForm.invalid || submitClicked  || clicked"
                      (click)="onSubmit()" class="primary-btn btn-h-40">Submit
                      OTP</button>
              </div>
          </form>
          </div>

          <!-- <div class="col-md-12 text-center">
            <img mat-card-image class="popup-img" src="../assets/images/1.png">  
          </div> -->
          
        </div>
  
        </div>
  </mat-card>
</div>

<mat-card  *ngIf="!switchMobile" class="pl-0 pr-0 updatenum " style="box-shadow:none; ">
        <div *ngIf="FormShow==1" >
       
            <div *ngIf="switchFirst">  
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="help-header m-0">Almost there!</h2>
                </div>
                <div class="col-md-12 text-center">
                  <p class="household-information">All we need you to do is fill in few details for the profiling to get started</p>
                </div>
                <div class="col-md-12 text-center">
                  <img mat-card-image class="popup-img" src="../assets/images/1.png">  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="initial-header">Consent for household information</h2>
                </div>
                <div class="col-md-12 text-center">
                  <p class="household-information">If your are living with a spouse, relative or any other family member, then please confirm that you have obtained their consent to provide personally identifiable information (PII) on their behalf any time throughout the survey process.</p>
                </div>
                <div class="col-md-12 text-right">
                  <button class="btn btn-next" (click)="switchNext('household')">Next</button>
                </div>
              </div>
              </div>
              <div *ngIf="switchSecond">
                <form [formGroup]="firstFormGroup">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2 class="help-header">We are here to help. We welcome you!</h2>
                  </div>
                  <div class="col-md-12 text-center">
                  <img mat-card-image class="popup-img" src="../assets/images/2.png">  
                </div>
                  </div>
                  <!-- <img mat-card-image src="http://beta.opinionest.com/survey/images/popup_bg1.png">   -->
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <p class="household-information">You are all set to begin your journey as a proud opinionest user!</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <mat-checkbox  formControlName="policy" >  </mat-checkbox>&nbsp; <a  (click)="openInNewWindow('/privacy-policy')"  href="#" routerLinkActive="false">Privacy Policy</a>
                     
  
                    </div>
                    <div class="col-md-3">
                      <mat-checkbox  formControlName="term"> </mat-checkbox>&nbsp;<a (click)="openInNewWindow('/terms-and-conditions')"  href="#" routerLinkActive="false">Terms of use</a>
                     
                    </div>
                    <div class="col-md-3">
                      <p><i class="fa fa-question-circle"></i>&nbsp; <a (click)="openInNewWindow('/faqs')" href="#" routerLinkActive="active">FAQ</a></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button class="btn btn-next" [disabled]="!firstFormGroup.valid"  (click)="switchNext('privacy')">Ok I Understand</button>
                    </div>
                  </div>
                </form>
              </div>

              <div *ngIf="switchThird">
               
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2 class="help-header m-0">Almost there!</h2>
                  </div>
                  <div class="col-md-12 text-center">
                    <p class="household-information m-0">We value your honest opinion and in return we believe in sharing accurate surveys with you</p>
                  </div>
                  <div class="col-md-12 text-center">
                    <img mat-card-image class="popup-img3" src="../assets/images/3.png">  
                  </div>
                  </div>
                  <!-- <img mat-card-image src="http://beta.opinionest.com/survey/images/popup_bg1.png">   -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="d-block">              
                        <mat-label>Select Country</mat-label>
                        <mat-select #roleName="ngModel"  [disabled]="true" [(ngModel)]="countryId"   name="countryId">
                          <mat-option>
                          <ngx-mat-select-search [(ngModel)]="searchCtrl" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not record found'" name="searchCtrl"></ngx-mat-select-search>
                        </mat-option>
                      <mat-option  *ngFor="let country of dataSource |stringFilterBy:searchCtrl:'countryName'" [value]="country.countryId" [selected]="country.countryId === 2">
                        {{country.countryName}}
                      </mat-option>
                    </mat-select>
                      
                      
                      
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="d-block">
                        <mat-label>Pin code/Zip code</mat-label>           
                        <input matInput maxlength="7" [(ngModel)]="pinCode">
                       
                      </mat-form-field>
                      <!-- <mat-form-field class="example-full-width">
                        <mat-label>Pin code/Zip code</mat-label>
                        <input matInput value="">
                      </mat-form-field> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="d-block">
                        <mat-label>Date of birth</mat-label>
                        <input matInput  (click)="reOpenCalendar()" readonly [matDatepicker]="myDatepicker"  [(ngModel)]="dob">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                      
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="d-block">
                        <mat-label>Gender</mat-label>
                        <mat-select  [(ngModel)]="gender">
                          <mat-option value="1">Male</mat-option>
                          <mat-option value="2">Female</mat-option>
                          <mat-option value="3">Other</mat-option>
                        </mat-select>

                        
                      </mat-form-field>
                    </div>
                    <!-- <div class="col-md-12"> -->
                      <!-- <mat-form-field> -->
                      <!-- <mat-checkbox>I agree to your terms of service and privacy policy</mat-checkbox> -->
                      <!-- </mat-form-field> -->
                    <!-- </div> -->
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button class="btn btn-next" [disabled]="gender==''||dob==''||pinCode==''||countryId==0"  (click)="switchNext('submit')">Submit</button>
                    </div>
                  </div>
              </div>  
        </div>
        </mat-card>    