<app-header-web></app-header-web>
<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Cookies Policy</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/data-protection.svg" alt="about-banner">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="privacy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                    <div class="privacy_wrapper">
                        
            
                        
                        <p>To enhance your experience and make it worth of your while, this website uses cookies. When you visit Opinionest website, a web server sends a cookie (small text files) to your system or mobile device to store and track valuable information. In short, Cookies further makes a user’s experience more efficient.</p>
            
                       
                        <p>We use cookies to make the Opinionest website easier to use, to deliver a personalised experience on our websites, and to better tailor our products, services and websites to your interests and needs. Cookies are used to help speed up your future activities and your experience on our website. The law states that we can store cookies on your device if they are strictly necessary for the operation of this site.</p>
                      
            
                        <h3>The cookies used on Opinionest website may be generally categorised as follow:</h3>
                        
            
                        <ul>
                            <li>Necessary Cookies. These cookies do not identify you as an individual.</li>
                            <li>Performance Cookies. These cookies do not identify you as an individual.</li>
                            <li>Functionality Cookies. The information these cookies collect may include personal data that you have disclosed.</li>
                            <li>Targeting or Advertising Cookies. Most types of these cookies track consumers via their Device ID or IP address therefore they may collect personal data.</li>
                            <li>Third-Party Cookies. Based on the type of cookies used by the relevant third-party, the information these cookies collect may include personal data.</li>
                        </ul>
            
                        
            
                        <h3>For all other types of cookies we need your permission.</h3>
                        <p>If you have any further queries on our cookie policy then please <a [routerLink]="['/contact-us']">Contact Us.</a></p>
            
                        
                        
            
                    </div>
                
            </div>
            
        </div>
    </div>
</div>




<app-footer-web></app-footer-web>