@import '../../../../styles.scss';
@import'../../../../assets/scss/color.scss';
.chatbot
{
    text-align: right;
    margin: 1em;
}

.site-footer {
    background-color: $headingprimary;
    padding: 80px 0px;
    .footer-logo {
        width: 110px;
        margin-bottom: 32px;
    }
    .footer-logo-text {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #ffffff;
        opacity: 0.7;
        text-align: justify;
    }
    .footer-links{
        flex-wrap: wrap;
        li{
            flex: 0 0 50%;
            max-width: 50%;
            a{
                color: #fff;
                font-size: 14px;
                font-weight: 200;
                letter-spacing: 0.5px;
                padding: 0 0 10px;
                display: inline-block;
                transition: all 0.2s ease;
                &:hover{
                    color: #F89406;
                    text-decoration: none;
                }
            }
        }
    }
    .social-links-footer{
        ul{
            li{
                a{
                    background: #f9f9f9;
                    display: block;
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.2s ease;
                    i{
                        color: #2d2c38;
                        transition: all 0.2s ease;
                    }
                    &:hover{
                        text-decoration: none;
                        i{
                            color: #fff;
                        }
                    }
                }
                .fb{
                    &:hover{
                        background: #3b5998;
                    }
                    
                }
                .twitter{
                    &:hover{
                        background: #00acee;  
                    }
                   
                }
                .gp{
                    &:hover{
                        background: #db4a39;  
                    }
                   
                }
                .ldin{
                    &:hover{
                        background: #0e76a8; 
                    }
                    
                }
                .pin{
                    &:hover{
                        background: #c8232c;  
                    }
                    
                }
                .insta{
                    &:hover{
                        background: #3f729b;  
                    }
                   
                }
            }
        }
    }

    .trustpilot {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    i {
        color: #00b67a;
    }
    }
    .footer-rating-stars {
        color: #fff;
        span {
            background-color: #00b67a;  
            padding: 0px 4px;          
        }
    }
    .trust-score {
        font-family: Poppins;
        font-size: 11px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fafafa;
        opacity: 0.8;
        margin: 8px 0 0;
        span {
            font-weight: 600;
        }
    }
}
.flex-direction-column-custom {
    display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
}
.copyright {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #080b0f;
    margin: 0;
    padding: 8px;
}
