<!-- Copyright © {{date}} Track Opinion. all rights reserved.
<div mat-raised-button class="chatbot" (click)="openBottomSheet()">
    Ask any thing
    </div> -->


    <!-- <share-buttons url="http://google.com/"></share-buttons> -->
<!-- <button md-icon-button shareButton="facebook"><i class="fa fa-facebook"></i></button>  
<button md-icon-button shareButton="whatsapp"><i class="fa fa-w"></i></button>  
<button md-raised-button shareButton="twitter"><i class="fa fa-twitter"></i></button>
<button md-icon-button shareButton="linkedin"><i class="fa fa-linkedin"></i></button> -->


<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="assets/images/logo-white.png"[routerLink]="['']" alt="Logo" class="footer-logo">
            <p class="footer-logo-text">Opinionest, an online panel company, focuses on providing quality survey responses to our
              clients representing the market research industry. We value the opinions you share and, in return,
              reward you in a legit yet straightforward way.</p>
        </div>

        <div class="col-xs-6 col-md-5">
          <ul class="footer-links d-flex">
            <li><a href="#">Home</a></li>
            <li><a [routerLink]="['/about-us']">About Us</a></li>
            <li><a [routerLink]="['/why-join-us']">Why Join Us</a></li>
            <li><a [routerLink]="['/blogs']">Blogs</a></li>
            <li><a [routerLink]="['/data-protection']">Data Protection</a></li>
            <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            <li><a [routerLink]="['/cookies-policy']">Cookies Policy</a></li>
            <li><a [routerLink]="['/terms-and-conditions']">Terms of Services</a></li>
            <li><a [routerLink]="['/faqs']">FAQs</a></li>
            <li><a [routerLink]="['/contact-us']">Contact us</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-3 flex-direction-column-custom">
            <div class="social-links-footer mb-4">
              <ul class="d-flex justify-content-start align-items-center p-0 m-0">
                <li><a class="fb" target="_blank" href="https://www.facebook.com/Opinionest/"><i class="fa fa-facebook" aria-hidden="true">
                  <fa-icon  [icon]="faFacebook"></fa-icon> 
                  </i></a>
                </li>
                <li>
                  <a class="twitter" target="_blank" href="https://twitter.com/OpinionestIN/"><i class="fa fa-twitter" aria-hidden="true">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                  </i></a>
                </li>
                <!-- <li>
                  <a class="gp" href=""><i class="fa fa-google-plus" aria-hidden="true">
                    <fa-icon [icon]="faGoogle"></fa-icon>
                  </i></a>
                </li> -->
                <li>
                  <a class="ldin" target="_blank" href="https://www.linkedin.com/company/opinionest/"><i class="fa fa-linkedin" aria-hidden="true">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                  </i></a>
                </li>
                <!-- <li>
                  <a class="pin" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </li> -->
                <li>
                  <a class="insta" target="_blank" href="https://www.instagram.com/opinionestin/"><i class="fa fa-instagram" aria-hidden="true">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                  </i></a>
                </li>
              </ul>
              <!-- <share-buttons></share-buttons> -->
            </div>
            <h3 class="trustpilot"><i class="fa fa-star" aria-hidden="true"><fa-icon [icon]="faStar"></fa-icon> </i> Trustpilot</h3>
            <div class="footer-rating-stars">
                <span class="mr-2">
                  <i class="fa fa-star" aria-hidden="true">  <fa-icon [icon]="faStar"></fa-icon></i>
                
                </span>
                <span class="mr-2">
                  <i class="fa fa-star" aria-hidden="true">  <fa-icon [icon]="faStar"></fa-icon></i>
                </span>
                <span class="mr-2">
                  <i class="fa fa-star" aria-hidden="true">  <fa-icon [icon]="faStar"></fa-icon></i>
                </span>
                <span class="mr-2">
                  <i class="fa fa-star" aria-hidden="true"> <fa-icon [icon]="faStar"></fa-icon></i>
                </span>
                <span class="mr-2">
                  <i class="fa fa-star" aria-hidden="true">  <fa-icon [icon]="faStar"></fa-icon></i>
                </span>
            </div>
            <h4 class="trust-score">Trust Score: <span>5</span></h4>
        </div>
      </div>
    </div>

</footer>
<div mat-raised-button class="chatbot" (click)="openBottomSheet()">
  <img src="assets/images/bot.png" alt="Chat Box">
</div>

        <div class="text-center">
            <p class="copyright">Copyright © {{date}} Track Opinion. all rights reserved.</p>
        </div>
        <div class="bot-wrapper" *ngIf="Chatbot">
          <app-chat-dialog (CloseBottomSheet)="CloseBottomSheet()"></app-chat-dialog>
        </div>