<div class="authentication">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pl-0">
        <div class="left-panel">
          <div class="login-text">
            <figure class="m-0">
              <img src="assets/images/pattern/login-left-panel.png" alt="img">
            </figure>
            <div class="text-on-banner">
              <h1><img src="assets/images/logo-white.png" [routerLink]="['/']" alt="logo"></h1>
              <h2>Your space to earn money with Opinionest</h2>
              
            </div>
          </div>
          <div class="login-illustrator">
            <figure class="mx-auto">
              <img src="assets/images/login-img.png" alt="img">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-panel p-0">
        <div class="right-panel-inner">
          <div class="form-wrapper">
            <figure class="m-0 company-logo">
              <img src="assets/images/pincod.png" alt="Company">
            </figure>
            <h4>OTP has been sent to your Email ID and Mobile number  
              <span>{{email}}/{{phone}}</span>
            </h4>
            <form [formGroup]="OTPForm" id="OTPForm" autocomplete="on">

              <mat-form-field class="d-block">
                  <input type="text" matInput placeholder="OTP received on mobile sms" maxlength="4" minlength="4"
                      formControlName="otp">
                  <mat-error *ngIf="OTPForm.get('otp').dirty || OTPForm.get('otp').touched">
                      <span *ngIf="OTPForm.controls['otp'].hasError('required') ">
                          OTP is required
                      </span>

                  </mat-error>

              </mat-form-field>
              
              <mat-form-field class="d-block">
                <input type="text" matInput placeholder="OTP received on email" maxlength="4" minlength="4"
                    formControlName="emailOtp">
                <mat-error *ngIf="OTPForm.get('emailOtp').dirty || OTPForm.get('emailOtp').touched">
                    <span *ngIf="OTPForm.controls['emailOtp'].hasError('required') ">
                        OTP is required
                    </span>

                </mat-error>

            </mat-form-field>
              <ngx-recaptcha2 #captchaElem [siteKey]="YOUR_SITE_KEY" (reset)="handleReset()"
                  (expire)="handleExpire()" (load)="handleLoad()" (success)="handleSuccess($event)"
                  [useGlobalDomain]="false" formControlName="recaptcha">
              </ngx-recaptcha2>
              <div class="form-footer mt-4 d-flex justify-content-between align-items-center">
                <div class="resend" (click)="resendOtp()">
                  <img src="assets/images/refresh.png" alt="">
                  <b>Resend OTP</b> 
                </div>
                  <button mat-flat-button color="primary" [disabled]="OTPForm.invalid || submitClicked"
                      (click)="onSubmit()" class="primary-btn btn-h-40">Submit
                      OTP</button>
              </div>
          </form>
            <div class="regi">
              <h5>Don't have an account?</h5>
              <span [routerLink]="['/login/register']">Register</span>
            </div>
          </div>
         
        </div>

      </div>
    </div>
  </div>
</div>