@import"custom-theme.scss";

.primary-btn.mat-flat-button.mat-primary{
  color: #fff;
  @include font-family();
  min-width: 110px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  // box-shadow: 0px 2px 5px #F89406;
}
.primary-btn.mat-flat-button.mat-primary[disabled]{
  background-color: rgba(248, 148, 6, 0.34);
  color: #183558;
}
.rounded-btn{
  @include border-radius(50px);
}
.btn-h-40{
  height: 40px;
}
.btn-h-32{
  height: 32px;
}
.btn-h-44{
  height: 44px;
}
.btn-icon{
  span{
    width: 18px;
    @include margin(0, 0, 8px, 0);
  }
}

.bordered-btn{
  background: transparent !important;
  border: solid 1px #FF9100;
  color: #FF9100 !important;
  height: 40px;
  width: 134px !important;
  font-size: $small-font !important;
  img{
    width: 14px;
    margin-right: 4px;
  }
}
.btn{
  &:focus{
    box-shadow: none;
  }
}
