@import"custom-theme.scss";
.opinionest-card{
    box-shadow: 0 1px 19px 0 rgba(0, 0, 0, 0.03);
    padding: 16px;
    background: #fff;
    position: relative;
}
.radius-13{
    border-radius: 13px;
}