$white: #ffffff;
$menu-color: rgba(27, 27, 37, 0.4);
$themeprimary: #4ec7d8;
$themesecondary: #f89406;
$headingprimary: #363637;
$headingsecondary:#858585;
$cardcontent:#2d3c51;
$process-heading:#13253b;
$step-paragraph:#797777;