
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();
$mat-myapp-primary: (
  50: #fef2e1,
  100: #fddfb4,
  200: #fcca83,
  300: #fab451,
  400: #f9a42b,
  500: #f89406,
  600: #f78c05,
  700: #f68104,
  800: #f57703,
  900: #f36502,
  A100: #ffffff,
  A200: #ffefe6,
  A400: #ffceb3,
  A700: #ffbe9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$opinionest-primary: mat-palette($mat-myapp-primary);


$opinionest-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$opinionest-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$opinionest-theme: mat-light-theme($opinionest-primary, $opinionest-accent, $opinionest-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($opinionest-theme);
$red: red;


// Built-int-module
// Font-weight=================
$font-weight: (
  'extra-thin': 300,
    "thin": 400,
    "regular": 500,
    "medium": 500,
    "semi-bold":600,
    "bold": 700
);

// Line-height=================
$line-height: (
    "extra-small-font-10": 1.2,
    "small-font-12": 1,
    "default-medium-font": 1.125,
    "default-font": 1.2,
    "root-font": 1.5,
    "root-font-2": 1.4  // Common for 16, 18, 20, 24px
);

// Letter-spacing=================
$letterspacing: (
    "letterspace-1" : 0.15px,
    'letterspace-2': 0.18px,
    'letterspace-3': 0.2px,
    'letterspace-4': 0.4px,
    'letterspace-5': 1px,
    'letterspace-6': 1.25px,
    'letterspace-7': 1.3px,
);


// Variables
// =======================Font-Size====================

// EM value is calculated by root font size which is 16px in body.
// For ex-- 24px/16px = 1.5em
$double-extra-large-font: 2.625em; //---------42px;
$font-36: 2.25em; //---------36px;
$font-32: 2em;
$font-30: 1.875em;
$font-26: 1.625em;
$extra-large-font: 1.5em; //---------24px;
$extra-medium-font: 1.375em; //---------22px;
$large-font: 1.25em; //---------20px;
$medium-font: 1.125em; //---------18px;
$root-font: 1em; //---------16px;
$default-font: 0.875em; //---------14px;
$default-medium-font: 0.8125em; //---------13px;
$small-font: 0.75em; //---------12px;
$extra-small-font: 0.625em; //---------10px;

// =======================color====================
$light-black: #788396;
$card-background-dark: #191A1E;
$white-bg: #fff;

// ==================Box-Sizing=============
$border-box: border-box;
$content-box: content-box;

// Mixin styling

// ============================Border================
@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}
@mixin border($width, $style, $color) {
  border: $width $style $color;
}

// ============================Box-shadow================

@mixin boxshadow($depth: 1) {
  @if $depth==0 {
    --box-shadow: none;
  }
  @if $depth==1 {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  } @else if $depth==2 {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  }@else if $depth==3{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// ============================Border-radius================
@mixin border-radius($value: 4px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// ============================Font-size================

@mixin font-size($value: 14) {
  @if $value==10 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "extra-small-font-10");
  }
  @if $value==12 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "small-font-12");
  }
  @if $value==13 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "default-medium-font");
  }
  @if $value==14 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "default-font");
  }
  @if $value==16 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "root-font");
  }
  @if $value==18 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "root-font");
  }
  @if $value==20 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "root-font");
  }
  @if $value==24 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "root-font");
  }
  @if $value==42 {
    font-size: (0.0625 * $value) + em;
    line-height: map-get($line-height, "double-extra-large-font");
  }
}

// ============================Truncate-text================
@mixin truncateText($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}

// ============================Opacity================
@mixin opacity($value: 0.5) {
  opacity: $value;
}
// ============================Spacing================

@mixin margin($val1, $val2, $val3, $val4) {
  margin-left: $val1;
  margin-top: $val2;
  margin-right: $val3;
  margin-bottom: $val4;
}

@mixin padding($val1, $val2, $val3, $val4) {
  padding-left: $val1;
  padding-top: $val2;
  padding-right: $val3;
  padding-bottom: $val4;
}

// ============================Gradient================
@mixin linear-gradient($value) {
  background: $value;
}

// ============================Position================

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin font-family(){
  font-family: 'Poppins', sans-serif;
}

::ng-deep pp-breadcrumbs ol {
  z-index: 999;
}


