@import"custom-theme.scss";

mat-form-field{
  .mat-form-field-wrapper{
    .mat-form-field-flex{
      .mat-form-field-infix{
        input,textarea{
          font-size: 14px;
          color: #0E0E0F;
          @include font-family();
          font-weight: 400;
          line-height: 18px;
        }

        .mat-select-value{
          span{
            font-size: 16px;
            color: #0E0E0F;
            @include font-family();
            font-weight: 400;
          }
        }

        .mat-form-field-label-wrapper{
          label{
            span,mat-label{
              font-size: 12px;
              color: #A1A1A1;
              @include font-family();
              font-weight: 300;
              letter-spacing: 0.6px;
            }
          }
        }
      }
     
    }
    .mat-form-field-underline{
      background: #ececec;
    }
  }
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #f89406 !important;
}

.mat-error{
  span{
    @include font-family();
  }
}
