<app-header-web  activeIndex="4"></app-header-web>

<div class="wrapper" *ngIf="topImages else elseBlock">
  <div *ngFor="let img of topImages; let index = index" class="blog-banner" >
    <div class="overlay"></div>
    <figure class="m-0">
      <img (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" src="{{img.image}}" alt="">
    </figure>
    <div class="banner-text">
      <div class="container p-0 h-100">
        <div class="banner-text-inner h-100">
          <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;">{{img.header}}</h2>
          <div class="time-more d-flex align-items-center justify-content-between">
            <span>{{img.fromDate | niceDateFormatPipe }}</span>
            <b><a (click)="transferBlog(img.newHeader)">Read this</a></b>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div   class="trending ptb">
    <div *ngIf="leftImges else elseBlock" class="container"> 
      <div class="row">
        <div class="col-md-5">
          <div *ngFor="let img of leftImges; let index = index" class="blog-card mb-4">
            <figure class="m-0 max-h-400">
              <img (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" src="{{img.image}}" alt="">
            </figure>
            <div class="blog-card-content">
              <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                <div class="cate d-flex align-items-center justify-content-start">
                  <i> </i><small>{{img.header}}</small>
                </div>
                <span class="time">{{img.fromDate | niceDateFormatPipe }}</span>
              </div>
              <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" class="card-title">{{img.subHeader}}</h2>
              <div class="share share-blog d-flex align-items-center justify-content-between">
                
                <figure class="m-0" (click)="openShare(img)"><img src="assets/images/blog/share.png" alt=""></figure>
                <div class="share-box" *ngIf="img.shareBlog">
                  <div class="share-box-header d-flex align-items-center justify-content-between">
                    <h1>Share this blog</h1>
                    <small (click)="closeShare(img)">
                      <img src="assets/images/close.png" alt="">
                    </small>
                  </div>
                  
                  <share-buttons show="14"  url="https://www.opinionest.com/blogs/{{img.newHeader}}"></share-buttons>
                </div>
                 <span><a (click)="transferBlog(img.newHeader)">Read this</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12 mb-4">
              <div *ngFor="let img of centerImages; let index = index" class="blog-card d-flex">
                <figure class="m-0 w-50">
                  <img (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" src="{{img.image}}" alt="">
                </figure>
                <div class="blog-card-content w-50">
                  <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                    <div class="cate d-flex align-items-center justify-content-start">
                      <i> </i><small>{{img.header}}</small>
                    </div>
                    <span class="time">{{img.fromDate | niceDateFormatPipe }}</span>
                  </div>
                  <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" class="card-title">{{img.subHeader}}</h2>
                  <div class="share share-blog d-flex align-items-center justify-content-between">
                    <figure class="m-0" (click)="openShare(img)"><img src="assets/images/blog/share.png" alt=""></figure>
                    <div class="share-box" *ngIf="img.shareBlog">
                      <div class="share-box-header d-flex align-items-center justify-content-between">
                        <h1>Share this blog</h1>
                        <small (click)="closeShare(img)">
                          <img src="assets/images/close.png" alt="">
                        </small>
                      </div>
                      
                      <share-buttons show="14"  url="https://www.opinionest.com/blogs/{{img.newHeader}}"></share-buttons>  
                    </div>
                    
                    <span><a (click)="transferBlog(img.newHeader)">Read this</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div *ngFor="let img of centerBottomImages; let index = index" class="blog-card mb-4">
                <figure class="m-0 max-h-160">
                  <img (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" src="{{img.image}}" alt="">
                </figure>
                <div class="blog-card-content">
                  <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                    <div class="cate d-flex align-items-center justify-content-start">
                      <i> </i><small>{{img.header}}</small>
                    </div>
                    <span class="time">{{img.fromDate | niceDateFormatPipe }}</span>
                  </div>
                  <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" class="card-title">{{img.subHeader}}</h2>
                  <div class="share share-blog d-flex align-items-center justify-content-between">
                    <figure class="m-0" (click)="openShare(img)"><img src="assets/images/blog/share.png" alt=""></figure>
                    <div class="share-box" *ngIf="img.shareBlog">
                      <div class="share-box-header d-flex align-items-center justify-content-between">
                        <h1>Share this blog</h1>
                        <small (click)="closeShare(img)">
                          <img src="assets/images/close.png" alt="">
                        </small>
                      </div>
                      <share-buttons show="14"  url="https://www.opinionest.com/blogs/{{img.newHeader}}"></share-buttons> 
                    </div>
                    
                    <span><a (click)="transferBlog(img.newHeader)">Read this</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div *ngFor="let img of rightImages; let index = index" class="blog-card mb-4">
                <figure class="m-0 max-h-160">
                  <img (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" src="{{img.image}}" alt="">
                </figure>
                <div class="blog-card-content">
                  <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                    <div class="cate d-flex align-items-center justify-content-start">
                      <i> </i><small>{{img.header}}</small>
                    </div>
                    <span class="time">{{img.fromDate | niceDateFormatPipe }}</span>
                  </div>
                  <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" class="card-title">{{img.subHeader}}</h2>
                  <div class="share share-blog d-flex align-items-center justify-content-between">
                    <figure class="m-0" (click)="openShare(img)"><img src="assets/images/blog/share.png" alt=""></figure>
                    <div class="share-box" *ngIf="img.shareBlog">
                      <div class="share-box-header d-flex align-items-center justify-content-between">
                        <h1>Share this blog</h1>
                        <small (click)="closeShare(img)">
                          <img src="assets/images/close.png" alt="">
                        </small>
                      </div>
                      <share-buttons show="14"  url="https://www.opinionest.com/blogs/{{img.newHeader}}"></share-buttons>
                    </div>
                    
                    <span><a (click)="transferBlog(img.newHeader)">Read this</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div  class="top-stories ptb">
    <div *ngIf="topStoriesImages else elseBlock"  class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class=" text-center mb-5">Top Stories</h3>
        </div>
        <div *ngFor="let img of topStoriesImages; let index = index" class="col-md-12 mb-4">
          <div class="d-flex">
           
            <div class="blog-card-content full-card w-50">
              <div>
                <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                  <div class="cate d-flex align-items-center justify-content-start">
                    <i> </i><small>{{img.header}}</small>
                  </div>
                  <span class="time">{{img.fromDate | niceDateFormatPipe }}</span>
                </div>
                <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" class="card-title">{{img.subHeader}}</h2>
               
                  <div [innerHTML]="img.message | safe :'html'"></div>
              
              </div>
              
              <div class="share share-blog d-flex align-items-center justify-content-between">
                <figure class="m-0" (click)="openShare(img)"><img src="assets/images/blog/share.png" alt=""></figure>
                <div class="share-box" *ngIf="img.shareBlog">
                  <div class="share-box-header d-flex align-items-center justify-content-between">
                    <h1>Share this blog</h1>
                    <small (click)="closeShare(img)">
                      <img src="assets/images/close.png" alt="">
                    </small>
                  </div>
                  <share-buttons show="14"  url="https://www.opinionest.com/blogs/{{img.newHeader}}"></share-buttons>  
                </div>
                
                <span><a (click)="transferBlog(img.newHeader)">Read this</a></span>
              </div>
            </div>
            <figure class="m-0 w-50">
              <img (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" src="{{img.image}}" alt="">
            </figure>
          </div>
        </div>

        <div class="col-md-12 mt-4">
          <div class="row">
            <div *ngFor="let img of bottomImages; let index = index" class="col-md-3 mb-4">
              <div class="blog-card">
                <figure class="m-0 max-h-160">
                  <img (click)="transferBlog(img.newHeader)" style="cursor: pointer;" src="{{img.image}}" alt="">
                </figure>
                <div (click)="transferBlog(img.newHeader)" class="blog-card-content px-3">
                  <div class="header-card mb-3 d-flex align-items-center justify-content-between">
                    <div class="cate d-flex align-items-center justify-content-start">
                      <i> </i><small>{{img.header}}</small>
                    </div>
                    <span class="time">{{img.fromDate | niceDateFormatPipe }}</span>
                  </div>
                  <h2 (click)="transferBlog(img.newHeader)"  style="cursor: pointer;" class="card-title">{{img.subHeader}}</h2>
                  <div class="share share-blog d-flex align-items-center justify-content-between">
                    <figure class="m-0" (click)="openShare(img)"><img src="assets/images/blog/share.png" alt=""></figure>
                    <div class="share-box" *ngIf="img.shareBlog">
                      <div class="share-box-header d-flex align-items-center justify-content-between">
                        <h1>Share this blog</h1>
                        <small (click)="closeShare(img)">
                          <img src="assets/images/close.png" alt="">
                        </small>
                      </div>
                      
                      <share-buttons show="14"  url="https://www.opinionest.com/blogs/{{img.newHeader}}"></share-buttons>
                    </div>
                  
                    <span><a (click)="transferBlog(img.newHeader)">Read this</a></span>
                  </div>
                </div>
              </div>
            </div>
            
      </div>
    </div>
        
      
    
  </div>
</div>
  </div>
</div>

<app-footer-web  *ngIf="topStoriesImages else elseBlock"></app-footer-web>
<ng-template #elseBlock>
  <div class="mat-app-background basic-container d-flex" style="flex-direction: column;">
    <div class="loader">Loading...</div>

    </div>
</ng-template>