
// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.wrapper{
  padding-top: 80px;
  .blog-card{
    background: #FFFFFF;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
  }
  .ptb{
    padding: 60px 0;
  }
  .max-h-400{
    max-height: 400px;
    overflow: hidden;
    img{
      object-fit: cover;
    }
  }
  .max-h-160{
    max-height: 160px;
    overflow: hidden;
    img{
      object-fit: cover;
    }
  }
  .blog-card-content{
    padding: 24px;
    position: relative;
    .header-card{
      .cate{
        background: #F89406;
        border-radius: 28px;
        padding: 2px 8px;
        max-width: 105px;
        i{
          height: 5px;
          width: 5px;
          background-color: #fff;
          border-radius: 40px;
          margin-right: 4px;
        }
        small{
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          /* or 120% */
          
          display: flex;
          align-items: center;
          text-align: center;
          
          color: #FFFFFF;
          width: 88%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }
      }
      .time{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        /* or 140% */

        text-align: right;
        letter-spacing: 0.04em;

        color: rgba(19, 37, 59, 0.4);
      }
    }
    .card-title{
      font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #363637;
    margin-bottom: 32px;
    }
    .share{
      figure{
        width: 16px;
        cursor: pointer;
      }
      span{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        cursor: pointer;
        text-decoration-line: underline;
        color: #363637
      }
    }
  }
  .blog-banner{
    position: relative;
    max-height: 370px;
    overflow: hidden;
    .overlay{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
    figure{
      img{
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .banner-text{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      .banner-text-inner{
        width: 50%;
        display: flex;
        flex-direction: column;
        /* align-items: initial; */
        justify-content: space-around;
      }
      h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;

        color: #F89406;
      }
      .time-more{
        span{
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 139.3%;
          /* identical to box height, or 17px */

          letter-spacing: 0.04em;

          color: #FFFFFF;
        }
        b{
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          /* identical to box height */

          text-decoration-line: underline;

          color: #FFFFFF;
          a{
            cursor: pointer;
          }
        }
      }
    }
  }

  .trending{
    background-color: #fff;
  }
  .top-stories{
    background-color: #f2f2f2;

    .full-card{
      background-color: #fff;
      
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      .card-title{
        color: #F89406;
        margin-bottom: 24px;
      }
      p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        text-align: left;

        color: rgba(27, 27, 37, 0.68);
      }
    }
  }
}

