// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.page-subtitle{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #363637;
    margin-bottom: 70px;
}
.opinion-step-wrapper{
    .page-title{
        margin-bottom: 70px;
    }
}
.about-banner {
    height: 100vh;
    padding: 95px 0 54px;
    display: flex;
    align-items: center;
    h1 {
        font-size: 44px;
        line-height: 1.3;
        font-weight: 800;
        margin-bottom: 29px;
        color: $themesecondary;
    }
    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.6;
        color:$headingprimary;
    }
    p{
        font-size: 14px;
        color: #363637;
        line-height: 22px;
        font-weight: 300;
    }
    figure {
        width: 85%;
    }
}

.how-it-works {
    background: #f8f8f8;
    padding:70px 0;
    .panels {
        .panel-content {
            .panel-icon {
                width: 115px;
                margin: auto;
              }     
            p {
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 1.44;
                color: $headingprimary;
                letter-spacing: 0.5px;
                margin-bottom: 8px;
                text-align: center;
            }
            span{
                font-size: 12px;
                color: #363637;
                letter-spacing: 1px;
                line-height: 20px;
                display: block;
                font-weight: 300;
                text-align: center;
            }
        }
    }
}

.market-research {
    background: #f8f8f8;
    padding: 70px 0 60px;
    h2 {
        strong {
            text-decoration: underline;
            color: $headingprimary;
        }
    }
    figure {
        width: 60%;
        margin: auto;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #363637;
        
        letter-spacing: 0.4px;
        text-align: justify;
    }
}


.sync-wrapper {
    margin-bottom: 68px;
    background-color: #fff;
}
.sync-wrapper{
    
    padding: 70px 0;
}
.business-wrapper{
    padding-bottom: 70px;
}
.opinion-step-wrapper{
    background: #fff;
    padding: 70px 0 0;
    .business-wrapper{
        margin-bottom: 0;
        p{
            text-align: center;
            width: 70%;
            margin: 0 auto 70px;
        }
    }
    // background: url(../../../assets/images/bg-img.png) no-repeat right top/600px 928px;
}
.register-wrapper{
    padding:83px 0 91px;
    h2{
        color: #363637;
        font-size: 22px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

}
.inside-box{
    background-color: #fff;
    border-radius: 4px;
    padding: 24px 24px 32px;
    min-height: 320px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.03);
}
.get-started {
    color: #ffffff;
    border-radius: 50px;
    background: #f89406;
    border: solid 1px #f89406;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: poppins;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}
.why-opion{
    padding: 70px 0;
    p{
        font-size: 24px;
        color: #363637;
        font-weight: 300;
        text-align: center;
        width: 601px;
        margin: 0 auto 32px;
    }
}
