<app-header-web activeIndex="2"></app-header-web>
<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Who we are?</h1>
                <h3>Opinionest shapes the products. Your views empower us.</h3>
                <p>Combine the strength of an online panel company with the accuracy of the technology. And you get
                    Opinionest.<br>Born in 2013, Opinionest is a fast-growing community of survey respondents. We
                    partner with market<br>research companies and brands looking for genuine data and customer feedback.
                </p>
                <p>
                    If you’re are keen to influence the future of a product, join hands with us. Because we care about
                    your<br>opinions. And users like you enjoy our <a href="https://opinionest.com/how-it-works">best paid online surveys</a>.
                </p>
            </div>
            <!-- <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/about-banner.png" alt="about-banner">
                </figure>
            </div> -->
        </div>
    </div>
</div>

<div class="how-it-works">
    <div class="container">
        <h2 class="text-center page-title">What we offer?</h2>
        <p class="text-center page-subtitle">We connect brands with their users’ views</p>
        <div class="row panels justify-content-between">
            <div class="col-md-4 left">
                <div class="inside-box">
                    <div class="panel-content">
                        <figure class="panel-icon panel-icon-left">
                            <img src="assets/images/market-research.png" alt="Market Research" class="ellipseimg">
                        </figure>
                        <p class="mt-4">Market Research</p>
                        <span>Opinionest provides quality survey responses to your market research campaigns. Now connect with your potential customers’ opinions.</span>
                        <span>Refine your products to appeal to your consumers.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 middle">
                <div class="inside-box">
                    <div class="panel-content">
                        <figure class="panel-icon panel-icon-middle">
                            <img src="assets/images/online-community.png" alt="Online Community" class="ellipseimg">
                        </figure>
                        <p class="mt-4">Online Community</p>
                        <span>You interact with a community of brilliant users. Experts, thought leaders, and enthusiasts. Based on the expertise, interest, and education, surveys are distributed for both B2C and B2B markets.</span>
                        <span>
                            Trustable reviews that help better products and services.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 right">
                <div class="inside-box">
                    <div class="panel-content">
                        <figure class="panel-icon panel-icon-right">
                            <img src="assets/images/get-rewards.png" alt="Get Rewards" class="ellipseimg">
                        </figure>
                        <p class="mt-4">Get Rewards</p>
                        <span>Fill the surveys curated on your interests. Get paid in exchange for unbiased opinions. Refer your friends and get vouchers.</span>
                        <span>Give way to profits for your time.</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="why-opion">
                    <p>Find out why you should select us from the best online survey sites in India and the US?</p>
                    <button class="btn get-started" [routerLink]="['/why-join-us']">Why Join Opinionest?</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="market-research">

    <div class="business-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title text-center">Welcome to the dynamic and emerging<br>world of market research!</h3>
                    <p class="text-center page-subtitle">Your views matter to the world</p>
                </div>
                <div class="col-md-6 align-self-center">
                    <figure><img src="../../../assets/images/business.png" alt="business"></figure>
                </div>
                <div class="col-md-6 align-self-center">
                    <p>Market research is the systematic gathering, recording, and analyzing of data and problems associated with products and services.</p>
                    <p>
                        When a business identifies a problem and its deemed solution, researchers create objectives and collect feedback from users like you. Survey results help predict market response and shape the proposed solution.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sync-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p>Your opinions matter to the Market research companies!</p>
                    <p>
                        Brands roll out surveys on the best paid survey sites. When you fill these questionnaires, your responses help the brands to refine their products—old and new.
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-self-center">
                    <figure><img src="../../../assets/images/sync.png" alt="Grow your Business"></figure>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <figure><img src="../../../assets/images/standout.png" alt="Stand Out of the Crowd"></figure>
            </div>
            <div class="col-md-6 align-self-center">
                <p>
                    Your opinions enable the brands to understand the requirements and desires of the target market better. Your valuable inputs define the success or failure of the products and services.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="market-research opinion-step-wrapper">

    <div class="business-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title text-center">The role Opinionest plays<br>between consumers and brands</h3>
                </div>
                <div class="col-md-12 text-center">
                    
                    <p>Opinionest collects inputs via online mail surveys and questionnaires from qualified individuals addressed to specific demographics. We collate your thoughts on behalf of the market research companies and brands. Market research companies partner with us, and we reward you for your precious time and input.</p>
              <p>Whether you live in India or Canada, whether you share your views from Europe or Australia, whether you fill <a href="https://opinionest.com/why-join-us">surveys for money</a> in the USA or Germany, we connect your opinions with brands globally. Fill from anywhere, anytime, and make bucks.</p>
                </div>
                <div class="col-md-12 d-flex justify-content-end align-items-center">
                    <figure><img src="../../../assets/images/mobile-wire.png" alt="Share your Opinions"></figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="why-opion pt-0">
                    <p>Register with Opinionest today, and let your opinion do the talking!</p>
                    <button [routerLink]="['/login/register']" class="btn get-started">Register and Start Earning</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-web></app-footer-web>