<app-header-web></app-header-web>

<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/data-protection.svg" alt="about-banner">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="data-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="accordion">
                    <div class="inner">
                        <h2>Account & Profile Related</h2>
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    1. How do I Create My Account? 
                                    
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                    In 2 steps.<br/>
                                    Click on the <a [routerLink]="['/login/register']">register</a> button on the <a [routerLink]="['/']">Homepage</a> and fill your basic information. And there you are with your Opinionest Account. Off you go, start taking surveys to make money.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                    2. How do I Manage My Profile?
                                    
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p> 
                                        You can manage your profile via your account. It is compiled, keeping in mind your preferences and demographics. Your updated profile helps to get survey membership matching your educational background and area of interest.

                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    3. Will Registering with Opinionest Cost me Now or Later? 
                                    
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        No, we do not charge any fee for joining. In fact, we would share an incentive for your valuable insights. After all, we are one of the best paid survey sites.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                                    4. Is there a Customer Care Support for if i Face any Issues?
    
                                </a>
                            </div>
                            <div id="collapse4" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes. You can access the customer care support at Opinionest through our official website or mobile app. All you need is simply log in through your registered Opinionest account. An official query form is available at our <a [routerLink]="['/contact-us']">contact us</a> page.<br/>
                                        Despite zero issues, we would love it if you drop a hello.
                                        
                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                                    5. Can I Create Multiple Accounts with Opinionest with One User? 
                                    
    
                                </a>
                            </div>
                            <div id="collapse5" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        No. We don’t support multiple accounts by a single user.

                                    </p>
                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                                    6. How can I Unsubscribe or Cancel my Participation? 
                                    
    
                                </a>
                            </div>
                            <div id="collapse6" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Although we hate to see you go, we honor your opinions. Unsubscribing is simple if you have changed your mind.<br/>
                                        You can simply ignore the survey mails for which you had applied once. Or you can reply to the survey mails declining the offer politely. Though we would never ask you the reason for declining, this will help you in maintaining a communication link with us, so you never slip from our list of the eligible candidate for the surveys. Because you never know when we come up with a massive offer for our lovely users like you.
                                        <br/>
                                        Don’t want to skim the text? Drop your query below. <br/>
                                        <button [routerLink]="['/contact-us']" class="">Contact Us</button>   
                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mid-section">
                        <p>
                            Are you ready to start earning through Opinionest?  
                        </p>
                        <button mat-flat-button color="primary" [routerLink]="['/login/register']" class="primary-btn btn-h-40 rounded mat-flat-button mat-button-base mat-primary">Register Now</button> 
                    </div>
                    <div class="inner">
                        <h2>Survey Related</h2>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
                                    7. How do I Find Out About New Surveys? 
                                    
    
                                </a>
                            </div>
                            <div id="collapse7" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        <!-- All new and relevant surveys matching your profile will be emailed to the email address of record. They will also appear on the <span class="span-link" (click)="redirectPage(1)">dashboard</span> once you are logged in with Opinionest. -->
                                        You receive all the new and relevant surveys matching your profile to your registered email address. You can see them in the dashboard too once you log in to the Opinionest website or mobile app.
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
                                    8. 
                                    What is the Duration of the Surveys?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse8" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        You can fill all the surveys while traveling to the office or back or while you are watching your daily dose of news.
                                        Generally, the questionnaires take about 15-20 minutes. Depending on the complexity of the survey and what the survey host is looking for, some sophisticated and niched reviews can take up to 45-60 minutes.

                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse9">
                                    9. 
                                    Do the Surveys Have an Expiry?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse9" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        The surveys may only be available for a limited time. We usually get a quota from our research partners for studies beyond which we have to decline the responses. Sometimes the quota is exhausted within the minutes of the survey launch. So, we advise you to keep a check on the new surveys not to miss an opportunity of rewards and referrals.
                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse10">
                                    10. 
                                    Is There a Confidentiality Aspect Attached to the Surveys?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse10" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, there is. We sincerely request all our members not to share details about the surveys with friends or on public forums. This restricted information includes details about survey contents, survey titles, survey IDs, time of completion, screenshots, etc.
                                        <br/>
                                        We know how much you honor your privacy. We expect the same.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse11">
                                    11. 
                                    How Do I Qualify to Take Up all the Online Surveys?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse11" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Please ensure to fill out as much information as possible in the profile section. We encourage you to keep your profile updated with the latest data. This ensures all the apt surveys are directed to you.

                                    </p>
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse12">
                                    12. 
                                    Why do I need to provide accurate information while taking the surveys when I don’t even know the receiving end?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse12" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        First, not only your opinions but your information also shape research. One wrong information can deter study from the right track.
                                        And while the cyber world is facing constant threats, the only hope to business success is honesty. Thankfully, our advanced technology behind our application can accurately predict how you will answer a question.
                                        You must not be speeding through the surveys. Also, any inconsistency in your answering pattern confuses our system. This weakens the trust of our system on you. 
                                        <br/>
                                        Be honest, and get rewarded! 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mid-section">
                        <p>
                            Know the rewards of online surveys for money the world is enjoying right now.
                             
                        </p>
                        <button mat-flat-button color="primary" [routerLink]="['/why-join-us']" class="primary-btn btn-h-40 rounded mat-flat-button mat-button-base mat-primary">Why Join Opinionest</button> 
                    </div>
                    
                    <div class="inner">
                        <h2>Reward Points & Payments</h2>

                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse13">
                                    13. 
                                    How Much Can I Earn Taking Online Surveys? 
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse13" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        You catalyze your earnings in this system. You tell us who you are and pen down your thoughts while taking up the online surveys and who knows, the sky is the limit.
                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse14">
                                    14. 
                                    What Are the Available Carieties of Incentives to Choose from?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse14" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                        <!-- We offer Reward Points, <span class="span-link" (click)="redirectPage(2)">Gift cards</span> or Cash via the most trusted online wallet transfers - all for you to chose either from! -->
                                        <p>
                                            We offer reward points, gift cards, or cash via the most trusted online wallet transfers. The choices are yours!

                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse15">
                                    15. 
                                    Can I Convert My Earned Reward Points, Gift Cards into Cash? 
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse15" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Absolutely. That is the beauty of the Opinionest rewarding model. Choose your benefits as you wish.

                                    </p>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse16">
                                    16. 
                                    How Do the Earned Reward Points Get Credited to My Account? When Can I Redeem My Reward Points?
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse16" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        It’s simple! Upon registering and completing your profile at Opinionest, your eligibility rolls in. Be aware that you need to fill in all the mandatory predefined questions in the profile segment. The more optional questions you answer, we reward you with additional points.
                                        You need to accumulate 1000 points to redeem your reward points into gift cards or cash.

                                    </p>
                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse17">
                                    17. What is Pay Pal and Where Can I Update My Information?
                      
                                    
                      
    
                                </a>
                            </div>
                            <div id="collapse17" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        A secured digital payment platform, PayPal has close to 325M active account holders (and growing). These users transact online, on a mobile device, in an app, or in-person with enormous confidence.
                                        All the members are required to have verified PayPal accounts to withdraw their earnings. To update your information, you need to visit www.paypal.com and register yourself.

                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner">
                        <h2>Referrals</h2>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse18">
                                    18.Can I Refer Opinionest to My Friends and Over Social Media? 
                                </a>
                            </div>
                            <div id="collapse18" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                        <!-- Yes – that will be fantabulous! Not only just refer buy you can also send email invitations to your friends, family and associates through our <span class="span-link" (click)="redirectPage(3)">Invite</span> Your Folks link. Share as much as you can via the social handles Facebook, Twitter, Linked In, Instagram. For more information refer to the Privacy Policy and Terms and Condition. -->
                                        <p>
                                            Yes—that would be fantabulous! Not only can you refer but also send email invitations to your friends, family, and associates through our <span class="span-link" (click)="redirectPage(3)">Invite Your Folks</span> link.
                                            Share as much as you can via the social handles at Facebook, Twitter, Linked In, Instagram, and other channels. And start collecting rewards and blessings.
                                            For more information, refer to the privacy policy and our terms and condition.

                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse19">
                                    19. 
                                    Do I Get Rewarded for Referring Opinionest to My Folks?
                                    
                                </a>
                            </div>
                            <div id="collapse19" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Absolutely. Let’s surprise you when you refer your folks to Opinionest.
                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse20">
                                    20. 
                                    What if I Try Spamming to Earn Points Without Taking the Surveys?
                                    
                                </a>
                            </div>
                            <div id="collapse20" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        We bet you wouldn’t want to do that! <br/><br/>
                                        Our advanced technology would run you out every time you try to omit the regulations. We are in constant endeavors to test our metrics and gauge suspicious activities. You would only lose your points by doing so. Continuous spamming can disqualify you from the surveys.

                                    </p>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <div class="mid-section">
                    <p>
                        Still looking for answers?
                    </p>
                    <button mat-flat-button color="primary" [routerLink]="['/contact-us']" class="primary-btn btn-h-40 rounded mat-flat-button mat-button-base mat-primary">Contact Us</button> 
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-web></app-footer-web>