// @import'../../../theme/custom-theme.scss';
// @import'../../../assets/scss/button.scss';
@import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
.span-link {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}
.about-banner {
    height: 60vh;
    padding: 95px 0 32px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    h1 {
        font-size: 44px;
        line-height: 1.3;
        font-weight: 800;
        margin-bottom: 29px;
        color: $themesecondary;
    }
  
    figure {
        width: 44%;
    }
}
.data-wrapper{
    padding: 60px 0;

    #accordion{
        .card{
            margin-bottom: 16px;
            border: none;
            .card-header{
                background: #fff;
                border-bottom: none;
                a{
                    color: #363637;
                    font-weight: 500;
                    display: block;
                    font-size: 14px;
                    font-family: Poppins;
                }
            }
            .card-body{
                background: #fff;
                border-top: solid 1px #fff;
                p{
                    color: #363637;
                    font-weight: 300;
                    font-size: 12px;
                    font-family: Poppins;
                    letter-spacing: 0.4px;
                }
                ul{
                    padding: 0;
                    li{
                        color: #363637;
                        font-weight: 400;
                        font-size: 12px;
                        font-family: Poppins;
                        letter-spacing: 0.4px;
                        margin-bottom: 10px; 
                    }
                }
            }
        }
    }
    .inner{
        margin-bottom: 32px;
        background: #fbfbfb;
        padding: 32px;
        border-radius: 4px;
        border: solid 1px #f9f9f9;
        h2{
            font-size: 20px;
            margin: 0 0 16px;
            font-family: Poppins;
            letter-spacing: 0.4px;
            font-weight: 600;
        }
    }
    .mid-section{
        text-align: center;
        padding-bottom: 32px;
        p{
            font-size: 24px;
            width: 60%;
            margin: 0 auto 24px;
            font-weight: 600;
            color: #363637;
            opacity: 0.8;
        }
        button{
            border-radius: 100px !important;
            min-width: 158px;
        }
    }
  
}