
// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';

.authentication{
  overflow: hidden;
  background: #f9f9f9;
  .left-panel{
    background: #fff;
    height: 100vh;
    overflow: hidden;
    .login-text{
      position: relative;
      .text-on-banner{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 32px 32px 0;
        h1{
          cursor: pointer;
          width: 104px;
          margin-bottom: 24px;
        }
        h2{
          font-size: 30px;
          font-weight: 700;
          color: #fff;
          letter-spacing: 0.5px;
          line-height: 39px;
          margin-bottom: 32px;
        }
        h5{
          color: #fff;
          font-weight: 300;
          font-size: 18px;
          letter-spacing: 0.4px;
          margin-bottom: 24px;
        }
        span{
          background: #fff;
          color: #F89406;
          font-size: 12px;
          display: flex;
          width: 110px;
          justify-content: center;
          height: 32px;
          align-items: center;
          border-radius: 24px;
          font-weight: 500;
          letter-spacing: 0.4px;
          cursor: pointer;
        }
      }
    }
    .login-illustrator{
      figure{
        width: 61%;
        position: relative;
        top: -140px;
    
      }
    }
  }
  .right-panel{
    display: flex;

    .right-panel-inner{
      width: 100%;
      padding: 60px 0;
      height: 100vh;
      overflow: auto;
    }
    .form-wrapper{
      background: #fff;
      width: 75%;
      margin: 0 auto;
      padding: 32px 48px 32px;
      position: relative;
      border-radius: 4px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.03);
      .company-logo{
        background: #fff;
        width: 55px;
        height: 55px;
        padding: 13px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.05);
        border-radius: 100%;
        position: absolute;
        top: -40px;
        left: 48px;
      }
      h1{
        font-size: 22px;
        color: #F89406;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.5px;
        margin-bottom: 24px;
      }
      .form-footer{
        span{
          color: #13253B;
          font-size: 12px;
          letter-spacing: 0.5px;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
    .login-via-otherchannel{
      width: 80%;
      margin: 24px auto 0;
      h1{
        font-size: 12px;
        text-align: center;
        color: #13253B;
        font-weight: 500;
        margin-bottom: 24px;
      }
      .social-login{
        .element {
          align-items: center;
          background-color: #f9f9f9;
          box-shadow: 
          4px 4px 8px 0px rgba(0, 0, 0, 0.07),
          -8px -8px 7px 0px rgba(255, 255, 255, 1);
          border-radius: 4px;
          display: flex;
          height: 40px;
          justify-content: center;
          width: 110px;
          border: solid 1px #f7f7f7;
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
          img{
            width: 16px;
            margin-right: 4px;
          }

        }
        .fb{
          color: #2196F3;
        }
        .wc{
          color: #2DC100;
        }
        .gm{
          color: #F34A38;
        }
      }

    }
  }

}

