<div class="authentication">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pl-0">
        <div class="left-panel">
          <div class="login-text">
            <figure class="m-0">
              <img src="assets/images/pattern/login-left-panel.png" alt="img">
            </figure>
            <div class="text-on-banner">
              <h1><img [routerLink]="['/']" src="assets/images/logo-white.png" alt="logo"></h1>
              <h2>Your space to earn money with Opinionest</h2>
              
            </div>
          </div>
          <div class="login-illustrator">
            <figure class="mx-auto">
              <img src="assets/images/login-img.png" alt="img">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-panel p-0">
        <div class="right-panel-inner">
          <div class="form-wrapper">
            <figure class="m-0 company-logo">
              <img src="assets/images/login-icon.png" alt="Company">
            </figure>
            <h1>Recover your password</h1>
            <form [formGroup]="recoveryForm" *ngIf="!recoverySent" id="recoveryForm" autocomplete="on">
  
              <mat-form-field class="d-block">
                <input type="text" matInput placeholder="Email Address" formControlName="email">
                <mat-error *ngIf="recoveryForm.get('email').dirty || recoveryForm.get('email').touched">
                  <span *ngIf="recoveryForm.controls['email'].hasError('required') ">
                    Email is required
                  </span>
                  <span *ngIf="recoveryForm.controls['email'].hasError('pattern') ">
                      Invalid email format
                    </span>
                </mat-error>

              </mat-form-field>

              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
              <div>
                <ngx-recaptcha2 #captchaElem
                [siteKey]="YOUR_SITE_KEY"
                (reset)="handleReset()"
                (expire)="handleExpire()"
                (load)="handleLoad()"
                (success)="handleSuccess($event)"
                [useGlobalDomain]="false"
                formControlName="recaptcha">
              </ngx-recaptcha2>
              </div>
              <div class="form-footer mt-4 d-flex justify-content-between align-items-center">
                <span [routerLink]="['/login']">Back to login</span>
                
                 <button mat-flat-button color="primary" [disabled]="recoveryForm.invalid || submit"  (click)="onSubmit()"
                 class="primary-btn btn-h-40">Get OTP</button>
              </div>
                       
            </form>
          </div>
        
        </div>

      </div>
    </div>
  </div>
</div>