<!-- <div class="container">
    <app-angular 
     [style.visibility]="visibility" 
     (@slideOutRight.done)="afterOut()"
     (@slideOutLeft.done)="afterOut()"
     [@slideInLeft]="isIn && left" 
     [@slideInRight]="isIn && right" 
     [@slideOutLeft]="isOut && left"
     [@slideOutRight]="isOut && right">
    </app-angular-img>
 
   <button *ngIf="isOut" (click)="leftIn()" mat-stroked-button>Left In</button>
   <button *ngIf="isOut" (click)="rightIn()" mat-stroked-button>Right In</button>
   <button *ngIf="isIn" (click)="leftOut()" mat-stroked-button>Left Out</button>
   <button *ngIf="isIn" (click)="rightOut()" mat-stroked-button>Right Out</button>
 </div>
  -->
  <mat-card>
    <mat-card-title *ngFor="let data of receivedData">{{data.userName}}
        <img class="tile-image"  src="{{getImage(data.image)}}">
        
    </mat-card-title>
    <!-- <mat-card-content> {{data.message.substring(0,1000)}}</mat-card-content>
    <mat-card-actions>
        <button mat-button onclick="Readmore()">View</button> -->
        <!-- <button mat-button onclick="Like()">LIKE</button> -->
        <!-- <button mat-button onclick="Share()">SHARE</button> -->
      <!-- </mat-card-actions> -->
  </mat-card>
