<div class="left-side-panel">
    <div class="company-logo">
        <h1 class="m-0 cursor-pointer" ><span class="d-flex align-items-center" (click)="navigate(1)"><img  src="assets/images/logo-color.png" alt="logo"></span></h1>
    </div>
    <div class="menu-panel">
        <div>
            <div class="user-profile">
                <figure>{{initials}}</figure>
                <span class="user-detail text-capitalize ">{{fullName}}</span>
            </div>
            <ul class="p-0 m-0">
                <li  [ngClass]="{'active': menuIndex==='1'}">
                    <span mat-icon-button (click)="navigate(1)">
                        <img class="default-img"  src="assets/images/left-side-menu/home.png" alt="home">
                        <img class="active-img"  src="assets/images/left-side-menu/home-active.png" alt="home">
                         Home</span>
                </li>
               
                <li [ngClass]="{'active': menuIndex==='2'}">
                    <span class="w-20p"  (click)="navigate(2)" mat-icon-button>
                        <img class="default-img" src="assets/images/left-side-menu/offers.png" alt="home"> 
                        <img class="active-img" src="assets/images/left-side-menu/offers-active.png" alt="home"> 
                        Offers & Rewards
                    </span>
                </li>
                <li  [ngClass]="{'active': menuIndex==='8'}">
                    <span mat-icon-button (click)="navigate(8)">
                        <img class="default-img" src="assets/images/left-side-menu/survey.png" alt="home">
                        <img class="active-img" src="assets/images/left-side-menu/survey-active.png" alt="home"> 
                        Survey</span>
                </li>
                <li [ngClass]="{'active': menuIndex==='5'}">
                    <span mat-icon-button  (click)="navigate(5)">
                        <img class="default-img" src="assets/images/left-side-menu/forum.png" alt="home">
                        <img class="active-img" src="assets/images/left-side-menu/forum-active.png" alt="home"> 
                        Forum</span>
                </li>
                <li [ngClass]="{'active': menuIndex==='4'}">
                    <span class="w-20p" mat-icon-button  (click)="navigate(4)">
                        <img class="default-img" src="assets/images/left-side-menu/refer.png" alt="home">
                        <img class="active-img" src="assets/images/left-side-menu/refer-active.png" alt="home"> Refer & Earn</span>
                </li>
                
                <li [ngClass]="{'active': menuIndex==='6'}">
                    <span mat-icon-button  (click)="navigate(6)">
                        <img class="default-img" src="assets/images/left-side-menu/feed.png" alt="home">
                        <img class="active-img" src="assets/images/left-side-menu/feed-active.png" alt="home"> Feed</span>
                </li>
                <li [ngClass]="{'active': menuIndex==='7'}">
                    <span mat-icon-button  (click)="navigate(7)">
                        <img class="default-img" src="assets/images/left-side-menu/profile.png" alt="home">
                        <img class="active-img" src="assets/images/left-side-menu/profile-active.png" alt="home"> Profile settings</span>
                </li>
                <!-- <li [ngClass]="{'active': menuIndex==='7'}">
                    <span mat-icon-button  (click)="navigate(7)"><img src="assets/images/left-side-menu/blog-grey.png" alt="home"></span>
                </li> -->
            </ul>
        </div>


        <div class="logout d-flex align-items-center">
            <figure><img src="assets/images/left-side-menu/logout.png" alt=""></figure>
            <span (click)="signOut()">Logout</span>
        </div>
    </div>
</div>