@import'../../../../theme/custom-theme.scss';
// @import'../../../../../src/assets/scss/button.scss';

.left-side-panel{
    background-color: #f9f9f9;
    .company-logo{
        height: 62px;
        padding: 16px 32px;
        h1{
            width: 120px;
            display: flex;
        }
    }
    .menu-panel{
        background: #f89406;
        height: calc(100vh - 62px);
        border-radius: 0 32px 0 0;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .user-profile{
            padding: 24px 0 20px;
            figure{
                background: #fff;
                width: 51px;
                height: 51px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                overflow: hidden;
            }
            span{
                @include font-family();
                font-size: 14px;
                text-align: center;
                display: block;
                margin: 16px 0 0;
                letter-spacing: 0.95px;
                font-weight: 600;
                color: #fff;
            }
        }
        ul{
            li{
                padding: 3px 12px 3px 52px;
                height: 46px;
                display: flex;
                align-items: center;
                cursor: pointer;
                span{
                    @include font-family();
                    font-size: 12px;
                    letter-spacing: .95px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    img{
                        width: 16px;
                        margin-right: 12px;
                    }
                    .active-img{
                        display: none;
                    }
                }
            }
            li.active{
                background-image: url('../../../../assets/images/left-side-menu/active-pattern.png');
                background-repeat: no-repeat;
                background-size: 196px 60px;
                background-position: right center;
                
                span{
                    color: #363637;
                    font-weight: 500;
                    .default-img{
                        display: none;
                    }
                    .active-img{
                        display: block;
                    }
                    
                }
            
            }
        }
    }
    .logout{
        padding: 15px 12px 15px 52px;
        cursor: pointer;
        figure{
            width: 16px;
            margin: 0 12px 0 0;
        }
        span{
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            letter-spacing: 0.95px;
            color: #fff;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-weight: 400;
        }
    }
}