// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.wrapper{
    height: 100vh;
    overflow: hidden;
    mat-drawer-container{
        background: transparent;
        .home-wrapper{
            padding: 85px 24px 24px;
            .offers-wrapper{
                background-color: #fff;
                border-radius: 4px;
                overflow: hidden;
                .banner{
                    height: 83vh;
                    img{
                        height: 100%;
                        object-fit: contain;
                        object-position: top;
                    }
                }
                .offer-box{
                    padding: 24px 32px 0 0;
                    .opinionest-card-2{
                        margin-bottom: 24px;
                        padding: 24px;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
                        .offer-img{
                            figure{
                                width: 40px;
                                height: 40px;
                                border-radius: 100%;
                                border: solid 1px #adadad3b;
                                padding: 2px;
                                background: rgba(0, 175, 240, 0.19);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .offers-details{
                                padding-left: 24px;
                                width: calc(100% - 40px);
                                mat-card-title{
                                    font-weight: 600;
                                    @include font-family();
                                    font-size: $root-font;
                                    color: #13253B;
                                    margin-bottom: 14px;
                                    span{
                                        width: 7px;
                                    }
                                }
                                mat-card-content{
                                    margin-bottom: 6px;
                                    small{
                                        font-weight: 300;
                                        @include font-family();
                                        font-size: $small-font;
                                        color: #13253B;  
                                    }
                                    .earned-points{
                                        background: #f89406;
                                        height: 20px;
                                        width: 58px;
                                        padding: 0 9px 0 4px;
                                        border-radius: 26px;
                                        color: #fff;
                                        font-weight: 500;
                                        @include font-family();
                                        font-size: $small-font;
                                        figure{
                                            background: transparent;
                                            border-radius: 0;
                                            border: none;
                                            width: 16px;
                                        }
                                    }
                                }
                            }
                        }
                        .cta{
                            mat-card-actions{
                                margin: 16px 0 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}