<app-header></app-header>
<div class="wrapper">

  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation  menuIndex='2'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="home-wrapper">
        <div class="row">
          <div class="col-md-12">
            <pp-breadcrumbs></pp-breadcrumbs>
            <!-- <small class="current-time mb-2 d-block">{{ todayDate | date :'M-d-yyyy | h:mm a'}}</small> -->
            
          </div>
          <div class="col-md-12">
            <div class="offers-wrapper">
              <div class="row">
                <div class="col-md-5">
                  <figure class="m-0 banner">
                    <img src="assets/images/offer-left-banner.png" alt="banner">
                  </figure>
                </div>
                <div class="col-md-7">
                  <div class="offer-box">
                    <div class="header-section d-flex align-items-start justify-content-between">
                      <h2>Offer Details</h2>
                      <div class="wallet">
                        <figure class="m-0">
                          <img src="assets/images/wallet.png" alt="wallet">
                        </figure>
                        <span>Your Points: 128</span>
                      </div>
                    </div>

                        <mat-card class="opinionest-card-2" *ngFor="let offer of OfferData ;let index = index">
                          <div class="offer-img d-flex">
                            <figure class="m-0">
                              <!-- <img src="{{offer.OfferImage}}"> -->
                              <img src="{{offer.imagePath}}" alt="">
                            </figure>
                            <div class="offers-details">
                              
                                
                                  <mat-card-title class="d-flex justify-content-between align-items-center">{{offer.OfferTitle}} {{offer.PointsRequired}} Points
                                    <!-- <mat-icon *ngIf="offer.TotalPoints==offer.PointsRequired"
                                      style="color: green!important;">check_circle_outline</mat-icon> -->
                                      <span>
                                        <img src="assets/images/right-arrow.png" alt="">
                                      </span>
                                  </mat-card-title>

                                  <mat-card-content class="d-flex align-items-center justify-content-between">
                                    <small>Total points</small>
                                    <div class="earned-points d-flex align-items-center justify-content-between">
                                      <figure class="m-0"><img src="assets/images/coin.png" alt="coin"></figure>
                                      {{offer.TotalPoints}}
                                  </div></mat-card-content>
                                  <mat-progress-bar mode="determinate"
                                    [ngClass]="(offer.TotalPoints==offer.PointsRequired)?'green-progress':''"
                                    value="{{offer.TotalPoints*100/offer.PointsRequired}}"></mat-progress-bar>

                                  <span class="note" *ngIf="offer.TotalPoints==offer.PointsRequired"> Now you are eligible to redeem
                                    your Paytm points</span>
                                    <div class="disclaimer mt-2">
                                      <p><b>Disclaimer: </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p> <span class="cursor-pointer">Read More</span>
                                    </div>

                                    <div class="cta">
                                      <mat-card-actions class="d-flex align-items-center justify-content-between">
          
                                        <button mat-flat-button color="primary" class="primary-btn bordered-btn"
                                          [disabled]="offer.TotalPoints!=offer.PointsRequired"
                                          (click)="offerRedeem(offer.OfferId)">
                                          <img src="assets/images/giftbox.png" alt="gift">
                                          Redeem Now</button>
            
                                        <mat-icon class="cursor-pointer" aria-hidden="false" *ngIf="offer.Favourite" style="color: #FF9100"
                                          aria-label="Favorite">favorite</mat-icon>
                                        <mat-icon class="cursor-pointer" aria-hidden="false" *ngIf="!offer.Favourite" style="color: #d4d4d4;"
                                          aria-label="Favorite">favorite</mat-icon>
            
            
                                      </mat-card-actions>
                                    </div>
                                
                              
                            </div>
                          </div>
                          





                          
                        </mat-card>


                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>