<app-header-web></app-header-web>
<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Privacy Policy</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/data-protection.svg" alt="about-banner">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="privacy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-dialog-content class="mat-typography">
                    <section class="privacy_wrapper">
                        <div class="privacy_content">
                            <h3>We Commit to Protect your Privacy</h3>
                            <p>Opinionest is the registered brand of the legal entity Track Opinion Research Pvt. Ltd. We are committed to valuing the privacy of individuals and clients, to safeguarding confidential information and to ensuring the security of all personal information via mobile applications, emails, online services and other functionalities. When you decide to share your information with us, we feel that it is important to in return assure you that your information will be safely protected.</p>
                
                            <p>This Privacy Policy outlines the information collecting, handling and disclosure practices by Track Opinion. Please review this Privacy Policy carefully, before providing any personal information online. All the operations of Track Opinion are operated in and controlled from India - if you do not wish to have us collect, use and share information as described in this Privacy Policy, please do not avail the services on our official website or use any of its features.</p>
                            
                            <p>By using the Track Opinion website, and clicking to “Accept” or otherwise acknowledging or consenting to this Privacy Policy, you agree to be bound by this Privacy Policy, as well as our&nbsp;<a [routerLink]="['/terms-and-conditions']">Terms of Use</a>. Feel free to connect with us for if you have any questions regarding our Privacy Policy as provided in the <a [routerLink]="['/contact-us']">“Contact Us”</a> section.</p>
                            <br>
                            <h3>The Information Track Opinion Collects</h3>
                            <p>At the time of signing up or registering at Track Opinion, you will be required to share information that identifies you personally and of course accurately - your name, your location, your credit card number, your email address, your mailing address and your phone number. We also allow other users to view your name, other profile details and photographs should you provide this information and make it publicly viewable.</p>
                            
                            <p>This collection of your personal information is possible once you have created your profile by answering all the predefined questions (mandatory and optional) successfully. These details will be a sum of your name, email, address, telephone number, IP address, demographic information and general about yourself, including household information, health information (other than the fact that you have visited a health insurance or healthcare provider website or performed searches related to a particular medical condition or health concern), financial information and personal interests- basically All About You But has to be Accurate!</p>
                            
                            <p>You may edit your account information any time by logging in to your account with your username and password [include Hyperlink]. Any and all changes will be made immediately once you hit Save. Apart from filling out surveys - join a mailing list, correspond with us, submit testimonials, stories, photos or the like, or otherwise volunteer on social media and engage!</p>
                            
                            <p>Please update this information for you are the best judge of yourself – it will help Track Opinion maintain accurate information about you and share relevant surveys as well.</p>
                            
                            <p>Track Opinion also captures certain other information each time you visit the website or open our HTML emailers just to continuously advance in terms of quality and the overall user experience.</p>
                            
                            <p>This will include information regarding your IP address, device ID, referrer data, and browser and platform type. We usually assign an ID number to your registration and link additional data to that ID number, such as the date and time you visited, the information you provide, and the links you choose to click. Like most standard website servers, we use log files to collect and store this user information.</p>
                            
                            <p>We may also use GPS or similar geo-location technology to determine the city and/or geo-coordinates of where you are located, including when you are using a mobile device. We may use and share your location information with our advertisers, merchant and survey partners, or others in order to provide you with advertising, content, surveys, offers, promotions, and rewards, or for other marketing, administrative and general business purposes, based on your location.</p>
                            
                            <p>In addition, our mobile applications may collect, among other things, certain information automatically, including, but not limited to the type of mobile device you use, your mobile device’s unique device identifier (UDID), the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the mobile application.</p>
                            
                            <p>The Optionally Collected Information is by agreeing to participate and installing Track Opinion Survey App on your computer and/or mobile device, you are granting us permission to passively collect information about your online behavior. When you use your computer, we may record the identity of the websites you visit, what time you visited those websites, how long you spent browsing or using them, the words and phrases you input into search engines, which search engines you use, the software and applications you use in order to browse online and use the internet. You have the ability to pause or uninstall the surveys at any time.</p>
                
                            <h3>About Cookies</h3>
                            <p>When you visit the website, we may send one or more cookies – a small text file containing a string of alphanumeric characters – to your computer. Track Opinion uses both session cookies and persistent cookies. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to the website. Track Opinion may use cookies information to:</p>
                            
                            <ul>
                                <li>Remember your information so that you will not have to re-enter it during your visit or the next time you visit the site.</li>
                                <li>Provide custom, personalized advertisements, content and information.</li>
                                <li>Monitor the effectiveness of our marketing campaigns.</li>
                                <li>Monitor aggregate usage metrics such as total number of visitors and pages viewed.</li>
                            </ul>
                     
                            <p>There are a few other technologies like web beacons and embedded script, which are invisible images or other programming code, which may be used on the Track Opinion website for a variety of analytical purposes and to help us provide a better and more customized user experience, including, without limitation, providing personalized features and preferences to you within the Track Opinion website; in doing so, we may link the information we collect from cookies and other similar technologies with your Personal Information and may track your browsing activity on our merchant partners’ websites in order to provide you with advertising, content, surveys, offers, promotions and rewards, and for other marketing, administrative and general business purposes.</p>
                            <p>Please note that disabling cookies or declining to accept certain cookies will prevent you from accessing some of the functionality and site offerings available via the website. Usually, all web browsers automatically accept cookies, but you can configure your browser. </p>
                            <p>Do note that your browser settings may allow you to automatically transmit a “Do Not Track” signal to websites and online services you visit. At present, we do not believe that there is a consensus among industry participants as to what “Do Not Track” means in this context. Like many websites and online services, we currently do not alter our practices when we receive a “Do Not Track” signal from a user’s browser. To find out more about “Do Not Track,” you may wish to visit&nbsp;<a target="_blank" href="http://www.allaboutdnt.com">http://www.allaboutdnt.com</a>.</p>
                            
                            <h3>Our Use of Your Information</h3>
                            
                            <p>Other than as set forth in this Privacy Policy, Track Opinion will not disclose any of your personally identifiable information except when we have your permission or under special circumstances.</p>
                            <p>Under the permissible circumstances, we may disclose your personal information to business partners or sponsors. Many promotions offer opportunities to request additional information from sponsors. By requesting more information, you grant Track Opinion permission to transfer your personal information to the sponsors so they can fulfill your request. In many instances, only your email address will be shared. We may also match user information with third party data as we disclose aggregated user statistics in order to describe our services to prospective partners, advertisers, and other third parties, and for other lawful purposes.</p>
                            <p>Track Opinion may also disclose account information in special cases when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be violating Our Terms &amp; Conditions or may be causing injury to or interference with (either intentionally or unintentionally) Track Opinion rights or property, other Track Opinion users, or anyone else that could be harmed by such activities.</p>
                            <p>Track Opinion supports and strictly adheres to the standards and guidelines set out by ESOMAR:&nbsp;<a href="https://www.esomar.org/" target="_blank">www.esomar.org</a>, CASRO:&nbsp;<a href="https://www.insightsassociation.org/" target="_blank">www.casro.org</a>&nbsp;and MRA : <a href="https://www.mrs.org.uk/" target="_blank">www.mrs.org.uk</a></p>
                            
                            <h3>Profiles and Passwords</h3>
                            
                            <p>We ensure that we do a thorough research to verify the profiles of our users before we grant the account access to them. However; you will be having the access to your personal information on the website where you may update, edit or delete your personal information at your discretion.</p>
                            <p>We request you to maintain the confidentiality of your account and profile password.</p>
                
                            <h3>The Choice of Opting Out </h3>
                            <p>The website provides you with the opportunity to affirmatively opt-out of receiving communications from us at the point where we request information about you. We may use your personal information ourselves to conduct direct marketing when you have opted into this, but you are entitled to opt out from receiving direct marketing communications from us at any time. You may do so by responding to the opt out option which is included with each direct marketing communication that we send. [include If you sign up to receive SMS or MMS messages from the Track Opinion website, you may unsubscribe from any SMS or MMS messages received by replying “Unsubscribe”.</p>
                            <p>If you do not wish to receive advertisements, content, surveys, promotions, offers, or rewards from us which would be sent to you by virtue of your having installed the Extensions, you should not install or should un-install such Extensions.</p>
                            <p>You may opt-out of providing your location information to us when you are using mobile devices. If you do not want us to use your location information as described in this Privacy Policy, you should turn off the location services for the mobile application located in your account settings (if available) or in your mobile device settings.</p>
                            <p>If you do not want our mobile applications to collect any information from you, you should uninstall the application using the standard uninstall procedures that may be available as part of your mobile device or via the mobile application marketplace or network where you obtained the mobile application..</p>
                
                            <h3>Protecting your Personal Information</h3>
                            <p>Track Opinion takes rational steps to protect your personal information from unauthorized access, use, disclosure or loss. Our website has adequate security measures (including online and offline physical, electronic and managerial safeguards) in place to protect against the loss, misuse, and alteration of the information, including your e-mail address, under our control.</p>
                            <p>We recommend that you do not share the details of your User ID and Password with anyone. As for we, will never ask you for your password in an unsolicited phone call or in an unsolicited email. Also remember to sign out of your Track Opinion account and close your browser window when you have finished your work. This is to ensure that others cannot access your personal information and correspondence if you share a computer with someone else or are using a computer in a public place like a library or Internet cafe.</p>
                            <p>Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, Track Opinion cannot ensure or warrant the security of any information you transmit to us or from our online products or services, and you do so at your own risk. Once we receive your transmission, we make our best effort to ensure its security on our systems.</p>
                            
                            <h3>Children’s Privacy Rights</h3>
                            
                            <p>In consideration to the federal Children’s Online Privacy Protection Act of 1998 (COPPA), Track Opinion does not intend to collect personally identifiable information from anyone under the age of thirteen (13). Any person who provides their personal information to Track Opinion via the website represents that they are 13 years of age or older.</p>
                            <p>We also encourage all parents and guardians to instruct their children in the safe and responsible use of their personal information whilst using the internet. Our purpose is not to collect information which relates to or originates from a child unless we have the consent of the child’s parent or guardian. Having been of any such activity, we will erase the information submitted on our website and will not be routing the use of such information to our alliances.</p>
                            <p>If anytime you need to <a [routerLink]="['/contact-us']">contact us</a> to have us informed, please do not hesitate and instead reach us via the <a  [routerLink]="['/contact-us']">“Contact Us”</a> section.
                            </p>
                            
                            <h3>Notifying changes to Privacy Policy</h3>
                            
                            <p>Track Opinion reserves the right, at our discretion, to change, modify, add, or remove portions of this Privacy Policy time to time for any reason. Each time Track Opinion exercises such right, you will receive notice of such changes via an email or posting on the official website and hence you will be required to affirmatively accept the updated Privacy Policy, and if you fail to do so, you will no longer be able to access or use the website. </p>
                
                            <p>Remember - You need to periodically check the page for changes, your continued use of the website following the posting of any changes to this Policy will mean that you accept such changes. <br>
                            If we are going to use personal data in a manner materially different from that stated at the time of collection, we will notify the affected individuals by posting a notice on this Site or via email.</p>
                
                            <h3>Committed to Data Security</h3>
                            <p>We will be honest with you too – it’s a partnership after all!</p>
                            <p>It is our constant endavour to protect your personal information and maintain adequate security measures against the loss, misuse and alteration under our control. Please be advised, however, that the Internet and other various networking communication media are not entirely secure, and your information may therefore be subject to interception or loss which is beyond our reasonable control.</p>
                            
                            <h3>Termination</h3>
                            
                            <p>In this business partnership of the “Company” and the “User”, you agree to maintain transparency of your identity and provide us with accurate information about yourself. Your personal information about yourself has to be accurate, current and complete. This will help us serve you with the best suited survey programs giving way to spike up your earnings.</p>
                
                            <p>Please note that if you fail to do so, or if we determine that fraudulent information was provided by you in connection with your registration and/or you otherwise engaged in any other inappropriate activity, Track Opinion, may cancel or invalidate your account(s), registrations and Rewards, deny redemption of your Rewards, or restrict, block, limit, and prevent your access to and use of the Services and, further, all Rewards, incentives and other consideration shall be subject to forfeiture.</p> 
                
                            <p>All points earned will be expired automatically upon 12 months of inactivity.</p>
                            <h3>Non-Use and Nondisclosure</h3>
                            <p>Information and content made available to you in the Services may contain trade secrets or other confidential or proprietary information of Track Opinion and/or its clients, suppliers or licensors. </p>
                
                            <p>Users are requested to hold in strict confidence, and not disclose to any other person, any information and content that you access or learn in connection with your participation in any survey, project, questionnaire, or other market research-related activity related to the Services. You are prohibited from sharing with any third party, photographic or other imagery, information, or any other content from any and all activities within or from the website. You must not use any such information or content for any purpose other than your participation in the Services in accordance with this Agreement. </p>
                            <p>You hereby agree to notify Track Opinion Research Pvt. Ltd. immediately if you learn of or suspect any use or disclosure of, or access to, any such information or content other than as specifically authorized in this Agreement.</p>
                
                            <h3>In the Event of Merger or Sale</h3>
                            
                            <p>Should Track Opinion Research Pvt. Ltd. ever file for bankruptcy or have its assets sold to or merge with another entity, information Track Opinion Website and Features receive from you through the website  is an asset of Track Opinion solely and may be transferred to another party; however, in the event of such a transfer, we will require that the transferee agree to honor this Privacy Policy, as it applies to Users prior to the effective date of any such transfer, unless we are legally prohibited from doing so.</p>
                            <p>If there is a sale of a majority of the shares or assets of the legal entities owning and operating Track Opinion, you agree that your personal information and data may be transferred or assigned to such new owners.</p>
                
                            <h3>Friend Referrals</h3>
                            
                            <p>We also provide you with an opportunity to invite your friends, family and acquaintances to use Track Opinion Website and Features. If you elect to use our referral service for informing a Friend about any of Track Opinion Website and Features, you will have to provide us with your Friend’s name and email address. Using our referral service permits us to automatically send the Friend one or more emails or other communications, on your behalf, inviting them to visit or register for the Track Opinion Website and Features. All your Friends have to do is give their consent to this !</p>
                            <p>Please note that any referral should not be under the age of 13 years as specified in Privacy Policy (Children’s Right) and in Terms of Service.</p>
                            <h3>Governing Law</h3>
                            <p>We maintain our user data in India and while the data protection laws vary from country to country, it is our continuous effort to protect your Personal Information under this Privacy Policy. By using the Track Opinion Website and Features, you are in consent to this transfer of your personal data to any server used by the Company or its service providers from time to time.</p>
                            <p>If you choose to access this website from outside India, you do so at your own initiative and are responsible for compliance with local laws, if and to the extent local laws are and as applicable.</p>
                            <h3>Connecting with Us </h3>
                            <p>You can reach us anytime for any queries regarding our privacy policy, terms of use or your valuable comments, concerns, complaints about our practices – it can be anything!</p>
                
                            <p>You need to get in touch with the Track Opinion or the Opinionest Team via <a [routerLink]="['/contact-us']">Contact Us</a>  and we will get back to you the soonest we can. </p>
                
                            <h3>Unsubscribing Yourself</h3>
                            
                            <p>To unsubscribe your email account and not receive any further emails from Opinionest, you need to Unsubscribe via your <a [routerLink]="['/dashboard/profile-settings']">profile.</a></p>
                
                        </div>
                        </section>
                    </mat-dialog-content>
            </div>
         
        </div>
    </div>
</div>




<app-footer-web></app-footer-web>