<div *ngIf="!NoQuestion">
<dynamic-form-builder [fields]="fields" (valueChange)='SaveAnswer($event)'></dynamic-form-builder>
</div>
<div *ngIf="NoQuestion">
Congratulation! you have answerd all the optional questions
</div>