// @import'../../../theme/custom-theme.scss';
@import'../../../assets/scss/button.scss';
// @import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
.about-banner {
    height: 100vh;
    padding: 95px 0 54px;
    display: flex;
    align-items: center;
    h1 {
        font-size: 44px;
        line-height: 1.3;
        font-weight: 800;
        margin-bottom: 29px;
        color: $themesecondary;
    }
    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.6;
        color:$headingprimary;
    }
    p{
        font-size: 16px;
        color: #858585;
        line-height: 28px;
        font-weight: 300;
    }
    figure {
        width: 85%;
    }
}

.how-it-works {
    background: #f8f8f8;
    padding:70px 0;
    .panels {
        .panel-content {
            .panel-icon {
                width: 190px;
              }     
            p {
                font-size: 16px;
                font-weight: 900;
                text-transform: uppercase;
                line-height: 1.44;
                color: $headingprimary;
                letter-spacing: 0.5px;
                margin-bottom: 8px;
            }
            span{
                font-size: 12px;
                color: rgba(54, 54, 55, 0.77);
                letter-spacing: 1px;
                line-height: 17px;
                display: block;
            }
        }
    }
}

.market-research {
    background: #f9f9f9;
    padding: 70px 0 60px;
    h2 {
        strong {
            text-decoration: underline;
            color: $headingprimary;
        }
    }
    figure {
        width: 80%;
    }
    p {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
        color: #363637;
        opacity: 0.65;
        letter-spacing: 0.4px;
        text-align: justify;
    }
}


.business-wrapper,
.sync-wrapper {
    margin-bottom: 68px;
}
.sync-wrapper{
    background: #f8f8f8;
    padding: 70px 0;
}
.opinion-step-wrapper{
    background: #f8f8f8;
    padding: 70px 0 63px;
    .business-wrapper{
        margin-bottom: 0;
    }
    // background: url(../../../assets/images/bg-img.png) no-repeat right top/600px 928px;
}
.register-wrapper{
    padding:83px 0 91px;
    h2{
        color: #363637;
        font-size: 22px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

}
.h2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #F89406;
  }
