<app-header-web></app-header-web>
<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Why Join Opinionest?</h1>
                <p>
                    Because your opinions and our data can innovate products and reform brands. You believe, and we trust in innovation.
                </p>
                <br/>
                <p>
                    Because our questionnaires and your sentiments make products merit or demerit. Your views push brands to innovate and improve. And innovations promise reforms. Your thoughts and our studies can promote brands to bring these reforms.
                </p>
                <br/>
                <p>
                    What else? You fill the surveys to make money for every precious minute you spend with us.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/whyjoin.svg" alt="why join us">
                </figure>
            </div>
        </div>
    </div>
</div>



<div class="market-research">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2 class="page-title text-center mb-5">Why Opinionest?</h2>
                <p>
                    We don’t brand ourselves to be the best online survey site. We just go about our work and value your time by aiding you to <a href="https://opinionest.com/how-it-works">earn money through surveys</a>. And help market researchers who bring reforms in the market and brands.
                </p>
            </div>
        </div>
    </div>
    <div class="business-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                   <div class="h2 text-center"> Quick and Relevant Surveys</div>
                    <figure><img src="../../../assets/images/join_us_image2.png" alt="Quick and Relevant Surveys"></figure>

                </div>
                <div class="col-md-6 align-self-center">
                    <p>No larking around. We value your time. You want it quick? Our surveys are short yet precise to the topic. You can finish basic reviews in a jiffy even before your coffee loses its steam.</p>
                    <p>No BS questions. You receive freshly-minted and fascinating surveys based on your profile. So, the soccer lover in you won’t be asked to share views on soap operas.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sync-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p>
                        No data breach. Relax and sit back while you answer your questions. Your security is sealed and safe. Don’t worry about receiving more pesky emails or calls.
                    </p>
                    <p>
                        No referrals leak. Your references are locked with us. You wouldn’t hear them complaining of unsolicited messages. Not from our channels!
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-self-center">
                    <div class="h2 text-center">  Your Data, Our Duty</div>
                    <figure><img src="../../../assets/images/join_us_image3.png" alt="Secured Data"></figure>
                </div>
            </div>
        </div>
    </div>
    <div class="sync-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p>
                        No strings attached. Close your account anytime. We understand when you get busy. Just drop us a note, and you are set to part. However, we would love to keep in touch. We often surprise our genuine users.
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-self-center">
                <div class="h2 text-center">     Cancel Anytime</div>
                    <figure><img src="../../../assets/images/join_us_image3.png" alt="Secured Data"></figure>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
            <div class="h2 text-center">   Showering Rewards</div>
                <figure><img src="../../../assets/images/sync.png" alt="Grow your Business"></figure>
            </div>
            <div class="col-md-6 align-self-center">
                
                <p>No hollow words. You get instant points on each completed survey. Collect rewards even if you fill optional questions. Cash in every 1000 points through Paypal.</p>
                <p>No painful gains. Refer your friends, family, and colleagues. And spike the earnings in your Opinionest account.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="h2 text-center"> Simple yet Scientific Approach</div>
                <figure><img src="../../../assets/images/sync.png" alt="Earn Rewards through Surveys"></figure>
            </div>
            <div class="col-md-6 align-self-center">
                <p>No vague review system. We compile simple questionnaires based on scientific and proven methods. AI and analytics drive our technology.</p>
                <p>No additional analysis needed. Our research partners and brands receive lucid survey results. We make interpretation easy for them to reform the products and services.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
    <div class="ps">
      <div class="h2 text-center">
        Ready to fill and share surveys for money?
      </div>
    </div>
</div>
<div class="col-md-12">
    <button [routerLink]="['/login/register']" class="btn get-started mx-auto d-block mt-5 bordered-btn">Register Me</button>
</div>
</div>



<app-footer-web></app-footer-web>