// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.survey-tabs{
  margin-top: 60px;
  height: calc(100vh - 90px);
  background: #fff;
  position: relative;
  .inner-height{
    height: calc(100vh - 180px);
    overflow: auto;
    padding-bottom: 100px !important;
    .profile-footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background: #fff;
      border-top: solid 1px #f8f8f8;
      padding: 16px 32px;
      p{
        color: #FEC207;
        letter-spacing: 0.06em;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .customize-porf{
    padding: 0 !important;
    height: calc(100vh - 142px);
    margin: -24px;
  }
  .email-uns{
    p{
      font-family: Poppins;
      color: rgba(54, 54, 55, 0.65);
      letter-spacing: 0.06em;
      font-weight: 300;
      font-size: 12px;
      line-height: 21px;
    }
    h3{
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.04em;

      color: #363637;
      b{
        font-weight: 600;
        color: #F89406;
        text-decoration: underline;
      }
    }
    h4{
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 158.3%;
      /* identical to box height, or 19px */

      letter-spacing: 0.6px;

      color: #363637;
    }
    .points{
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
      border-radius: 9px;
      margin-top: 16px;
      padding: 24px;
      .left{
        width: calc(100% - 152px);
        border-right: solid 1px #f8f8f8;
        ul{
          li{
            display: flex;
           margin-bottom: 10px;
           &:last-child{
             margin-bottom: 0;
           }
          }
        }
        span{
          margin-left: 8px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 158.3%;
          /* identical to box height, or 19px */

          letter-spacing: 0.06em;

          color: #363637;
        }
      }
      .right{
        figure{
          width: 130px;
        }
      }
    }
  }
  .warn{
    background-color: #F96C4D;
  }
  .delet{
    padding: 0 0 0 16px;
    .text-infor{
      margin-bottom: 60px;
      .left{
        width: calc(100% - 180px);
        p{
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 21px;
          /* or 175% */

          letter-spacing: 0.06em;

          color: rgba(54, 54, 55, 0.65);
          b{
            font-weight: 600;
            color: #F89406;
            text-decoration: underline;
          }
        }
      }
      .right{
        width: 180px;
      }
    }
    .actn-dele{
      p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        /* or 175% */

        letter-spacing: 0.06em;

        color: #0E0E0F;
      }
      .click-check{
        align-items: flex-start;
      }
      span{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #363637;
      }
    }
  }

}
.user-profile-view{
  background-color: #fff;
  height: 100vh;
  overflow: auto;
  padding: 24px 24px 0;
  .profile-inner{
    .user-avatar{
      figure{
        text-transform: uppercase;
        background-color: #3c4986;
        width: 72px;
        height: 72px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -2px;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
      }
      h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.06em;
        color: #363637;
      }
      small{
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.06em;

        color: rgba(54, 54, 55, 0.8);
      }
      .percentage{
        color: #F89406;
        letter-spacing: 0.06em;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
      }
    }
    hr{
      border: none;
      background: #F9F9F9;
      height: 1px;
      margin: 24px -24px;
    }
    .profile-question{
      p{
        color: #363637;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
      }
      .question-card{
        background: #FFFFFF;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.04);
        border-radius: 9px;
        padding: 24px;
        margin-bottom: 24px;
        cursor: pointer;
        figure{
          width: 24px;
        }
        h3{
          color: #363637;
          letter-spacing: 0.06em;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
        .content-card{
          margin-top: 24px;
          .items{
            label{
              color: rgba(54, 54, 55, 0.65);
              letter-spacing: 0.06em;
              font-weight: 300;
              font-size: 10px;
              line-height: 15px;
            }
            span{
              color: #363637;
              letter-spacing: 0.06em;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
      .mand{
        background-color: #FEDDD6;
      }
    }
  }
  
}
.gender{
  label{
    color: rgba(54, 54, 55, 0.65);
    letter-spacing: 0.06em;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
  }
  mat-radio-button{
    font-size: 14px;
    color: #0E0E0F;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 18px;
  }
}