<div class="wrapper">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation ProfilePercentage='{{ProfilePercentage}}' menuIndex='7'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="home-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 pl-0">
              <form class="pl-3" [formGroup]="ViewEditProfille" *ngIf="HeaderNotification && formdetails else elseBlock" id="ViewEditProfille"
                autocomplete="on">
                
                <div class="survey-tabs">
                  <div class="indicator d-flex align-items-center justify-content-center" *ngIf="needOptional">
                    <i class="fa fa-circle Blink"></i>
                  </div>
                    <mat-tab-group class="offers-tab prof">
                    <mat-tab label="Profile">
                      <div class="inner-height">
                        <div  class="mb-4" style="color: #FEC207;" *ngIf="ViewEditProfille.invalid">Please complete your profile..</div>
                        <div  class="mb-4" style="color: #FEC207;" *ngIf="!ViewEditProfille.invalid">&nbsp;</div>
                
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="d-block">
                                <input type="text" matInput id="fullName" [disabled]="true" formControlName="fullName"
                                  maxlength="100" placeholder="Full Name" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="d-block">
                                <input matInput id="emailAddress" readonly formControlName="emailAddress" maxlength="100"
                                  placeholder="Email Id" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="d-block">
                                <input matInput id="firstName" formControlName="firstName" maxlength="100"
                                  placeholder="First Name" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="d-block">
                                <input matInput id="lastName" formControlName="lastName" maxlength="100" placeholder="Last Name"
                                  required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 gender">
                              <!-- <mat-form-field class="d-block">
                                <input matInput id="gender" formControlName="gender" placeholder="Gender" required>
                              </mat-form-field> -->
                              <label for="" class="d-block">Gender</label>
                              <mat-radio-group formControlName="gender"  id="gender"  aria-label="Select an option">
                                <mat-radio-button class="mr-3"  [checked]="formdetails.gender==1"  value="1">Male</mat-radio-button>
                                <mat-radio-button value="2"  [checked]="formdetails.gender==2" >Female</mat-radio-button>
                                <mat-radio-button value="3"  [checked]="formdetails.gender==3" >Other</mat-radio-button>
                              </mat-radio-group>
                              <!-- <select formControlName="gender">
                                <option [value]="1">Male</option>
                                <option [value]="2">Female</option>
                              </select>  -->
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="d-block">
                                <input matInput id="phoneNumber" readonly formControlName="phoneNumber" maxlength="15"
                                  placeholder="Mobile number" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="d-block" fxFlex>
                                <input matInput id="Country" readonly formControlName="countryName" maxlength="100"
                                  placeholder="Country">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field aria-disabled="true" class="d-block">
                                <input matInput id="pincode" readonly formControlName="pincode" maxlength="7"
                                  placeholder="Zip Code">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="profile-footer d-flex align-items-center justify-content-between">
                          <p class="m-0">Please attempt profile questions to earn extra reward points</p>
                          <button mat-flat-button color="primary" [disabled]="ViewEditProfille.invalid" (click)="Update()"
                      class="primary-btn btn-h-40">Update</button>
                        </div>
                      </div>

                    </mat-tab>
                    <mat-tab label="Profile questions">
                      
                      <div style="overflow: hidden !important;"  class="inner-height customize-porf">
                        <mat-tab-group class="Profile profQuest">
                          <mat-tab style="overflow: hidden !important;" label="Mendatory Questions">
                            <app-mandatory-questions (callEvent)="GetQuestionCount()"></app-mandatory-questions>
                          </mat-tab>
                          <mat-tab label="Optional Questions">
                            <!-- <app-optional-questions></app-optional-questions> -->
                            <app-questions-category (callEvent)="GetQuestionCount()"></app-questions-category>
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                     
                    </mat-tab>
                    <mat-tab label="Email unsubscribe">
                      <div class="email-uns inner-height">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-12">
                              <p class="m-0 mb-4">
                                Our Survey Engine matches you to the available surveys in a way in which you will automatically be notified via e-mail. You may Select to unsubscribe from the email notifications by selecting “Unsubscribe from all emails” below.  
                              </p>
                              <h3 class="mb-4">You are editing the email preferences for <b>{{formdetails.emailAddress}}</b></h3>
                              <h4>This will help you {{survey ? 'unsubscribe': 'subscribe'}} from:</h4>
                              <div class="points d-flex align-items-center justify-content-between">
                                <div class="left">
                                  <ul class="p-0 m-0">
                                    <li>
                                      <mat-checkbox  (change)="setIndividual($event)" [checked]="individualCheck" class="example-margin"></mat-checkbox>
                                      <span>Individual Survey Offers</span>
                                    </li>
                                    <li>
                                      <mat-checkbox (change)="setSurveyEmail($event)"  [checked]="survey" class="example-margin"></mat-checkbox>
                                      <span>Survey emails</span>
                                    </li>
                                    <li>
                                      <mat-checkbox (change)="setCookies($event)"  [checked]="cookies" class="example-margin"></mat-checkbox>
                                      <span>Cookies</span>
                                    </li>
                                  </ul>
                                </div>
                                <div class="right">
                                  <figure class="m-0">
                                    <img src="assets/images/unsubscribe.png" alt="">
                                  </figure>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="profile-footer d-flex align-items-center justify-content-end">
                        
                          <button mat-flat-button color="primary"
                      class="primary-btn btn-h-40" (click)="Subscribe()">Save</button>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Delete account">
                      <div class="delet inner-height">
                      
                        <div class="text-infor d-flex align-items-end justify-content-between">
                          <div class="left">
                            <p>
                              Cookies are currently enabled on your profile. These cookies allow us to collect and verify information. You may disable cookies by deleting your account.
                            </p>
                            <p>
                              If you experience any technical issue,please reach out directly to the Opinionest Team at email.For additional Information, check out our <b><a [routerLink]="['/terms-and-conditions']">Term of Service</a></b> and <b><a [routerLink]="['/privacy-policy']">Privacy Policy</a></b>.
                            </p>
                          </div>
                          <div class="right">
                            <figure class="m-0">
                              <img src="assets/images/delete-account.png" alt="">
                            </figure>
                          </div>
                        </div>
                        <div class="actn-dele">
                          <p>Your account will be immediately deleted. All transactions,including withdrawls will be immediately forfeited and you will be unable to restore your account.</p>
                          <div class="click-check d-flex">
                            <mat-checkbox (change)="setSelfDeclaration($event)"  [checked]="Termes" class="example-margin"></mat-checkbox><span class="ml-3">
                              I understand that I will no longer have access to my points or my account.
                            </span>

                          </div>
                        </div>
                        
                        <div class="profile-footer d-flex align-items-center justify-content-end">
                        
                          <button mat-flat-button color="primary"
                      class="primary-btn btn-h-40 warn" disabled={{selfDeclaration}} (click)="Delete()">Delete Account</button>
                        </div>
                      </div>
                    </mat-tab>

                  </mat-tab-group>
                </div>
              </form>
      

            </div>
            <div class="col-md-4 pr-0 pl-0">
              <div class="user-profile-view">
                <form [formGroup]="ViewEditProfille" *ngIf="HeaderNotification && formdetails else elseBlock" id="ViewEditProfille"
                  autocomplete="on">
                  <div class="profile-inner">
                    <div class="d-flex align-items-center justify-content-end">
                      <div class="wallet">
                        <img src="assets/images/left-side-menu/offers.png" alt="">
                        <span class="ml-1" *ngIf="PointsDetails">{{PointsDetails.totalPoints}} Points</span>
                      </div>
                    </div>
                    <div class="user-avatar" *ngIf="HeaderNotification">
                      <figure class="mx-auto m-0 mb-3">
                        {{initials}}
                      </figure>
                      <h2 class="mb-0">{{HeaderNotification.fullName}}</h2>
                      <small class="d-block mb-3">{{formdetails.countryName}}</small>
                      <div class="profile-bar status-progress d-flex align-items-center justify-content-between">
                        <mat-progress-bar mode="determinate"
                          [ngClass]="(profileProgress>=95)?'green-progress progress-bar':'progress-bar'"
                          value="{{profileProgress}}"></mat-progress-bar>
                        <span class="percentage">{{profileProgress}}%</span>
                      </div>
                    </div>
                    <hr>
                    <div class="profile-question">
                      
                      <p class="mb-4">
                        Please complete profile questions to avail more reward points
                      
                      </p>
                      <div class="question-card" (click)="indicate()">
                        <div class="header-card d-flex align-items-center justify-content-start">
                          <figure class="m-0 mr-3"><img src="assets/images/opt-icon.png" alt=""></figure>
                          <h3 class="m-0">Optional Questions</h3>
                        </div>
                        <div *ngIf="optionalCountData" class="content-card d-flex align-items-center justify-content-between">
                          <div class="items">
                            <label class="d-block" for="">Total</label>
                            <span class="d-block">{{optionalCountData.total}}</span>
                          </div>
                          <div class="items">
                            <label class="d-block" for="">Completed</label>
                            <span class="d-block">{{optionalCountData.complete}}</span>
                          </div>
                          <div class="items">
                            <label class="d-block" for="">Pending</label>
                            <span class="d-block">{{optionalCountData.pending}}</span>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="MendatoryCountData" class="question-card mand" (click)="indicate()">
                        <div class="header-card d-flex align-items-center justify-content-start">
                          <figure class="m-0 mr-3"><img src="assets/images/mand.png" alt=""></figure>
                          <h3 class="m-0">Mandatory Questions</h3>
                        </div>
                        <div class="content-card d-flex align-items-center justify-content-between">
                          <div class="items">
                            <label class="d-block" for="">Total</label>
                            <span class="d-block">{{MendatoryCountData.total}}</span>
                          </div>
                          <div class="items">
                            <label class="d-block" for="">Completed</label>
                            <span class="d-block">{{MendatoryCountData.complete}}</span>
                          </div>
                          <div class="items">
                            <label class="d-block" for="">Pending</label>
                            <span class="d-block">{{MendatoryCountData.pending}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <ng-template #elseBlock>
              <app-loaderApi></app-loaderApi>
            </ng-template>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>