<div *ngIf="pointRedeemMessage!=''" class="modal-wrapper">
  <div class="popup-header d-flex align-items-center justify-content-between"> 
    <figure class="m-0">
      <img src="assets/images/close.png" alt="" (click)="closePopup()">
    </figure>
  </div>
  <div class="popup-content" style="text-align: center;">
    {{pointRedeemMessage}}
  </div>

</div>

<div class="modal-wrapper"  *ngIf="pointRedeemMessage==''">
  <div class="popup-header d-flex align-items-center justify-content-between">
    <h2 *ngIf="Confrirmation!=1">
      Confirm to redeem your points
    </h2>
    
   
    <h2 *ngIf="Confrirmation==1"> &nbsp;  Do you really want to redeem your points?<div *ngIf="Confrirmation==1" style="width: 19px; border-radius: 50px;
      animation-name: example;
      animation-duration: 5s;
      float: left; 
      -webkit-animation-iteration-count: 9;
      -webkit-animation-timing-function:cubic-bezier(.5, 0, 1, 1);">&nbsp; &nbsp; </div> </h2>
   
    <figure class="m-0">
      <img src="assets/images/close.png" alt="" (click)="closePopup()">
    </figure>
  </div>
  <div class="popup-content">
    
 
    <mat-card *ngFor="let offer of OfferData ;let index = index">
      
      <div  class="content-inner">
       
        <div class="content-top d-flex align-items-center justify-content-between">
          <figure class="m-0"><img src="{{offer.OfferImage}}" alt=""></figure>
          <div class="data-view title">
            <label class="d-block" for="">Brand name</label>
            <span class="d-block">{{offer.OfferTitle}}</span>
          </div>
          <div class="data-view">
            <label class="d-block" for="">Total points</label>
            <span class="d-block">{{offer.pointsRequried}}</span>
          </div>
          <div class="data-view">
            <label class="d-block" for="">Voucher value</label>
            <span class="d-block">{{offer.PointsRequired * quantityValue}} {{offer.currency}}
          
            </span>
          </div>
          <div class="data-view">
            <label class="d-block" for="">Status</label>
            <span class="d-block note" *ngIf="offer.TotalPoints>=offer.PointsRequired">Eligible</span>
            <span class="d-block note" *ngIf="!offer.TotalPoints>=offer.PointsRequired">Not eligible</span>
          </div>
        </div>
        <div class="content-mid d-flex align-items-center justify-content-between">
          <div class="data-view title">
            <label class="d-block" for="">Brand name</label>
            <span class="d-block">{{offer.OfferTitle}}</span>
          </div>
          <div class="data-view title">
            <label class="d-block" for="">Total points available</label>
            <span class="d-block">{{offer.TotalPoints}}.00 </span>
          </div>
          <div class="data-view title">
            <label class="d-block" for="">Quantity</label>
            <div class="d-block" *ngIf="offer.ButtonVisible">
              <input value="{{quantityValue}}" [disabled]="Confrirmation==1" type="number" class="quantity" pattern="[0-9]*" #quantity (keyup)="onKey(quantity.value, offer.currency,offer.PointsRequired)">
            </div>
          </div>
         
        </div>
        <div class="disc d-flex align-items-center justify-content-between">
          <app-show-more [text]='offer.Disclaimer' [showMore]='true'>
          </app-show-more>
        </div>
   </div>
   <div class="popup-footer mt-4">
     
<div>
    <div class="footer-cta d-flex align-items-center justify-content-end">
      <button mat-flat-button color="primary" *ngIf="offer.ButtonVisible"
      class="primary-btn btn-h-40" [disabled]="(offer.TotalPoints < offer.PointsRequired ||
      (offer.TotalPoints - (offer.PointsRequired * quantityValue)) < 0)" (click)="offerRedeem(offer.OfferId,offer.OfferTitle,offer.OfferImage,offer.PointsRequired
      ,offer.Favourite,offer.TotalPoints,offer.Eligible,offer.Disclaimer,offer.utId,offer.currency)">{{Submit}}</button>

     
    </div>
</div>
  </div>
    </mat-card>
 
  </div>


</div>