// @import'../../../../../theme/custom-theme.scss';
@import'../../../../../assets/scss/button.scss';
// @import'../../../../../assets/scss/card.scss';
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.modal-wrapper{
    .popup-header{
        border-bottom: solid 1px #f9f9f9;
        margin-bottom: 16px;
        padding: 0 0 16px;
        h2{
            font-size: 16px;
            font-weight: 500;
            color: #363637;
            letter-spacing: 0.3px;
        }
        figure{
            width: 16px;
        }
    }
    .popup-content{
        mat-card {
            box-shadow: none;
            padding: 0;
            .content-inner{
                background: #FEFEFE;
                border: 1px solid #F5F5F5;
                box-sizing: border-box;
                box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
                border-radius: 9px;
            }
            .content-top{
                background: #FFF6EA;
                padding: 16px 24px;
                figure{
                    width: 40px;
                    border: solid 1px #f2f2f2;
                    height: 40px;
                    border-radius: 100%;
                    img{
                        height: 100%;
                        object-fit: contain;
                    }
                }
               
            }
            .content-mid{
                padding: 24px;
            }
        }
        .data-view{
                       
            .primary-btn{
                min-width: 86px;
                font-size: 10px;
                font-weight: 400;
                padding: 0 10px;
                height: 28px;
                display: flex;
                align-items: center;
                &:focus{
                    outline: none;
                }
            }
            label{
                font-weight: 300;
                font-size: 11px;
                line-height: 15px;
                /* identical to box height */

                display: flex;
                align-items: center;
                letter-spacing: 0.06em;

                color: rgba(54, 54, 55, 0.65);
            }
            span{
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                /* identical to box height */

                display: flex;
                align-items: center;
                letter-spacing: 0.06em;

                color: #363637;
            }
        }
    }
}
button{
    &:focus{
        outline: none;
    }
}
.disc{
    background-color: #fff;
    padding: 0;
    margin: 16px 0 0;
}
.quantity{
    background: #F9F9F9;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
    height: 32px;
    width: 56px;
}