<div class="modal-wrapper">
    <div class="popup-header d-flex align-items-center justify-content-between">
        <h2>Confirm to donate your points</h2>
        <figure class="m-0">
            <img src="assets/images/close.png" alt="" mat-dialog-close>
        </figure>
    </div>

    <div class="popup-content">
        <mat-card>
            <div class="content-inner">
                <h2>Are you sure you want to donate your points to <b>{{OfferData[0].OfferTitle}}</b></h2>
                <div class="labeling mt-4">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Donation</label>
                            <span>{{OfferData[0].OfferTitle}}</span>
                        </div>
                        <div class="col-md-4">
                            <label for="">Points</label>
                            <span>{{OfferData[0].PointsRequired}}</span>
                        </div>
                    </div>

                </div>

            </div>



            <div class="popup-footer mt-4">

                <div class="footer-cta d-flex align-items-center justify-content-end">
                    <button *ngIf="showCloseButton" mat-button mat-dialog-close [mat-dialog-close]="true" color="primary"
                        class="primary-btn btn-h-44 mt-3">Close</button>
                    <button *ngIf="showSubmitButton" mat-flat-button color="primary"  class="primary-btn btn-h-40" (click)="redeemDonation(OfferData[0].OfferId,OfferData[0].PointsRequired)">Submit</button>
                </div>


            </div>
        </mat-card>
        <!-- <mat-card>
            <div class="content-inner">
                <div class="thanks-wrapper content-inner">
                    <figure>
                      <img src="assets/images/ok.png" alt="">
                    </figure>
                    <h3>Thank You!</h3>
                    <p>You have successfully donated <b>100 points</b> to Our Better World. </p>
                    
                  </div>
            </div>
        </mat-card> -->
    </div>




</div>