// @import'../../../../../theme/custom-theme.scss';
@import'../../../../../assets/scss/button.scss';
// @import'../../../../../assets/scss/card.scss';
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.modal-wrapper{
    .popup-header{
        border-bottom: solid 1px #f9f9f9;
        margin-bottom: 16px;
        padding: 0 0 16px;
        h2{
            font-size: 16px;
            font-weight: 500;
            color: #363637;
            letter-spacing: 0.3px;
        }
        figure{
            width: 16px;
        }
    }
    .popup-content{
        mat-card {
            box-shadow: none;
            padding: 0;
            .content-inner{
                box-sizing: border-box;
                border-radius: 9px;
                
                h2{
                    font-family: poppins;
                    font-size: 14px;
                    font-weight: 500;
                    color: #363637;
                    letter-spacing: 0.3px;
                    line-height: 24px;
                }
                .labeling{
                    background: #F9F9F9;
                    border: 1px dashed #E4E4E4;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 16px 16px 44px;
                    label{
                        font-weight: 300;
                        font-size: 11px;
                        line-height: 15px;
                        display: block;
                        letter-spacing: 0.06em;
                        color: rgba(54, 54, 55, 0.65);
                    }
                    span{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 21px;
                        display: block;
                        letter-spacing: 0.06em;
                        color: #363637;
                    }
                }
            }
          
        }
    
    }
}
button{
    &:focus{
        outline: none;
    }
}
.err{
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    color: #F96C4D;
    letter-spacing: 0.5px;
}
input{
    border: solid 1px #ddd;
    border-radius: 2px;
    padding: 4px 0 4px 12px;
    font-size: 14px;
    font-family: poppins;
    color: #363637;
}
small{
    margin: 0 8px;
}
label{
    font-size: 14px;
    font-family: poppins; 
    color: #363637;
}

.thanks-wrapper{
    figure{
        width: 44px;
        margin: 0 auto 16px;
    }
    h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #363637;
    }
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #363637;
    }
}
