// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.refer-earn{
	.left-part{
		padding: 24px;
		height: 100vh;
		overflow: auto;
		.refer-msg{
			background: #FFFFFF;
			box-shadow: 0px 1px 19px rgba(0, 0, 0, 0.03);
			border-radius: 13px;
			margin-bottom: 32px;
			.refer-msg-left{
				width: calc(100% - 140px);
				padding: 24px;
				.info{
					font-family: Poppins;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 21px;
					text-align: left;
					letter-spacing: 0.06em;
					color: #363637;
					margin: 0 auto 16px;
				}
				.special-offer{
					background: #E4FFE3;
					border-radius: 7px;
					padding: 16px;
					display: flex;
					
					p{
						font-family: Poppins;
						font-weight: 400;
						font-size: 12px;
						line-height: 18px;
						letter-spacing: 0.06em;
						margin: 0;
						span{
							color: #709C0C;
							font-family: Poppins;
							font-style: normal;
							font-weight: bold;
							font-size: 20px;
							line-height: 17px;
							/* identical to box height */
							margin-right: 3px;
							letter-spacing: 0.06em;
						}
					}
				}
			}
			.refer-msg-right{
				width: 140px;
				border-left: solid 1px #f9f9f9;
				figure{
					width: 75%;
					margin: 0 auto;
				}
			}
		}
		.paste-code{
			background: #FFFFFF;
			box-shadow: 0px 1px 19px rgba(0, 0, 0, 0.03);
			border-radius: 13px;
			padding: 24px 32px;
			margin-bottom: 32px;
			p{
				font-family: Poppins;
				font-style: normal;
				font-weight: 300;
				font-size: 12px;
				line-height: 134.8%;
				/* or 16px */

				letter-spacing: 0.04em;
				color: #363637;
				margin-bottom: 24px;
			}
			.form-group{
				width: 85%;
				.primary-btn{
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
				.form-inner{
					position: relative;
					width: calc(100% - 110px);
					span{
						width: 44px;
						position: absolute;
						left: 0;
						top: 5px;
						height: calc(100% - 10px);
						display: -webkit-box;
						display: flex;
						-webkit-box-align: center;
						align-items: center;
						-webkit-box-pack: center;
						justify-content: center;
						padding: 13px;
						border-right: solid 1px #efefef;
					}
					input{
						padding-left: 58px;
						background: #f9f9f9;
						border-color: #f5f5f5;
						height: 40px;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						font-size: 14px;
						color: #363637;
					
					}
				}
				
			}
		}
		.share-link{
			background: #FFF4E6;
			border-radius: 13px;
			padding: 24px 32px;
			p{
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				/* identical to box height */

				letter-spacing: 0.04em;

				color: #363637;
			}
			.link{
				position: relative;
				height: 50px;
				overflow: hidden;
				figure{
					height: 100%;
					object-fit: fill;
				}
				.code{
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					padding: 10px 24px;
					height: 100%;
					.codelink{
						span{
							width: 20px;
						}
						b{
							font-family: Poppins;
							font-style: normal;
							font-weight: 600;
							font-size: 24px;
							line-height: 36px;
							/* identical to box height */

							letter-spacing: 0.06em;

							color: #F89406;
							margin-left: 16px;
						}
					}
					.copy{
						cursor: pointer;
						span{
							width: 16px;
						}
						b{
							font-size: 12px;
							line-height: 18px;
							/* identical to box height */
							margin-left: 8px;
							letter-spacing: 0.04em;
						}
					}
				}
			}
			.social-platform{
				p{
					font-family: Poppins;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 18px;
					/* identical to box height */

					letter-spacing: 0.04em;

					color: #363637;
				}
			}
		}
	}
}
.left-part::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  .left-part::-webkit-scrollbar-track {
	border-radius: 10px;
  }
   
  /* Handle */
  .left-part::-webkit-scrollbar-thumb {
	background: transparent; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  .left-part::-webkit-scrollbar-thumb:hover {
	background: #f1f1f1; 
  }
::ng-deep .mat-dialog-container {
	position: relative;
}