
<div class="wrapper">

  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation ProfilePercentage='{{ProfilePercentage}}' menuIndex='4'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="refer-earn">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 px-0">
              <div class="left-part">
                <div class="wallet">
                  <img src="assets/images/left-side-menu/offers.png" alt="">
                  <span>{{ totalPoint }} Points</span>
                </div>
                <div class="refer-msg d-flex align-items-center">
                  <div class="refer-msg-left">
                    <p class="info">Refer & Earn 5% of what they make on all Surveys and Offers.</p>
                    <div class="special-offer">
                      
                      <p><span>300 points </span>will be credited to your wallet when referred completes their first survey.</p>
                    </div>
                  </div>
                  <div class="refer-msg-right">
                    <figure><img src="assets/images/refer-img.png" alt=""></figure>
                  </div>
                </div>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="paste-code">
                  
                  <p>
                    If you have a unique code from your friend then paste it here.
                  </p>
                  
                  <div class="form-group d-flex align-items-center">
                    <div class="form-inner">
                      <span><img src="assets/images/code.png" alt=""></span>
                      <input ngModel #code="ngModel" name="code"  [disabled]="referalExist"  placeholder="Paste your Referral code" class="form-control" rows="5">
                    </div>
                    <button mat-flat-button color="primary" [disabled]="false" *ngIf="!referalExist" class="primary-btn btn-h-40" >Submit</button>
                    <button mat-flat-button color="primary" [disabled]="true" *ngIf="referalExist" class="primary-btn btn-h-40" >Already applied</button>
                 
                  </div>
                
                </div>
              </form>
                <div class="share-link">
                  <p class="mb-4">Share the link below or ask them to enter it during signup</p>
                  <div class="link mb-4">
                    <figure class="m-0">
                      <img src="assets/images/link-ribbon.png" alt="">
                    </figure>
                    <div class="code d-flex align-items-center justify-content-between">
                      <div class="codelink d-flex align-items-center">
                        <span>
                          <img src="assets/images/link.png" alt="">
                        </span>
                        <b>{{refferalCode}}</b>
                      </div>
                      <div (click)="copyToClipboard()" class="codelink copy d-flex align-items-center">
                        <span>
                          <img src="assets/images/copy.png" alt="">
                        </span>
                        <b>Copy code</b>
                      </div>
                      
                    </div>
                  </div>
                  
                  <div class="social-platform">
                    <p class="mb-3">Share referral code</p>
                    <!-- <ul class="p-0 d-flex align-items-center justify-content-center">
                      <li><img src="assets/images/share-platform/facebook.png" alt=""></li>
                      <li><img src="assets/images/share-platform/whatsapp.png" alt=""></li>
                      <li><img src="assets/images/share-platform/google-plus.png" alt=""></li>
                      <li><img src="assets/images/share-platform/twitter.png" alt=""></li>
                      <li><img src="assets/images/share-platform/pinterest.png" alt=""></li>
                      <li><img src="assets/images/share-platform/linkedin.png" alt=""></li>
                    </ul> -->
                    <share-buttons url="https://www.opinionest.com/login?referralcode={{refferalCode}}"></share-buttons>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="right-part">
                <app-referral-user-list></app-referral-user-list>
              </div>
            </div>
          </div>
        </div>

      </div>

    </mat-drawer-content>
  </mat-drawer-container>
</div>










<!-- <app-footer-user></app-footer-user> -->