<div class="authentication">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 pl-0">
          <div class="left-panel">
            <div class="login-text">
              <figure class="m-0">
                <img src="assets/images/pattern/login-left-panel.png" alt="img">
              </figure>
              <div class="text-on-banner">
                <h1><img [routerLink]="['/']" src="assets/images/logo-white.png" alt="logo"></h1>
                <h2>Your space to earn money with Opinionest</h2>
                
              </div>
            </div>
            <div class="login-illustrator">
              <figure class="mx-auto">
                <img src="assets/images/login-img.png" alt="img">
              </figure>
            </div>
          </div>
        </div>
        <div class="col-md-6 right-panel p-0">
          <div class="right-panel-inner">
            <div class="form-wrapper">
              <figure class="m-0 company-logo">
                <img src="assets/images/login-icon.png" alt="Company">
              </figure>
              <h1>Reset your password</h1>
              <form [formGroup]="resetForm" id="resetForm" autocomplete="off">
    
                <mat-form-field class="d-block">
                    <input type="password" matInput placeholder="Password" formControlName="password" 
                    onPaste="return false" onCopy="return false" onDrag="return false" onDrop="return false" autocomplete="off">
                    <mat-error class="text-right"
                      *ngIf="resetForm.get('password').dirty || resetForm.get('password').touched">
                      <span *ngIf="resetForm.controls['password'].hasError('required') ">
                        Password is required
                      </span>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="d-block">
                    <input type="password" matInput placeholder="Confirm Password" formControlName="repassword"
                    onPaste="return false" onCopy="return false" onDrag="return false" onDrop="return false" autocomplete="off">
                    <mat-error class="text-right"
                      *ngIf="resetForm.get('repassword').dirty || resetForm.get('repassword').touched">
                      <span *ngIf="resetForm.controls['repassword'].hasError('required') ">
                        Password is required
                      </span>
                      <span *ngIf="resetForm.controls['repassword'].hasError('notSame') ">
                        Passwords do not match
                      </span>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="d-block">
                    <input type="text" maxlength="4" matInput placeholder="OTP" formControlName="otp" 
                    onPaste="return false" onCopy="return false" onDrag="return false" onDrop="return false" autocomplete="off">
                    <mat-error class="text-right"
                      *ngIf="resetForm.get('otp').dirty || resetForm.get('otp').touched">
                      <span *ngIf="resetForm.controls['otp'].hasError('required') ">
                        OTP is required
                      </span>
                    </mat-error>
                  </mat-form-field>
                <div class="form-footer mt-4 d-flex justify-content-between align-items-center">
                  <span [routerLink]="['/login']">Back to login</span>
                  
                   <button mat-flat-button color="primary" [disabled]="resetForm.invalid || submit"  (click)="onSubmit()"
                   class="primary-btn btn-h-40">Submit</button>
                </div>
                         
              </form>
            </div>
          
          </div>
  
        </div>
      </div>
    </div>
  </div>