#Balance-wiz aw-wizard-navigation-bar.vertical {
    
       height: calc(100vh - 98px) !important;
    
       background-color: #f5f7fa;
   }
#codeserieswiz aw-wizard-navigation-bar.vertical {
    
       height: calc(100vh - 101px) !important;
    
       background-color: #f5f7fa;
   }
   #Divshift aw-wizard-navigation-bar.vertical {
    
       height: calc(100vh - 135px) !important;
    
       background-color: #f5f7fa;
       overflow: auto;
   }
aw-wizard-navigation-bar.vertical {
 
    height: calc(100vh - 103px) !important;
 
    background-color: #f5f7fa;
    overflow: auto;
}
aw-wizard-navigation-bar.vertical {
    background-color: #f5f7fa;
    max-width: 228px !important;
    width: 100% !important;
    

}


#iin-wiz aw-wizard-navigation-bar.vertical {
 
    height: calc(100vh - 155px) !important;
 
    background-color: #f5f7fa;
    overflow: auto;
    padding-top: 15px;
}
#iin-wiz aw-wizard-navigation-bar.vertical {
    background-color: #f5f7fa;
    max-width: 228px !important;
    width: 100% !important;    
}
#iin-wiz .wizard-steps.vertical {
    position: relative !important;
    top: -9px !important;
    max-width: calc(100% - 228px) !important;
    width: 100% !important;
    background: #fff;
}


#iin-wiz-flyer aw-wizard-navigation-bar.vertical {
 
    height: calc(100vh - 114px) !important;
 
    background-color: #f5f7fa;
    overflow: auto;
    padding-top: 15px;
}
#iin-wiz-flyer aw-wizard-navigation-bar.vertical {
    background-color: #f5f7fa;
    max-width: 228px !important;
    width: 100% !important; 
     
}
#iin-wiz-flyer .wizard-steps.vertical {
    position: relative !important;
    top: -9px !important;
    max-width: calc(100% - 228px) !important;
    width: 100% !important;
    background: #fff;
}

#holiday_wiz aw-wizard-navigation-bar.vertical {
    
       height: calc(100vh - 105px) !important;
    
       background-color: #f5f7fa;
   }
   #weekly_wiz aw-wizard-navigation-bar.vertical {
    
       height: calc(100vh - 105px) !important;
    
       background-color: #f5f7fa;
   }
   #leave_wiz aw-wizard-navigation-bar.vertical {
    
       height: calc(100vh - 160px) !important;
    
       background-color: #f5f7fa;
   }

   .clsfilters .card-body{
       padding: 0;
   }
.clswizleft{
    /* background-color: #f5f7fa;
    max-width: 280px;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 14px 10px 10px 10px; */
    /* margin-top: 6px; */
    background-color: #f5f7fa;
    max-width: 228px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 23px 10px 10px 17px;
    margin-top: 11px;
}
.clswizright{
    width: 100%;
    max-width:calc(100% - 228px) !important;
    margin-top: 11px;
    
   
}


.vertical.small ul.steps-indicator li:not(:last-child):before {
    background-color: #ddd!important;
    content: 'attr()';
    position: absolute;
    left: -7px;
    top: 14px;
    height: calc(100% - 14px);
    width: 1px;
}
.vertical.small ul.steps-indicator li:after {
    position: absolute;
    top: 0px !important;
    left: -14px!important;
    width: 41px!important;
    height: 41px!important;
    content: '';
    text-align: center;
    vertical-align: middle;
    /* line-height: 40px!important; */
    transition: 0.25s;
    border-radius: 100%;
    background-color: #E6E6E6;
    content: attr(step-symbol);
    font-size: 14px;
    color: #000;
    font-weight: 600;
    
}
.vertical.small ul.steps-indicator li.current:after {
    background-color: #ffffff!important;
    border: 2px solid #00bfa5!important;
}

.vertical ul.steps-indicator li div a {
    color: #242a3c!important;
    margin-left: 41px!important;
    line-height: inherit!important;
    font-size: 14px!important;
    text-decoration: none;
  
    text-align: left;
    font-weight: 600!important;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Montserrat", sans-serif!important;
}

.vertical.small ul.steps-indicator li.done:not(:last-child):before {
    background-color: #00bfa5!important;
    content: 'attr(step-symbol)';
    position: absolute;
    left: -7px;
    top: 25px!important;
    height: calc(100% - 24px)!important;
    width: 2px!important;
}

.vertical.small ul.steps-indicator li:after {
    position: absolute;
    top: 0;
    left: -14px;
    width: 14px;
    height: 14px;
    content: '';
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    transition: 0.25s;
    border-radius: 100%;
    background-color: #fff!important;
    border: 2px solid #dddddd!important;
    content: attr(step-symbol)!important;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    
}

    .vertical.small ul.steps-indicator li.editing:after {
        background-color: #ffffff!important;
        border: 2px solid #00bfa5!important;
    }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li div{
        min-height: 41px !important;
    }
    .vertical.small ul.steps-indicator li.done:after {
        background-color: #00bfa5!important;
        border-color: #00bfa5!important;
        color: #fff!important;
    }

    .vertical.small ul.steps-indicator li:not(:last-child):before {
        background-color: #ddd!important;
        content: '';
        position: absolute;
        left: -7px;
        top: 25px!important;
        height: calc(100% - 20px)!important;
        width: 2px !important;
    }

    .vertical ul.steps-indicator li:not(:last-child){
       
        padding-bottom: 15px!important;
    }
/* 
    .vertical.small ul.steps-indicator li div {
        min-height: 57px!important;
    } */

    aw-wizard-navigation-bar.vertical ul.steps-indicator .current div a {
        color: #00bfa5!important;
    }
.vertical.small ul.steps-indicator {
    padding: 0px 5px 5px 33px!important;
}
aw-wizard-navigation-bar.vertical.small ul.steps-indicator li:not(:last-child):before{
    display: none;
}
aw-wizard-navigation-bar.vertical ul.steps-indicator li div a{
    width: 100%;
    /* text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap; */
    text-transform: inherit !important;
}
aw-wizard-navigation-bar.vertical.small ul.steps-indicator li:after {
    
    line-height: 36px !important;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    font-family: "Montserrat", FontAwesome;
    
   
}
.taxdeductionwiz .wizard-steps {
   
    width: 100%;
}