.mat-radio-button,
.mat-select,
.mat-form-field,
.mat-radio-label,
.mat-tab-label,
.mat-tab-link {
  font-family: "Montserrat", sans-serif !important;
}

.report-chkbox .mat-checkbox-layout {
  width: 100% !important;
}

.clsselect .mat-checkbox-layout {
  padding-left: 0;
}

.mat-select-arrow {
  border: solid #a09a9a !important;
  border-width: 0 2px 2px 0 !important;
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.mat-drawer-container {
  background-color: #f4f6f9 !important;
  color: #28314b;
  font-weight: 500;
}

.mat-tab-group.mat-background-primary .mat-ripple-element,
.mat-tab-nav-bar.mat-background-primary .mat-ripple-element {
  background-color: transparent !important;
}

.OptionSingleChoice .mat-checkbox-frame {
  border-radius: 50%;
}

.OptionSingleChoice .mat-checkbox-background {
  border-radius: 50%;
}

.Progress-bar .mat-progress-bar-fill::after {
  background-color: #272c3e !important;
}

.text-length-set .mat-checkbox-layout {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

#manage-list.mat-list[dense] .mat-list-item .mat-list-item-content,
#manage-list.mat-list[dense] .mat-list-option .mat-list-item-content,
#manage-list.mat-nav-list[dense] .mat-list-item .mat-list-item-content,
#manage-list.mat-nav-list[dense] .mat-list-option .mat-list-item-content,
#manage-list.mat-selection-list[dense] .mat-list-item .mat-list-item-content,
#manage-list.mat-selection-list[dense] .mat-list-option .mat-list-item-content {

  padding: 0 18px 0 9px;

}

#manage-list.mat-list[dense] .mat-list-item,
#manage-list.mat-list[dense] .mat-list-option,
#manage-list.mat-nav-list[dense] .mat-list-item,
#manage-list.mat-nav-list[dense] .mat-list-option,
#manage-list.mat-selection-list[dense] .mat-list-item,
#manage-list.mat-selection-list[dense] .mat-list-option {
  height: 34px !important;
}

#manage-list.mat-list[dense],
#manage-list.mat-nav-list[dense],
#manage-list.mat-selection-list[dense] {
  padding-top: 0px;
  display: block;
  position: relative;
}

#manage-list.mat-list[dense] a,
#manage-list.mat-nav-list[dense] a,
#manage-list.mat-selection-list[dense] a {
  display: block;
  width: 100%;
  letter-spacing: 0.6px;
  color: #222222;
  font-weight: 500;
}

#manage-list.mat-list[dense] a.active,
#manage-list.mat-nav-list[dense] a.active,
#manage-list.mat-selection-list[dense] a.active {
  font-size: 12px;
  font-weight: 600;
  color: #00bfa5;
  letter-spacing: 0.6px;
}

#MEmp-progressbar.mat-progress-bar {
  height: 2px;
}

#MEmp-progressbar .mat-progress-bar-fill::after {
  background-color: #272c3e !important;
}

#ManageEmp-Acc .mat-expansion-panel {
  margin-top: 40px;
}

#ManageEmp-Acc .mat-expansion-panel-body {
  padding: 0 0px 16px;
}

#ManageEmp-Acc .mat-expansion-panel-header {
  padding: 0 10px 0 0;
}

.mat-tab-group {
  font-family: "Montserrat", sans-serif !important;
}

.confirmation_filter .mat-tab-label-active {
  font-weight: 600 !important;
}

.mat-tab-group.mat-primary .mat-tab-label:focus,
.mat-tab-group.mat-primary .mat-tab-link:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: transparent !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #1b2436 !important;
}

/* .mat-drawer::-webkit-scrollbar {
	width: 5px;
	height: 5px;
} */
/* .mat-drawer::-webkit-scrollbar-button {
      background: #dc1818;
  } */

/* .mat-drawer::-webkit-scrollbar-track-piece {
	background: transparent;
}
.mat-drawer::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 21px;
} */
/* ​ .mat-drawer-content::-webkit-scrollbar {
	height: 4px!important;
	width: 4px!important;
} */
/* .mat-drawer-content::-webkit-scrollbar-button {
	background: #dc1818;
} */
/* .mat-drawer-content::-webkit-scrollbar-track-piece {
	background: transparent;
}
.mat-drawer-content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 21px;
}
.mat-drawer-content::-webkit-scrollbar{
    height: 4px!important;
	width: 4px!important;
} */

​ .mat-tab-body,
.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
  width: 2em;
}

.mat-tab-label {
  padding: 0 !important;
  min-width: auto !important;
  margin-right: 55px;
}

.mat-tab-label,
.mat-tab-link {
  font-size: 13px;
  font-weight: 400;
  color: #1b2436 !important;
}

.confirmation_filter .mat-tab-label {
  text-align: center;
  margin-right: 50px;
  /* padding: 0 !important; */
  min-width: auto !important;
  opacity: 1 !important;
  font-family: "Montserrat", sans-serif !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
  border-bottom: solid 0.5px #c8cdd1;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1b2436 !important;
}

.template-tab .mat-tab-label {
  min-width: 50% !important;
  margin: 0 !important;
}

.template-tab .mat-tab-group.mat-primary .mat-ink-bar,
.template-tab .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1b2436;
}

.template-tab .mat-tab-label,
.template-tab .mat-tab-link {
  color: #7e8ead !important;
}

.template-tab .mat-tab-label-active {
  color: #1b2436 !important;
  font-weight: 600;
}

.template-tab .mat-tab-group.mat-primary .mat-tab-label:focus,
.template-tab .mat-tab-group.mat-primary .mat-tab-link:focus,
.template-tab .mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.template-tab .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: transparent;
}

/****************** Mat Css ***********/

.mat-form-field-underline {
  background-color: #e9edf2 !important;
}

.mat-focused .mat-form-field-label {
  color: rgba(40, 44, 63, 0.6);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00bfa5 !important;
}

.mat-checkbox-frame {
  border-width: 1px !important;
}

.mat-checkbox {
  font-family: "Montserrat", sans-serif !important;
}

.mat-form-field-ripple.mat-accent {
  background-color: #00bfa5 !important;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(0, 191, 165, 0.26);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #00bfa5 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  /* color: rgba(40, 44, 63, 0.6) !important; */
  color: #28314b !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #00bfa5 !important;
}

.mat-form-field-ripple {
  background-color: #00bfa5;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(0, 191, 165, 0.26);
}

.mat-select-panel .mat-selected .mat-option-text {
  background: url(../images/selected-tick.svg) no-repeat 100% 8px;
}

.mat-select-panel .mat-option-pseudo-checkbox {
  display: none !important;
}

.mat-select-panel .mat-selected .mat-option-text {
  padding-right: 25px;
}

/* .mat-checkbox-disabled .mat-checkbox-label {
  color: #282c3f !important;
  cursor: not-allowed;
} */
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-keyboard-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-program-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: transparent !important;
}

#panel-acc .mat-expansion-panel-body {
  padding: 26px 26px 21px 16px !important;
  background-color: rgba(241, 246, 252, 0.63) !important;
}

#panel-acc .mat-expansion-panel-header {
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px;
  font-weight: 400;
}

#panel-acc .mat-expansion-indicator {
  border: 1px solid #a9a6a6;
  border-radius: 100%;
  width: 24px;
  text-align: center;
  background: rgb(255, 255, 255);
  /* Old browsers */
  background: -moz-linear-gradient(top,
      rgba(255, 255, 255, 1) 0%,
      rgba(225, 225, 225, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 1) 0%,
      rgba(225, 225, 225, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(225, 225, 225, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);*/
  /* IE6-9 */
}

#panel-acc .mat-expansion-indicator::after {
  margin-top: -5px;
}

#panel-acc .mat-expansion-panel-header {
  padding: 0 6px !important;
}

.email_base .mat-form-field-label-wrapper .mat-form-field-label {
  color: #272c3e;
  font-weight: 500;
}

.manage_view_emp .mat-input-infix {
  border: 1px solid rgba(120, 130, 140, 0.13) !important;
  padding: 6px 8px !important;
  border-radius: 4px;
}

.manage_view_emp .mat-form-field-ripple {
  background-color: transparent;
}

.manage_view_emp .mat-form-field-wrapper {
  padding-bottom: 0;
}

.manage_view_emp .mat-form-field-underline {
  position: absolute;
  height: 0;
  width: 100%;
}

.search-bar>.mat-input-wrapper>.mat-form-field-underline {
  display: none;
}

.mat-menu-inbox {
  margin-left: -20px;
  margin-top: 0px;
  width: 300px;
  max-width: 300px !important;
}

.mat-menu-inbox button.mat-menu-item {
  line-height: 35px !important;
  height: 35px !important;
  outline: none;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00bfa5 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #00bfa5 !important;
}

.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.15) !important;
  height: 19px !important;
  width: 19px !important;
}

.mat-radio-inner-circle {
  height: 19px !important;
  width: 19px !important;
}

.mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.15);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00bfa5 !important;
}

.mat-chip:not(.mat-basic-chip) {
  padding: 3px 12px !important;
  margin: 0 0 5px 5px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: 0.2s ease-in;
  border: solid 1px rgba(40, 49, 75, 0.5) !important;
  font-size: 10px;
}

.mat-chip:not(.mat-basic-chip) .mat-chip-remove {
  color: #272c3e;
  opacity: 1 !important;
}

.mat-chip:not(.mat-basic-chip) {
  background-color: #e0e0e0;
  color: #272c3e !important;

}

.mat-chip .mat-chip-remove.mat-icon,
.mat-chip .mat-chip-trailing-icon.mat-icon {
  font-size: 16px;
}

/* .mat-chip-list {
  display: inline-block;
} */
.advance-applicability .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
  border-bottom: solid 0.5px #c8cdd1;
}

.mat-form-field {
  display: block;
  line-height: initial !important;
  width: 100%;
}

.mad-feild {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  font-weight: 500;
}

.mad-feild::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  top: -10px;
  left: 0;
  border-top: 2px solid #282c3f;
}

#notification .ui-widget {
  left: 55px !important;
  top: auto !important;
  max-width: 360px;
  bottom: 10%;
}

#notification .ui-dialog.ui-widget .ui-dialog-titlebar {
  display: none;
}

#notification .ui-dialog .ui-dialog-content {
  padding: 0;
}

.inbox-tab .mat-select-value {
  color: rgba(247, 242, 242, 0.87) !important;
}

.inbox-tab .mat-form-field-hide-placeholder .mat-select-placeholder {
  color: rgba(247, 242, 242, 0.87) !important;
}

.inbox-tab .mat-select-arrow {
  color: rgba(255, 247, 247, 0.54);
}

.Base-popup .mat-dialog-container {
  padding: 33px 27px 29px !important;
}

.Base-popup {
  right: 20px !important;
  left: auto !important;
  position: absolute !important;
  top: 11% !important;
}

.mat-form-field {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  font-weight: 400;
  line-height: inherit;
  color: #67757c !important;
}

dynamic-material-form-control div[role="group"]>dynamic-material-form-control {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1rem;
}

dynamic-material-form-control div[role="group"]+mat-error {
  font-size: 75%;
}

dynamic-material-form-control .mat-list-item {
  justify-content: center;
}

dynamic-material-form-control div[role="group"]>dynamic-material-form-control {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1rem;
}

dynamic-material-form-control div[role="group"]+mat-error {
  font-size: 75%;
}

dynamic-material-form-control .mat-list-item {
  justify-content: center;
}

.vertical-radio-list .mat-radio-button {
  display: block !important;
  padding: 10px 0 10px !important;
}

.mat-form-field-infix {
  width: auto !important;
}

.star-left .mat-placeholder-required {
  float: none !important;
}

.form-section-allassesment .mat-form-field-label {
  font-size: 12px !important;
}

.progress-div .mat-progress-bar-fill::after {
  background-color: #272c3e;
}

.save-current-view.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.save-current-view.mat-checkbox-indeterminate.mat-accent .save-current-view .mat-checkbox-background {
  background-color: #272c3e !important;
}

.save-current-view .mat-checkbox-inner-container {
  width: 13px !important;
  height: 13px !important;
}

/************** Mat Css *******************/

.mat-tab-label {
  height: auto !important;
  padding: 18px 0 !important;
  min-width: auto !important;
  font-family: "Montserrat", sans-serif !important;
  margin-right: 55px;
  opacity: 1 !important;
  color: #1b2436;
}

.custom-tab .mat-tab-labels {
  background: #fff;
  padding: 0px 20px 0px 20px !important;
  z-index: 9;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

.custom-tab .mat-tab-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
}

.custom-tab .mat-tab-header,
.custom-tab .mat-tab-nav-bar {
  border-bottom: none !important;
  position: fixed;
  flex-shrink: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  overflow: hidden;
}

.custom-tab .mat-tab-group.mat-primary .mat-tab-label:focus,
.custom-tab .mat-tab-group.mat-primary .mat-tab-link:focus,
.custom-tab .mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.custom-tab .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: transparent !important;
}

.custom-tab .mat-tab-label-active {
  color: #1b2436 !important;
  font-weight: 600;
}

.custom-tab .mat-tab-body {
  padding: 20px 37px 80px 20px;
  top: 62px;
}

.custom-tab .mat-tab-body-wrapper {
  width: 100%;
}

.Matfilter .mat-tab-label {
  padding: 10px 0 !important;
}

.Matfilter .mat-tab-label-active .mat-tab-label-content {
  color: #1b2436 !important;
  font-weight: 600;
}

.mat-list-item {
  font-family: "Montserrat", sans-serif !important;
}

/*************** Dropdown Css *********************/

.clsView {
  height: 37px !important;
  text-align: left !important;
}

.clsView {
  line-height: 37px !important;
}

.clsView {
  border: 1px solid #a1a4ac !important;
}

.clsView {
  border: 1px solid #a1a4ac !important;
}

.clsView {
  padding: 0 10px;
  height: 35px !important;

  background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);

  filter: none !important;
  background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
  border-radius: 4px;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

/***************** Accordion Css ********************/
.clspageaccess-accordion .mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px 0 0;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.clspageaccess-accordion .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: solid 0px #c8cdd1;
}

.mat-expansion-panel-header {
  font-family: "Montserrat", sans-serif !important;
  font-size: inherit;
  /* padding: 0 41px 0 3px !important; */
}

.clsviewreport .mat-select-arrow,
.clsviewreport .mat-select-placeholder,
.clsviewreport .mat-form-field-hide-placeholder .mat-select-placeholder,
.clsviewreport .mat-select-value,
.clsviewreport .mat-form-field-label {
  color: #fff;
}

.clsviewreport .mat-focused .mat-form-field-label {
  color: #fff;
}

.mat-form-field-prefix .mat-icon-button,
.mat-form-field-suffix .mat-icon-button {
  outline: none;
}

.report-chkbox .mat-checkbox-layout .mat-checkbox-label {

  width: 100% !important;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* width: 100% !important; */
}

.iin-dash .mat-checkbox-layout .mat-checkbox-label {
  white-space: normal;
}

.iin-dash label {
  display: inherit;

}

.mat-datepicker-content .mat-calendar {
  min-height: 371px;
}

.mat-tab-label-active .mat-tab-label-content {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  color: #1b2436;
}

.mat-calendar {
  font-family: "Montserrat", sans-serif !important;
}

.clsalbhabit .alphabet {
  margin: 0;
}

#attandencedialog .ui-dialog-titlebar {
  display: none;
}

#attandencedialog .ui-dialog-footer {
  padding: 10px 0 0 0;
}

.togglebtn.mat-button-toggle-group,
.togglebtn.mat-button-toggle-standalone {
  box-shadow: none;
  margin-top: 10px;
}

.togglebtn label {
  margin-bottom: 0;
}

.togglebtn .mat-button-toggle-label-content {
  line-height: 29px;
}

.togglebtn .mat-button-toggle {
  font-family: "Montserrat", sans-serif;
  border: solid 1px rgba(151, 151, 151, 0.31);
}

.togglebtn form label,
.togglebtn label {
  color: inherit;
}

.togglebtn .mat-button-toggle-checked {
  background-color: #039be5 !important;
  color: #fff !important;
}

.search-box .ui-autocomplete {
  width: 100%;
}

.snackbar-default {
  background: yellow;
  color: green;
}

.snackbar-success {
  background: #00bfa5 !important;
  color: #ffffff !important;
}

.snackbar-success .mat-simple-snackbar-action {
  color: #ffffff !important;
}

.snackbar-validation {
  background: #9078d6 !important;
  color: #ffffff !important;
}

.snackbar-validation .mat-simple-snackbar-action {
  color: #ffffff !important;
}

.snackbar-error {
  background: #fa4a5b !important;
  color: #ffffff !important;
}

.snackbar-error .mat-simple-snackbar-action {
  color: #ffffff !important;
}

.clsoth_text .mat-checkbox-inner-container {
  display: block;
  float: left;
  margin-top: 8px;
}

.clsoth_text .mat-checkbox-layout .mat-checkbox-label {
  line-height: inherit;
}

.colorbox.mat-radio-group {
  border-bottom: 1px solid #e9edf2;
  display: inline-block;
  width: 100%;
}

.list-imgstyle .mat-radio-label-content,
.clsshiftwiz1 .mat-radio-label-content {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #272c3e;
}

/* .list-imgstyle .mat-form-field-label,
.clsshiftwiz1 .mat-form-field-label,
.list-imgstyle .mat-checkbox-layout .mat-checkbox-label {
  font-family: Montserrat;
  font-size: 11px;
  color: #272c3e !important;
  font-weight: 500;
} */

.clsnotification.mat-checkbox-anim-unchecked-checked .mat-checkbox-frame {
  border: 0 !important;
}

.clsnotification.mat-checkbox-anim-unchecked-checked .mat-checkbox-background {
  background-color: transparent !important;
}

.clsnotification.mat-checkbox-anim-unchecked-checked .mat-checkbox-background .mat-checkbox-checkmark-path {
  stroke: #9b9fab !important;
}

.mat-form-field-label {
  font-size: 13px !important;
}

.mat-radio-container {
  height: 19px !important;

  width: 19px !important;
}

.clscolorbox .mat-radio-container {
  left: 10% !important;
}

.mat-expansion-panel-header-title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 12px;
}

.mat-select-value-text {
  font-size: 12px;
  font-weight: 500;
  color: #242a3c;
}

#acc_pageaccess .mat-expansion-panel-spacing {
  margin: 0 !important;
}

#acc_pageaccess .mat-expansion-panel-header {
  padding: 0 24px 0 0 !important;
}

#acc_pageaccess .mat-expansion-panel-body {
  padding: 0 0px 16px;
}

#acc_pageaccess .mat-expansion-panel {
  margin-bottom: 25px;
}

#selectview .mat-form-field-infix {
  border-top: 0em solid transparent !important;
}

#provdiv .mat-input-infix.mat-form-field-infix {
  border-top: 0;
}

/********************** Tab menu css *************************/
nav.nav-material-tab.mat-tab-nav-bar {
  background: #fff;
  padding: 0px 20px 0px 32px !important;
  z-index: 10;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 0;
  position: fixed;
  width: 100% !important;
  border-top: 1px solid #f4f6f9;
}

.nav-material-tab .mat-tab-link {
  height: auto;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1;
  min-width: auto;
  overflow: hidden;
  padding: 0;
  font-size: 13px;
  line-height: 55px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
  margin-left: 53px;
  letter-spacing: -0.2px;
}

.nav-material-tab .mat-tab-link:first-child {
  margin-left: 0px;
}

.nav-material-tab .mat-tab-label-active {
  font-size: 13px;
  font-weight: 600;
  color: #1b2436;
  opacity: 1;
}

.nav-material-tab .mat-tab-label-active::after {
  background-color: #1b2436;
  position: absolute;
  bottom: 0;
  height: 2px;
  transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-material-container {
  padding: 69px 22px 20px 17px;
}

/* .nav-material-tab .mat-ink-bar {
	display: none;
} */
#finacialyear .mat-form-field-infix {
  border-top: 0px;
}

.mat-tooltip {
  background: #282c3f !important;
}

/********** input css for retirement ***************/
.clsretirement .mat-form-field-infix {
  border-top: 0em solid transparent;
}

/************ Employee search css *******************/
.emp-select {
  border-bottom: 1px solid #e9edf2 !important;
  width: 100%;
}

.emp-select .ui-state-default {
  border: none;
  border-bottom: 0px solid #e9edf2 !important;
}

.emp-select .ui-multiselect-panel {
  min-width: 100% !important;
  max-width: 200px;
}

.emp-select .ui-chkbox .ui-chkbox-box {
  border: 1px solid #d6d6d6 !important;
}

.emp-select .ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
  top: 0.6em !important;
}

.emp-select .ui-multiselect-header .ui-chkbox {
  width: 7%;
  margin-left: 7px;
}

.emp-select .ui-multiselect-header .ui-multiselect-close {
  top: 12px !important;
  right: 10px;
}

.emp-select .ui-chkbox {
  margin-right: 0.5em;
}

.emp-select .ui-multiselect-header .ui-multiselect-filter-container {
  width: 80% !important;
}

.emp-select .ui-multiselect-panel .ui-multiselect-item label {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.togelbtn .mat-button-toggle-label {
  margin-bottom: 0;
  font-family: Montserrat !important;
}

.togelbtn .mat-button-toggle-checked {
  background-color: #039be5;
  border: solid 0px #039be5;
}

.togelbtn .mat-button-toggle-checked .mat-button-toggle-label {
  color: #fff !important;
}

#login-register .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 2px;
}

#login-register .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 18px;
  margin: 0 1px;
}

.code-box.mat-form-field-appearance-legacy .mat-form-field-infix {

  border: 1px solid #ccc;
  text-align: center;

}

#login-register .mat-form-field-label {
  color: rgba(0, 0, 0, 0.8);

}

#login-register .mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
  -webkit-transform: translateY(-1.28125em) scale(0.85) perspective(100px) translateZ(-9px);
  transform: translateY(-1.28125em) scale(0.85) perspective(100px) translateZ(-9px);
  -ms-transform: translateY(-1.28125em) scale(0.85);
  color: #263238;
  font-weight: 600;
  letter-spacing: 1px;
}

#login-register .mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
#login-register .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-1.28125em) scale(0.85) perspective(100px) translateZ(-9px);
  transform: translateY(-1.28125em) scale(0.85) perspective(100px) translateZ(-9px);
  -ms-transform: translateY(-1.28125em) scale(0.85);
  font-weight: 600;
  letter-spacing: 1px;
}

#login-register .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336;
}

.mat-form-field-label {
  font-weight: 500 !important;
  /* overflow: visible !important; */

}

.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
  -webkit-transform: translateY(-1.28125em) scale(.85) perspective(0px) translateZ(.001px) !important;
  transform: translateY(-1.28125em) scale(.85) perspective(0px) translateZ(.001px) !important;
  -ms-transform: translateY(-1.28125em) scale(.85) perspective(0px) translateZ(.001px) !important;
  color: #6f778b !important;

  font-weight: 500 !important;

}

.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-1.28125em) scale(.85) perspective(0px) translateZ(.001px) !important;
  transform: translateY(-1.28125em) scale(.85) perspective(0px) translateZ(.001px) !important;
  -ms-transform: translateY(-1.28125em) scale(.85) perspective(0px) translateZ(.001px) !important;
  color: #28314b !important;

  font-weight: 500 !important;

}

/*************** chip css *************************/
.mat-placeholder-required.mat-form-field-required-marker {
  color: #f44336;
}


/***************** toggel button css ******************/

.togelbtn .mat-button-toggle-label-content {
  line-height: 34px !important;
  font-size: 12px;
}

.togelbtn .mat-button-toggle-checked .mat-button-toggle-button {
  color: #fff !important;
  outline: none;
  font-family: "Montserrat", sans-serif;

}

.mat-button-toggle {
  font-family: "Montserrat", sans-serif !important;
}

#selectEmp .mat-select-value {
  display: none;
}

.alert-sel .mat-form-field-infix {
  border-top: 0 solid transparent;
}

.alert-sel {
  width: 140px;
}

.active .mat-checkbox-label {
  color: #00bfa5;
}

.Rectdiv .mat-standard-chip {
  display: block;
  padding: 7px 12px !important;
  border-radius: 4px;
  background-color: #fff !important;
  height: auto;
}

.clsright-box .mat-standard-chip {
  display: block;
  padding: 7px 12px !important;
  border-radius: 4px;
  background-color: #fff !important;
  height: auto;
}

.mat-standard-chip {
  word-break: break-all;
  height: auto !important;
}

.mat-form-field-subscript-wrapper {
  top: calc(100% - 1.79167em) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle .mat-radio-input.cdk-focused.cdk-keyboard-focused {
  color: #068370 !important;
}

.docUpload.ui-state-focus span.ui-button-text.ui-clickable {
  color: #068370 !important;
}

.mat-radio-ripple {
  display: none;
}

/* Satbir */
.clsselectiontype {
  display: block;
  font-size: 12px;
  font-weight: 600;
  font-family: Montserrat;
  color: #4b546e;
}

.fa-angle-down {
  margin-left: 10px;
}

.clscalender_text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #4b546e;
  background-color: transparent;
  border: 0;
  padding: 0;
}



.mat-menu-attendance button.mat-menu-item {

  outline: none;
  font-size: 12px;
}

.peopleselected .mat-checkbox-layout {
  margin-bottom: 0px;
}

.peoplename .mat-form-field-infix {
  padding-top: 0px;
}

.mat-menu-attendance {
  margin-left: -15px;
  margin-top: 25px;
  width: 200px;
  max-width: 300px;
}

/* Satbir */
.mat-checkbox-ripple {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #28314b !important;
}

/********** material calender ******************/
.mat-calendar-table-header th {
  background-color: transparent;
}

.feedback-form .mat-expansion-panel-body {
  padding: 0;
}

.feedback-form .mat-expansion-panel-header {
  height: 44px !important;

}

.feedback-form .mat-expansion-panel-header-title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.1px;
  padding-left: 9px;
}

/* .clsinbox-padding .mat-form-field-flex{
padding: 0 0 0 9px;
} */
.mat-tab-body label {
  padding-left: 0;
}


.clsretirement.mat-form-field {
  display: inline-block !important;
  margin-top: -15px;
}

.mat-input-element {
  font-size: 13px !important;
  color: #272c3e !important;
  font-weight: 500 !important;
}

.mat-accordion .mat-checkbox-layout {
  padding-left: 0;
}

#selectview .mat-form-field {
  line-height: initial;
}

.mat-input-element:disabled {
  opacity: 0.35;
}

.mat-select-disabled .mat-select-value {
  opacity: 0.35;
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {

  .nav-material-tab .mat-tab-label-active {
    font-size: 16px;

  }

  .nav-material-tab .mat-tab-link {
    font-size: 16px;
  }
}




.clsallcheck .mat-checkbox-frame {
  border-color: rgba(251, 251, 251, 0.54) !important;
}

.clsallcheck-multiple .mat-checkbox-frame {
  border-color: rgba(251, 251, 251, 0.54) !important;
}

.clsbulk .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #828282 !important;
}

/*********** css *****************/
.cls-checkbox .mat-checkbox {
  margin-right: 20px;
  margin-top: 25px;
  display: inline-block;
}

.cls-checkall .mat-checkbox-inner-container {
  margin-right: 20px
}

.cls-checkall .mat-checkbox-label {
  font-size: 12px;
  font-weight: 600;

  color: #272c3e;
}

.mat-snack-bar-container {
  margin: 0 !important;
  word-break: break-word;
}

.mat-option {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;

}

.mat-select-panel {
  max-width: 320px !important;
}

#reportchips .mat-chip-list-wrapper {
  margin: 2px;

}

#reportchips .mat-chip:not(.mat-basic-chip) {
  /* padding: auto !important; */
  padding: 7px 8px 7px 12px !important;
  margin: 4px !important;
  border-radius: 4px;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: 0.2s ease-in;
  border: solid 1px rgba(40, 49, 75, 0.5) !important;
  font-size: 12px;
}

#reportchips .mat-standard-chip {
  height: 1px !important;
  min-height: 30px !important;
}

.clsreport-label {
  display: flex;
}

#requestloan .mat-expansion-panel {
  border: 0 !important;
  overflow: visible !important;
}

#requestloan .mat-expansion-panel {
  background: transparent;
}

#requestloan .mat-expansion-panel-body {
  padding: 0px 0px 0px;
}

#requestloan .mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 30px 0 15px;
  border-radius: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 48px;
  height: 100% !important;
  position: relative;
}

#requestloan .mat-expansion-indicator {
  background-color: #1ebfa5;
  padding: 2px 10px 6px;
}

#requestloan .mat-expanded .mat-expansion-indicator {
  background-color: #161717;
  padding: 2px 10px 6px;
  color: #fff;
}

#requestloan .mat-expansion-indicator::after,
#requestloan .mat-expansion-panel-header-description {
  color: rgba(255, 255, 255, 0.74);
}

#requestloan .customTable table tr th {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  padding: 8px 15px !important;
  background-color: #e7f7ff !important;
  font-size: 12px;
  font-weight: 600 !important;
  text-align: left !important;
  color: #262e3e !important;
  border-bottom: 0px solid #d5d5d5 !important;
  border-top: 0px solid #d5d5d5 !important;
  border-left: 0px solid #d5d5d5 !important;
  border-right: 0px solid #d5d5d5 !important;
  /* white-space: nowrap; */
}

.clstext-color .mat-radio-label-content {
  color: #039be5;
}

#question-bank .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.Dynamicform .mat-checkbox-layout .mat-checkbox-label {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.iin-spacing .mat-form-field-infix {
  border-top: 0px solid transparent;
}

.iin-dash .mat-checkbox-layout {

  padding-left: 0 !important;
  margin-bottom: 0;
}

.cls-rbtn .mat-radio-label {
  cursor: pointer;
  display: inline-flex;
  align-items: flex-start;
  white-space: normal;
  vertical-align: middle;
}

.cls-selectopt .mat-select-value-text {
  font-size: 18px;
  font-weight: 500;
  color: #4b546e;
}

.cls-selectopt .mat-form-field-infix {
  border-top: 0 solid transparent !important;
  padding-top: 2px !important;
  margin-left: 5px;
}

.cls-selectopt .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

/* .cls-selectopt .mat-select-arrow {

  border-width: 0 !important;

} */

.cls-selectopt .mat-select-value {

  width: 87%;

}

#cls-clockpanel .mat-expansion-panel {
  background: transparent;
  color: rgba(0, 0, 0, .87);
}

#cls-clockpanel .mat-expansion-panel-header {

  padding: 0 15px 0 0;

}

#cls-clockpanel .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
  border-bottom: solid 0 #c8cdd1;
}

#cls-clockpanel .mat-expansion-panel-body {
  padding: 0 0px 5px;
}

#cls-clockpanel .mat-expansion-panel-content {
  font-family: "Montserrat", sans-serif !important;
}

.mat-expansion-panel-content {
  font: 500 12px/20px "Montserrat", sans-serif !important;
}

#cls-clockpanel .mat-expansion-panel-header-title {
  color: rgba(0, 0, 0, .87);
  font-weight: 500;
  font-size: 12px;
  position: relative;
  line-height: 2;
}

#cls-clockpanel .mat-expansion-panel-header-title::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 1px;
  bottom: 0px;
  left: 0;
  border-bottom: 2px solid #282c3f;
}

.leave-matform .mat-form-field-infix {
  padding: .5em 0;
  border-top: 0 solid transparent;
}

.clsbox-width .mat-form-field-infix {
  padding: .5em 0;
  border-top: 0 solid transparent;
}

.clssidemenu .mat-tab-header,
.clssidemenu .mat-tab-nav-bar {
  border-bottom: 0px solid rgba(0, 0, 0, .12);
}

.clssidemenu .mat-tab-label {

  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  /* padding: 20px 0 20px 39px; */
}

.clssidemenu .mat-tab-label-active .mat-tab-label-content {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #1b2436;
}

.mat-salary .mat-tab-header,
.mat-salary .mat-tab-nav-bar {
  border-bottom: 0px solid rgba(0, 0, 0, .12);
}

.clsproccessbonus .mat-form-field-infix {
  padding: .5em 0;
  border-top: 0em solid transparent;
}

.mat-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {

  color: inherit;
}

.example-radio-group .mat-radio-button {
  margin: 5px 1px;
}

.example-radio-group .mat-radio-label-content {

  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.example-radio-group .mat-radio-outer-circle {
  border-color: rgba(255, 255, 255) !important;

}

.moodboot-rating .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #1875f0 !important;

}

.moodboot-rating .mat-chip.mat-standard-chip {
  cursor: pointer;

}

/************** snackbar *************/
.mat-simple-snackbar {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  word-break: break-word;
}

.mat-menubutton {
  border: 0;
  background: transparent;
  padding: 0 0 0 38px;
  cursor: pointer;
  margin-top: -20px;
}

.mat-menu-panel {
  min-width: 141px !important;
  max-width: 285px !important;
}

.mat-button-toggle-button {
  color: #049be5 !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {

  padding: 0px 20px !important;

}

/* btn css */

.slider-btn {
  border: 0 !important;
  padding-left: 35px;
}

.slider-btn .mat-button-toggle-checked {
  background: transparent;

  border-bottom: 2px solid #000;
}

.slider-btn .mat-button-toggle-appearance-standard .mat-button-toggle-button {

  font-size: 14px !important;
  font-weight: 600;

  color: rgba(27, 36, 54, 0.7) !important;
}

.slider-btn .mat-button-toggle {
  margin-right: 24px;
}

.slider-btn.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: 0;
}

.slider-btn .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 58px;
  padding: 0 !important;
}

.slider-btn .mat-button-toggle-checked .mat-button-toggle-button {
  background: transparent;
  font-size: 14px !important;
  font-weight: 600;
  color: #1b2436 !important;
}

.cls-settingformfield .mat-form-field-infix {
  border-top: 0 solid transparent;
}


/* graph tab css */
#garph-tab .mat-tab-header {
  /* border-bottom: 0px solid rgba(0,0,0,.12); */
  /* border: solid 1px rgba(151, 151, 151, 0.28); */
  border: 0;
  padding: 23px 0 23px 0;

}

#garph-tab .mat-tab-label {
  height: auto !important;
  padding: 8px 10px !important;
  min-width: auto !important;
  font-family: "Montserrat", sans-serif !important;
  margin-right: 0;
  opacity: 1 !important;
  color: #1b2436;
  border: solid 1px rgba(151, 151, 151, 0.28);
}

#garph-tab .mat-tab-labels {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

#garph-tab.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: transparent !important;
}

#garph-tab .mat-tab-label-active {
  background-color: #f1f1f1 !important;
}

/*********** dashboard select ***************/
#clsdashboardselect {
  border-radius: 2px;
  border: solid 0.5px #a1a4ac;
  background-color: #ffffff;
  padding: 7px 10px;
  width: 60%;
  margin-left: 20px;
}

#clsdashboardselect.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

#clsdashboardselect.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

#clsdashboardselect .mat-form-field-infix {
  padding: .5em 0;
  border-top: 0 solid transparent;
}

#clsdashboardselect .mat-form-field-ripple {
  background-color: transparent;
}

#clsdashboardselect.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

.chk-chip .mat-icon {
  height: 20px;
  width: 20px;
}

.chk-chip .material-icons {
  font-size: 19px;
}
