.autoCompleteOne,
.autoCompleteTwo {
    width: 100%;
}

.autoCompleteOne .ui-autocomplete-multiple-container,
.autoCompleteTwo .ui-autocomplete-multiple-container {
    width: 100%;
    border-right: 0;
    padding-right: 2em !important;
}

.autoCompleteOne .ui-autocomplete-dropdown,
.autoCompleteTwo .ui-autocomplete-dropdown {
    position: absolute;
    border: 1px solid #d6d6d6;
    right: 0;
    background: white;
    color: black;
    display: none;
}

.autoCompleteOne .ui-inputtext {
    background: transparent;
    font-weight: 500;
    color: #242a3c !important;
    transition: 0.2s;
}

.autoCompleteTwo .ui-inputtext {
    background: transparent;
    font-weight: 500;
    color: #242a3c !important;
    transition: 0.2s;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 14px;
    /* color: #272c3e; */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 18px;
}

.autoCompleteOne .ui-autocomplete-panel .ui-autocomplete-list-item,
.autoCompleteTwo .ui-autocomplete-panel .ui-autocomplete-list-item,
.autoCompleteOnesearch .ui-autocomplete-panel .ui-autocomplete-list-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 10px 20px 10px 10px !important;
    text-align: left;
    word-break: break-all;
}

.autoCompleteOne .ui-state-default {
    border-bottom: 1px solid #d6d6d6;
    border-top: 0px solid #d6d6d6;
    border-left: 0px solid #d6d6d6;
    border-right: 0px solid #d6d6d6;
    background: transparent;
    /* padding: 17px !important; */
}

.autoCompleteOnesearch .ui-state-default {
    border-bottom: 1px solid #d6d6d6;
    border-top: 0px solid #d6d6d6;
    border-left: 0px solid #d6d6d6;
    border-right: 0px solid #d6d6d6;
    background: transparent;
    /* padding: 17px !important; */
}

.autoCompleteOnesearch input {
    padding: 2px !important;
}

.autoCompleteOnesearch .ui-autocomplete-token {
    margin: 5px;
}

.autoCompleteOne.ui-multiselect .ui-multiselect-trigger .fa {
    margin-top: 12px !important;
}

.autoCompleteTwo .ui-state-default {
    border-bottom: 1px solid #d6d6d6;
    border-top: 0px solid #d6d6d6;
    border-left: 0px solid #d6d6d6;
    border-right: 0px solid #d6d6d6;
    background: #fff;
    padding: 17px !important;
}

.autoCompleteOne .ui-inputtext.ui-state-focus,
.autoCompleteOne .ui-inputtext:focus,
.autoCompleteTwo .ui-inputtext.ui-state-focus,
.autoCompleteTwo .ui-inputtext:focus {
    box-shadow: 0px 0px 0px #1f89ce;
}

.ui-corner-all {
    border-radius: 0;
}

li.ui-autocomplete-list-item.ui-corner-all.ui-state-highlight {
    background-color: #ccc;
}

.autoCompleteOne .ui-autocomplete-token,
.autoCompleteTwo .ui-autocomplete-token {
    background: #f5f6f8;
    color: #000;
    margin: 3px 5px;
    padding: 2px 4px !important;
    max-width: 100%;
    width: auto;
}

.ui-autocomplete .ui-autocomplete-panel {
    max-width: 100% !important;
}

.autoCompleteOne .ui-autocomplete-token-label,
.autoCompleteTwo .ui-autocomplete-token-label {
    display: block;
    margin-right: 2em;
    overflow: hidden;
    width: 98%;
    text-overflow: ellipsis;
}

.ui-autocomplete-input-token {
    width: 100%;
}

#searchEmployee .ui-autocomplete-input-token {
    /* width: auto !important; */
    margin-bottom: 0 !important;
}

.ui-autocomplete-input-token input {
    width: 100%;
}

.autoCompleteOne input {
    width: 100%;
}


/* .autoCompleteOne .ui-autocomplete-token .ui-state-highlight{
    width: auto!important;
} */

.prime-floating.ui-float-label>label {
    font-weight: 500;
    left: 0;
    top: 1.28125em;
    color: #28314b !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 14px;
}

.prime-floating .ui-inputtext {
    padding-left: 0 !important;
}

.prime-floating.ui-float-label>input:focus~label,
.prime-floating.ui-float-label>input.ui-state-filled~label,
.prime-floating.ui-float-label>.ui-inputwrapper-focus~label,
.prime-floating.ui-float-label>.ui-inputwrapper-filled~label {
    /* top: -.2em;
  font-size: 12px; */
    color: #6f778b !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
    -webkit-transform: translateY(-1.28125em) scale(0.8) perspective(100px) translateZ(0px) !important;
    transform: translateY(-1.28125em) scale(0.8) perspective(100px) translateZ(0px) !important;
    -ms-transform: translateY(-1.28125em) scale(0.8) !important;
    left: -17px;
    top: 1em;
}

.prime-floating-multi.ui-float-label>input:focus~label,
.prime-floating-multi.ui-float-label>input.ui-state-filled~label,
.prime-floating-multi.ui-float-label>.ui-inputwrapper-focus~label,
.prime-floating-multi.ui-float-label>.ui-inputwrapper-filled~label {
    /* top: -.75em;
  font-size: 12px; */
    color: #6f778b !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
    -webkit-transform: translateY(-1.28125em) scale(0.9) perspective(100px) translateZ(0px) !important;
    transform: translateY(-1.28125em) scale(0.9) perspective(100px) translateZ(0px) !important;
    -ms-transform: translateY(-1.28125em) scale(0.9) !important;
    left: -17px;
}

.prime-floating1.ui-float-label>input:focus~label,
.prime-floating1.ui-float-label>input.ui-state-filled~label,
.prime-floating1.ui-float-label>.ui-inputwrapper-focus~label,
.prime-floating.ui-float-label>.ui-inputwrapper-filled~label {
    /* top: -.2em;
  font-size: 12px; */
    color: #6f778b !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
    -webkit-transform: translateY(-1.28125em) scale(0.8) perspective(100px) translateZ(0px) !important;
    transform: translateY(-1.28125em) scale(0.8) perspective(100px) translateZ(0px) !important;
    -ms-transform: translateY(-1.28125em) scale(0.8) !important;
    left: -17px;
    top: 1em;
}

.prime-floating-multi1.ui-float-label>input:focus~label,
.prime-floating-multi1.ui-float-label>input.ui-state-filled~label,
.prime-floating-multi1.ui-float-label>.ui-inputwrapper-focus~label,
.prime-floating-multi1.ui-float-label>.ui-inputwrapper-filled~label {
    /* top: -.75em;
  font-size: 12px; */
    color: #6f778b !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
    -webkit-transform: translateY(-1.28125em) scale(0.9) perspective(100px) translateZ(0px) !important;
    transform: translateY(-1.28125em) scale(0.9) perspective(100px) translateZ(0px) !important;
    -ms-transform: translateY(-1.28125em) scale(0.9) !important;
    left: -23px;
    top: 1em;
}

.ui-widget {
    font-family: "Montserrat", sans-serif !important;
}

.ui-confirmdialog {
    z-index: 10000 !important;
    right: -180px;
    top: 145px;
    left: auto !important;
    border: 1px solid #4b546e;
    max-width: 390px;
    width: 100%;
}

.ui-dialog-footer .ui-button:first-child {
    margin-right: 57px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: 5px 9px 5px 22px !important;
}

.ui-confirmdialog .ui-widget-header {
    /* border-radius: 4px 4px 0 0; */
    height: 73px;
    line-height: 73px;
}

.ui-confirmdialog .ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    font-size: 18px;
    letter-spacing: 1px;
}

.ui-dialog-footer {
    padding: 27px 20px;
    border-width: 1px 0 0 0;
    text-align: right;
    min-height: auto !important;
}

.ui-confirmdialog .ui-widget-header,
.ui-confirmdialog .ui-dialog-content,
.ui-confirmdialog .ui-dialog-footer {
    border: 0px solid #d5d5d5;
    background: #4b546e !important;
    color: #fff !important;
    border-radius: 0;
}

.ui-confirmdialog .ui-widget-content {
    border: 0px solid #4b546e !important;
    color: #28314b;
    min-height: 81px;
}

.ui-confirmdialog .ui-dialog-content .ui-confirmdialog-message {
    font-size: 11px;
}

.ui-confirmdialog .ui-dialog-titlebar-icon {
    color: #fff;
    display: none !important;
}

.confirmDialog .ui-widget-header,
.confirmDialog .ui-dialog-content,
.confirmDialog .ui-dialog-footer {
    border: 1px solid #4b546e !important;
}

.confirmDialog .ui-corner-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.ui-confirmdialog .ui-widget-header .ui-button,
.ui-confirmdialog .ui-widget-content .ui-button,
.ui-confirmdialog .ui-widget.ui-button,
.ui-button {
    border: 1px solid #fff !important;
    color: #4b546e !important;
    background: #fff;
    transition: background-color 0.2s;
}

.ui-confirmdialog .ui-widget-header .ui-button:enabled:hover,
.ui-confirmdialog .ui-widget-header .ui-button:focus,
.ui-confirmdialog .ui-widget-content .ui-button:enabled:hover,
.ui-confirmdialog .ui-widget-content .ui-button:focus,
.ui-confirmdialog .ui-widget.ui-button:enabled:hover,
.ui-confirmdialog .ui-widget.ui-button:focus,
.ui-confirmdialog .ui-button:enabled:hover,
.ui-confirmdialog .ui-button:focus {
    border: 1px solid #fff !important;
    color: #4b546e !important;
    background: #fff;
    transition: background-color 0.2s;
}

.ql-editor strong {
    font-weight: bold !important;
}


/* .tooltipEmpRight{
    margin-right: 20px;
} */

.tooltipEmpRight .ui-tooltip-text {
    background: #00bfa5;
    border-radius: 3px;
}

.tooltipEmpRight .ui-tooltip-arrow {
    color: #00bfa5;
    border-top-color: #00bfa5 !important;
}

.pEditorWithoutHeder .ui-editor-toolbar {
    padding: 0;
    border-bottom: 0;
}

.sideBarPrimeng .ui-sidebar-close {
    display: none;
}

.codeseriesdatatable {
    background-color: #fff;
    display: table;
    width: 100%;
    padding: 6px 5px 10px;
}

.codeseriesdatatable .mat-select-value {
    text-align: center;
}

.codeseriesdatatable tr th {
    margin: 0;
    padding: 5px 15px !important;
    background-color: #eceff1 !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-align: left !important;
    color: #262e3e !important;
}

.codeseriesdatatable .clsshw {
    padding-right: 10px;
    font-size: 14px;
    color: #1b1d1f;
    font-weight: 500;
    display: inline-flex;
}

.codeseriesdatatable .clsinput {
    padding-right: 15px;
    display: inline-flex;
    max-width: 85px;
    width: 100%;
}

.codeseriesdatatable .clsrecord {
    padding-top: 8px;
    font-size: 14px;
    color: #1b1d1f;
    font-weight: 500;
    display: inline-flex;
}

.codeseriesdatatable .leftdiv {
    float: left;
    width: 80%;
}

.codeseriesdatatable .rightdiv {
    float: right;
    width: 20%;
    /* padding: 21px 0 8px; */
}

.codeseriesdatatable .ui-paginator-page {
    margin: 0;
    padding: 6px 14px;
    border-radius: 0;
    border: solid 1px #c4c6cb !important;
}

.codeseriesdatatable .ui-paginator-prev {
    border: solid 1px #c4c6cb !important;
    border-radius: 3px 0px 0px 3px;
}

.codeseriesdatatable .ui-paginator-next {
    border: solid 1px #c4c6cb !important;
    border-radius: 0px 3px 3px 0px;
}

.codeseriesdatatable .ui-paginator-bottom {
    padding-right: 39px;
    padding-bottom: 17px;
    padding-top: 5px;
}


/******* end css *************/


/************* custom table css ***********/

.customTable table tr th {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    padding: 10px 15px !important;
    background-color: #eceff1 !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 0px solid #d5d5d5 !important;
    border-top: 0px solid #d5d5d5 !important;
    border-left: 0px solid #d5d5d5 !important;
    border-right: 0px solid #d5d5d5 !important;
    /* white-space: nowrap; */
}

.customTable table tr td {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    padding: 10px 15px !important;
    font-size: 12px;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 1px solid #eceff1 !important;
    border-top: 0px solid #eceff1 !important;
    border-left: 0px solid #eceff1 !important;
    border-right: 0px solid #eceff1 !important;
}

.customTable .ui-paginator-page {
    margin: 0;
    padding: 6px 0px;
    height: 30px !important;
    width: 30px;
    border-radius: 0;
    border: solid 1px #c4c6cb !important;
    border: 1px solid #d6d6d6;
    background: #ffffff;
    color: #555555;
}

.customTable .ui-paginator .ui-paginator-page.ui-state-active {
    background: #00bfa5;
    color: #ffffff;
    border-color: #00bfa5 !important;
}

.customTable .ui-paginator .ui-paginator-pages {
    height: 30px;
    margin: 0;
}

.customTable .ui-paginator-first {
    border: solid 1px #c4c6cb !important;
    border-radius: 3px 0px 0px 3px;
    margin: 0;
    padding: 6px 14px;
    height: 30px !important;
}

.customTable .ui-paginator-prev {
    border: solid 1px #c4c6cb !important;
    margin: 0;
    padding: 6px 14px;
    height: 30px !important;
}

.codeseriesdatatable .mat-select {
    box-shadow: none;
}

.customTable .ui-paginator-next {
    border: solid 1px #c4c6cb !important;
    /* border-radius: 0px 3px 3px 0px; */
    margin: 0;
    padding: 6px 14px;
    height: 30px !important;
}

.customTable .ui-paginator-last {
    border: solid 1px #c4c6cb !important;
    border-radius: 0 3px 3px 0;
    margin: 0;
    padding: 6px 14px;
    height: 30px !important;
}

.customTable .ui-paginator-bottom {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #fff;
    border: 0;
    text-align: right;
}

.ReimbursementcustomTable .ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    border: 1px solid #b7bbc5;
}

.ReimbursementcustomTable .ui-table .ui-table-tbody>tr:nth-child(even) {
    background-color: transparent;
}

.ReimbursementcustomTable .ui-table .ui-table-tbody>tr:nth-last-child(1) {
    background-color: #e4e6f5;
}

.ReimbursementcustomTable .ui-table .ui-table-tbody>tr>td:nth-child(1) {
    background-color: #f1f8f7;
}


/* .ReimbursementcustomTable .ui-table .ui-table-tbody > tr:nth-last-child(1) > td{
  background-color: transparent;
  border-top: 1px solid #262e3e !important;
    border-bottom: 1px solid #262e3e !important;
} */

.ReimbursementcustomTable table tr th {
    margin: 0;
    padding: 8px 15px !important;
    background-color: #eceff1 !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 1px solid #d5d5d5 !important;
    border-top: 0px solid #d5d5d5 !important;
    border-left: 0px solid #d5d5d5 !important;
    border-right: 0px solid #d5d5d5 !important;
    /* white-space: nowrap; */
}

.ReimbursementcustomTable table tr td {
    margin: 0;
    padding: 8px 15px !important;
    font-size: 12px;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 0px solid #d5d5d5 !important;
    border-top: 1px solid #d5d5d5 !important;
    border-left: 0px solid #d5d5d5 !important;
    border-right: 0px solid #d5d5d5 !important;
}

.YTDcustomTable table tr th {
    margin: 0;
    padding: 8px 10px !important;
    background-color: #4d5ebb !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-align: left !important;
    color: #f3f3f3 !important;
    border-bottom: 0px solid #e2e2e2 !important;
    border-top: 1px solid #e2e2e2 !important;
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    /* white-space: nowrap; */
}

.YTDcustomTable table tr td {
    margin: 0;
    padding: 8px 10px !important;
    font-size: 12px;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-top: 0px solid #e2e2e2 !important;
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.SalaryYTDcustomTable table tr th {
    margin: 0;
    padding: 8px 10px !important;
    background-color: #4d5ebb !important;
    font-size: 11px;
    font-weight: 500 !important;
    text-align: left !important;
    color: #f3f3f3 !important;
    border-bottom: 0px solid #e2e2e2 !important;
    border-top: 1px solid #e2e2e2 !important;
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    /* white-space: nowrap; */
}

.SalaryYTDcustomTable table tr td {
    margin: 0;
    padding: 8px 10px !important;
    font-size: 10px;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-top: 0px solid #e2e2e2 !important;
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* .YTDcustomTable table tr td:nth-child(1) {
  margin: 0;
  padding: 8px 10px !important;
  font-size: 12px;
  text-align: left !important;
  color: #262e3e !important;
  border-bottom: 1px solid #e2e2e2  !important;
  border-top: 0px solid #e2e2e2  !important;
  border-left: 1px solid #e2e2e2  !important;
  border-right: 1px solid #e2e2e2  !important;
  text-overflow: ellipsis;
  overflow: hidden;
   white-space: nowrap;
} */

.ErrorcustomTable.ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.ErrorcustomTable table tr th {
    margin: 0;
    padding: 8px 15px !important;
    background-color: #eceff1 !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 0px solid #d5d5d5 !important;
    border-top: 0px solid #d5d5d5 !important;
    border-left: 0px solid #d5d5d5 !important;
    border-right: 0px solid #d5d5d5 !important;
    /* white-space: nowrap; */
}

.ErrorcustomTable table tr td {
    margin: 0;
    padding: 8px 15px !important;
    font-size: 12px;
    text-align: left !important;
    color: #262e3e !important;
    border-bottom: 1px solid #eceff1 !important;
    border-top: 0px solid #eceff1 !important;
    border-left: 0px solid #eceff1 !important;
    border-right: 0px solid #eceff1 !important;
}

.ErrorcustomTable p-paginator {
    float: right;
    margin-top: 14px;
    border-top: 1px solid #ccc;
}

.ErrorcustomTable .ui-paginator {
    margin: 0;
    text-align: center;
    padding: 0;
}

.ErrorcustomTable .ui-paginator .ui-paginator-page.ui-state-active {
    background: #00bfa5;
    color: #ffffff;
    border-color: #00bfa5;
}

.ErrorcustomTable .ui-paginator .ui-paginator-page,
.ErrorcustomTable .ui-paginator .ui-paginator-pages,
.ErrorcustomTable .ui-paginator .ui-paginator-next,
.ErrorcustomTable .ui-paginator .ui-paginator-last,
.ErrorcustomTable .ui-paginator .ui-paginator-first,
.ErrorcustomTable .ui-paginator .ui-paginator-prev,
.ErrorcustomTable .ui-paginator .ui-paginator-current {
    display: inline-block;
    min-width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    zoom: 1;
    margin-left: .063em;
    margin-right: .063em;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
}


/************* Report Corusal ************/


/* #Report-carousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: auto;
    display: inline-block;
    float: none;

} */


/* #Report-carousel .ui-carousel .ui-carousel-page-links{

    display: none;
} */

#Report-carousel .ui-carousel-next-button {
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 1;
    background: url(../../assets/images/Right_arrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#Report-carousel .ui-carousel-prev-button {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 1;
    background: url(../../assets/images/Left_arrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#Report-carousel .ui-carousel-next-button.fa-arrow-circle-right:before {
    display: none;
}

#Report-carousel .ui-carousel-prev-button.fa-arrow-circle-left:before {
    display: none;
}

#Report-carousel .ui-widget-header {
    background: transparent;
    border: 0px solid #d9d9d9;
    height: 0;
    padding: 0;
    overflow: visible !important;
}

#Report-carousel .ui-widget-content {
    border: 0px solid #d9d9d9;
}


/* #Report-carousel .ui-carousel .ui-carousel-viewport {
  padding: 10px 10px 21px 10px;
  39px 45px 45px
} */

#Report-carousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 25px 11px;
    padding: 0;
    float: left;
    box-sizing: border-box;
}

#Report-carousel .ui-carousel .ui-carousel-dropdown,
#Report-carousel .ui-carousel .ui-carousel-mobiledropdown {
    display: none;
}

#Report-carousel .clsitems {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border: solid 1px rgba(151, 151, 151, 0.2);
    /* margin-right: 48px; */
    padding: 12px 14px 14px;
    width: 207px !important;
    height: 160px;
}


/* .ui-carousel .ui-carousel-viewport .ui-carousel-items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 2512px;
    left: 0;
} */


/************* ReportCorusal ************/


/* #Report-carousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: auto;
    display: inline-block;
    float: none;

} */


/* #Reportcarousel .ui-carousel .ui-carousel-page-links{

        display: none;
    } */

#Reportcarousel .ui-carousel-next-button {
    position: absolute;
    right: 0;
    top: 7%;
    z-index: 1;
    background: url(../../assets/images/arrowright.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 47px;
    width: 47px;
    margin: 0;
    opacity: 0;
}

#Reportcarousel .ui-carousel-next-button:hover {
    opacity: 1;
}

#Reportcarousel .ui-carousel-prev-button {
    position: absolute;
    left: 0;
    top: 7%;
    z-index: 1;
    background: url(../../assets/images/arrowleft.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 47px;
    width: 47px;
    margin: 0;
    opacity: 0;
}

#Reportcarousel .ui-carousel-prev-button:hover {
    opacity: 1;
}

#Reportcarousel .ui-carousel-next-button.fa-arrow-circle-right:before {
    display: none;
}

#Reportcarousel .ui-carousel-prev-button.fa-arrow-circle-left:before {
    display: none;
}

#Reportcarousel .ui-widget-header {
    background: transparent;
    border: 0px solid #d9d9d9;
    height: 0;
    padding: 0;
}

#Reportcarousel .ui-widget-content {
    border: 0px solid #d9d9d9;
    background-color: transparent;
    color: inherit;
}

#Reportcarousel .ui-carousel .ui-carousel-viewport {
    padding: 0;
    /* 39px 45px 45px */
}

#Reportcarousel .clsitems {
    /* box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13); */
    /* background-color: #ffffff; */
    /* border: solid 1px rgba(151, 151, 151, 0.2); */
    /* margin-right: 48px; */
    padding: 12px 14px 14px;
}

#Reportcarousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 0px;
}

#Reportcarousel .ui-carousel {
    padding: 0;
}

#Report-carousel .ui-carousel .ui-carousel-page-links {
    margin: 0 .5em;
    margin-top: .125em;
    float: none;
    position: absolute;
    bottom: 5px;
    /* text-align: center; */
    /* width: 100%; */
    left: 50%;
    z-index: 9;
}

#Report-carousel .ui-widget-header a {
    color: #0a9b8d;
}


/* .ui-carousel .ui-carousel-viewport .ui-carousel-items {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 2512px;
        left: 0;
    } */


/**************** End ******************/


/************* Report Corusal ************/


/* #Report-carousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: auto;
    display: inline-block;
    float: none;

} */


/****************** LEAVE CAROUSEL  ********************/


/* #Leavecarousel .ui-carousel .ui-carousel-page-links{

    display: none;
} */

#Leavecarousel .ui-carousel-next-button {
    position: absolute;
    right: -15px;
    top: 30%;
    z-index: 1;
    background: url(../../assets/images/arrowright.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin: 0;
    opacity: 0;
}

#Leavecarousel .ui-carousel-next-button:hover {
    opacity: 1;
}

#Leavecarousel .ui-carousel-prev-button {
    position: absolute;
    left: -19px;
    top: 30%;
    z-index: 1;
    background: url(../../assets/images/arrowleft.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin: 0;
    opacity: 0;
}

#Leavecarousel .ui-carousel-prev-button:hover {
    opacity: 1;
}

#Leavecarousel .ui-carousel-next-button.fa-arrow-circle-right:before {
    display: none;
}

#Leavecarousel .ui-carousel-prev-button.fa-arrow-circle-left:before {
    display: none;
}

#Leavecarousel .ui-widget-header {
    background: transparent;
    border: 0px solid #d9d9d9;
    height: 0;
    padding: 0;
}

#Leavecarousel .ui-widget-content {
    border: 0px solid #d9d9d9;
    background-color: transparent;
    color: inherit;
}

#Leavecarousel .ui-carousel .ui-carousel-viewport {
    padding: 0;
    /* 39px 45px 45px */
}

#Leavecarousel .clsitems {
    /* box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13); */
    /* background-color: #ffffff; */
    /* border: solid 1px rgba(151, 151, 151, 0.2); */
    /* margin-right: 48px; */
    padding: 12px 14px 14px;
}

#Leavecarousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 0px;
}

#Leavecarousel .ui-carousel {
    padding: 0;
}


/**************************  END  ******************************/


/* #insidecarousel .ui-carousel .ui-carousel-page-links{

        display: none;
    } */

#insidecarousel .ui-carousel-next-button {
    position: absolute;
    right: 88px;
    top: 5px;
    z-index: 1;
    background: url(../../assets/images/Right_arrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 47px;
    width: 47px;
    opacity: 0;
}

#insidecarousel .ui-carousel-next-button:hover {
    opacity: 1;
}

#insidecarousel .ui-carousel-prev-button {
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 1;
    background: url(../../assets/images/Left_arrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 47px;
    width: 47px;
    opacity: 0;
}

#insidecarousel .ui-carousel-prev-button:hover {
    opacity: 1;
}

#insidecarousel .ui-carousel-next-button.fa-arrow-circle-right:before {
    display: none;
}

#insidecarousel .ui-carousel-prev-button.fa-arrow-circle-left:before {
    display: none;
}

#insidecarousel .ui-widget-header {
    background: transparent;
    border: 0px solid #d9d9d9;
    height: 0;
    padding: 0;
}

#insidecarousel .ui-widget-content {
    border: 0px solid #d9d9d9;
    width: auto !important;
}

#insidecarousel .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 0;
}

#insidecarousel .tab-name {
    margin-right: 56px;
}

#insidecarousel .ui-carousel .ui-carousel-viewport {
    /* padding: 39px 0px 45px; */
    /* 39px 45px 45px */
    width: 90%;
    float: left;
}

#insidecarousel .clsitems {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border: solid 1px rgba(151, 151, 151, 0.2);
    /* margin-right: 48px; */
    padding: 12px 14px 14px;
    width: 207px !important;
    height: 160px;
}


/* .ui-carousel .ui-carousel-viewport .ui-carousel-items {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 2512px;
        left: 0;
    } */

.primeTab {
    background: transparent;
    color: #262e3e;
    border-bottom: 0px solid #d6d6d6 !important;
    font-size: 12px;
}

.primeTab.ui-tabview .ui-tabview-nav>li.ui-state-default {
    background: transparent;
    border-bottom: 0px solid #d6d6d6 !important;
}

.primeTab.ui-tabview-left>.ui-tabview-nav {
    height: 100% !important;
    background-color: #fff;
    padding: 15px 5px;
    width: 20%;
}

.primeTab.ui-tabview-left>.ui-tabview-panels {
    float: right;
    width: 80%;
}

.primeTab.ui-state-default a {
    font-size: 12px;
}

.primeTab.ui-tabview .ui-tabview-panel {
    height: 100% !important;
    background-color: #fff;
    margin-left: 2px;
    min-height: 350px;
    padding: 30px 37px;
}

.primeTab.ui-tabview .ui-tabview-nav li.ui-tabview-selected a,
.primeTab.ui-tabview .ui-tabview-nav li.ui-state-disabled a,
.primeTab.ui-tabview .ui-tabview-nav li.ui-state-processing a {
    color: #00bfa5;
    width: 100%;
}

.primeTab.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon,
.ui-tabview .ui-tabview-nav li .ui-tabview-right-icon {
    float: right;
    padding: 8px 0 0 0;
}

.primeTab.ui-tabview .ui-tabview-nav li .ui-tabview-title {
    float: left;
}

.primeTab.ui-tabview .ui-tabview-nav li a {
    float: none;
    display: block;
    padding: 0px 5px;
    height: 30px;
    line-height: 30px;
}

.primeSidebar .ui-sidebar-close {
    display: none !important;
}

.primeSidebar {
    padding: 0 !important;
}


/* ---------------------------------------------prime ng css -------------------------------------*/

.autoCompleteOne {
    width: 100% !important;
}


/* .ui-corner-all {border-radius: 0 !important;} */

.ui-state-highlight {
    border-color: #f0f2f4 !important;
    background: #f0f2f4 !important;
    color: #272c3e !important;
}

.ui-dropdown-panel .ui-dropdown-item {
    padding: 10px 10px !important;
}

.ui-inputtext {
    padding: 5px 5px !important;
}

.ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 12px !important;
}

.ui-multiselect .ui-multiselect-label {
    padding: 8px 5px !important;
}

.ui-multiselect-header .ui-multiselect-filter-container {
    width: 90% !important;
}

.ui-multiselect-header .ui-inputtext {
    padding: 6px 6px 6px 30px !important;
}

.ui-multiselect-header .ui-multiselect-filter-container .fa {
    position: absolute;
    top: 10px;
    left: 5px;
}

.ui-multiselect-header .ui-multiselect-close {
    top: 8px !important;
}

.ui-multiselect-panel .ui-multiselect-item {
    padding: 10px 10px !important;
}

.ui-chkbox .ui-state-default {
    border: 1px solid #d6d6d6;
}

.ui-autocomplete-items .ui-state-highlight {
    background-image: url(../images/selected-tick.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right 5px !important;
}

.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box.ui-state-active {
    border: 1px solid #00bfa5 !important;
    background: #00bfa5 !important;
}

.ui-chkbox .ui-chkbox-box {
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
}

#Global-Empsearch .app-attendance-search {
    margin-top: 5px;
}

#Global-Empsearch .app-attendance-search .ui-autocomplete .ui-autocomplete-input {
    padding: 10px !important;
    font-size: 12px;
}

#Global-action .autoCompleteTwo .ui-state-default {
    margin-top: 5px;
    padding: 5px !important;
    border: 1px solid #e3e3e3 !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) !important;
    background: #f4f6f9;
    min-height: 39px;
}

#Global-pageaction .autoCompleteTwo .ui-state-default {
    margin-top: 5px;
    padding: 5px !important;
    border: 1px solid #e3e3e3 !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) !important;
    width: 100%;
    height: 39px;
    font-size: 12px;
    background: #f4f6f9;
}

#Global-action .ui-autocomplete .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover,
#Global-action .ui-autocomplete .ui-autocomplete-multiple-container:not(.ui-state-disabled):focus {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) !important;
}

#Global-action .autoCompleteTwo .ui-autocomplete-multiple-container input {
    font-size: 12px;
}

#dashboard-search .app-attendance-search .ui-autocomplete .ui-autocomplete-input {
    padding: 7px !important;
    font-size: 12px;
}


/************ Dilog css **********/

.commonDialog {
    left: 49% !important;
    border-radius: 4px;
}

.commonDialog .ui-widget-header {
    background: transparent !important;
}

.commonDialog .ui-widget-content {
    border: 0px solid #d5d5d5;
}


/* .ReportDialog{

} */

.ReportDialog .ui-widget-header {
    background: transparent !important;
    padding: 36px 34px 30px 29px !important;
}

.ReportDialog .content-panel {
    border: 0px solid #d5d5d5;
    padding: 0px 34px 30px 29px !important;
}

.ReportDialog .ui-dialog-footer {
    padding: 0;
}

.ReportDialogpopup .ui-widget-header {
    background: transparent !important;
    padding: 36px 34px 30px 34px !important;
}

.ReportDialogpopup .ui-timepicker {
    background: transparent !important;
    padding: 6px 0px !important;
}

.ReportDialogpopup .content-panel {
    border: 0px solid #d5d5d5;
    padding: 0px 34px 30px 29px !important;
}

.ReportDialogpopup .ui-dialog-footer {
    padding: 0;
}

.ReportDialogpopup.ui-dialog .ui-dialog-titlebar-icon {
    display: none;
}

.AttandenceDialog .ui-widget-header {
    background: transparent !important;
    display: none;
}

.AttandenceDialog .ui-widget-content {
    border: 0px solid #d5d5d5;
}

.AttandenceDialog .ui-dialog-footer {
    padding: 0;
}

.RightDialog {
    left: auto !important;
    right: 37px !important;
    top: 120px !important;
    border-radius: 4px;
}

.RightDialog .ui-widget-header {
    background: transparent !important;
}

.RightDialog .ui-widget-content {
    border: 0px solid #d5d5d5;
}

.RightDialog .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 1em !important;
}

.RightDialog-footer {
    padding: 15px 0 10px;
    float: right;
}

.pDialog {
    border-radius: 4px;
}

.pDialog .ui-widget-header {
    background: transparent !important;
}

.pDialog .ui-widget-content {
    border: 0px solid #d5d5d5;
}

.pDialog .ui-dialog-footer {
    padding: 0;
}

.removeheader .ui-dialog-titlebar {
    display: none;
}


/************************* custom tab css ******************/

.custom-tab .ui-widget-content {
    border: 0px solid #d5d5d5;
    background: transparent;
    color: inherit;
}

.custom-tab .ui-tabview .ui-tabview-panel {
    padding: 20px 37px 80px 20px;
    clear: both;
    margin-top: 58px;
}

.custom-tab .ui-tabview .ui-tabview-nav li.ui-tabview-selected a,
.custom-tab .ui-tabview .ui-tabview-nav li.ui-state-disabled a,
.custom-tab .ui-tabview .ui-tabview-nav li.ui-state-processing a {
    cursor: pointer !important;
    border-bottom: 2px solid #1b2436 !important;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #1b2436;
}

.custom-tab .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    border-bottom: 0 !important;
    top: 1px !important;
    margin-left: 55px;
}

.custom-tab .ui-tabview.ui-tabview-top>.ui-tabview-nav li:first-child {
    margin-left: 0px;
}

.custom-tab ul {
    top: 42px;
    background: #fff;
    padding: 0px 20px 0px 32px !important;
    z-index: 9;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 0;
    position: fixed;
    width: 100% !important;
}

.custom-tab .ui-tabview .ui-tabview-nav li a {
    float: left;
    padding: 0 !important;
    text-decoration: none;
    height: 58px;
    line-height: 58px;
    font-family: Montserrat;
    font-size: 14px;
    color: #28314b;
}

.custom-tab .ui-tabview {
    padding: 0;
}

.ui-scrollpanel-bar-y {
    width: 8px !important;
}

.ui-scrollpanel-bar {
    background: #1c2436 !important;
}

p-scrollpanel .ui-widget-content {
    border: 0 !important;
}

.custom-form-list1 .ui-widget-content {
    background: transparent !important;
}


/* .ui-widget-content {
    background: transparent!important;
} */


/******************* Tab Css *******************/

#TabAcc .ui-tabview {
    padding: 0 !important;
}

#TabAcc .ui-tabview .ui-tabview-panel {
    padding: 0 !important;
}

#TabAcc .ui-tabview.ui-tabview-top>.ui-tabview-nav {
    padding: 0;
}

#TabAcc .ui-tabview .ui-tabview-nav li a {
    padding: 0em 0em 0 5em;
    width: 99%;
}

#TabAcc .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    top: 0;
}

#TabAcc .justify-content-start {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px !important;
}

#TabAcc .LeftTab,
#TabAcc .RightTab {
    padding: 0 !important;
    width: 50%;
    margin-right: 0 !important;
}

#TabAcc .LeftTab a,
#TabAcc .RightTab a {
    height: 64px !important;
    line-height: 64px !important;
    margin: 2px;
}

#TabAcc .LeftTab a:hover,
#TabAcc .RightTab a:hover {
    color: #1b2436;
}

#TabAcc .LeftTab.ui-tabview-selected a {
    /* background-image: url('../images/right_tab.png');  */
    background-position: top right;
    background-repeat: space;
    border-radius: 0;
    border-bottom: 0;
    margin: 2px;
    background-color: #1ebfa5;
    color: #fff;
}

#TabAcc .RightTab.ui-tabview-selected a {
    /* background-image: url(../images/left_tab.png); */
    background-position: top left;
    background-repeat: space;
    border-radius: 0;
    border-bottom: 0;
    margin: 2px;
    background-color: #1ebfa5;
    color: #fff;
}

#TabAcc .tab-content>.active {
    margin-top: 0 !important;
}

.clssidebar {
    padding: 33px 22px 19px 34px !important;
}

.clssidebar .fa-fw {
    font-size: 19px;
}

.clstimediv1 .ui-inputtext {
    padding: 0px 0px !important;
    background-color: transparent;
    width: 100%;
}

.clstimediv1 .ui-calendar {
    display: block;
}

.calendar-headerpanel .fc-toolbar {
    padding-bottom: 0;
    margin-bottom: 0;
    border-top: 1px dashed #979797;
}

.calendar-headerpanel .ui-widget-content {
    border-left: 1px solid #d5d5d5 !important;
    border-right: 1px solid #d5d5d5 !important;
}

.calendar-headerpanel .fc th.fc-sun,
.calendar-headerpanel .fc th.fc-tue,
.calendar-headerpanel .fc th.fc-thu,
.calendar-headerpanel .fc th.fc-sat {
    background: #efeeee;
}

.calendar-headerpanel .fc th.fc-mon,
.calendar-headerpanel .fc th.fc-wed,
.calendar-headerpanel .fc th.fc-fri {
    background: #efeeee;
}

.calendar-headerpanel .fc .fc-button-group .ui-state-active {
    background: #068370 !important;
    color: #ffffff !important;
}

.calendar-headerpanel .ui-widget-header .ui-button,
.calendar-headerpanel .ui-widget-content .ui-button,
.calendar-headerpanel .ui-widget.ui-button,
.calendar-headerpanel .ui-button {
    border: 1px solid #00bfa5 !important;
    color: #ffffff !important;
    background: #00bfa5 !important;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.Attandence-tab .mat-tab-header,
.Attandence-tab .mat-tab-nav-bar {
    background: #fff;
    padding: 0 30px;
    border-bottom: 0;
}

.attandence-accord.ui-accordion .ui-accordion-header a {
    padding: 0.5em 0 !important;
    font-weight: 500;
}

.attandence-accord.ui-accordion .ui-accordion-header a:hover {
    background-color: transparent !important;
}

.attandence-accord .ui-state-default {
    border-bottom: 0 !important;
    border-top: 0 !important;
    margin-top: 32px !important;
}

.attandence-accord .ui-accordion .ui-accordion-header {
    background: transparent !important;
    border-top: 0px solid #d9d9d9 !important;
}

.attandence-accord .ui-accordion-header-text {
    float: left;
}

.attandence-accord .ui-accordion-header-text:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    bottom: 0px;
    left: 0px;
    border-bottom: 2px solid #282c3f;
}

.attandence-accord.ui-accordion .ui-accordion-header.ui-state-active {
    background: transparent !important;
}

.attandence-accord .ui-widget-content {
    background: transparent !important;
}

.column-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.column-section {
    display: flex;
    align-content: center;
    align-items: center;
}

.column-margin {
    margin: 0 10px;
}


/**************** Tab View ******************/

.horizontal_tab ul>li {
    position: relative !important;
    overflow: visible !important;
    border-right: 6px solid transparent !important;
    border-left: 15px solid transparent !important;
    border-bottom: 0 !important;
}

.horizontal_tab {
    padding: 0 !important;
}

.horizontal_tab .ui-tabview-nav {
    padding: 0 !important;
}

.horizontal_tab .ui-tabview {
    padding: 0 !important;
}

.horizontal_tab .ui-tabview .ui-tabview-nav {
    padding: 0 !important;
}

.horizontal_tab ul>li+li {
    margin-left: 0 !important;
    border-bottom: 0 !important;
}

.horizontal_tab ul>li:first-child {
    border-left: 0 !important;
}

.horizontal_tab ul>li:first-child a {
    border-radius: 3px 0 0 3px !important;
}

.horizontal_tab ul>.completedTab:first-child a {
    border-radius: 3px 0 0 3px !important;
    background-color: #00c0a5;
    color: #fff;
}

.horizontal_tab ul>.completedTab:not(:last-child) a:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 20px 0 20px 20px !important;
    border-color: transparent transparent transparent #00c0a5 !important;
    z-index: 150;
}

.horizontal_tab ul>li:last-child {
    border-right: 0 !important;
}

.horizontal_tab ul>li:last-child a {
    border-radius: 0 5px 5px 0 !important;
}

.horizontal_tab ul>li a {
    border-radius: 0 !important;
    background-color: #eee;
    padding: 10.5px 15px !important;
    /* border: 1px solid #eee!important; */
}

.horizontal_tab ul>.completedTab a {
    border-radius: 0 !important;
    background-color: #00c0a5;
    padding: 10.5px 15px !important;
    color: #fff;
    /* border: 1px solid #eee!important; */
}

.horizontal_tab ul>.completedTab:not(:first-child) a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 20px 0 20px 20px !important;
    border-color: #00c0a5 #00c0a5 #00c0a5 transparent !important;
    z-index: 150;
}

.horizontal_tab ul>li:not(:last-child) a:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 20px 0 20px 20px !important;
    border-color: transparent transparent transparent #eee !important;
    z-index: 150;
}

.horizontal_tab ul>li:not(:first-child) a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 20px 0 20px 20px !important;
    border-color: #eee #eee #eee transparent !important;
    z-index: 150;
}

.horizontal_tab ul>.ui-tabview-selected:hover:not(:last-child) a:after {
    border-color: transparent transparent transparent #4e5a84 !important;
}

.horizontal_tab ul>.ui-tabview-selected:hover:not(:first-child) a:before {
    border-color: #4e5a84 #4e5a84 #4e5a84 transparent !important;
}

.horizontal_tab ul>.ui-tabview-selected:hover a {
    background-color: #4e5a84 !important;
    color: #fff !important;
}

.horizontal_tab ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent #4e5a84 !important;
}

.horizontal_tab ul>.ui-state-active:not(:first-child) a:before {
    border-color: #4e5a84 #4e5a84 #4e5a84 transparent !important;
}

.horizontal_tab ul>.ui-state-active a {
    background-color: #4e5a84 !important;
    color: #fff !important;
}

.horizontal_tab.ui-tabview .ui-tabview-panel {
    padding: 0 !important;
}

aw-wizard .wizard-steps.vertical {
    position: relative !important;
    top: -9px !important;
    max-width: calc(100% - 228px) !important;
    width: 100% !important;
}


/************** vertical tab css ***********************/

#verticaltab .ui-tabview-left>.ui-tabview-nav {
    height: calc(100vh - 190px);
    background-color: rgba(75, 84, 110, 0.17);
    padding: 3px 0px 10px 3px;
    width: 20%;
    margin-right: 20px;
    overflow: auto;
}

#verticaltab .ui-tabview {
    padding: 0 !important;
    margin-top: 10px;
    border-top: 1px solid #eee;
}

#verticaltab .ui-tabview-left>.ui-tabview-panels {
    float: right;
    width: 77%;
    padding: 38px 0 0 0;
}

#verticaltab ul>.ui-state-active a,
#verticaltab ul>.ui-state-active a:hover {
    background: #fff !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #1ebfa5 !important;
    border-radius: 0px 0 0 0px !important;
}

#verticaltab ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab ul>li:not(:last-child) a:after {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 0px 0 0px 0px !important;
    border-color: transparent transparent transparent transparent !important;
    z-index: 150;
}

#verticaltab ul>li:not(:first-child) a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 0px 0 0px 0px !important;
    border-color: transparent transparent transparent transparent !important;
    z-index: 150;
}

#verticaltab ul>li {
    position: relative !important;
    overflow: visible !important;
    border-right: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-bottom: 0 !important;
    margin: 0 !important;
}

#verticaltab ul .ui-tabview.ui-tabview-left {
    margin: 0 !important;
}

#verticaltab ul>li a {
    border-radius: 0 !important;
    background-color: transparent;
    padding: 10px 15px !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #272c3e;
    width: 100%;
    margin-bottom: 4px;
}


/* .verticaltab ul > .ui-tabview.ui-tabview-left>.ui-tabview-nav li, .verticaltab ul > .ui-tabview.ui-tabview-right>.ui-tabview-nav li{
    display: block;
    float: none;
    white-space: normal;
    width: auto;
} */

#verticaltab ul>.ui-tabview-selected:hover:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab ul>.ui-tabview-selected:hover:not(:first-child) a:before {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab ul>.ui-tabview-selected:hover a {
    background-color: #fff !important;
}

#verticaltab ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab ul>.ui-state-active:not(:first-child) a:before {
    border-color: transparent transparent transparent transparent !important;
}


/************** Leave-verticaltab tab css ***********************/

#Leave-verticaltab .ui-tabview-left>.ui-tabview-nav {
    height: calc(100vh - 162px);
    background-color: rgba(75, 84, 110, 0.17);
    padding: 3px 0px 10px 3px;
    width: 20%;
    margin-right: 20px;
    overflow: auto;
}

#Leave-verticaltab .ui-tabview {
    padding: 0 !important;
    margin-top: 10px;
    border-top: 1px solid #eee;
}

#Leave-verticaltab .ui-tabview-left>.ui-tabview-panels {
    float: right;
    width: 77%;
    padding: 20px 0 0 0;
}

#Leave-verticaltab ul>.ui-state-active a,
#Leave-verticaltab ul>.ui-state-active a:hover {
    background: #fff !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #1ebfa5 !important;
    border-radius: 0px 0 0 0px !important;
}

#Leave-verticaltab ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#Leave-verticaltab ul>li:not(:last-child) a:after {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 0px 0 0px 0px !important;
    border-color: transparent transparent transparent transparent !important;
    z-index: 150;
}

#Leave-verticaltab ul>li:not(:first-child) a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 0px 0 0px 0px !important;
    border-color: transparent transparent transparent transparent !important;
    z-index: 150;
}

#Leave-verticaltab ul>li {
    position: relative !important;
    overflow: visible !important;
    border-right: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-bottom: 0 !important;
    margin: 0 !important;
}

#Leave-verticaltab ul .ui-tabview.ui-tabview-left {
    margin: 0 !important;
}

#Leave-verticaltab ul>li a {
    border-radius: 0 !important;
    background-color: transparent;
    padding: 10px 15px !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #272c3e;
    width: 100%;
    margin-bottom: 4px;
}


/* .verticaltab ul > .ui-tabview.ui-tabview-left>.ui-tabview-nav li, .verticaltab ul > .ui-tabview.ui-tabview-right>.ui-tabview-nav li{
    display: block;
    float: none;
    white-space: normal;
    width: auto;
} */

#Leave-verticaltab ul>.ui-tabview-selected:hover:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#Leave-verticaltab ul>.ui-tabview-selected:hover:not(:first-child) a:before {
    border-color: transparent transparent transparent transparent !important;
}

#Leave-verticaltab ul>.ui-tabview-selected:hover a {
    background-color: #fff !important;
}

#Leave-verticaltab ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#Leave-verticaltab ul>.ui-state-active:not(:first-child) a:before {
    border-color: transparent transparent transparent transparent !important;
}

#SettingCal .ui-inputtext {
    width: 100% !important;
}

.cursor-auto {
    cursor: auto;
}

.document-uploader .ui-fileupload-buttonbar {
    height: 0;
    padding: 0;
    border: 0;
}

.document-uploader .ui-fileupload-choose {
    position: relative;
    top: 49px;
    z-index: 1;
    background: transparent;
    left: 41%;
    border: 0px solid transparent !important;
}

.document-uploader .ui-fileupload-choose .ui-button-icon-left {
    display: none;
}

.document-uploader .ui-fileupload-content {
    padding: 0;
    border: 0;
}

.document-uploader .ui-fileupload-choose .ui-button-text {
    cursor: pointer;
    text-decoration: underline;
    font-family: Montserrat;
    font-size: 12px;
    color: #00bfa5;
}

.document-uploader .ui-fileupload-files {
    display: none;
}

.document-uploader p-progressbar {
    display: none;
}

.document-uploader .ui-fileupload-choose:not(.ui-state-disabled):hover,
.document-uploader .ui-fileupload-choose.ui-state-focus {
    border: 1px solid transparent;
    background: transparent;
    outline: 0 none;
}


/*************** P-table css *********************/

.SalaryGrid table tr th {
    margin: 0;
    padding: 0.9em 1em !important;
    background-color: #f5f5f5 !important;
    font-size: 12px;
    font-weight: 600 !important;
    text-align: left;
    color: #262e3e !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0px solid rgba(151, 151, 151, 0.5) !important;
    /* white-space: nowrap; */
}

.SalaryGrid table tr td {
    margin: 0;
    padding: 0 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-align: left;
    color: #262e3e;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5) !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.SalaryGrid table tr td .spacing {
    padding: 0.5em 1em !important;
    display: block;
}

.SalaryGrid table tr:last-child>td {
    border-bottom: 0px solid rgba(151, 151, 151, 0.5) !important;
}

.SalaryGrid .ui-table-tbody>tr:nth-child(even) {
    background-color: transparent !important;
}

.SalaryGrid .mat-form-field-wrapper {
    padding-bottom: 1em;
}

.SalaryGrid {
    border: 1px solid rgba(151, 151, 151, 0.5) !important;
}

.sidebar-close-abs .ui-sidebar-close {
    position: absolute;
    right: 25px;
    top: 15px;
}

.cls-salaryinput .mat-form-field-infix {
    border-top: 0em solid transparent;
}

.cls-salaryinput .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}

.cls-salaryinput.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}

.cls-salaryinput.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
}

.cls-salaryinput.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    padding-left: 10px;
}

.cls-salaryinput.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
}

.cls-salaryinput.mat-form-field-appearance-legacy .mat-form-field-ripple {
    top: 0;
    height: 0;
    overflow: hidden;
}

.cls-salaryinput input.mat-input-element {
    margin-top: 0;
    border: solid .5px rgba(151, 151, 151, 0.5);
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.cls-salaryinput input.mat-input-element:focus {
    border-color: #00bfa5;
}

.cls-salaryinput .mat-input-element:disabled {
    color: rgba(0, 0, 0, .38);
    background-color: #f8f8f9;
}

.cls-salaryinput .mat-form-field-label-wrapper {
    top: 0;
    padding-top: 0;
}

.cls-salaryinput .mat-input-element {
    vertical-align: middle;
}

.cls-salaryinput.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    height: 0;
}

.matmin-width {
    max-width: 180px;
    position: absolute;
    right: 25px;
    top: 15px;
}

.matmin-width.mat-form-field {
    display: inline-block !important;
}


/************** vertical tab css ***********************/

#verticaltab-co .ui-tabview-left>.ui-tabview-nav {
    height: calc(100vh - 90px);
    background-color: rgba(75, 84, 110, 0.17);
    padding: 3px 0px 10px 3px;
    width: 20%;
    margin-right: 20px;
    overflow: auto;
}

#verticaltab-co .ui-tabview {
    padding: 0 !important;
    margin-top: 10px;
    border-top: 1px solid #eee;
}

#verticaltab-co .ui-tabview-left>.ui-tabview-panels {
    float: right;
    width: 77%;
    padding: 10px 0 0 0;
}

#verticaltab-co ul>.ui-state-active a,
#verticaltab-co ul>.ui-state-active a:hover {
    background: #fff !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #1ebfa5 !important;
    border-radius: 0px 0 0 0px !important;
}

#verticaltab-co ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab-co ul>li:not(:last-child) a:after {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 0px 0 0px 0px !important;
    border-color: transparent transparent transparent transparent !important;
    z-index: 150;
}

#verticaltab-co ul>li:not(:first-child) a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    border-width: 0px 0 0px 0px !important;
    border-color: transparent transparent transparent transparent !important;
    z-index: 150;
}

#verticaltab-co ul>li {
    position: relative !important;
    overflow: visible !important;
    border-right: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-bottom: 0 !important;
    margin: 0 !important;
}

#verticaltab-co ul .ui-tabview.ui-tabview-left {
    margin: 0 !important;
}

#verticaltab-co ul>li a {
    border-radius: 0 !important;
    background-color: transparent;
    padding: 10px 15px !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #272c3e;
    width: 100%;
    margin-bottom: 4px;
}


/* .verticaltab-co ul > .ui-tabview.ui-tabview-left>.ui-tabview-nav li, .verticaltab-co ul > .ui-tabview.ui-tabview-right>.ui-tabview-nav li{
display: block;
float: none;
white-space: normal;
width: auto;
} */

#verticaltab-co ul>.ui-tabview-selected:hover:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab-co ul>.ui-tabview-selected:hover:not(:first-child) a:before {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab-co ul>.ui-tabview-selected:hover a {
    background-color: #fff !important;
}

#verticaltab-co ul>.ui-state-active:not(:last-child) a:after {
    border-color: transparent transparent transparent transparent !important;
}

#verticaltab-co ul>.ui-state-active:not(:first-child) a:before {
    border-color: transparent transparent transparent transparent !important;
}


/*********************** Pro-table css ***********************/

#pro-table .ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tfoot>tr>td {
    border: 0;
}

#pro-table .ui-table .ui-table-tbody>tr>td {
    border: 0;
}

.ui-table .ui-table-tbody>tr>td {
    word-break: break-word;
}


/*********** custom button css **************/

.clsregpub .ui-splitbutton .ui-button {
    background: #00bfa5;
    border: 1px solid #00bfa5 !important;
    color: #fff !important;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600 !important;
    border-radius: 0px !important;
    height: 40px;
    line-height: 40px;
}

.clsregpub .ui-splitbutton .ui-button:hover {
    background: #00bfa5;
    border: 1px solid #00bfa5 !important;
}

.clsregpub .ui-menu .ui-menuitem {
    text-align: left;
}

.clsregpub .ui-button-text-icon-left .ui-button-text {
    padding: 0 !important;
}

.lettertemplate.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.formsselect .mat-form-field-infix {
    padding: 0.5em 0;
    border-top: 0 solid transparent;
}

.employee-dialog .ui-widget-header {
    background: transparent !important;
}

.ui-sidebar-bottom-right {
    bottom: 0 !important;
    right: 0 !important;
    left: auto !important;
}

#dashboard-search {
    background: #fff;
    padding: 0px 30px;
    position: relative;
    margin: 20px 8% 0;
    border-radius: 30px;
    width: 84%;
}

#dashboard-search .ui-state-default {
    width: 100%;
    border-bottom: 0;
}

#dashboard-search .app-attendance-search .ui-autocomplete .ui-autocomplete-input {
    font-size: 12px;
}

.themepopup {
    top: 70px !important;
    width: 176px !important;
    min-width: 176px !important;
}

.themepopup .ui-dialog-content {
    padding: 0em 0.75em !important;
}

.themepopup .ui-widget-header {
    background: transparent;
    padding: 5px 8px 0 0 !important;
}

.emp-overlay-pannel {
    left: 15px !important;
    top: auto !important;
    bottom: 96px;
}


/******* dialog box css ***************/

.confirmed-dialog.ui-dialog.ui-widget .ui-dialog-titlebar {
    display: none;
}

.confirmed-dialog {
    max-width: 600px !important;
    min-height: 256px !important;
    width: 100%;
    /* height: 100%; */
    padding: 23px 19px;
}


/******* dialog box css ***************/

.salaryDashboardPopup.ui-dialog.ui-widget .ui-dialog-titlebar {
    display: none;
}

.salaryDashboardPopup {
    max-width: 600px !important;
    /* min-height: 256px!important; */
    width: 100%;
    /* height: 100%; */
    padding: 23px 19px;
}

.salaryDashboardPopup p {
    font-size: 16px;
    font-weight: 600;
}


/************************* Employee search css **************************/

.employee-search {
    top: auto !important;
}

.employee-search .ui-widget-header {
    background: transparent 0 0 repeat-x;
    min-height: 50px;
}


/* .employee-search.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 25px 0 15px 0;
} */


/* .employee-search.ui-dialog.ui-widget .ui-dialog-titlebar{
  padding: 0;

} */


/* .employee-search.ui-dialog.ui-widget .ui-dialog-content {
  padding: 0;
} */

.employee-search.ui-dialog .ui-dialog-titlebar-icon {
    position: absolute;
    padding: 0;
    right: 15px;
    top: 15px;
    z-index: 9;
    display: none;
}

.employee-searchcard .ui-widget-header {
    background: transparent 0 0 repeat-x;
}

.employee-searchcard.ui-dialog .ui-dialog-content {
    min-height: 165px;
    padding-top: 40px;
}


/*********** ORG CHART CSS ******************/

.ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node {
    border: 0;
    background: transparent;
    margin-bottom: 5px;
}

.node-content img {
    border-radius: 100%;
}

.node-content {
    width: 120px;
}

.node-header {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #199be5;
    padding: 3px 0 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.node-subheader {
    font-size: 9px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 5px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-subheader:before {
    content: " ";
    position: absolute;
    width: 36px;
    height: 1px;
    bottom: 2px;
    left: 37%;
    border-bottom: 2px solid #282c3f;
    right: 50%;
}

.ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
    position: absolute;
    bottom: -14px;
    margin-left: -7px;
    z-index: 2;
    left: 50%;
}

.teamautocomplete {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(151, 151, 151, 0.27);
    margin-bottom: 10px;
}

.teamautocomplete .ui-autocomplete-multiple-container {
    width: 100%;
    border-right: 0;
    padding-right: 2em !important;
}

.teamautocomplete .ui-autocomplete-dropdown {
    position: absolute;
    border: 1px solid #d6d6d6;
    right: 0;
    background: white;
    color: black;
    display: none;
}

.teamautocomplete .ui-inputtext {
    background: transparent;
    color: #222222;
    transition: 0.2s;
    width: 100%;
    border-bottom: 0;
    line-height: 20px;
    padding: 10px !important;
}

.teamautocomplete .ui-autocomplete-items .ui-state-highlight {
    background-position: right 5px !important;
    padding: 8px;
}

.pi-arrow-circle-left:before {
    display: none;
}

.pi-arrow-circle-right:before {
    display: none;
}

#Report-carousel .ui-state-disabled {
    cursor: default !important;
    display: none;
}


/************* side bar workflow css *********************/

#sidebarworkflow .workflow_base {
    background-color: #ffffff;
    margin: 50px 0 0;
    text-align: center;
    display: flex;
    /* min-height: 574px; */
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
}

#rhflow .workflow_base {
    background-color: #ffffff;
    margin: 50px 0 0;
    text-align: center;
    display: flex;
    min-height: 574px;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
}

.Reminderpopup {
    min-width: 450px !important;
}

.Reminderpopup .ui-widget-header {
    padding: 40px 40px 0 !important;
    background: transparent !important;
    font-size: 18px;
    font-weight: 800;
}

.Reminderpopup.ui-dialog.ui-widget .ui-dialog-content {
    padding: 20px 40px 40px !important;
}

.Reminderpopup.ui-dialog .ui-dialog-titlebar-icon {
    display: none;
}

.statuspopup {
    min-width: 300px !important;
    width: 1000px !important;
    margin: auto;
}

.statuspopup .ui-widget-header {
    padding: 20px !important;
    background: transparent !important;
}

.salaryDashboardPopup {
    min-width: 300px !important;
    margin: auto;
}

.salaryDashboardPopup .ui-widget-header {
    padding: 20px !important;
    background: #ffffff !important;
}


/********** loader css *************/

.ui-autocomplete-loader {
    color: #00bfa5;
    font-size: 30px;
    font-weight: 800;
}

.ui-table-loading-icon {
    color: #00bfa5;
    font-size: 30px;
    font-weight: 800;
}

.ui-widget-content {
    color: #28314b !important;
    font-weight: 500;
}


/************ dialog box css ***************/

.previewdilog .ui-dialog-titlebar {
    background: transparent;
    padding: 20px !important;
}

.previewDialog .ui-widget-header {
    background: #ffffff 0 0 repeat-x;
    background: #fff;
    font-size: 16px;
    padding: 18px !important;
    margin: 0;
    font-weight: 500;
}


/************ QR-Code box css ***************/

.QR_code .ui-dialog-titlebar {
    background: transparent;
}

.QR_code .ui-widget-header {
    /* background: #ffffff 0 0 repeat-x;
  background: #fff; */
    font-size: 16px;
    padding: 12px 18px 0px !important;
    margin: 0;
    font-weight: 500;
}

.QR_code.ui-dialog .ui-dialog-titlebar-icon {
    display: none;
}

.QR_code .btnclose {
    float: right;
    color: #fff !important;
}

.QR_code {
    background-color: #4b546e;
    border: 1px solid #4b546e;
}

.QR_code.ui-dialog.ui-widget .ui-dialog-content {
    padding: 0em 1.5em 2em;
}

.employeesearch-popup .ui-dialog-titlebar {
    background: transparent;
}

.employeesearch-popup .ui-widget-header {
    background: #28314b 0 0 repeat-x;
    background: #28314b;
    font-size: 16px;
    padding: 1em 2em !important;
    margin: 0;
    font-weight: 500;
    color: #fff;
}

.employeesearch-popup.ui-widget-content {
    color: #fff;
    font-weight: 500;
    background: #28314b;
    border: 1px solid #28314b;
}

.employeesearch-popup.ui-dialog .ui-dialog-titlebar-icon {
    color: #0c0c0c;
    border-color: #f5f5f5;
    background-color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 6px;
    font-size: 21px;
}

.employeesearch-popup.ui-dialog .ui-dialog-titlebar-icon:hover {
    border-color: #f1f1f1;
    background: #f1f1f1;
    color: #0c0c0c;
}

#fileupload .fileLabel {
    min-width: 100px;
    width: auto;
    margin-top: 3px;
}

#fileupload .ui-widget-header .ui-button,
#fileupload .ui-widget-content .ui-button,
#fileupload .ui-widget.ui-button,
#fileupload .ui-button {
    border: 1px solid transparent !important;
    background: transparent !important;
    outline: 0 none;
    color: #00bfa5 !important;
    margin-top: 28px;
}

#fileupload .ui-button-icon-left {
    left: 0;
    display: none;
}

#fileupload .ui-button-text-icon-left .ui-button-text {
    padding: 5px 0px !important;
}


/* .customTable table {
  table-layout: auto !important;
} */

#Reimfileupload .fileLabel {
    min-width: 100px;
    width: auto;
    margin-top: 3px;
}

#Reimfileupload .ui-widget-header .ui-button,
#Reimfileupload .ui-widget-content .ui-button,
#Reimfileupload .ui-widget.ui-button,
#Reimfileupload .ui-button {
    border: 1px solid transparent !important;
    background: transparent !important;
    outline: 0 none;
    color: #00bfa5 !important;
    margin-top: 0px;
    text-decoration: underline !important;
}

#Reimfileupload .ui-widget-header:hover .ui-button:hover,
#Reimfileupload .ui-widget-content:hover .ui-button:hover,
#Reimfileupload .ui-widget.ui-button:hover,
#Reimfileupload .ui-button:hover {
    color: #73ded0 !important;
}

#Reimfileupload .ui-button-icon-left {
    left: 0;
    display: none;
}

#Reimfileupload .ui-button-text-icon-left .ui-button-text {
    padding: 5px 0px !important;
}

.salaryYTD .ui-widget-header {
    background: #fff 0 0 repeat-x !important;
    background: #fff;
    border-bottom: 1px dotted #ccc !important;
    padding: 0 !important;
    margin: 15px 25px 0;
}

.salaryYTD.ui-dialog .ui-dialog-titlebar-icon {
    display: none;
}

.salaryYTD.ui-dialog.ui-widget .ui-dialog-content {
    padding: 0;
}

.salaryYTD .ui-dialog-footer {
    padding: 0;
    border-width: 0px 0 0 0;
    text-align: center;
    min-height: auto !important;
}

.salaryYTD.ui-widget-content {
    border: 0;
}

.closeicon {
    position: absolute;
    right: 65px;
    margin-top: 15px;
}

.pi-spin {
    -webkit-animation: fa-spin 1.2s infinite linear !important;
    animation: fa-spin 1.2s infinite linear !important;
}


/* .pi-spinner:after {
  border-radius: 50%;
  content: " " !important;
  width: 30px !important;
  height: 30px !important;
  display: block !important;
  box-sizing: border-box;
  border-top: solid 6px #00c8b4;
  border-right: solid 6px #00c8b4;
  border-bottom: solid 6px #00c8b4;
  border-left: solid 6px #bababa;
  position: absolute;
  left: 0;
  top: 0;

} */

.pi-spinner:before {
    border-radius: 50% !important;
    content: " " !important;
    width: 28px !important;
    height: 28px !important;
    display: block !important;
    box-sizing: border-box !important;
    border-top: solid 5px #00c8b4 !important;
    border-right: solid 5px #00c8b4 !important;
    border-bottom: solid 5px #00c8b4 !important;
    border-left: solid 5px #e0e8f0 !important;
    -webkit-animation: cp-round-animate 1.2s ease-in-out infinite;
    animation: cp-round-animate 1.2s ease-in-out infinite;
}


/*     calendar css */


/* #ar_calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background-color: #186ba0!important;
  color: #ffffff !important;
} */

#ar_calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
    background-color: #ffc107 !important;
    padding: 0;
    border-radius: 100%;
}

#ar_calendar .ui-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
}

#ar_calendar .ui-widget-header {
    background: transparent;
    border: 0px solid #d9d9d9;
    font-weight: 600;
    font-size: 12px;
    padding: 25px 0 15px;
}

#ar_calendar .ui-widget-content {
    border: 0px solid #D5D5D5;
}

#ar_calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td {
    border-bottom: 0px solid rgba(213, 213, 213, 0.5);
    padding: 0px;
    text-align: center;
}

#ar_calendar .ui-datepicker .ui-datepicker-prev,
#ar_calendar .ui-datepicker .ui-datepicker-next {
    top: 25px;
}

#ar_calendar .ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
    background-color: #fff;
}

#ar_calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a {
    padding: 0px 0;
    margin: 5px;
}

#ar_calendar .ui-state-highlight {
    border-color: transparent !important;
    background: transparent !important;
    color: #00c7b4 !important;
}

#ar_calendar .ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
    background-color: #ffc107;
    padding: 0;
    border-radius: 100%;
}

.ui-state-disabled table td a:hover {
    background-color: transparent !important;
}

.ui-state-disabled table td a .cls-normal-text:hover {
    background-color: transparent !important;
    color: initial !important;
}

#ar_calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active .cls-normal-text {
    /* background-color: #ffc107 !important; */
    color: #ffffff !important;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin: 0 auto;
    padding: 5px;
}

#ar_calendar .ui-datepicker td>span,
#ar_calendar .ui-datepicker td>a {
    display: inline-block;
    margin: 5px;
}

#search-regularization .cls-attendancespace {
    padding: 20px 15px;
    background: #f4f6f9;
    margin: 0 15px;
}

#search-onduty .cls-ondutyspace {
    padding: 15px 15px;
    background: #f4f6f9;
    margin: 0 15px;
}


/* .ui-dialog-resizable .ui-dialog-content{
  max-height: 545px;
} */


/*
.clsupload-file.ui-fileupload.ui-widget {
  border: 0!important;
  display: flex;
  flex-direction: column-reverse;
}
.clsupload-file .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  background: transparent;
  border: 0;
}

.clsupload-file .ui-widget-header .ui-button, .clsupload-file .ui-widget-content .ui-button, .clsupload-file .ui-widget.ui-button{
  background: transparent;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  height: 130px;
  width: 130px;
}
.clsupload-file .ui-button-icon-only .ui-button-icon-left, .ui-button-text-icon-left .ui-button-icon-left, .ui-button-text-icon-right .ui-button-icon-right {
  position: relative;
  top: auto;

  height: 1em;
  font-size: 40px;
  color: #01bfa6;
  font-weight: 300;
  line-height: 73px;
  margin-top: auto;
  left: auto;
}

.clsupload-file .ui-button-text-icon-left .ui-button-text {
  padding: 19px 9px 5px 12px !important;
  font-size: 18px;
  font-weight: 800;
  color: #01bfa6;
  text-transform: uppercase;
} */

.small-dilog {
    width: 380px;
    height: 294px;
    border-radius: 6px;
}

.small-dilog.ui-dialog.ui-widget .ui-dialog-content {
    padding: 1em 1.5em;
    text-align: center;
}

.small-dilog.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.cls-chln aw-wizard-navigation-bar.vertical.small ul.steps-indicator {
    padding: 21px 5px 5px 33px !important;
}

.clsreimbursement .mat-form-field-infix {
    border-top: 0em solid transparent;
}

.clsreimbursement {
    margin-top: -7px;
}

.loan-tbl .ui-table table {
    border-collapse: initial;
}

.loan-tbl table {
    border-spacing: 0;
}

.loan-tbl table tr td {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.customTable table tr:last-child td {
    border-bottom: 0 !important;
}

.clscolorchange.ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #e0f2f1;
}

.clscolorchange.ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    background-color: #95ece8;
}

.clscolorchange.ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #00bfa5 !important;
}

.biometric-popup {
    background: #4b546e;
    border: 1px solid #4b546e;
}

.biometric-popup.ui-dialog.ui-widget .ui-dialog-titlebar {
    display: none;
}

.moodbot-dia.ui-dialog.ui-widget .ui-dialog-titlebar {
    background: transparent;
    padding: 1em 1.5em 0;
}

.moodbot-dia.ui-dialog.ui-widget .ui-dialog-content {
    padding: 0em 1.5em;
}

.moodbot-dia.ui-dialog .ui-dialog-titlebar-icon {
    display: none;
}

.investment.ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 1em 1.5em;
    display: none;
}

.investment {
    padding: 24px 58px;
}

.investment.ui-dialog.ui-widget .ui-dialog-content {
    padding: 0;
}


/* NPS and USER rating css */

.cls-userrating.ui-dialog.ui-widget .ui-dialog-titlebar,
.cls-NPS.ui-dialog.ui-widget .ui-dialog-titlebar {
    display: none;
}

.cls-userrating.ui-dialog.ui-widget .ui-dialog-content,
.cls-NPS.ui-dialog.ui-widget .ui-dialog-content {
    padding: 40px 80px;
}


/* .ui-rating {
    font-size: 3.50em;
    margin-top: 10px;
}
.ui-rating a {
    color: #cfd8dc;
    margin: 5px;
}
.ui-rating .pi-star-o:hover {
    color: #ffca54;
    text-shadow: 2px 0px 1px #f99830;
    transform: scale(1.3);
}
.pi-star-o:before{
    content: "\2605";
    text-shadow: 2px 0px 1px #607d8b;
    transition: all .2s ease-in-out;
}

.pi-star:before{
    content: "\2605";
    text-shadow: 2px 0px 1px #f99830;
    color: #ffca54;
    transition: all .2s ease-in-out;
} */


/* My Team */

.Myteamautocomplete {
    width: calc(100% - 51px);
    background: #fff;
    border-radius: 4px 0 0 4px;
    /* box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15); */
    border: solid 1.5px #e5e5e5;
    padding: 9px;
    border-right: 0;
}

.Myteamautocomplete .ui-autocomplete-multiple-container {
    width: 100%;
    border-right: 0;
    padding-right: 2em !important;
}

.Myteamautocomplete .ui-autocomplete-dropdown {
    position: absolute;
    border: 1px solid #d6d6d6;
    right: 0;
    background: white;
    color: black;
    display: none;
}

.Myteamautocomplete .ui-inputtext {
    background: transparent;
    color: #222222;
    transition: 0.2s;
    width: 100%;
    border-bottom: 0;
    line-height: 20px;
    padding: 0px !important;
}

.Myteamautocomplete span.ui-autocomplete.ui-widget {
    width: 92%;
}

.Myteamautocomplete .ui-autocomplete-items .ui-state-highlight {
    background-position: right 0px !important;
}

.cls-manager {
    width: 100%;
}

.cls-manager.ui-autocomplete .ui-autocomplete-input {
    padding: 10px 0 !important;
    width: 100%;
}

.cls-manager .ui-autocomplete-panel .ui-autocomplete-list-item {
    padding: 10px;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    padding: 8px;
}

.viewdilog.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.statuspopup1.ui-dialog.ui-widget .ui-dialog-titlebar {
    display: none;
}


/* Styling By Ajay============== */

.json-pop-up.ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 1em 1.5em;
    display: none;
}

.json-pop-up.ui-dialog.ui-widget .ui-dialog-content {
    height: 100%;
}

.audittrail-flyer-table .ui-table-scrollable-body {
    max-height: calc(100vh - 310px) !important;
}

.chk-chip .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #1875f0!important;
    color: #fff!important;
}