.chat-inner{
    position: relative;
    .messagebox{
        .bot-header{
            padding: 10px 16px;
            background: #F89406;
            figure{
                width: 32px;
            }
            b{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #fff;
                letter-spacing: 0.4px;
            }
            span{
                width: 12px;
                cursor: pointer;
            }
        }
       
    }
    .chat-list{
        min-height: 300px;
        background: #f2f2f2;
        padding-bottom: 60px;
        overflow: auto;
        max-height: 300px;
        padding: 16px 24px;
        .you{
            margin-bottom: 16px;
            justify-content: flex-end;
            .you-chat{
                background: #ffdfb1;
                padding: 3px 8px;
                border-radius: 4px;
                p{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #363637;
                    margin: 0;
                    word-break: break-all;
                }
            }
        }
        .jenifer{
            margin-bottom: 16px;
            figure{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                overflow: hidden;
            }
            .jeni-inner{
                background: #fff;
                width: calc(100% - 40px);
                padding: 6px 10px;
                border-radius: 4px;
                p{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #363637;
                    margin: 0;
                    word-break: break-all;
                }
            } 
        }
    }
    .sendmessage{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        .send-inner{
            position: relative;
            button{
                position: absolute;
                right: 0;
                top: 0;
                width: 32px;
                background: #f89406;
                border: none;
                height: 44px;
                width: 42px;
                padding: 11px;
            
            }
            input{
                border: none;
                height: 44px;
                font-size: 12px;
                padding: 0 53px 0 16px;
                color: #363637;
                width: 100%;
            }
        }
    }
}
