<div class="chat-inner">
  <div class="messagebox">
    <div class="bot-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <figure class="m-0 mr-3"><img src="assets/images/bot.png" alt="Chat Box"></figure>
        <b>Have any querry?</b>
      </div>
      <span>
        <img src="assets/images/close-white.png" (click)="callParent()" alt="">
      </span>
  
    </div>
    <div class="chat-list">
      <ng-container *ngFor="let message of messages | async">
        <div class="you d-flex" *ngIf="message.sentBy==='user'">
          <div class="you-chat">
            <p>
              {{ message.content }}
            </p>
          </div>
          
          
        </div>
        <!-- <div class="you" [ngClass]="{ 'to':   message.sentBy === 'user' }">
         
        </div> -->
        <div class="jenifer d-flex" *ngIf="message.sentBy==='bot'">
          <figure class="m-0 mr-2"><img src="assets/images/bot.png" alt="Chat Box"></figure>
          <div class="jeni-inner">
            <p>{{ message.content }}</p>
          </div>
         
          
        </div>
        <!-- <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot' }">
         
        </div> -->
      </ng-container>
    </div>
  
  </div>
  <div class="sendmessage">
    <div class="send-inner">
      <input [(ngModel)]="formValue" placeholder="Type a message.." (keyup.enter)="sendMessage()" type="text">
      <button (click)="sendMessage()">
        <img src="assets/images/send.png" alt="">
      </button>
    </div>

  </div>
</div>
