// @import'../../../../../theme/custom-theme.scss';
// @import'../../../../../assets/scss/button.scss';
@import'../../../../../assets/scss/card.scss';
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.modal-wrapper{
    .popup-header{
        border-bottom: solid 1px #f9f9f9;
        margin-bottom: 16px;
        padding: 0 0 16px;
        h2{
            font-size: 16px;
            font-weight: 500;
            color: #363637;
            letter-spacing: 0.3px;
        }
        figure{
            width: 16px;
        }
    }
    .popup-content{
        mat-card {
            box-shadow: none;
            padding: 0;
            .content-inner{
                background: #FEFEFE;
                border: 1px solid #F5F5F5;
                box-sizing: border-box;
                box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
                border-radius: 9px;
                padding: 24px;
                h2{
                    font-family: poppins;
                    font-size: 16px;
                    font-weight: 500;
                    color: #363637;
                    letter-spacing: 0.3px;
                    line-height: 24px;
                }
                h3{
                    font-family: poppins;
                    color: #363637;
                    font-size: 12px;
                    opacity: 0.65;
                    margin: 16px 0 16px;
                    letter-spacing: 0.3px;
                }
            }
          
        }
    
    }
}
button{
    &:focus{
        outline: none;
    }
}
.err{
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    color: #F96C4D;
    letter-spacing: 0.5px;
}
input{
    border: solid 1px #ddd;
    border-radius: 2px;
    padding: 4px 0 4px 12px;
    font-size: 14px;
    font-family: poppins;
    color: #363637;
}
small{
    margin: 0 8px;
}
label{
    font-size: 14px;
    font-family: poppins; 
    color: #363637;
}
