<!-- <mat-card>

  <br>
  <form #f="ngForm">
    <div>
      <mat-card-title> Are you sure you want to redeem points for the selected offer or Gift Card?
      </mat-card-title>

      <mat-card-content>Enter Number of points you want to redeem</mat-card-content>
      <mat-card-content>
        <input matInput type="number" (keyup)="applyFilter($event)" pattern="[0-9]*"  
        [(ngModel)]="searchValue" required #paytm="ngModel" name="paytm" placeholder="Eg. 1000"/>
      </mat-card-content>
      <mat-card-content>
        <label>{{ convertedPoints }}</label>
        <label>{{ errorMessage }}</label>
      </mat-card-content>
    </div>

    <mat-card-actions>

      <button mat-flat-button color="primary" class="primary-btn rounded-btn btn-h-44 mt-3"
      (click)="submitRequest()" [disabled]='isDisabled'>Submit</button>

      <button mat-button mat-dialog-close [mat-dialog-close]="true" color="primary"
        class="primary-btn rounded-btn btn-h-44 mt-3">Cancel</button>

        <label>{{ successMessage }}</label>
    </mat-card-actions>
  </form>
</mat-card> -->

<div class="modal-wrapper">
  <div class="popup-header d-flex align-items-center justify-content-between">
    <h2>Redeem points</h2>
    <figure class="m-0">
      <img src="assets/images/close.png" alt="" mat-dialog-close>
    </figure>
  </div>
  <form #f="ngForm">
    <div class="popup-content">
      <mat-card>
        <div class="content-inner">
          <h2>Are you sure you want to redeem points for the selected offer or Gift Card?</h2>
          <h3>Enter Number of points you want to redeem</h3>
          <div class="d-flex align-items-center">
            <input matInput type="number" (keyup)="applyFilter($event)" pattern="[0-9]*"  
            [(ngModel)]="searchValue" required #paytm="ngModel" name="paytm" placeholder="Eg. 1000"/> <small>=</small>
            <label class="converted m-0"> {{ convertedPoints }}</label>
          </div>
          
        <span class="err">{{ errorMessage }}</span>
        </div>



        <div class="popup-footer mt-4">

          <div class="footer-cta d-flex align-items-center justify-content-end">
            <button mat-button mat-dialog-close [mat-dialog-close]="true" color="primary"
              class="primary-btn  btn-h-40">Cancel</button>
            <button mat-flat-button color="primary" class="primary-btn btn-h-40 ml-3"
              (click)="submitRequest()" [disabled]='isDisabled'>{{submitButtonText}}</button>

            

          </div>

          <!-- 
          <button mat-button mat-dialog-close [mat-dialog-close]="true" color="primary" *ngIf="offer.ButtonVisible"
            class="primary-btn rounded-btn btn-h-44 mt-3">Cancel</button> -->
        </div>
      </mat-card>
    </div>
  </form>



</div>