


<!-- 
   <mat-progress-bar mode="determinate" value="{{ProfilePercentage}}"></mat-progress-bar>
  Profile :{{ProfilePercentage}}% -->


  <div *ngIf="!NoQuestion" style="overflow: hidden !important;" >
        <dynamic-form-builder *ngIf="fields" [fields]="fields" (valueChange)='SaveAnswer($event)'></dynamic-form-builder>
      </div>
        <div *ngIf="NoQuestion">
  Congratulation! you have answerd all the mandatory questions
</div>
  
  <!-- 
  <div class="col-sm-12">
   <div class="form-group" [formGroup]="form">
      <label>JSON</label>
      <textarea formControlName="fields" class="form-control" rows="3"></textarea>
    </div>
  </div>
   -->