
<div>
<div  *ngIf="optAnswer!=true"  class="opt-quest">
    <mat-card   *ngFor="let question of dataSource ;let index = index">
        <mat-card-title (click)="redirectoReleventpage(question.categoryId,question.totalQuestion>0 && question.points!=question.earnedPoint)">
            {{question.categoryName}} 
            </mat-card-title>
            <mat-card-content (click)="redirectoReleventpage(question.categoryId,question.totalQuestion>0 && question.points!=question.earnedPoint)">Total Questions: {{question.totalQuestion}} <br>
               You can earn upto: {{question.points}} <br>
              Earned Points:  {{question.earnedPoint}}
            </mat-card-content>
            <div *ngIf="question.points==question.earnedPoint" style="color: #f89406;
            opacity: 1;
            font-weight: 300; font-size: small;">No more questions.</div>
    </mat-card>
      <div *ngIf="showloader" class="mat-app-background basic-container d-flex" style="flex-direction: column;">
       
    <h3 class="text-center loadinga">Loading...</h3>
    </div>
</div>
</div>
<ng-template #elseBlock>
    <app-loaderApi></app-loaderApi>
  </ng-template>
  <div *ngIf="optAnswer==true" style="position: relative; height: calc(100vh - 166px);
  overflow: auto;">
    <dynamic-form-builder [fields]="fields"  *ngIf="!NoQuestions"(valueChange)='SaveAnswer($event)'></dynamic-form-builder>
    <div *ngIf="NoQuestions">
      Congratulation! you have answered all the optional questions for this category
    </div>
      <button mat-flat-button color="primary" style="border-top: 5px;" (click)="backtoCategory()" class="btn-h-40 backtoCategory">Back to Category</button>
      
  </div>

