// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.opt-quest{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: calc(100vh - 143px);
    margin: -24px;
    padding: 16px 0 0px 16px;
    .mat-card{
        margin: 0 16px 16px 0;
        box-shadow: none;
        background: #fff;
        padding: 16px 16px 12px;
        width: 46.5%;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
        border: solid 1px #fff;
        &:hover{
            border-color: #ffb100; 
        }
        cursor: pointer;
        mat-card-title{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 4px;
            color: #363637;
        }
        mat-card-content{
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 17px;
            color: #363637; 
            opacity: 0.6; 
        }
    }
}
