// @import'../../../theme/custom-theme.scss';
// @import'../../../assets/scss/button.scss';
@import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
.about-banner {
    height: 60vh;
    padding: 95px 0 32px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    h1 {
        font-size: 44px;
        line-height: 1.3;
        font-weight: 800;
        margin-bottom: 29px;
        color: $themesecondary;
    }
  
    figure {
        width: 44%;
    }
}
.data-wrapper{
    padding: 60px 0;

    #accordion{
        .card{
            margin-bottom: 16px;
            border: none;
            .card-header{
                background: #fff1de;
                border-bottom: none;
                a{
                    color: #363637;
                    font-weight: 500;
                    display: block;
                    font-size: 14px;
                    font-family: Poppins;
                }
            }
            .card-body{
                background: #fff1de;
                border-top: solid 1px #ffe6c5;
                p{
                    color: #363637;
                    font-weight: 300;
                    font-size: 12px;
                    font-family: Poppins;
                    letter-spacing: 0.4px;
                }
                ul{
                    padding: 0;
                    li{
                        color: #363637;
                        font-weight: 400;
                        font-size: 12px;
                        font-family: Poppins;
                        letter-spacing: 0.4px;
                        margin-bottom: 10px; 
                    }
                }
            }
        }
    }
}