<app-header-web></app-header-web>

<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Data Protection</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/data-protection.svg" alt="about-banner">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="data-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                1. Confidentiality and security of personal data ensured at all times.
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Data privacy and security are our primary concerns. Each market survey is analysed
                                    anonymously and the results are accumulated at a level. While conducting market
                                    research for any clients, we ensure that the client only receives the anonymized
                                    results of the study. No personal data is made available to anyone at any stage.
                                </p>
                                <p>
                                    We here at Track Opinion Research Private Limited (Track Opinion), Gurugram,
                                    Haryana, India, 122018 take on the responsibility of securely processing and storing
                                    your personal data.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                2. Data collected in compliance with all the strict legal requirements.
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>Track Opinion and the Opinionest collect data in compliance with the norms of the
                                    Data Protection Authority's guidelines and the provisions of the Data Protection
                                    Act. We follow all the strict requirements to ensure data security and privacy
                                    policy compliance.</p>
                                <p>
                                    Opinionest also works in compliance with ESOMAR code (www.esomar.org) which is an
                                    internationally recognized ethical code for market and opinion research.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                3. Market research does not involve marketing.
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Track Opinion via the Opinionest collects data to map habits, attitudes, preferences
                                    and knowledge of use for commercial and research projects.
                                </p>
                                <p>
                                    As this is merely a data analysis activity which is also conducted anonymously, you
                                    will never receive any third-party advertising. Also, your data will never be used
                                    to urge you into buying products or services. Opinionest will never disclose your
                                    collected personal information to any third parties unless you have explicitly
                                    consented to sharing your data.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                                4. The type of personal data we collect about you and its uses.

                            </a>
                        </div>
                        <div id="collapse4" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    The participant gets the choice to decide what information they share with us. The
                                    participants can share their name, age, gender, zip code, telephone number and
                                    address and we store some of this personal information about you.
                                </p>
                                <p>
                                    This stored information pertaining to your age, gender and geographical location
                                    alongside the answers you have filled in determines what surveys we invite you to.
                                    The aforementioned information will be used to assess whether a user qualifies as
                                    the target audience for a particular study. This is done to reduce the chances of
                                    inviting users to surveys that would be irrelevant to them.
                                </p>
                                <p>
                                    Your contact information is used to invite you to relevant surveys. Once a user
                                    fills in a survey, Opinionest then awards points for participation. Information
                                    about surveys a user’s been invited to, accepted and participated in is also stored
                                    and then used to award Opinionest points. All your answers to any survey question
                                    are never stored under your name. Only your answer is stored, your personal profile
                                    link to the answer is not.
                                </p>
                                <p>
                                    Every bit of information (about you) stored in our secure network is transparently
                                    available under the ‘My Account’ tab on the panel pages.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                                5. Privileges of Membership and the various uses of registered information

                            </a>
                        </div>
                        <div id="collapse5" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    The moment you become a member of Opinionest, you give Track Opinion the right to
                                    analyse data entered in your profile as well as the answers of survey questions. All
                                    the data is anonymized so any names, postal or email addresses, or any kind of
                                    personal information will not be disclosed to any customer without the prior consent
                                    of the user. Each survey participant gets to answer the studies they want to.
                                </p>
                                <p>
                                    You can withdraw your data sharing privileges at any point. Track Opinion never
                                    stores and processes personal data without your consent. To opt out, just exit the
                                    panel. You can also delete your account by logging in, then going to the profile
                                    settings, and deleting the account.
                                </p>
                                <p>
                                    All the information associated to your User ID will be deleted the moment you log
                                    out of the panel. You can read and edit any information through your account ID.
                                </p>
                                <p>
                                    The information submitted in specific audience questions cannot be edited via your
                                    user account. This submitted information can definitely be viewed or deleted by
                                    logging into your user account.
                                </p>
                                <p>
                                    We meticulously monitor our user activity. If our system detects uneventful activity
                                    like answering inaccuraty, making fraudulent answers, etc. we will notify the
                                    suspected members immediately without any prior notice. Our system always checks
                                    response patterns and response time. A suspected member will immediately lose the
                                    saved Opinionest point s on account of the fact their answers cannot be used for
                                    research or data analysis projects.
                                </p>
                                <p>
                                    We strictly prohibit using more than one user account or email address to register
                                    to the panel. Any multiple account detected will be deleted without prior notice to
                                    the user.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                                6. Shelf

                            </a>
                        </div>
                        <div id="collapse6" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    As long as you wish to remain a member of Opinionest, your profile and the associated information will be stored safely with us. Whenever you choose to unsubscribe from Opinionest’s panel, all your information will be deleted within a week.
                                </p>
                                <p>
                                    As our system only processes anonymized data sets, personal information like your email id may be useful to our systems .
                                </p>
                                <p>
                                    For instance, data files are stored to ensure that a member doesn’t receive multiple invites to the same market survey. Every data file of this type will be deleted after 6 months. In specific cases, these data files may be stored for 24 months for follow-up studies. Only our internal systems and processe s use these data files.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
                                7. Rewards

                            </a>
                        </div>
                        <div id="collapse7" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    The points collected on our system can be redeemed for products, donations and electronic coupons. These Opinionest points are allocated to a User ID. Opinionest points redeemed for electronic coupons will require the exchange of a user ID with our system supplier. The supplier will maintain a log of where your user ID, date and product are stored. No information that could potentially identify you will ever be needed. The only information shared will be the one that is required to complete the transaction.
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
                                8. Use of cookies
                  

                            </a>
                        </div>
                        <div id="collapse8" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Cookies are small text files generated in a device once a website is used. These cookies give visitor access to the website enabling features like logging in and checking previous website activity.
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse9">
                                9. Member site cookies and cookies on surveys
                  

                            </a>
                        </div>
                        <div id="collapse9" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Track Opinion and the Opinionest panel use cookies to manage logins on our site and in some of our surveys to provide a better service.
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse10">
                                10. Opinionest Tracking cookies
                  

                            </a>
                        </div>
                        <div id="collapse10" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Opinionnest only uses Cookies for data collection in connection with studies. These cookies are collected only after the use gives explicit permission for cookie collection. The data generated with these cookies enable our customers to create datasets about our users’ digital footprint. That dataset reveals which target groups were impacted by what digital ad campaign. It also has an added advantage of validating how the population of a digital segment looks. This explicit tracking cookies consent can be withdrawn at any moment by logging into your user account.
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse11">
                                11. Third-party cookies
                  

                            </a>
                        </div>
                        <div id="collapse11" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    If the customer explicitly permits, Track Opinion will store their cookies for our customers. Cookies enable better processing of personal data so the answers to the survey questionnaire and these cookies yield accurate results. We place the cookies on behalf of the customer and all this data enables accurate digital behaviour analysis. Mostly, these cookies allow us to identify similar users that can be targeted by the scientists/researches that designed the questions. A user will not receive any marketing material aimed at them.
                                </p>
                                <p>
                                    Track Opinion enables their users to see which third party entities have the permission to share data from a user’s account. This permission can be withdrawn any time via your user account. The user history can be easily deleted by deleting the cookies in your web browser.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse12">
                                12. The Google service - Google Analytics.
                  

                            </a>
                        </div>
                        <div id="collapse12" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Google Analytics provided by Google.Inc is used on this site as a web analytics service tool to determine how users use the site. The tool uses cookies or text files generated in a device once a website is used. The data from the cookies is collected and transferred to Google’s servers in the United States.
                                </p>
                                <p>
                                    Wherever IP anonymization is enabled, the IP address will be truncated. This is specifically applicable within the European Economic Area. In exceptionally rare cases, before the truncation of the IP address, the entire IP address will be transferred to Google's server. Track Opinion enables IP anonymization.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse13">
                                13. The Google service - Google Tag Manager.
                  

                            </a>
                        </div>
                        <div id="collapse13" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Google Tag Manager is a Google service which acts like a digital code management system. This tool never accesses data. It creates codes that contains your personal data but it never overtly collects personal data. Google Tag Manager continues to track all digital tags if it is disabled at the domain or cookie level.
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse14">
                                14. Details about the User ID.
                  

                            </a>
                        </div>
                        <div id="collapse14" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Each new member is assigned an individual user ID the moment they input their contact data and accept the general terms of service. All the registration and transactional information is stored under this User ID. The data stored on each User ID enables us to improve our services as registration data, information from our partners, campaigns and ad information are continuously measured, then analysed. Each user has the right to determine what their User ID stores.
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse15">
                                15. TRACK OPINION’s compliance to the GDPR.
                  

                            </a>
                        </div>
                        <div id="collapse15" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    GDPR or the EU Personal Data Regulation is a data protection EU regulation. It aims to strengthen and align the rights of data protection and privacy for individuals in the EU. The GDPR became enforceable since May 25, 2018.
                                </p>
                                <p>
                                    The GDPR legislates any data protection violations. It has inbuilt sensible data security principles like:
                                </p>
                                <ul>
                                    <li>
                                        1. Personal data collection is minimised
                                    </li>
                                    <li>
                                        2. Any personal information that’s no longer needed is deleted immediately.
                                    </li>
                                    <li>
                                        3. Restrict data access.
                                    </li>
                                    <li>
                                        4. Protect user data as long as its stored in Track Opinion’s database.
                                    </li>
                                </ul>
                                <p>
                                    Track Opinion already has GDPR compliant working systems. For the longest time, we created systems and routines to protect data at all costs for GDPR compliance as well as business data protection.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse16">
                                16. About Privacy and Privacy Policy concerns.
                  

                            </a>
                        </div>
                        <div id="collapse16" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Data about you is collected and processed by Track Opinion exactly as mentioned in this privacy policy. You can contact our Data Protection Officer, Sunita Khurana to ask any questions about personal data processing conducted by Track Opinion Research Private Limited (Track Opinion.)
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-web></app-footer-web>