// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';

.survey-wrapper{
	background: #FFFFFF;
	border-radius: 13px;
	padding: 0;
	margin-top: 60px;
	.survey-header{
		padding: 16px 32px;
		border-bottom: solid 1px #f9f9f9;
		h2{
			font-family: Poppins;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 21px;
			display: flex;
			align-items: center;
			letter-spacing: 0.06em;
			color: #363637;
			span{
				font-size: 12px;
				line-height: 15px;
				display: flex;
				align-items: center;
				letter-spacing: 0.06em;
				margin-left: 4px;
				color: rgba(54, 54, 55, 0.48);
			}
		}
	}
	.survey-list{
		background-color: #fff;
		padding: 24px 32px;
		ul{
			li{
				margin-bottom: 16px;
                background: #FEFEFE;
                border: 1px solid #F5F5F5;
                box-sizing: border-box;
                box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
				border-radius: 9px;
				.inner-card-list{
                    padding: 16px;
                    figure{
                        width: 32px;
                        border: solid 1px #f2f2f2;
                        height: 32px;
                        border-radius: 100%;
                    }
                    .data-view{
                       figure{
						width: 8px;
						border: none;
						cursor: pointer;
					   }
                        .primary-btn{
                            min-width: 86px;
                            font-size: 10px;
                            font-weight: 400;
                            padding: 0 10px;
                            height: 28px;
                            display: flex;
                            align-items: center;
                            &:focus{
                                outline: none;
                            }
                        }
                        label{
                            font-weight: 300;
                            font-size: 10px;
                            line-height: 15px;
                            /* identical to box height */
							text-overflow: ellipsis;
							overflow: hidden;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.06em;

                            color: rgba(54, 54, 55, 0.65);
                        }
                        span{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 21px;
                            /* identical to box height */
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.06em;

                            color: #363637;
                        }
                    }
                    .title{
                        width: 95px;
					}
					.cat{
						width: 110px;
					}
                }
			}
		}
	}
}

.surveyData{
	background: #fff;
	height: 100vh;
	overflow: auto;
	.company-img{
		position: relative;
		height: 235px;
		overflow: hidden;
		figure{
			height: 100%;
			img{
				height: 100%;
				object-fit: cover;
			}
		}
		span{
			background: rgba(248, 148, 6, 0.84);
			border-radius: 6px;
			position: absolute;
			z-index: 9;
			top: 50%;
			left: 0;
			right: 0;
			margin: auto;
			width: 130px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: -20px;
			color: #fff;
			font-size: 15px;
			font-weight: 600;
			letter-spacing: 0.8px;
		}
	}
	.points-info{
		padding: 24px;
		h2{
			font-size: 22px;
			color: #363637;
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 27px;
			margin-bottom: 40px;
			span{
				color: #F89406;
				font-size: 24px;
				font-weight: 800;
			}
		}
		p{
			margin-bottom: 24px;
			font-size: 12px;
			color: #363637;
			opacity: 0.65;
			letter-spacing: 0.6px;
			font-weight: 400;
		
		}
	}
}