
<div class="wrapper">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation ProfilePercentage='{{ProfilePercentage}}' menuIndex='8'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="home-wrapper pl-4">
        <div class="container">
          <div class="row">
            <div class="col-md-9 pl-0">
              <div class="survey-wrapper">
                <div class="survey-header d-flex align-items-center justify-content-between">
                  <h2 class="mb-0 open-survey">Open surveys <span>({{totalRecords}})</span></h2>
                  <div class="wallet">
                    <img src="assets/images/left-side-menu/offers.png" alt="">
                    <span class="ml-1">{{TotalPoints}}  Points</span>
                  </div>
                </div>
                <div class=" col-md-12" style="width: 100%;">
                  <div  class="col-md-2" style="float: left;"> Status:</div>
                  <div  class="col-md-4"  style="float: left;"> 
                     <mat-select ngModel name="selectedItem" (ngModelChange)="SelectCategory()" [(value)]="selected" #selectedItem = "ngModel">
                    <mat-option [value]="0">
                     All
                   </mat-option>
                    <mat-option *ngFor="let sts of SurveyStatus" [value]="sts.id">
                       {{sts.name}}
                    </mat-option>
                  </mat-select>
                </div>
                <div  class="col-md-2"  style="float: left; padding-left: 5px;" hidden>  Category:</div>
                  <div  class="col-md-4" style="float: left;" hidden> 
                     <mat-select ngModel name="selectedCategory"  (ngModelChange)="SelectCategory()" [(value)]="selectedCategory" #selectedItem = "ngModel">
                    <mat-option [value]="0">
                      All
                    </mat-option>
                    <mat-option *ngFor="let cat of SurveyCategory" [value]="cat.id">
                       {{cat.name}}
                    </mat-option>
                  </mat-select>
                </div>
                </div>
               <br>
               <br>
                <div class="survey-list">
                  <ul  *ngIf="!showloaderPage" class="p-0 m-0">
                    <li *ngFor="let field of dataSource" style="cursor: pointer;"  (click)="transfer(field.url)">
                      <div class="inner-card-list d-flex align-items-center justify-content-between">
                        <figure class="m-0">
                          <img src="{{field.imagePath}}">
                          <!-- <img src="assets/images/paytm.png" alt=""> -->
                        </figure>
                        <div class="data-view title">
                          <label class="d-block" for="">Title</label>
                          <span class="d-block">{{field.surveyName}}</span>
                        </div>
                        <div class="data-view cat">
                          <label class="d-block" for="">Category</label>
                          <span class="d-block" title="{{field.category}}">{{field.category}}</span>
                        </div>
                        <div class="data-view">
                          <label class="d-block" for="">Point</label>
                          <span class="d-block">{{field.rewardPoints}} Points</span>
                        </div>
                        <div class="data-view ">
                          <label class="d-block" for="">Point status</label>
                          <span class="d-block">{{field.pointsStatusText}}</span>
                        </div>
                        <div class="data-view">
                          <label class="d-block" for="">Status</label>
                          <span class="d-block">{{field.surveyStatusText}}</span>
                        </div>
                        <div class="data-view">
                          <figure class="m-0">
                            <img src="assets/images/right-arrow.png" alt="right">
                          </figure>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="no-data" *ngIf="showloaderPage">
                    <h1 class="text-center loadinga">Loading...</h1>
                </div>
                  <mat-paginator [length]="totalPages"  *ngIf="totalRecords!=0" pageIndex ="{{pageIndexShow}}" [pageSize]="pageSize" 
                  (page)="getPaginatorData($event)">
                 </mat-paginator>
                </div>
              
                <div class="no-data" *ngIf="totalRecords==0 && !showloaderPage">
                  <figure class="m-0">
                    <img src="assets/images/no-data.png" alt="">
                  </figure>
                  No survey available
                </div>
                
                
              
              </div>
            </div>
            <div class="col-md-3 pr-0" *ngIf="SurveyData">
             
              <div class="surveyData" *ngFor="let field of SurveyData" >
                <div class="company-img">
                  <figure class="m-0">
                    <img src="{{field.imagePath}}" alt="{{field.surveyName}}">
                  </figure>
                  <span class="img-days-left">{{field.leftDate}} days left</span>
                </div>
                <div class="points-info">
                  <h2 class="godaddy-points">Get <span>{{field.rewardPoints}}</span> {{field.surveyName}} Reward
                    Points</h2>
                  <p>Only {{field.leftDate}} days to left to get the points</p>
                  <button mat-flat-button color="primary" (click)="transfer(field.url)"
                    class="primary-btn btn-h-40 mt-2">Get the Points</button>
                </div>
              </div>
            
            </div>

          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>