
@import'../../../../theme/custom-theme.scss';
// @import'../../../../../src/assets/scss/button.scss';

.header-base{
  @include position(absolute, $top: 0px, $right: 0, $bottom: initial, $left: initial);
  background-image: url('../../../../assets/images/pattern/header-pattern.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: calc(100% - 61px);
  nav{
    padding: 8px 32px 12px;
    @include position(fixed, $top: 0px, $right: 0, $bottom: initial, $left: initial);
    width: calc(100% - 61px);
    z-index: 999;
    background: #2ABFCE;
    h1{
      width: 120px;
    }
    .profile-noti{
      .notification-btn{
        position: relative;
        figure{
          width: 24px;
        }
        span{
          @include position(absolute, $top: -1px, $right: -6px, $bottom: initial, $left: initial);
          min-width: 16px;
          height: 16px;
          border-radius: 100%;
          background: #F25353;
          font-size: 0.5rem;
          font-weight: 600;
        }
      }
    }
  }
}
.notification-img {
  height: 67px;
  width: 67px;
}
.notification-custom {
  position: absolute;
  background-color: #fff;
  right: -46px;
  top: 50px;
  width: 400px;
  height: auto;
  border-radius: 10px;
}
.notification {
  font-size: $large-font;
  padding: 10px 0px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.19);
}
.notification-specific-header {
  font-family: Poppins;
  font-size: $default-medium-font;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  color: #13253b;
}
.notification-specific-content {
  font-family: Poppins;
  font-size: $extra-small-font;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.52px;
  color: #b1b1b1;
  width: 90%;
}
.notification-time {
  font-family: Poppins;
  font-size: 0.5625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.44px;
  color: #b1b1b1;
}
.notification-points {
  border-radius: 3px;
    background-color: #fff5e8;
    padding: 6px;
  font-family: Poppins;
  font-size: 0.5625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #f89406;
  position: absolute;
  bottom: 6px;
  right: 2px;
}
.align-item-center {
  align-items: center;
}
.notification-img {
  border-radius: 50%;
}
.content-padding {
  padding: 0px 13px 0px 0px;
}
.p-relative {
  position: relative;
}
.footer-text {
  padding: 10px;;
}
.footer-text p {
  font-family: Poppins;
  font-size: $small-font;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #f89406;
}
.notification-custom::before {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
}
.arrow {
  height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #fff;
    position: absolute;
    right: 50px;
    top: -16px;
}
.color-count {
  color: #fff;
}
.down-arrow {
  width: 12px;
  height: auto;
}
.thumbnail-text {
  background-color: #fff;
    // padding: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-radius: 30px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #f89406;
}
.user-name {
  font-family: Poppins;
    font-size: $default-font;
    font-weight: 500;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0px 10px;
}
.menu-btn:focus {
  outline: none !important;
}
::ng-deep pp-breadcrumbs ol li a {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #ffffff;
}
::ng-deep pp-breadcrumbs ol li a:hover {
  color: #ffffff;
  text-decoration: none;
}
::ng-deep pp-breadcrumbs ol li span {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #ffffff;
}
::ng-deep pp-breadcrumbs ol {
  background-color: transparent !important;
  position: absolute;
  top: 70px;
  left: 12px;
  z-index: 1;
}
::ng-deep .breadcrumb-item+.breadcrumb-item::before {
  content: '>';
  color: #ffffff;
  font-size: 14px;

}
::ng-deep .sub-menu button:focus {
  outline: none !important;
}

