<div class="header-base">
  <nav class="d-flex justify-content-between align-items-center">
    <h1 class="m-0 cursor-pointer" (click)="RedirectToHome()"><img src="assets/images/logo-white.png" alt="logo"></h1>
    <div class="profile-noti d-flex justify-content-between align-items-center">


      <div class="notification-btn cursor-pointer mr-4" (click)="openNotification(!showNotification)">
        <figure  class="m-0"><img src="assets/images/notification-black.png" alt="bell"></figure>
        <span *ngIf="HeaderNotification" class="mdi mdi-bell d-flex justify-content-center align-items-center color-count">{{HeaderNotification.count}}</span>

        <div *ngIf="showNotification" class="notification-custom">
          <div class="arrow"></div>
          <div class="text-center">
            <h2 class="notification m-0">Notifications</h2>
          </div>
          <div class="p-2">
            <div class="d-flex mb-3 p-relative" *ngFor="let notification of Notification">
              <img class="notification-img" src={{getImage(notification.imagePath)}} alt="">
              <div class="content-padding">
              
                <h4 class="notification-specific-header">  {{notification.header}}</h4>
                <p class="notification-specific-content m-0">  {{notification.message}}</p>
              </div>
              <div>
                <p class="notification-time m-0">  {{notification.time}} ago</p>
                <p class="notification-points m-0">Earn Points {{notification.points}}</p>
              </div>
            </div>
           </div>
          <div class="notification-footer">
            <div class="text-center footer-text">
              <p (click)="NotificationClick()">See all incoming activity ></p>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="showNotification && NotificationCount>0" class="notification-content" (clickOutside)="openNotification(false)"
          [exclude]="'.notification-btn'">
          <div class="notification-header">
            <span class="label" *ngFor="let notification of Notification" (click)="NotificationClick()">
              <span><img with="10" height="10" src="{{getImage(notification.header)}}">
              </span>
              <span> {{notification.message}}</span>Notifications
              <span>{{notification.points>0? "Yo have earned "+notification.points:""}}</span>
            </span>
          </div>
        </div> -->
      </div>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="HeaderNotification" class="menu-btn">
        <div class="m-0 d-flex justify-content-center align-items-center"><span class="thumbnail-text text-uppercase">{{HeaderNotification.userName}}</span> 
          <span class="user-name text-capitalize">{{HeaderNotification.fullName}}</span>
          <span class="down-arrow">
            <img class="w-100" src="assets/images/down-arrow.png" alt="">
          </span>
        </div>
      </button>
      <mat-menu #menu="matMenu" class="mt-2 sub-menu">
        <button mat-menu-item (click)="editProfile()">Profile</button>
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>
      <!-- <div class="cursor-pointer" style="padding: 5px;" (click)="editProfile()">
        <div class="m-0"> <span class="thumbnail-text">{{HeaderNotification}}</span> 
          <span class="user-name">{{HeaderNotification}}</span> <span><img class="down-arrow" 
            src="assets/images/down-arrow.png" alt=""></span></div>
      </div> -->
      <!-- <span>profile</span> -->

    </div>


  </nav>

  
  <pp-breadcrumbs></pp-breadcrumbs>
</div>

