<div class="subtitle" *ngIf="showMore && text">
    <div *ngIf="text_length <= limit">
        <p [innerHTML]="text"></p>
    </div>
    <div *ngIf=" text_length> limit">
        <div class="d-flex align-items-end" *ngIf="truncating">
            <p class="" innerHTML="{{text | slice:0:limit}}..."></p>
            <!-- {{text | slice:0:limit}}... -->
            <a class="showmore" (click)="truncating = false">Read More ></a>
        </div>
        <div class="d-flex align-items-end" *ngIf="!truncating">
            <p class="" [innerHTML]="text"></p>
            <!-- {{text}} -->
            <a class="showmore" (click)="truncating = true">Less</a>
        </div>
    </div>
</div>
<div class="subtitle" [style.width]="width" *ngIf="!showMore && text">
   <p>{{text}}</p> 
</div>