<div class="friend-list">
  <div class="right-header mb-3 d-flex align-items-center">
    <figure class="m-0 mr-2 d-flex align-items-center">
      <img src="assets/images/partner.png" alt="">
    </figure>
    <h2 class="m-0 mr-2">My referral</h2>
    <span class="d-flex align-items-center justify-content-center">   {{totalreferals}} </span>
    
  </div>
  <div class="item-list">
    <div class="friend-card d-flex align-items-center justify-content-between" *ngFor="let MyReferral of MyReferrals ;let index = index">
      <figure class="m-0 avatar" style="background: #ced073">{{MyReferral.shortName}}</figure>
      
      <div class="name-time">
        <h2>{{MyReferral.name}}</h2>
        <small class="d-block">{{MyReferral.sentDate}}</small>
      </div>
      <div class="points d-flex align-items-center justify-content-start">
        <figure class="m-0 mr-1 d-flex align-items-center justify-content-center"><img src="assets/images/left-side-menu/offers-active.png" alt=""></figure>
        <span>{{MyReferral.points}} Points</span>
      </div>
      <div [ngClass]="(MyReferral.color=='Green')?'status':(MyReferral.color=='Red')?'redstatus':'yellowstatus'">
        <span>{{MyReferral.status}}</span>
      </div>
    </div>
  </div>
  <div class="referal-points-footer d-flex align-items-center justify-content-between">
    <h2>Total Referral Points</h2>
    <div class="points-wallet d-flex align-items-center justify-content-between">
      <figure class="m-0 mr-1">
        <img src="assets/images/money-bag-color.png" alt="">
      </figure>
      <b>{{referalPoint}} Points</b>
    </div>
  </div>
</div>