// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.friend-list{
  background: #fff;
  height: 100vh;
  overflow: auto;
  padding: 24px 24px 0;
  .right-header{
    figure{
      width: 16px;
    }
    h2{
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      display: flex;
      align-items: center;
      letter-spacing: 0.06em;

      color: #363637;
    }
    span{
      width: 18px;
      height: 18px;
      background-color: #FF5252;
      border-radius: 100%;
      color: #fff;
      font-size: 9px;
    }
  }
  .item-list{
    .friend-card{
      border-bottom: solid 1px #f5f5f5;
      padding: 16px 0;
      .avatar{
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: solid 1px #ddd;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
      }
      .name-time{
        width: 100px;
        h2{
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.06em;
          color: #363637;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-transform: capitalize;
        }
        small{
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 9px;
          line-height: 13px;
          color: rgba(54, 54, 55, 0.65);
          letter-spacing: 0.06em;
        }
      }
      .points{
        width: 100px;
        figure{
          width: 12px;
        }
        span{
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 15px;
          letter-spacing: 0.06em;
          color: #363637;
        }
      }
      .status{
        span{
          display: flex;
          font-size: 8px;
          background: #709C0C;
          border-radius: 22px;
          padding: 2px 4px;
          color: #fff;
          letter-spacing: 0.2px;
          width: 100px;
          justify-content: center;
        }
      }
      .yellowstatus{
        span{
          display: flex;
          font-size: 8px;
          background: #dab900;
          border-radius: 22px;
          padding: 2px 4px;
          color: #fff;
          letter-spacing: 0.2px;
          width: 100px;
          justify-content: center;
        }
      }
      .redstatus{
        span{
          display: flex;
          font-size: 8px;
          background: #792014;
          border-radius: 22px;
          padding: 2px 4px;
          color: #fff;
          letter-spacing: 0.2px;
          width: 100px;
          justify-content: center;
        }
      }
    }
  }
  .referal-points-footer{
    box-shadow: 0px -1px 11px rgba(0, 0, 0, 0.04);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 24px;
    h2{
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      color: #363637;
      letter-spacing: 0.06em;
    }
    .points-wallet{
      figure{
        width: 16px;
      }
      b{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 0.06em;
        color: #F89406;
      }
    }
  }
}


