<div class="wrapper">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation ProfilePercentage='{{ProfilePercentage}}' menuIndex='5'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="home-wrapper">

        <div class="forum-card pl-4">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="survey-tabs table-responsive">
                  <button mat-flat-button color="primary" (click)="Navigate('0')" class="createCta">Create
                    survey</button>
                  <mat-tab-group  *ngIf="forumCount else elseBlock" (selectedTabChange)="surveyChange($event)" class="offers-tab">
                    <mat-tab label="My Survey ({{forumCount.mySurvey}})">

                      <div *ngIf="Mysurvey">
                        <ul class="m-0 p-0">
                          <li *ngFor="let srv of Mysurvey; let index = index"
                            class="d-flex align-items-center justify-content-between mb-3">
                            <div class="data-view title">
                              <label class="d-block" for="">Title</label>
                              <span class="d-block">{{srv.title}} </span>
                            </div>
                            <div class="data-view desc">
                              <label class="d-block" for="">Description</label>
                              <span class="d-block">{{srv.description}}</span>
                            </div>
                            <div class="data-view limit">
                              <label class="d-block" for="">Limit</label>
                              <div class="d-flex align-items-center">
                                <mat-progress-bar mode="determinate" class="limit-bar" mode="determinate"
                                  value="{{srv.surveyLimit}}"></mat-progress-bar> <span>{{srv.limit}}</span>
                              </div>

                            </div>
                            <div class="data-view status">
                              <label class="d-block" for="">Status</label>
                              <span class="d-block">{{srv.status}} </span>
                            </div>
                            <div class="data-view clicks">
                              <b class="d-block">{{srv.totalClicks}}</b>
                              <small class="d-block">Clicks</small>
                            </div>
                            <div (click)="Navigate(srv.surveyId)" style="cursor:pointer" class="data-view 0">
                              <figure class="m-0"><img src="assets/images/right-arrow.png" alt="" ></figure>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="no-data" *ngIf="!Mysurvey">
                        <figure class="m-0">
                          <img src="assets/images/no-data.png" alt="">
                        </figure>
                        No survey available
                      </div>
                    </mat-tab>
                    <mat-tab label="Other Survey ({{forumCount.otherSurvey}})">
                  
                      <ul *ngIf="Othersurvey" class="m-0 p-0 other-survey">
                        <li  *ngFor="let field of Othersurvey" class="d-flex align-items-center justify-content-between">
                          <div class="data-view title">
                            <label class="d-block" for="">Title</label>
                            <span class="d-block">{{field.title}}</span>
                          </div>
                          <div class="data-view desc">
                            <label class="d-block" for="">Description</label>
                            <span class="d-block">{{field.description}}</span>
                          </div>
                          <div class="data-view limit">
                            <label class="d-block" for="">Earn points</label>
                            <span class="d-block">{{field.points}}</span>

                          </div>
                          <div class="data-view status">
                            <label class="d-block" for="">Status</label>
                            <span class="d-block open">{{field.status}}</span>
                            <!-- <span class="d-block">Close</span> -->
                          </div>
                          <div (click)="NavigateOther(field.surveyId)" style="cursor:pointer" class="data-view goto">
                            <figure class="m-0"><img src="assets/images/right-arrow.png" alt="" ></figure>
                          </div>

                        </li>
                      </ul>
                      <div class="no-data" *ngIf="!Othersurvey">
                        <figure class="m-0">
                          <img src="assets/images/no-data.png" alt="">
                        </figure>
                        No Survey available
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                  <ng-template #elseBlock>
                    <app-loaderApi></app-loaderApi>
                  </ng-template>
                </div>
               
              </div>
              <div class="col-md-3 pr-0">
                <div class="forum-img">
                  <img src="assets/images/create-survey.png" alt="Image">

                </div>
              </div>
            </div>
          </div>

        </div>

       

      </div>
    </mat-drawer-content>
    </mat-drawer-container>
  </div>
