// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.survey-tabs{
	background: #FFFFFF;
	border-radius: 4px;
	margin-top: 60px;
	position: relative;
	.createCta{
		position: absolute;
		z-index: 99;
		right: 8px;
		top: 9px;
		border: solid 1px #f89406;
		background: transparent;
		color: #f89406;
		height: 33px;
		padding: 0px 9px;
		line-height: 30px;
		&:focus{
			outline: none;
		}
	}
	ul{
		li{
			background: #FFFFFF;
			border: 1px solid #F0F0F0;
			box-sizing: border-box;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03);
			border-radius: 9px;
			padding: 16px;
		}
	}
	.data-view{
		label{
			font-family: Poppins;
			font-weight: 300;
			font-size: 10px;
			line-height: 15px;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			letter-spacing: .06em;
			color: rgba(54,54,55,.65);
		}
		span{
			font-family: Poppins;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 600;
			font-size: 12px;
			line-height: 21px;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			letter-spacing: .06em;
			color: #363637;
			white-space: nowrap;

		}
		figure{
			width: 8px;
			cursor: pointer;
		}
	}
	.title{
		width: 18%;
	}
	.desc{
		width: 24%;
		padding-right: 8px;
	}
	.limit{
		width: 25%;
		mat-progress-bar{
			width: calc(100% - 50px);
		}
		span{
			width: 50px;
			text-align: center;
			display: block;
			font-size: 12px;
		}
	}
	.status{
		width: 18%;
	}
	.clicks{
		width: 60px;
		border-left: 1px solid #F0F0F0;
		text-align: center;
		small{
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 8px;
			line-height: 12px;
			/* identical to box height */

			text-align: center;
			letter-spacing: 0.04em;

			color: #363637;
		}
	}
}
.forum-img{
	height: 100vh;
	background-color: #fff;
}
.other-survey{
	li{
		margin-bottom: 16px;
		.title{
			width: 20%;
		}
		.desc{
			width: 35%;
		}
		.limit{
			width: 20%;
		}
		.status{
			width: 20%;
		}
		.open,.closeS{
			background: #F7CE12;
			border-radius: 22px;
			text-align: center;
			width: 55px;
			font-size: 10px;
			height: 18px;
			padding: 0;
			line-height: 18px;
		}
		.closeS{
			background-color: #FF5252;
			color: #fff;
		}
		
	}
}
.goto{
	figure{
		width: 8px;
	}

}