<app-header-web></app-header-web>
<div class="not-found-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="not-found-inner">
                    <figure class="m-0 mb-4 mx-auto">
                        <img src="assets/images/not-found.png" alt="">
                    </figure>
                    <div class="text-not-found text-center">
                        <h2 class="mb-2">Page Not Found</h2>
                        <p class="mb-5">We can't seem to find the page you're looking for.</p>
                        <button [routerLink]="['/']" mat-flat-button color="primary" class="primary-btn btn-h-40">Back to Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-web></app-footer-web>
