// @import'../../../theme/custom-theme.scss';
@import'../../../assets/scss/button.scss';
// @import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
.not-found-wrapper{
    padding: 90px 0;
    .not-found-inner{
        figure{
            width: 300px;
        }
        .text-not-found{
            h2{
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 48px;
                color: #F89406;
            }
            p{
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                opacity: 0.65;
                line-height: 24px;
                /* identical to box height, or 171% */

                text-align: center;
                letter-spacing: 0.06em;

                color: #363637;
            }
        }
    }
}