
<div class="authentication">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pl-0">
        <div class="left-panel">
          <div class="login-text">
            <figure class="m-0">
              <img src="assets/images/pattern/login-left-panel.png" alt="img">
            </figure>
            <div class="text-on-banner">
              <h1><img [routerLink]="['/']" src="assets/images/logo-white.png" alt="logo"></h1>
              <h2>Your space to earn rewards with Opinionest</h2>
            </div>
          </div>
          <div class="login-illustrator">
            <figure class="mx-auto">
              <img src="assets/images/login-img.png" alt="img">
            </figure>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 right-panel p-0">
        <div *ngIf="!showloader"class="right-panel-inner">
          <div class="form-wrapper">
            <figure class="m-0 company-logo">
              <img src="assets/images/register.png" alt="Company">
            </figure>
            <h1>Register to earn rewards</h1>
            <form [formGroup]="registerForm" id="registerForm" autocomplete="off">

              <mat-form-field class="d-block">
                <input type="text" matInput placeholder="Name" formControlName="username">
                <mat-error class="text-right"
                  *ngIf="registerForm.get('username').dirty || registerForm.get('username').touched">
                  <span *ngIf="registerForm.controls['username'].hasError('required') ">
                    User name is required
                  </span>
                </mat-error>
              </mat-form-field>
              
              <mat-form-field class="d-block">
                <input type="tel" matInput placeholder="Phone" 
                formControlName="mobileNo">
                <figure style="
                width: 35px;
                position: absolute;
                margin-left: 92%;
                margin-bottom: -10px!important;
                margin-top: -14px;">
                  <img *ngIf="countryData" src="{{countryData?.flagPath}}"  class="pr-2"/>
                  <img  *ngIf="!countryData" src="./../../../assets/images/loader.gif"  class="pr-2"/>
                </figure>
                <mat-error class="text-right"
                  *ngIf="registerForm.get('mobileNo').dirty || registerForm.get('mobileNo').touched">
                  <span *ngIf="registerForm.controls['mobileNo'].hasError('required') ">
                    Phone is required
                  </span>
                  <span *ngIf="registerForm.controls['mobileNo'].hasError('pattern') ">
                    Invalid Number
                  </span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="d-block">
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error class="text-right"
                  *ngIf="registerForm.get('email').dirty || registerForm.get('email').touched">
                  <span *ngIf="registerForm.controls['email'].hasError('required') ">
                    Email Id is required
                  </span>
                  <span *ngIf="registerForm.controls['email'].hasError('pattern') ">
                    Invalid email format
                  </span>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="d-block">
                <input type="password" matInput placeholder="Password" formControlName="password" 
                onPaste="return false" onCopy="return false" onDrag="return false" onDrop="return false" autocomplete="off">
                <mat-error class="text-right"
                  *ngIf="registerForm.get('password').dirty || registerForm.get('password').touched">
                  <span *ngIf="registerForm.controls['password'].hasError('required') ">
                    Password is required
                  </span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="d-block">
                <input type="password" matInput placeholder="Confirm Password" formControlName="repassword"
                onPaste="return false" onCopy="return false" onDrag="return false" onDrop="return false" autocomplete="off">
                <mat-error class="text-right"
                  *ngIf="registerForm.get('repassword').dirty || registerForm.get('repassword').touched">
                  <span *ngIf="registerForm.controls['repassword'].hasError('required') ">
                    Password is required
                  </span>
                  <span *ngIf="registerForm.controls['repassword'].hasError('notSame') ">
                    Passwords do not match
                  </span>
                </mat-error>
              </mat-form-field>

              <div class="checkbox-custom terms mb-4 d-flex">
                <mat-checkbox (change)="setDeclaration($event)" formControlName="terms" class="example-margin"></mat-checkbox>
                &nbsp;&nbsp;
                <p class="m-0">I agree to your <span class="cursor-pointer" (click)="openTermandConditions()"> terms of
                    service</span>&nbsp;and&nbsp;<span class="cursor-pointer" (click)="openTermandConditions()">privacy
                    policy &nbsp;</span></p>

                <mat-error class="text-right"
                  *ngIf="registerForm.get('terms').dirty || registerForm.get('terms').touched">
                  <span *ngIf="registerForm.controls['terms'].hasError('required') ">
                    Please read and accept
                  </span>

                </mat-error>
              </div>


              <ngx-recaptcha2 #captchaElem
                [siteKey]="YOUR_SITE_KEY"
                (reset)="handleReset()"
                (expire)="handleExpire()"
                (load)="handleLoad()"
                (success)="handleSuccess($event)"
                [useGlobalDomain]="false"
                formControlName="recaptcha">
              </ngx-recaptcha2>

              <!-- Already a Member? <a href="/login" onClick={onLinkClick}>Login</a> -->
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
              <!-- <button mat-flat-button color="primary" class="primary-btn" (click)="openPolicy()">Read Our
                Policy</button> -->

              <div class="form-footer mt-4 d-flex justify-content-end align-items-center">
                <button [disabled]="selfDeclaration && registerForm.invalid"  mat-flat-button color="primary" (click)="onSubmit('','')"
                  class="primary-btn btn-h-40">{{Register}}</button>
              </div>

              <div class="already-account d-flex justify-content-center mt-4">
                <div class="account-inner d-flex align-items-center">
                  <figure class="m-0 mr-2"><img src="assets/images/padlock.png" alt="Login"></figure>
                  <h3 class="m-0">Already have an account? <b class="cursor-pointer" [routerLink]="['/login']">Login</b>
                  </h3>
                </div>
              </div>


              <!-- <button mat-button (click)="openTermandConditions()">Read Terms and Condition</button> -->

            </form>
          </div>

          <div class="login-via-otherchannel">
            <h1>OR Register with</h1>
            <div class="social-login d-flex align-items-center justify-content-center">
              <!-- <div (click)="registerWithFB()" class="element fb mr-2">
                <img src="assets/images/social-icon/fb.png" alt="fb">
                Facebook
              </div> -->
            
              <div (click)="registerWithGoogle()" class="element gm ml-2">
                <img src="assets/images/social-icon/gp.png" alt="fb">
                Gmail
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="showloader" class="mat-app-background basic-container d-flex" style="flex-direction: column;">
       
          <h3 class="text-center loadinga">Loading...</h3>
          </div>
      </div>
    </div>
      

  </div>


</div>
