<div class="authentication">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pl-0">
        <div class="left-panel">
          <div class="login-text">
            <figure class="m-0">
              <img src="assets/images/pattern/login-left-panel.png" alt="img">
            </figure>
            <div class="text-on-banner">
              <h1><img src="assets/images/logo-white.png" [routerLink]="['/']" alt="logo"></h1>
              <h2>Your space to earn rewards with Opinionest</h2>
              
            </div>
          </div>
          <div class="login-illustrator">
            <figure class="mx-auto">
              <img src="assets/images/login-img.png" alt="img">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-panel p-0">
        <div class="right-panel-inner">
          <div class="form-wrapper">
            <figure class="m-0 company-logo">
              <img src="assets/images/login-icon.png" alt="Company">
            </figure>
            <h1>Welcome! Sign in to continue</h1>
            <form [formGroup]="loginForm" id="loginForm" autocomplete="on">
    
              <mat-form-field class="d-block">
                <input type="text" matInput placeholder="Email Address" formControlName="emailId">
                <mat-error *ngIf="loginForm.get('emailId').dirty || loginForm.get('emailId').touched">
                  <span *ngIf="loginForm.controls['emailId'].hasError('required') ">
                    Email is required
                  </span>
                  <span *ngIf="loginForm.controls['emailId'].hasError('pattern') ">
                      Invalid email format
                    </span>
                </mat-error>
  
              </mat-form-field>
           
  
              <mat-form-field class="d-block">
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password').dirty || loginForm.get('password').touched">
                  <span *ngIf="loginForm.controls['password'].hasError('required') ">
                    Password is required
                  </span>
                </mat-error>
              </mat-form-field>
  
              <!-- Already a Member? <a href="/login" onClick={onLinkClick}>Login</a> -->
              <!-- <button mat-flat-button color="primary" class="primary-btn" (click)="openPolicy()">Read Our
                Policy</button> -->
              <!-- <div *ngIf="showcaptcha"> -->
         
                <ngx-recaptcha2 #captchaElem
                [siteKey]="YOUR_SITE_KEY"
                (reset)="handleReset()"
                (expire)="handleExpire()"
                (load)="handleLoad()"
                (success)="handleSuccess($event)"
                [useGlobalDomain]="false"
                formControlName="recaptcha">
              </ngx-recaptcha2>
  
        <!-- </div> -->
              
              <div class="form-footer mt-4 d-flex justify-content-between align-items-center">
                <span [routerLink]="['/login/recoverPassword']">Forgot password?</span>
                <button mat-flat-button color="primary" [disabled]="loginForm.invalid"  (click)="onSubmit('')"
                 class="primary-btn btn-h-40">{{showSpinner}}</button>
              </div>
       
                 
              <!-- <button mat-button (click)="openTermandConditions()">Read Terms and Condition</button> -->
  
            </form>
            <div class="regi">
              <h5>Don't have an account?</h5>
              <span [routerLink]="['/login/register']">Register</span>
            </div>
          </div>
          <div class="login-via-otherchannel">
            <h1>OR Login with</h1>
            <div class="social-login d-flex align-items-center justify-content-center">
              <!-- <div (click)="signInWithFB()" class="element fb mr-2">
                <img src="assets/images/social-icon/fb.png" alt="fb">
                Facebook
              </div> -->
              <div (click)="signInWithGoogle()" class="element gm ml-2">
                <img src="assets/images/social-icon/gp.png" alt="fb">
                Gmail
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- <ng-template *ngIf="showloader">
    <div class="mat-app-background basic-container d-flex" style="flex-direction: column;">
      <div class="loader">Loading...</div>
      <h3 class="text-center loadinga">Loading...</h3>
  
      </div>
  </ng-template> -->
</div>