// @import'../../../theme/custom-theme.scss';
// @import'../../../../src/assets/scss/button.scss';
@import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';

.offers-wrapper{
    .offer-box{
      padding: 24px 0 24px 24px;
    }
    

    .cash-voucher{
        box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
        border: 1px solid #F5F5F5;
        border-radius: 9px;
        padding-bottom: 44px;
        .cta{
            padding-left: 8px;
            button{
                background-color: #f89406 !important;
                color: #fff !important;
                &:focus{
                    outline: none;
                }
            }
        }
        .error{
            position: absolute;
            bottom: -24px;
            left: 0;
            font-size: 12px;
            font-family: Poppins;
            font-weight: 400;
            color: #F96C4D;
            letter-spacing: 0.5px;
        }
        .offer-img{
            figure{
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 100%;
                border: solid 1px #f2f2f2;
            }
        }
        .offers-details{
            padding-left: 16px;
            mat-card-title{
               font-size: 16px;
               font-family: Poppins;
               font-weight: 600;
               color: #363637; 
            }
            form{
                display: flex;
                align-items: flex-end;
                position: relative;
                mat-label{
                    font-size: 14px;
                    font-family: Poppins;
                    font-weight: 500;
                    color: #363637;
                    display: block;
                    margin-bottom: 8px;
                }
                input {
                    border: solid 1px #e6e6e6;
                    /* border-left: 2px solid #fff8f0; */
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    height: 40px;
                    background: #f3f3f3;
                    padding-left: 16px;
                  }
            }
        }
    }
}
.right-banner{
    // height: 100vh;
    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.succ{
    color: #389820;
    position: absolute;
    bottom: -26px;
    left: 0;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
.donate-panel{
    mat-expansion-panel{
        border: 1px solid #F5F5F5;
        box-sizing: border-box;
        box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
        mat-expansion-panel-header{
            mat-panel-title{
                align-items: center;
                figure{
                    width: 32px;
                }
                span{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px; 
                    color: #363637; 
                }
            }
        }
        .mat-panel-cntent{
            p{
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 12px; 
                color: #363637;
            }
            .card-body{
                padding: 16px 0 0;
                margin-top: 16px;
                border-top: solid 1px #f2f2f2;
                h2{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px; 
                    color: #363637; 
                    margin-bottom: 24px;
                }
                small{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px; 
                    color: #363637;
                    margin-bottom: 16px;  
                }
                ul{
                    display: flex;
                    li{
                        margin-right: 16px;
                        border: solid 1px #F89406;
                        color: #F89406;
                        font-family: poppins;
                        font-size: 12px;
                        padding: 1px 18px;
                        font-weight: 500;
                        border-radius: 50px;
                        cursor: pointer;
                    }
                }
                input{
                    background: #F9F9F9;
                    border: 1px solid #F2F2F2;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding-left: 16px;
                    height: 32px;
                }
            }
        }
    }
}

.offers-tab{
    background-color: #fff;
    ul{
        li{ margin-bottom: 16px;
            background: #FEFEFE;
            border: 1px solid #F5F5F5;
            box-sizing: border-box;
            box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
            border-radius: 9px;
            .inner-card-list{
                padding: 16px;
                figure{
                    width: 32px;
                    border: solid 1px #f2f2f2;
                    height: 32px;
                    border-radius: 100%;
                }
                .data-view{
                   
                    .primary-btn{
                        min-width: 86px;
                        font-size: 10px;
                        font-weight: 400;
                        padding: 0 10px;
                        height: 28px;
                        display: flex;
                        align-items: center;
                        &:focus{
                            outline: none;
                        }
                    }
                    label{
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 15px;
                        /* identical to box height */

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.06em;

                        color: rgba(54, 54, 55, 0.65);
                    }
                    span{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 21px;
                        /* identical to box height */

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.06em;

                        color: #363637;
                    }
                }
                .title{
                    width: 115px;
                }
            }
            
        }
    }
}
