<div class="wrapper">

  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation ProfilePercentage='{{ProfilePercentage}}' menuIndex='2'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="home-wrapper">
        <div class="container">
          <div class="row">

            <div class="col-md-12 pr-0">
              <div class="offers-wrapper">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-9 pl-0">
                      <div class="offer-box">
                        <div class="header-section">

                          <div class="wallet">
                            <img src="assets/images/left-side-menu/offers.png" alt="">
                            <span>{{ totalAvailablePoints }} points</span>
                          </div>
                        </div>
                        <mat-tab-group class="offers-tab">
                          <mat-tab label="Offers">
                            <div *ngIf="OfferDetails && OfferDetails.length else elseBlock">
                              <ul class="p-0 m-0">
                                <li *ngFor="let offer of OfferDetails ;let index = index">
                                  <div class="inner-card-list d-flex align-items-center justify-content-between">
                                    <figure class="m-0">
                                      <!-- <img src="{{offer.offerImage}}"> -->
                                      <img src="{{offer.imagePath}}" alt="">
                                    </figure>
                                    <div class="data-view title">
                                      <label class="d-block" for="">Brand name</label>
                                      <span class="d-block"> {{offer.rewardName}}</span>
                                    </div>
                                    <div class="data-view">
                                      <label class="d-block" for="">Points Required</label>
                                      <span class="d-block"> {{offer.pointsRequried}}</span>
                                    </div>
                                    <div class="data-view">
                                      <label class="d-block" for="">Voucher value</label>
                                      <span
                                        class="d-block">{{offer.maxRange}} {{offer.currency}}
                                      </span>
                                      <!--{{ (offer.maxRange - totalAvailablePoints) > 0 ? (offer.maxRange - totalAvailablePoints) : 0 }}-->
                                    </div>
                                    <div class="data-view">
                                      <label class="d-block" for="">Status</label>

                                      <span class="d-block note"
                                        *ngIf="totalAvailablePoints >= offer.pointsRequried">Eligible</span>
                                      <span class="d-block note" *ngIf="totalAvailablePoints < offer.pointsRequried">Not
                                        eligible</span>
                                    </div>
                                    <div class="data-view cta d-flex align-items-center justify-content-end">
                                      <button mat-flat-button color="primary" class="primary-btn"
                                        [disabled]="totalAvailablePoints < offer.pointsRequried"
                                        (click)="openDialog(offer.offerId,offer.rewardName,offer.imagePath,offer.maxRange,offer.isFavourite,
                                                offer.availablePoints,(totalAvailablePoints>=offer.maxRange)?true:false,true,offer.disclaimer,offer.utId
                                                ,offer.currency,offer.pointsRequried)">

                                        Redeem Now</button>
                                    </div>
                                  </div>
                                  <div class="disc d-flex justify-content-between align-items-center">
                                    <!-- <p>Disclaimer: {{offer.disclaimer}} <span class="cursor-pointer">Read
                                        More</span></p> -->
                                        <app-show-more [text]='offer.disclaimer+"<br/><b>General Disclaimer:&nbsp; </b>The merchants represented are not sponsors of the rewards or otherwise affiliated with  "+ offer.denomination+". The logos and other identifying marks attached are trademarks of and owned by each represented company and/or its affiliates.  Please visit company website for additional terms and conditions."' [showMore]='true'>
                                        </app-show-more>
                                    <mat-icon class="cursor-pointer" aria-hidden="false" *ngIf="offer.isFavourite==1"
                                      style="color: #FF9100" aria-label="Favorite"
                                      (click)="markFavourite(offer.offerId,0,offer.utId)">favorite</mat-icon>
                                    <mat-icon class="cursor-pointer" aria-hidden="false" *ngIf="offer.isFavourite==0"
                                      style="color: #d4d4d4;" aria-label="Favorite"
                                      (click)="markFavourite(offer.offerId,1,offer.utId)">favorite</mat-icon>
                                  </div>
                                </li>
                              </ul>

                            </div>
                            <!-- <div class="no-data" *ngIf="showNoData==3">
                              <figure class="m-0">
                                <img src="assets/images/no-data.png" alt="">
                              </figure>
                              No offer available
                            </div> -->
                            <ng-template #elseBlock>
                              <app-loaderApi></app-loaderApi>
                            </ng-template>
                          </mat-tab>

                          <!-- <mat-tab  label="Donate">
                            <div class="donate-panel" *ngIf="DonationDetails && DonationDetails.length">
                             <mat-accordion *ngFor="let offer of DonationDetails ;let index = index">
                                   
                                <mat-expansion-panel class="mb-3" [expanded]="index == 0 ?true : false" (opened)="panelOpenState = true" (closed)="panelOpenState = false; setQuickPoints(0)">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      <figure class="m-0 mr-3"><img src="{{offer.offerImage}}" alt=""></figure>
                                      <span>{{offer.rewardName}}</span>
                                    </mat-panel-title>

                                  </mat-expansion-panel-header>
                                  <div class="disc donate-disc mat-panel-cntent">
                                    <p class="d-block m-0">
                                      <app-show-more [text]='offer.disclaimer' [showMore]='true'>
                                      </app-show-more>
                                    </p>
                                    <div class="card-body">
                                      <h2>I want to give</h2>
                                      <small class="d-block">Quick pay</small>
                                      <ul class="mb-4 p-0">
                                        <li>
                                          <span (click)="setQuickPoints(10)">10 Points</span>
                                        </li>
                                        <li>
                                          <span (click)="setQuickPoints(20)">20 Points</span>
                                        </li>
                                        <li>
                                          <span (click)="setQuickPoints(50)">50 Points</span>
                                        </li>
                                        <li>
                                          <span (click)="setQuickPoints(75)">75 Points</span>
                                        </li>
                                        <li>
                                          <span (click)="setQuickPoints(100)">100 Points</span>
                                        </li>
                                      </ul>
                                      <small class="d-block">Other</small>
                                      <input type="text" (keyup)="onKey($event)">
                                      <div class="text-right">
                                        <button mat-flat-button color="primary" class="primary-btn"  (click)="openDoantionDialog(offer.offerId,offer.rewardName,offer.imagePath,offer.maxRange,offer.isFavourite,
                                        offer.availablePoints,(offer.availablePoints>=offer.maxRange)?true:false,true,offer.disclaimer)">Donate</button>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </mat-expansion-panel>
                              </mat-accordion>


                            </div>
                            <div class="no-data" *ngIf="!DonationDetails">
                              <figure class="m-0">
                                <img src="assets/images/no-data.png" alt="">
                              </figure>
                              No Data available
                            </div>
                          </mat-tab> -->

                          <mat-tab label="Cash Voucher">
                            <mat-card class="opinionest-card-2 cash-voucher">
                              <div class="offer-img d-flex">
                                <figure class="m-0">
                                  <img src="assets/images/paytm.png" alt="">
                                </figure>
                                <div class="offers-details">
                                  <mat-card-title class="d-flex justify-content-between align-items-center">
                                    {{ totalAvailablePoints }} Points
                                  </mat-card-title>
                                  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                                    <mat-card-content class="m-0">
                                      <mat-label>Please enter your PayTM linked number</mat-label>
                                      <div class="input-group">

                                        <input class="form-control" [pattern]="mobNumberPattern" matInput type="number"
                                          name="paytm" ngModel required #paytm="ngModel" placeholder="Eg. 800 0000000">
                              &nbsp;&nbsp;            <button mat-flat-button color="primary" [disabled]="waitForDisplay"
                                          class="primary-btn bordered-btn">{{Submit}}</button>
                                          <div *ngIf="paytm.errors && f.submitted && !isValidFormSubmitted"
                                          [ngClass]="'error'">
                                          <div *ngIf="paytm.errors.pattern">
                                            Mobile number not valid.
                                          </div>
                                          <div>
                                      
                                            <div class="ntSucc" style="color: #FF9100;" *ngIf="!responseMessage">{{ notVerifiedMessage }}
                                            </div>
                                            <div class="succ" style="color: darkgreen;" *ngIf="responseMessage">{{ notVerifiedMessage }}
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                                     

                                    </mat-card-content>
                                
                                    
                                  </form>
                                </div>
                              </div>
                            </mat-card>
                           
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </div>
                    <div class="col-md-3 pr-0">
                      <figure class="m-0 right-banner">
                        <!-- <img src="assets/images/offers-banner.png" alt=""> -->
                      </figure>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>