<div class="left-side-menu-list">
    <div class="hamburger d-flex align-items-center justify-content-center cursor-pointer">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="m-0 p-0">
        <li  [ngClass]="{'active': menuIndex==='1'}">
            <button mat-icon-button (click)="navigate(1)"><img src="assets/images/left-side-menu/home-white.png" alt="home"></button>
        </li>
        <li [ngClass]="{'active': menuIndex==='2'}">
            <button class="w-20p"  (click)="navigate(2)" mat-icon-button><img src="assets/images/left-side-menu/award-grey.png" alt="home"></button>
        </li>
        <li [ngClass]="{'active': menuIndex==='3'}">
            <button mat-icon-button  (click)="navigate(3)"><img src="assets/images/left-side-menu/survey-grey.png" alt="home"></button>
        </li>
        <li [ngClass]="{'active': menuIndex==='4'}">
            <button class="w-20p" mat-icon-button  (click)="navigate(4)"><img src="assets/images/left-side-menu/refer-grey.png" alt="home"></button>
        </li>
        <li [ngClass]="{'active': menuIndex==='5'}">
            <button mat-icon-button  (click)="navigate(5)"><img src="assets/images/left-side-menu/forum-grey.png" alt="home"></button>
        </li>
        <li [ngClass]="{'active': menuIndex==='6'}">
            <button mat-icon-button  (click)="navigate(6)"><img src="assets/images/left-side-menu/feed-grey.png" alt="home"></button>
        </li>
        <li [ngClass]="{'active': menuIndex==='7'}">
            <button mat-icon-button  (click)="navigate(7)"><img src="assets/images/left-side-menu/blog-grey.png" alt="home"></button>
        </li>
    </ul>
</div>
<div>
    
    <br>
     <!-- <button mat-icon-button (click)="navigate(1)"><mat-icon>question_answer</mat-icon>

    </button>
    <br>
    <button mat-icon-button (click)="navigate(2)"><mat-icon>category</mat-icon>

   </button>
   <br>
   <button mat-icon-button (click)="signOut()">LogOut </button> -->
</div>
