// @import'../../../../theme/custom-theme.scss';
@import'../../../../assets/scss/button.scss';
@import'../../../../assets/scss/color.scss';
.left-side-menu-list{
    padding: 37px 0;
    .hamburger{
        margin-bottom: 30px;
        span{
            width: 7px;
            height: 7px;
            @include border-radius(50px);
            background: #2ABFCE;
            margin-right: 4px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    ul{
        li{
            padding: 0 10px;
            margin-bottom: 18px;
            &:last-child{
                margin-bottom: 0;
            }
            button{
                @include border-radius(8px);
                min-width: 35px;
                height: 35px;
                line-height: 35px;
                transition: all 0.4s ease;
                &:hover{
                    background: #F89406; 
                }
                img{
                    width: 18px;
                }
            }
            .w-20p{
                img{
                    width: 22px;
                }
            }
            
        }
        .active{
            button{
                background: #F89406;
            }
        }
    }
}