<div class="wrapper">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation  menuIndex='6'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content>
      <div class="home-wrapper pl-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12 pl-0">
              <div class="feed-wrapper">
                <div class="wallet">
                  <img src="assets/images/left-side-menu/offers.png" alt="">
                  <span class="ml-1" *ngIf="dashBoardData else elseBlock">{{dashBoardData.totalPoints}} Points</span>
                </div>
                <div *ngIf="dashBoardData else elseBlock" class="feed-list">
                  <div class="feed-table">
                   <div class="container-fluid">
                     <div class="row">
                       <div class="col-md-12">
                         <ul class="m-0 p-0 d-flex align-items-center justify-content-between">
                           <li>&nbsp;</li>
                           <li class="pl-3">Title</li>
                           <li class="pl-3">Description</li>
                           <li class="pl-3">Date/Time</li>
                           <li class="d-block text-center">Action</li>
                         </ul>
                       </div>
                     </div>
                     <div *ngIf="!showloader">
                    <div class="row" *ngFor="let data of (receivedDataList)">
                      
                      <div class="col-md-12 clr" *ngFor="let feedData of data._List">
                        <div class="d-flex feed align-items-center justify-content-between">
                          <figure class="m-0">
                            <img src="{{feedData.iconPath}}" alt="">
                          </figure>
                          <div class="title pl-3">
                            <h4 class="d-flex cursor-pointer justify-content-between align-items-center">{{feedData.header}}</h4>
                          </div>
                         <div class="descp pl-3">
                          <p class="feed-msg">{{feedData.message.substring(0,1000)}}</p>
                          <span>{{feedData.points}} Points</span>
                         </div>
                         <div class="date pl-3">
                          <small>{{feedData.agoTime}} ago</small>
                         </div>
                          
                          <div class="navigate d-flex justify-content-center">
                            <span class="cursor-pointer" (click)="openDialog(feedData.id)">
                              <img src="assets/images/right-arrow.png" alt=""></span>
                          </div>
                        </div>
                      </div>
                   
                      
                    </div>
                  </div>
                    <div *ngIf="showloader" class="mat-app-background basic-container d-flex" style="flex-direction: column;">
       
                      <h3 class="text-center loadinga">Loading...</h3>
                      </div>
                    <mat-paginator [length]="totalPages" pageIndex ="{{pageIndexShow}}"  *ngIf="!showloader"[pageSize]="pageSize" 
                    (page)="getPaginatorData($event)">
                 </mat-paginator> 
                   </div>
                 
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <app-loaderApi></app-loaderApi>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>