// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.home-wrapper{
  height: 100vh;
  overflow: auto;
}
.feed-wrapper{
  padding-top: 24px;
  .feed-list{
    background: #FFFFFF;
    border-radius: 13px;
    padding: 32px;
    .feed-table{
      background: #FAFAFA;
      border: 1px solid #F0F0F0;
      box-sizing: border-box;
      border-radius: 4px;
      .clr{
        border-bottom: solid 1px #f7f7f7;
        background-color: #fff;
        padding-top: 16px;
        padding-bottom: 16px;
      }
      ul{
        li{
          padding-top: 16px;
          padding-bottom: 16px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */

          display: flex;
          align-items: center;
          letter-spacing: 0.06em;

          color: #363637;
          &:first-child{
            width: 24px;
          }
          &:nth-child(2){
            width: 25%;
          }
          &:nth-child(3){
            width: 40%;
          }
          &:nth-child(4){
            width: calc(20% - 24px)
          }
          &:last-child{
            width: 15%;
          }

        }
      }
      .feed{
        figure{
          width: 24px;
        }
        .title{
          width: 25%;
          h4{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            margin: 0;
            /* identical to box height */
            
            letter-spacing: 0.04em;
            
            color: #363637;
          }
        }
        .descp{
          width: 40%;
          p{
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 0;
            /* identical to box height, or 180% */
            
            letter-spacing: 0.04em;
            
            color: rgba(54, 54, 55, 0.9);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 16px;
          }
          span{
            background: #709C0C;
            border-radius: 22px;
            color: #fff;
            font-size: 9px;
            display: block;
            width: 53px;
            text-align: center;
            letter-spacing: 0.7px;
            margin-top: 8px;
            font-family: Poppins;
            font-weight: 300;
          }
        }
        .date{
          width: calc(20% - 24px);
          small{
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            
            letter-spacing: 0.04em;
            
            color: rgba(54, 54, 55, 0.9);
          }
        }
        .navigate{
          width: 15%;
          span{
            width: 8px;
            display: block;
          }
        }
      }
    }
  }
}





  