<div class="feed-popup">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="feed-popup-header d-flex align-items-center justify-content-between">
                    <h2 class="m-0 feed-heading">Feed Detail</h2>
                    <figure (click)="onNoClick()" class="m-0">
                        <img src="assets/images/close.png" alt="">
                    </figure>
                </div>

                <div class="feed-popup-content">
                    <div class="content-ribbon d-flex justify-content-between align-items-center">
                        <div class="d-flex title-pop">
                            <figure>
                                <img src="{{feedData.iconPath}}" alt="">
                            </figure>
                            <div class="pl-3">
                                <h3 class="m-0">{{feedData.header}}</h3>
                                <p>{{feedData.message.substring(0,1000)}}</p>
                            </div>
                        </div>
                       
                      
                        <div class="point-badge">
                            <span>Points {{feedData.status}}: {{feedData.points}}</span>
                        </div>
                    </div>
                    <div class="feed-content">
                        <div class="row">

                      
                        <div class="col-md-6 feed-detail">
                            <label>Title</label>
                            <h5>{{feedData.header}}</h5>
                        </div>
                        <div class="col-md-6 feed-detail position-relative">
                            <label>Points</label>
                            <h5>{{feedData.points}}</h5>
                        </div>
                        
                        <div class="col-md-6 feed-detail position-relative">
                            <label>Category</label>
                            <h5>{{feedData.category}}</h5>
                        </div>
                        <div class="col-md-6 feed-detail position-relative">
                            <label>Point status</label>
                            <h5>{{feedData.status}}</h5>
                        </div>
                    </div>
                      
                    </div>
                </div>

            </div>
            
            <div class="col-md-12 text-right">
                <button color="primary" class="closebtn" (click)="onNoClick()">Close</button>
                <button class="btn next-btn" *ngIf="showNextButton" (click)="getFeedViewData(id)">Next</button>
            </div>
        </div>
    </div>
</div>



<!-- <h1>Feed Details</h1>
    <div>
        {{receivedData.header}}
    </div>
    <div>
        {{receivedData.message.substring(0,1000)}}
    </div>
    <div>
        <div>Title:  {{receivedData.batchId}}</div>
        <div>Points:  {{receivedData.points}}pts</div>
        <div>Point status:  {{receivedData.status}}</div>
    </div>
  <button (click)="onNoClick()">Close</button> -->