// @import'../../../../../theme/custom-theme.scss';
// @import'../../../../../assets/scss/button.scss';
@import'../../../../../assets/scss/card.scss';

.modal-wrapper{
    .popup-header{
        border-bottom: solid 1px #f9f9f9;
        margin-bottom: 16px;
        padding: 0 0 16px;
        h2{
            font-size: 16px;
            font-weight: 500;
            color: #363637;
            letter-spacing: 0.3px;
        }
        figure{
            width: 16px;
        }
    }
    .popup-content{
        mat-card {
            box-shadow: none;
            padding: 0;
            .content-inner{
                background: #FEFEFE;
                border: 1px solid #F5F5F5;
                box-sizing: border-box;
                box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.02);
                border-radius: 9px;
                padding: 24px;
                figure{
                    width: 44px;
                    margin: 0 auto 16px;
                }
                mat-card-content{
                    color: rgba(54, 54, 55, 0.65);
                    font-size: 12px;
                    letter-spacing: 0.6px;
                    font-family: Poppins;
                    text-align: center;
                    font-weight: 400;
                    span{
                        color: #F89406;
                        font-weight: 500;
                    }
                }
                h3{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    color: #363637;
                }
            }

        }
    }
}
button{
    &:focus{
        outline: none;
    }
}

.disc{
    background-color: #fff;
    padding: 0;
    margin: 16px 0 0;
}