<div class="modal-wrapper">
    <div class="popup-header d-flex align-items-center justify-content-end">
      <figure class="m-0">
        <img src="assets/images/close.png" alt="" (click)="closeDialog()">
      </figure>
    </div>
    <div class="popup-content">
      <mat-card *ngFor="let offer of OfferData ;let index = index">
        <div class="thanks-wrapper content-inner">
          <figure>
            <img src="assets/images/ok.png" alt="">
          </figure>
          <h3>Thank You!</h3>
          <mat-card-content *ngIf="offer.Result != 999">You will get your voucher on <span>{{offer.Result}}</span>in next 7 days.</mat-card-content>
        </div>
        <div class="disc d-flex  align-items-center">
          <app-show-more [text]='offer.Disclaimer' [showMore]='true'>
          </app-show-more>
        </div>
  
        <div class="popup-footer mt-4">
  
          <div class="footer-cta d-flex align-items-center justify-content-end">
            <button mat-flat-button color="primary" (click)="closeDialog()"
              class="primary-btn btn-h-40">Submit</button>
                  <!-- <button mat-button mat-dialog-close [mat-dialog-close]="true" color="primary"
    class="primary-btn rounded-btn btn-h-44 mt-3"  >Cancel</button> -->
          </div>
         

        </div>
      </mat-card>
    </div>
  
  
  </div>