<div class="container-fluid home-banner">
  
  <app-header-web></app-header-web>
  <div *ngIf="showCookiePolicy" class="cookies-popup">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="inner-cookies">
            <h2>THIS WEBSITE USES COOKIES</h2>
            <p>To enhance your experience and make it worth of your while, this website uses cookies. When you visit Opinionest website, a web server sends a cookie (small text files) to your system or mobile device to store and track valuable information. In short, Cookies further makes a user’s experience more efficient.</p>
            <p>
              The law states that we can store cookies on your device if they are strictly necessary for the operation of this site.
            </p>
            <p>
              To learn more about cookies, please visit our Cookies Policy
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="m-0 p-0">
            <li> <button type="button" color="primary" class="primary-btn btn-h-40 mat-flat-button mat-button-base mat-primary" (click)="setCookiePolicy('1')">Accept</button></li>
            <li><button type="button" class="btn btn-secondary btn-h-40" (click)="setCookiePolicy('0')">Ask me later</button></li>
           
            
          </ul>
        </div>
      </div>


    </div>
    
  </div>
  <div class="welcome-banner">     
    <div class="welcome-logo">
      <div class="welcome-img-carousel">
        <div class="container">  
          <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">              
              <div class="carousel-item active">
                <div class="row">                  
                  <div class="col-md-6 white-bg">
                    <div class="welcome-content d-flex align-items-center">
                      <div class="welcome-inner">
                        <h2 class="welcome-content-heading mb-4">Welcome <span class="ml-2">{{userName}}</span></h2>
                        <h1 class="welcome-content-sub-heading">Monetize Your Online Time With Free Surveys</h1>
                        <h2 class="welcome-content-text">Fill and earn money from surveys with Opinionest. You might boost market research today with your opinion.
                        </h2>
                        <button [routerLink]="['/login/register']" class="btn get-started mb-3">Register Now </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <figure class="m-0 mx-auto">
                      <img src="assets/images/home-banner.png" alt="Home Banner">
                    </figure>
                      
                    </div>
                </div>
              </div>

            

              <!-- <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul> -->

            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

  <div class="how-it-works">
    <div class="container">
      <h2 class="text-center page-title">How Does Opinionest Work?</h2>
      <p class="text-center how-text">Earn instant cash when you complete a survey</p>
      <div class="row panels justify-content-between">
        <div class="col-md-3">
          <div class="inside-box">
            <div class="panel-content">
              <figure class="panel-icon">
                <img src="assets/images/how1.png" alt="Register" class="ellipseimg">
              </figure>
              <p class="mt-4">Register</p>
              <span>Register on Opinionest. Join a fast-growing community.</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inside-box">
            <div class="panel-content">
              <figure class="panel-icon">
                <img src="assets/images/how2.png" alt="Earn Money Through Surveys" class="ellipseimg">
              </figure>
              <p class="mt-4">Surveys</p>
              <span>Receive a survey based on your profile. Follow your interest.</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inside-box">
            <div class="panel-content">
              <figure class="panel-icon">
                <img src="assets/images/how3.png" alt="Get Paid To Take Surveys Online " class="ellipseimg">
              </figure>
              <p class="mt-4">Paid</p>
              <span>Get paid to take surveys online—instant payment.</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inside-box">
            <div class="panel-content">
              <figure class="panel-icon">
                <img src="assets/images/reward.png" alt="Image" class="ellipseimg">
              </figure>
              <p class="mt-4">Rewards</p>
              <span>Refer and earn. Get ample rewards. Offers on your favorite brands.</span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="ps">
            <p class="m-0">
              <b>PS:</b> No compromise with the privacy of your personal information. Opinionest's promise.
            </p>
          </div>
         
        </div>
        <div class="col-md-12">
          <button [routerLink]="['/login/register']" class="btn get-started mx-auto d-block mt-5">Join Now</button>
        </div>
      </div>
    </div>
  </div>
 
  
  <div class="how-it-works commited-wrapper">
    <div class="container">
      <h2 class="text-center page-title">We stand by our commitments</h2>
      <p class="text-center how-text">Online surveys, chosen just for you, make earning rewards easy. No delays, zero conflicts.
        Share your voice and start minting bucks
        <br>With assured referral rewards, get your game on with your friends. Inspire your acquaintances and earn when they earn.
       <br>All this is possible in one place—Opinionest. One of the <a href="https://opinionest.com/why-join-us">best online survey sites in India</a> ..
      </p>
      <div class="row progress-row">
        <div class="col-md-12">
          <figure>
            <img src="assets/images/commited.png" alt="Our Commitment">
          </figure>
         
        </div>
        
      </div>
    </div>
  </div>

  <div class="opinionest-app">
    <div class="container">
      <div class="row app-row">
        <div class="col-md-6 opinionest-app-left">
          <figure>
            <img src="assets/images/app-download.png" alt="app">
          </figure>
        </div>
   
        <div class="col-md-6 opinionest-app-right">
          <h3 class="page-title">Get the Opinionest App</h3>
          <p class="how-text">Using the app, check the active surveys, earned rewards, and referral points anytime, anywhere. Instant access to your gains.</p>
          <p class="opinionest-text">Download the app using the link we’ll send.</p>
          <div style="width: 80%;">
            <form [formGroup]="ApplinkFormSMS" id="ApplinkFormSMS" autocomplete="on">
            <div class="input-group">
              <span class="input-group-addon default-standard">+91</span>
              <input id="msgSMS" class="form-control" formControlName="Phone" placeholder="Enter mobile number">
              <!-- <mat-error *ngIf="ApplinkFormSMS.get('Phone').dirty || ApplinkFormSMS.get('Phone').touched">
                <span *ngIf="ApplinkFormSMS.controls['Phone'].hasError('pattern') ">
                    Invalid Phone
                  </span>
              </mat-error> -->
              <span class="input-group-addon app-link" (click)="sendAppLinkSMS(ApplinkFormSMS.invalid)">Send</span>
            </div>
          </form>
            <div class="text-center">
              <strong>OR</strong>
            </div>
            <form [formGroup]="ApplinkFormEmail" id="ApplinkFormEmail" autocomplete="on">
            <div class="input-group">
              <span class="input-group-addon default-standard">
                <img src="assets/images/mail.png" alt="Mail">
              </span>
              <input id="msgEmail" type="email" class="form-control" formControlName="emailId" placeholder="Enter your email id">
              <!-- <mat-error *ngIf="ApplinkFormEmail.get('emailId').dirty || ApplinkFormEmail.get('emailId').touched">
                <span *ngIf="ApplinkFormEmail.controls['emailId'].hasError('pattern') ">
                    Invalid email format
                  </span> 
              </mat-error>-->
              <span class="input-group-addon app-link"  (click)="sendAppLinkEmail(ApplinkFormEmail.invalid)">Send</span>
            </div>
          </form>
          </div>
          <div class="d-flex store-btn">
            <button class="btn app-store mr-3">
              <i class="fa fa-apple" aria-hidden="true"></i>
              <div>
               <a href="https://play.google.com/store/apps/details?id=com.opinionestmobile.opinionestmobile"><p class="download">Download on the <br><span class="app-store-text">App Store</span></p></a> 
              </div>
            </button>
            <button class="btn play-store">
              <img src="assets/images/play-store.png" alt="Download from Google Play">
              <div>
                <a href="https://play.google.com/store/apps/details?id=com.opinionestmobile.opinionestmobile"><p class="download text-left">GET IT ON <br><span class="app-store-text">Google play</span></p></a> 
              </div>
            </button>
          </div>
        </div>
       
      </div>
    </div>
  </div>
 
  <div class="members-paid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="page-title mb-4">We’ve paid our community of varied members over</h3>
          
          <p class="paid-text">
            Teenager or a bloomer; working in a sassy office or a homemaker; love taking online surveys for cash or just want to share your opinion, Opinionest is the fun place for you.
          </p>
          <p class="paid-text">
            Fill the surveys in your preferred language. Log in to our app or website, get the ball rolling, and bag some quick goodies.
          </p>
          <button class="btn rupees-btn mt-4"><i class="fa fa-usd" aria-hidden="true"></i> {{totalCashback}}</button>
            
          
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <div class="paid-members-img text-center">
            <img src="assets/images/Group_46.png" alt="Be a Member">
          </div>
        </div>
      </div>
    </div>  
    
    <div class="customer-reviews">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 class="page-title text-center">What our customer’s says</h3>
            </div>
        </div>
      </div>
      
      <div id="demo2" class="carousel slide" data-ride="carousel">
        <div class="container">
          <div class="row">
            <div class="col-md-12">          
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div *ngFor="let rv of customerReviewsActive ;let index = index" class="col-md-4">
                      <div class="quote">
                        <div>
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="review-content">{{rv.reviews}}</p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </div>
                        
                        <div class="review-user">
                          <figure>{{getShortName(rv.customerName)}}</figure>
                          <h3>{{rv.customerName}}</h3>
                          <p>{{rv.customerLocation}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div *ngFor="let rv of customerReviewsAll ;let index = index" class="col-md-4">
                      <div class="quote">
                        <div>
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="review-content">{{rv.reviews}}</p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </div>
                        
                        <div class="review-user">
                          <figure>{{getShortName(rv.customerName)}}</figure>
                          <h3>{{rv.customerName}}</h3>
                          <p>{{rv.customerLocation}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
               

                <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon"></span> -->
                <img src="assets/images/arrowleft.png" alt="User Image">
              </a>
              <a class="carousel-control-next" href="#demo2" data-slide="next">
                <!-- <span class="carousel-control-next-icon"></span> -->
                <img src="assets/images/arrowright.png" alt="User Image">
              </a>
              </div>

              <ul class="carousel-indicators">
                <li data-target="#demo2" data-slide-to="0" class="active"></li>
                <li data-target="#demo2" data-slide-to="1"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <app-footer-web></app-footer-web>
</div>