// @import'../../../theme/custom-theme.scss';
// @import'../../../assets/scss/button.scss';
@import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';

.wrapper{
  @include padding(0, 52px, 0, 52px);
  @include font-family();
  min-height: 500px;
}

.home-banner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.welcome-banner {
  height: 100vh;
  padding: 95px 0 54px;
  figure{
    width: 95%;
  }
  .carousel-indicators {
    bottom: 0;
    justify-content: flex-start;
    margin-left: 0;
    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      text-indent: -999px;
      cursor: pointer;
      margin: 5px;
      border-image: initial;
      border-radius: 50%;
      background-color: #efefee;
    }
    .active {
      background-color: $white;
      position: relative;
      &:before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 12px;
        border:1px solid $themesecondary;
        border-radius:50%; 
      }
      &:after{
        content:"";
        position: absolute;
        top: 3px;
        left: 3px;
        height: 6px;
        width: 6px;
        background:$themesecondary;
        border-radius:50%;
      }
      
    }
  }
  
  .welcome-content {
    height: calc(100vh - 120px);
    .welcome-inner {
      .welcome-content-heading {
        font-size: 44px;
        font-weight: 800;
        line-height: 1.3;
        color: #f89406;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */       
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
          width: 100%;
          text-overflow: ellipsis;
        span {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: $themesecondary;
            bottom: -5px;
            left: 0;
          }
        }  
      }
      .welcome-content-sub-heading {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.3;
        color: #353538;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
       
      }    
    .welcome-content-text {
      font-size: 14px;
      color: #363637;
      line-height: 22px;
      font-weight: 300;
    }
 
    }
  }
}
.get-started {
  color: $white;
  border-radius: 50px;
  background: $themesecondary;
  border: solid 1px $themesecondary;
  margin-top: 16px;
  padding:10px 20px;
  font-family: poppins;
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-transform: uppercase;
  min-width: 131px;
  }

.ps{
  background: #fff799;
  width: 57%;
  padding: 6px 16px;
  margin: 32px auto 0;
  border-radius: 46px;
  p{
    font-size: 12px;
    text-align: center;
    color: #363637;
    font-weight: 400;
  }
}
.how-it-works {
  background: #f8f8f8;
  padding:70px 0;
  .how-text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: $headingprimary;
    margin-bottom: 70px;
  }
  .panels {
    .inside-box{
      background-color: #fff;
      border-radius: 4px;
      padding: 24px 24px 32px;
      min-height: 240px;
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.03);
      .panel-content {
        .panel-icon {
          width: 115px;
          margin: auto;
        }    
        p {
          font-size: 16px;
          font-weight: 700;
          text-transform: capitalize;
          line-height: 1.44;
          color: #363637;
          letter-spacing: 0.5px;
          margin-bottom: 8px;
          text-align: center;
        }
        span{
          font-size: 12px;
          color: #363637;
          letter-spacing: 1px;
          line-height: 20px;
          display: block;
          font-weight: 300;
          text-align: center;
        }
      }
    }

  }
  .we-are-commited-heading {
    text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.02);
    font-size: 50px;
    font-weight: 800;
    color: rgba(19, 37, 59, 0.1);
    padding: 100px 0px 24px 0px;
    margin: 0;
  }
  .we-are-commited-text {
    font-size: 24px;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 0.32px;
    color: #3f3d56;
    width: 100%;
    margin: 0 auto 90px;
  }
  .progress-row {
    align-items: flex-end;
    position: relative;
    padding-bottom: 0px;
    .progress-count-banner {
      // padding-left: 100px;
      // padding-right: 50px;
      img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 22px;
        left: 100px;
        z-index: 1;
      }
      .progress {
        border-radius: 46px;
        background-color: rgba(255, 145, 0, 0.52);
        height: 50px;
        .progress-bar {
          width: 90%;
          position: relative;
          border-radius: 36px;
          box-shadow: 1.5px 0 2px 0 rgba(0, 0, 0, 0.13);
          background-color: #ff9100;
        span {
          position: absolute;
          left: 82px;
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          line-height: 1.15;
          letter-spacing: normal;
          color: #ffffff;
          }
        }
      }
    }
  }
  .progress-img-right {
    img {
      height: auto;
      max-height: 312px;
    }
  }
}
.commited-wrapper{
  background: $white;
  .how-text{
    margin-bottom: 50px;
  }
  figure{
    width: 75%;
    margin: 0 auto;
  }
}
.opinionest-app {
  background:#ffecd3;
  .how-heading {
    text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.02);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: normal;
    color: $themesecondary;
    padding: 0 0 13px;
    text-transform: uppercase;
    letter-spacing: 1.32px;
  }
  .how-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: $headingprimary;
    margin-bottom: 40px;
    letter-spacing: 1px;
    max-width: 409px;
  }
  .app-row {
    padding: 70px 0 0;
  }
 .opinionest-app-left{
   figure{
     max-width: 66%;
   }
 }
  .opinionest-app-right {
    .opinionest-text{
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      color: $headingprimary;
    }
    .input-group {
      border-radius: 4px;
      background-color: #ffffff;
      margin: 25px 0px;
      .input-group-addon{
          img{
            width: 22px;
          }
      }
      input {
        border: none;
        border-left: 2px solid #fff8f0;
        font-size: 14px;
        letter-spacing: 0.5px;
        height: 40px;
      }
      .default-standard {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        color: #1b1b25;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .app-link {
        background-color: #ff9100;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: 0.5px;
        cursor: pointer;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
.app-store, .play-store {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  .fa-apple {
    font-size: 32px;
    margin-right: 10px;
  }
  .download {
    font-family: Poppins !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.2 !important;
    letter-spacing: normal !important;
    color: #ffffff !important;
    margin: 0 !important;
    .app-store-text {
      font-size: 18px;
      font-weight: 600;
    }
  }

}
.play-store {
  img {
    width: 30px;
  }
}
.store-btn {
  margin-top: 50px;
}

.members-paid {
  padding-top: 100px;
  .paid-heading {
    text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.02);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: normal;
    color: $themesecondary;
    padding: 0 0 13px;
    text-transform: uppercase;
    letter-spacing: 1.32px;
  }
  .paid-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: $headingprimary;
    letter-spacing: 0.4px;
    text-align: justify;
  }
  .rupees-btn {
    border-radius: 4px;
    background-color: #363637;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    line-height: 0.65;
    letter-spacing: 1.84px;
    color: #ffffff;
    padding: 10px 20px;
  .fa-inr {
    margin-right: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #fff;
      right: -12px;
      opacity: 0.5;
    }
  }
  }
  .paid-members-img{
    width: 75%;
  }
}
.customer-reviews {
  margin-top: 74px;
  padding-top: 70px;
  background:#fbfbfb;
  .what-cus-says {
    text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.02);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: normal;
    color: $themesecondary;
    padding: 0 0 13px;
    text-transform: uppercase;
    letter-spacing: 1.32px;  
  }
  .carousel {
    margin-top: 27px;
    .col-md-6{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .carousel-indicators {
      padding: 50px 0px;
      position: static;
      display: flex;
      align-items: center;
    }
    .carousel-indicators li {
      display: inline-block;
      width: 12px;
      height: 12px;
      text-indent: -999px;
      cursor: pointer;
      margin: 5px;
      border-width: 0px;
      border-image: initial;
      border-radius: 10px;
      background-color: #e2e2e2;
      position: relative;
    }
    .carousel-indicators .active {
      width: 12px;
      height: 12px;
      border-width: 0px;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        height: 6px;
        width: 6px;
        background: #f89406;
        border-radius: 50%;
      }
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 12px;
        border: 1px solid #f89406;
        border-radius: 50%;
      }
    }
    .quote {
      box-shadow: 0 0.5px 5.5px 0 rgba(0, 0, 0, 0.09);
      background-color: #ffffff;
      padding: 32px 32px 16px;
      border-radius:4px; 
      height: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    i {
      color: #f89406;
      font-size: 18px;
    }
    .fa-quote-right {
      display: flex;
      justify-content: flex-end;
    }
    .review-content {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.78;
      letter-spacing: 0.5px;
      color: rgba(54, 54, 55, 0.65);
      margin-bottom: 0;
      text-align: center;
    }
    .review-user {
      text-align: center;
      margin-top:24px;
      figure{
        width: 51px;
        height: 51px;
        border-radius: 100%;
        background: #f9a329;
        margin: 0 auto 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      img {
        width: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: 0.33px;
        color: #1b1b25;
        margin: 0;
      }
      p {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        line-height: 2.29;
        letter-spacing: 0.21px;
        color: rgba(27, 27, 37, 0.38);
      }
    }
    }
    .fa-arrow-left, .fa-arrow-right {
      color: #000;
      font-size: 38px;
    }
  }

  .carousel-control-next, .carousel-control-prev{
    width: 30px;
    width: 40px;
    opacity: 1;
    height: 40px;
    top: 50%;
    margin-top: -15px;
    border-radius: 100%;
    padding: 11px;
    transition: all 0.3s ease;
    background: #ffd9a3;
    &:hover{
      background: #ffe7c7;
    }
  }
  .carousel-inner{
    width: auto;
    margin: 0 -50px;
    padding: 16px 100px;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.join-now{
  font-family: Poppins;
  width: 162px;
  margin: 60px auto 0;
  display: block;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  border: solid 1px #FF9100;
  color: #FF9100;
  font-size: 14px;
  height: 40px;
  &:hover{
    background-color: #FF9100;
    color: #fff;
  }
}