// @import'../../../theme/custom-theme.scss';
@import'../../../assets/scss/button.scss';
// @import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
.about-banner {
    height: 60vh;
    padding: 95px 0 32px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    h1 {
        font-size: 44px;
        line-height: 1.3;
        font-weight: 800;
        margin-bottom: 29px;
        color: $themesecondary;
    }
  
    figure {
        width: 44%;
    }
}
.privacy{
    padding: 60px 0;
    .privacy_wrapper{
        h3{
            color: #363637;
            font-weight: 600;
            display: block;
            font-size: 16px;
            font-family: Poppins;
        }
        p{
            color: #363637;
            font-weight: 300;
            display: block;
            font-size: 14px;
            line-height: 24px;
            font-family: Poppins; 
            a{
                font-weight: 500;
                text-decoration: underline;
            }
        }
        ul{
            padding: 0;
            li{
                color: #363637;
                font-weight: 400;
                display: block;
                font-size: 14px;
                font-family: Poppins;
                margin-bottom: 8px;
            }
        }
    }
    button{
        width: 110px;
        margin-right: 16px;
        margin-top: 32px;
    }
    .reject{
        background: #F96C4D;
        height: 40px;
        color: #fff;
    }
    .primary-btn{
        background: #f89406;
        color: #fff;
    }
}