<app-header-web></app-header-web>
<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Terms of Services</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/data-protection.svg" alt="about-banner">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="privacy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-dialog-content class="mat-typography">
                    <div class="privacy_wrapper">
                        <p>We welcome you to the Opinionest website. Here, by accessing, browsing or using this website, you
                            acknowledge that you have read, understood and agreed to be bound by these Terms of Use (these “Terms”).
                            Track Opinion Research Pvt. Ltd. (the “Company”) is referred here as Track Opinion, that owns and
                            operates a number of different websites, mobile apps and interactive services, one of which is
                            Opinionest. These Terms of Use (“Terms”) apply to the Track Opinion websites and to all of the features,
                            mobile applications, emails, online services and other functionalities (collectively, the “Features”)
                            available via or related to the Track Opinion websites, whether accessed via a computer, mobile device,
                            or otherwise.<br>
                            Track Opinion reserves full right to revise these Terms at any time, in our discretion and without prior
                            notice to you, by updating on the official website www.opinionest.com. We will not be liable to you or
                            to any third party for doing so we request you to review these Terms carefully as your continued use of
                            the website and/or by clicking “Accept” you will agree to be bounded by these Terms and or <a
                            [routerLink]="['/privacy-policy']">Privacy Policy</a>. If you do not agree to these Terms, you should not use
                            or access this website. We hereby allow you to a personal, limited, non-transferable non-exclusive,
                            license to access and use the Track Opinion website, i.e Opinionest. <br>
                            Feel free to <a [routerLink]="['/contact-us']">contact us</a> with any questions regarding these Terms or any Additional Terms. You can reach
                            us by using the <a [routerLink]="['/contact-us']">“Contact Us”</a>.</p>
            
                        <h3>Mode of Operation</h3>
                        <p>We control and operate Track Opinion from India. If you choose to access this website from outside India,
                            you do so at your own initiative and are responsible for compliance with local laws, if and to the
                            extent local laws are and as applicable.</p>
            
                        <h3>Services &amp; Fees</h3>
                        <p>Track Opinion offers the ability for users to allow them to complete offers provided by certain
                            third-party advertisers (collectively, the 'Third-Parties' or each a 'Third-Party') in return for
                            compensation provided through Branded, and incentives to users for referring other people to the website
                            (together, the Track Opinion Surveys Program'). Offers from the Third-Parties are accessible on the
                            Track Opinion Surveys website.</p>
                        <p>There is no fee to participate in the Track Opinion Surveys Program.</p>
            
                        <h3>Use of the Website</h3>
                        <p>Use of the Track Opinion website states that you are in agreement to using the website’s features and
                            services for only for your own noncommercial personal use and in compliance with these Terms. You are
                            responsible for your own communications, including the transmission, uploading or posting of information
                            and are responsible for the consequences of such communications to the website. All the users are
                            required to agree not to use the website, and specifically prohibit any use of the website, for any of
                            the following purposes:</p>
            
                        <ul>
                            <li>Posting, communicating or transmitting any material that infringes on any intellectual property,
                                publicity or privacy right of another person or entity Posting any information which is untrue,
                                inaccurate or not your own.</li>
                            <li>Engaging in conduct that would constitute a criminal offense or give rise to civil liability or
                                otherwise violate any law or regulation.</li>
                            <li>Attempting to interfere in any way with the website’s network security, or attempting to use the
                                website’s service to gain unauthorized access to any other computer system.</li>
                        </ul>
            
                        <p>We trust that you (all our users/ members) are responsible for maintaining the confidentiality of your
                            account and password. You agree to accept responsibility for all activities that occur under your
                            account or password. You agree to immediately notify us in the event of any unauthorized use of your
                            account or other breach of security. <br>
                            If you are accessing the website via any of the applications available via third parties (collectively
                            “Third Party Outlets”) including, without limitation, Apple, Inc.’s “App Store” or Google, Inc.’s
                            “Google Play” store, you acknowledge and agree that these Terms are entered into by and between you and
                            the Company only, and that none of the Third Party Outlets are party to these Terms. The Third Party
                            Outlets are not sponsors to, nor in any way affiliated with, any of the Company’s Promotions (elaborated
                            below).</p>
            
                        <h3>Adhoc Terms and Conditions</h3>
                        <p>You agree that additional terms and conditions may apply to specific products, orders or your use of
                            certain portions of the website, including with respect to ordering, shipping and return policies and
                            membership reward programs (“Additional Terms”), which Additional Terms are made part of these Terms by
                            reference. If there is a conflict between these Terms and the Additional Terms, the Additional Terms
                            shall control.</p>
            
                        <p>We will post additional terms, official rules, or agreements that apply to certain services,
                            applications, activities, and features we offer or provide at or through the Track Opinion website
                            (“Additional Terms”), and you may be subject to such Additional Terms when you access those services,
                            applications, activities and/or features. In the event of any conflict between the terms of the
                            Additional Terms (on the one hand) and these Terms (on the other hand), these Terms shall prevail unless
                            expressly otherwise stated in the Additional Terms, which are intended to supplement, but not replace,
                            these Terms..</p>
            
                        <h3>For our Users </h3>
                        <p>We welcome Users above the age of 13 to register with us and reserve the right to revoke your membership
                            for any reason at any time for if sighted any violation of these Terms of the Privacy Policy, without
                            notice. Membership is void where prohibited by law. In order to redeem earnings from activities on the
                            website, you must adhere to the following:</p>
            
                        <ul>
                            <li> Confirm your email address by responding to any email sent to you from us</li>
                            <li> Complete a minimum of seven (7) surveys.</li>
                        </ul>
            
                        <p>A completed survey is defined as a survey that has been legitimately started by the website, taken by you
                            as a user with all questions being successfully answered, having you returned to the website upon
                            successful completion of the survey. The users who have not adhered to the above steps will be denied
                            redemption of earned points.</p>
            
                        <h3>Product Information &amp; its Limitation</h3>
                        <p>Excluding any content which may be submitted by Users from time to time, we strive to ensure that the
                            information on the website is complete and reliable. Certain information may contain pricing errors,
                            typographical errors and other errors or inaccuracies which we may correct without liability. We also
                            reserve the right to limit quantities purchased by Users and to revise, suspend, or terminate an event
                            or promotion at any time without notice (including after an order has been submitted and/or
                            acknowledged). We do not guarantee that all products described on our website will be available.</p>
            
                        <h3>Proprietary Rights</h3>
                        <p>All our Users acknowledge and agree that the content (other than content submitted by Users), materials,
                            text, images, videos, interfaces, graphics, trademarks, logos, button icons, music, software and other
                            elements available on the website are the property of Track Opinion or our licensors and are protected
                            by copyright, trademark and/or other proprietary rights and laws.</p>
            
                        <p>You give your consensus to not to sell, license, rent, distribute, copy, reproduce, transmit, publicly
                            display, publicly perform, publish, adapt, edit, modify or create derivative works from any content or
                            materials on the website. Opinionest is the registered brand of Track Opinion Research Pvt. Ltd.</p>
            
                        <p>Our website’s content is Copyright 2017 Opinionest. All rights reserved.</p>
            
                        <h3>Content Limitations</h3>
                        <p>Track Opinion will not claim ownership of any irrelevant content (irrelevant, libelous, false,
                            defamatory, lewd, suggestive, harassing, threatening, obscene or otherwise objectionable) you submit via
                            the website. You, the User, hereby declares that any contents provided on the website do not include
                            anything to which you do not have the full right to grant Track Opinion the license specified (below).
                        </p>
            
                        <p>Therefore, Track Opinion legally has a perpetual, irrevocable, non-terminable, worldwide, royaltyfree and
                            non-exclusive license to use, copy, distribute, publicly display, modify, create derivative works, and
                            sublicense such materials or any part of such contents. </p>
            
                        <p>We do not encourage our alliances to misuse our Surveys Program or our website to participate in any
                            illegal, fraudulent or unethical activities and neither provide any content that contains any viruses,
                            corrupted data or other harmful, disruptive, or destructive files or information that may crash our
                            operations. </p>
            
                        <h3>Disclaimer</h3>
                        <p>You accept and agree the responsibility and risk with respect to your use of the website.</p>
                        <p>Track Opinion makes no warranties of any kind regarding any non-Track Opinion websites to which you may
                            be directed or hyperlinked from this website. Hyperlinks are included solely for your convenience, and
                            we make no representations or warranties with regard to the accuracy, availability, suitability or
                            safety of information provided in such non- Track Opinion websites. </p>
                        <p>We do not endorse, warrant or guarantee any products or services offered or provided by or on behalf of
                            third parties on the website.</p>
            
                        <h3>User Disagreements</h3>
            
                        <p>You are solely responsible for your involvement with other Users of the website. Track Opinion reserves
                            the right, but has no obligation, to monitor disagreements between you and other Users. We disclaim all
                            liability in regard to any user disengagement.</p>
            
                        <h3>Idemnification</h3>
                        <p>You agree to indemnify, hold harmless, and defend Track Opinion, its subsidiaries, divisions, and
                            affiliates and their respective officers, directors, employees, agents and affiliates from any and all
                            claims, liabilities, damages, costs and expenses of defense, including attorneys’ fees, in any way
                            arising from or related to your use of the website, your violation of these Terms or the Privacy Policy,
                            content posted to the website by you or your violation of any law or the rights of a third party.</p>
            
                        <h3>Limitation of Liability</h3>
                        <p>Under no circumstances, including negligence, shall either Track Opinion, the Track Opinion Surveys
                            Program, or the Website, be liable for any direct, indirect, incidental, punitive, special,
                            consequential or exemplary damages, including, but not limited to, damages for loss of profits,
                            goodwill, use, data or other intangible losses (even if Branded has been advised of the possibility of
                            such damages) arising out of or in any way connected with your use of or performance of Track Opinion
                            Surveys Program and/or the Website, whether based on contract, tort, negligence or strict liability. If
                            you are dissatisfied with any portion of the Track Opinion Surveys Program and/or the Website, your sole
                            and exclusive remedy is to discontinue using the Track Opinion Surveys Program. Some jurisdictions do
                            not allow the limitation of liability for incidental or consequential damages. Accordingly, some of the
                            above limitations may not apply to you. The provisions of this section survive the termination or
                            expiration of this Agreement.</p>
                        <p>You hereby acknowledge that the preceding paragraph shall apply to all content, merchandise and services
                            available through the website. Because some states do not allow limitations on implied warranties or the
                            exclusion or limitation of certain damages, all of the above disclaimers or exclusions may not apply to
                            all users.</p>
            
                        <h3>Termination</h3>
            
                        <p>Not with standing any term of this Agreement, Track Opinion reserves the right, without notice and its
                            sole discretion, to discontinue its Surveys Program or the website or any of its services, and further,
                            does not have any commitment toward any Users, past or present. Track Opinion may at anytime, for any
                            reason, with or without notice, discontinue its Surveys Program, the website, and all services, for one
                            or all of its Users.</p>
            
                        <h3>Risk of Loss </h3>
                        <p>Any merchandise purchased from our website will be shipped by a third party carrier. As a result, title
                            and risk of loss for such merchandise will pass to you upon our delivery to the carrier.</p>
            
                        <h3>Copyright Violation</h3>
                        <p>Track Opinion prohibits the posting of any content that violates or infringes the copyright rights and/or
                            other intellectual property rights (including rights of privacy and publicity) of any person or entity.
                            If you believe that any material contained on this website violates your copyright or other intellectual
                            property rights, you should notify us of your copyright infringement claim in accordance with the
                            following procedure. We will process notices of alleged infringement which it receives and will take
                            appropriate action as required by the Digital Millennium Copyright Act (“DMCA”).</p>
            
                        <p>You consent that you will not to infringe any patent, trademark, trade secret, copyright, or other IP or
                            proprietary right of any person or entity; or to modify, copy, distribute, transmit, display, perform,
                            reproduce, publish, license, create derivative works from, transfer or sell any information, software,
                            products or services obtained from Track Opinion, its Survey Program, or the Website without Track
                            Opinion’s written approval.</p>
            
                        <h3>Feedback</h3>
                        <p>You agree that any feedback, analysis, suggestions and comments to Track Opinion provided by you
                            (collectively, "Feedback") will become the property of Track Opinion. User represents and warrants that
                            User has the right to make the foregoing assignment and to grant to Track Opinion the rights granted
                            under this Section and that any Feedback which is provided by User to Track Opinion does not infringe
                            any third-party intellectual property rights.</p>
            
                        <h3>Connecting with Us </h3>
                        <p>You can reach us anytime for any queries regarding our privacy policy, terms of use or your valuable
                            comments, concerns, complaints about our practices – it can be anything! </p>
                        <p>You need to get in touch with the Opinionest Team via e-mail : mgsdkjb and we will get back to you the
                            soonest we can.</p>
            
                        <h3>Unsubscribing Yourself </h3>
            
                        <p>To unsubscribe your email account and not receive any further emails from Opinionest, you need to send an
                            email (from the address used as your Opinionest user contact) to info@opinionest.com with "unsubscribe"
                            as the subject line. </p>
            
                    </div>
                </mat-dialog-content>
            </div>
            
        </div>
    </div>
</div>




<app-footer-web></app-footer-web>