// @import'../../../theme/custom-theme.scss';
@import'../../../assets/scss/button.scss';
// @import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
.about-banner {
    height: 100vh;
    padding: 95px 0 54px;
    display: flex;
    align-items: center;
    h1 {
        font-size: 44px;
        line-height: 1.3;
        font-weight: 800;
        margin-bottom: 29px;
        color: $themesecondary;
    }
    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.6;
        color:$headingprimary;
    }
    p{
        font-size: 16px;
        color: #858585;
        line-height: 28px;
        font-weight: 300;
    }
    figure {
        width: 85%;
    }
}



.market-research {
    background: #f8f8f8;
    padding: 70px 0;
    h2 {
        strong {
            text-decoration: underline;
            color: $headingprimary;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 300;
        color: #363637;
        margin-bottom: 100px;
    }
}
.op-step{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 4px;
        height: 100%;
        background-color: #DADADA;
        border-radius: 10px;
    }
    .steps{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 2px solid #F89406;
            border-radius: 100px;  
        }
        .step{
            
            .step-header{
                display: flex;
                margin-bottom: 24px;
                figure{
                    margin: 0 16px 0 0;
                    width: 24px;
                }
                h4{
                    font-size: 16px;
                    line-height: 1.5;
                    font-weight: 600;
                    color: #363637; 
                    margin:0;
                }
            }
            .stepper-card{
                background: #fff;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03);
                border-radius: 4px;
                padding: 24px;
                p{
                    font-size: 12px;
                    line-height: 1.5;
                    font-weight: 400;
                    color: #363637; 
                    margin:0;
                }
            }
        }
        .st-pr{
            padding-right: 70px;
        }
        .st-pl{
            padding-left: 70px;
        }
    }
}



