<app-header-web activeIndex="3"></app-header-web>
<div class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>How Opinionest works?</h1>

                <p>When we promise you can <a href="https://opinionest.com/about-us">make easy money online</a>, it is no BS. We mean every word.</p>
                <br/>
                <p>
                    You are only 3 super-quick steps away from earning money through surveys. Follow further and enjoy more fun with a growing kitty.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <figure>
                    <img src="../../../assets/images/online-article.png" alt="How Opinionest Works?">
                </figure>
            </div>
        </div>
    </div>
</div>



<div class="market-research">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center">HOW IT WORKS</h2>
                <p class="text-center how-text">Want to make money?<br>
                    You just need to follow these simple steps to get started with Opinionest</p>
            </div>
        </div>
    </div>
    <div class="op-step">
        <div class="container">
            <div class="row steps">
                <div class="col-md-6">
                    <div class="step st-pr">
                        <div class="step-inner">
                            <div class="step-header">
                                <figure><img src="assets/images/dashboard/step1.png" alt="Register with Opinionest"></figure>
                                <h4>Register with Opinionest</h4>
                            </div>
                            <div class="stepper-card">
                                <p>Create your profile using any email address, Gmail, or Facebook account.</p>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row steps">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="step st-pl">
                        <div class="step-inner">
                            <div class="step-header">
                                <figure><img src="assets/images/dashboard/step2.png" alt="Complete your Profile"></figure>
                                <h4>Complete your Profile by Answering Predefined Questions</h4>
                            </div>
                            <div class="stepper-card">
                                <p>Answer all the mandatory questions to start with the surveys. The more optional parts you answer, the higher would be your rewards.</p>
                            </div>
                        </div>
    
                    </div>
                </div>
                
            </div>
            <div class="row steps">
                <div class="col-md-6">
                    <div class="step st-pr">
                        <div class="step-inner">
                            <div class="step-header">
                                <figure><img src="assets/images/dashboard/step3.png" alt="Take the Online Surveys"></figure>
                                <h4>Take the Online Surveys</h4>
                            </div>
                            <div class="stepper-card">
                                <p>Access the surveys from your dashboard. Or hop on to the registered email address to find new polls. We curate surveys, especially for you, based on your interests.</p>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row steps">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="step st-pl">
                        <div class="step-inner">
                            <div class="step-header">
                                <figure><img src="assets/images/dashboard/step4.png" alt="Earn Money from Online Surveys"></figure>
                                <h4>Hurray! You just earned.</h4>
                            </div>
                            <div class="stepper-card">
                                <p>Yes. Your reward points instantly start accumulating once you finish the first survey. Keep going and within a short time, skyrocket your profits.</p>
                            </div>
                        </div>
    
                    </div>
                </div>
                
            </div>
            <div class="row steps">
                <div class="col-md-6">
                    <div class="step st-pr">
                        <div class="step-inner">
                            <div class="step-header">
                                <figure><img src="assets/images/dashboard/step5.png" alt="Earn Reward Points and Gifts"></figure>
                                <h4>From reward points to gifts</h4>
                            </div>
                            <div class="stepper-card">
                                <p>Redeem reward points into desired gift
                                    cards. Get your favorite brands in your wallet
                                    now. Or cash points in via globally trusted
                                    online wallet transfers.</p>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row steps">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="step st-pl">
                        <div class="step-inner">
                            <div class="step-header">
                                <figure><img src="assets/images/dashboard/step6.png" alt="Refer and Earn"></figure>
                                <h4>Refer and earn</h4>
                            </div>
                            <div class="stepper-card">
                                <p>
                                    Refer Opinionest to your folks and score additional reward points. You grow more when they earn money from surveys. Easy-peasy to explode your gains. You might win a surprise, too!
                                </p>
                            </div>
                        </div>
    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="stepper-card ps">
          <p class="m-0">
            Don’t let the chance slip. Start earning today.
          </p>
        </div>
    </div>
    <div class="col-md-12">
        <button [routerLink]="['/login/register']" class="btn get-started mx-auto d-block mt-5 bordered-btn">Join Us Now</button>
    </div>
</div>


<app-footer-web></app-footer-web>