/* You can add global styles to this file, and also import other style files */
@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';
@import '../src/assets/scss/form.scss';
@import '../src/assets/scss/color.scss';
@keyframes example {
  from {   color: #fff;
    background-color: #F89406;
  }
  to {
    color: rgb(3, 0, 0);
    background-color: #fff;
  }
}
mat-drawer-container{
  mat-drawer{
    width: 230px;
    border-right: none !important;
    background: #f9f9f9;
  }
  mat-drawer-content{
    width: calc(100% - 230px);
    background: #f9f9f9;
  }
}
::ng-deep .custom-modalbox {
  mat-dialog-container {
    padding: 0;
  }
}
.green-progress .mat-progress-bar-fill::after {
  background-color: green !important;
}
.ct-topbar {
  text-align: right;
  background: #eee;
}
.ct-topbar__list {
  margin-bottom: 0px;
}
.ct-language__dropdown{
	padding-top: 8px;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 110%;
	left: -3px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 100px;
	text-align: center;
	padding-top: 0;
  z-index:200;
}
.ct-language__dropdown li{
	background: #222;
	padding: 5px;
}
.ct-language__dropdown li a{
	display: block;
}
.ct-language__dropdown li:first-child{
	padding-top: 10px;
	border-radius: 3px 3px 0 0;
}
.ct-language__dropdown li:last-child{
	padding-bottom: 10px;
	border-radius: 0 0 3px 3px;
}
.ct-language__dropdown li:hover{
	background: #444;
}
.ct-language__dropdown:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 8px;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 8px;
	border-left-width: 8px;
	border-bottom: 8px solid #222;
}
.ct-language{
	position: relative;
  background: #00aced;
  color: #fff;
  padding: 10px 0;
}
.ct-language:hover .ct-language__dropdown{
	max-height: 200px;
	padding-top: 8px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.navbar-brand {
    height: auto;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.navbar-default .navbar-nav > .active > a {
  padding: 8px 19px 9px !important;
}
.navbar-nav > li.active {
  padding: 8px 0px 9px 0;
}
.navbar-right {
  padding-top: 0;
}
.navbar-default .navbar-nav > li > a::after {
  background-color: transparent;
  border-bottom: 3px solid #d2282e;
}
.navbar-default .navbar-nav>li {
  display: inline-block;
  text-align: center;
  float: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0392CC;
}

body{
  font-family: 'Poppins', sans-serif;
}
ul{
  list-style: none;
}
img{
  width: 100%;
}
.cursor-pointer{
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none; 
  border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

.no-data{
  font-size: $font-36;
  color: #D3D3D3;
  font-weight: map-get($font-weight, 'bold');
  @include font-family();
}


mat-drawer{
  border-right: none;
  position: fixed !important;
  height: 100vh;
  left: 0;
  top: 0;
}

.current-time{
  font-size: $extra-small-font;
  color: #fff;
}

.offers-tab{
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  .mat-tab-header{
    background: #fff;
    border-bottom: solid 1px #f9f9f9;
    .mat-tab-label{
      height: 51px;
      @include font-family();
      font-size: 12px;
      font-weight: 300;
      color: #363637;
      letter-spacing: 0.6px;
    }
    .mat-ink-bar{
      height: 48px;
      background-color: #fff !important;
    }
    .mat-tab-label-active{
      background-color: #fff;
      border-bottom: solid 1px #f89406;
      z-index: 99;
      color: #f89406;
      opacity: 1;
      font-weight: 600;
    }
  }
  .mat-tab-body-wrapper{
    .mat-tab-body-content{
      padding: 24px;
      overflow: auto;
    }
  }
}
.forum-card{
  .mat-tab-body-wrapper{
    .mat-tab-body-content{
      padding: 24px;
      height: 77vh;
      max-height: initial;
    }
  }
}
.prof{
  .mat-tab-body-wrapper{
    padding: 0;
    .mat-tab-body-content{
      padding: 24px;
      max-height: 100%;
    }
  }
}

.header-section{
  h2{
    @include font-family();
    font-size: $extra-large-font;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #183558;
    position: relative;
    margin-bottom: 36px;
    &:after{
      content: "";
      position: absolute;
      top: initial;
      right: initial;
      bottom: -10px;
      left: 0;
      width: 126px;
      height: 2px;
      background: #F89406;
      border-radius: 10px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
    }
  }
}

.wallet{
  background: #F89406;
  width: auto;
  padding: 3px 12px;
    border-radius: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    img{
      width: 12px;
      margin-right: 5px;
    }
    span{
      font-weight: 500;
      @include font-family();
      font-size: 12px;
      color: #fff;
    }
}

.green-progress .mat-progress-bar-fill::after{
  background-color: #7BC359 !important;
}
.note{
      font-weight: 300;
      @include font-family();
      font-size: $small-font;
      color: #E2AC05;
      margin-top: 4px;
}

.disclaimer{
  background: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  padding: 6px 8px;
  p{
    font-weight: 300;
    @include font-family();
    font-size: $extra-small-font;
    margin: 0;
    color: #797777;
    width: calc(100% - 62px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
    b{
      font-weight: 500;
    }
  }
  span{
    font-weight: 500;
    @include font-family();
    color: #797777;
    text-decoration: underline;
    font-size: $extra-small-font;
    width: 62px;
    text-align: right;
  }
}

.dashboard{
  pp-breadcrumbs{
    display: none;
  }
}

*{
  outline: none;
}
.page-title{
  font-size: 28px;
  font-weight: 900;
  color: #f89406;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  line-height: 36px;
}

input:focus{
  box-shadow: none !important;
}
.op-cta{
  background-color: #f89406;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 10px 16px;
  min-width: 124px;
  &:hover{
    color: #fff;
  }
  img{
    width: 12px;
  }
}
.btn-shadow{
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.1);
}
.o-title{
 color: #363637;
 font-weight: 600;
 font-size: 14px; 
 @include font-family();
 letter-spacing: 0.85px;
 margin-bottom: 16px;
}


.progress{
  position: relative;
  background: transparent;
  width: 80px;
  height: 80px;
  margin: auto;
  .progress-inner{
    border: solid 8px #EFEFEF;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    mat-spinner{
      width: 80px !important;
      height: 80px !important;
      animation: auto !important;
      position: absolute;
      top: 0;
      left: 0;
      svg{
        width: 80px !important;
        height: 80px !important;
      }
    }
    mat-progress-spinner{
      width: 80px !important;
      height: 80px !important;
      animation: auto !important;
      position: absolute;
      top: 0;
      left: 0;
      svg{
        width: 80px !important;
        height: 80px !important;
      }
    }
  }
  b{
    @include font-family();
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #363637;
  }
}

.status-progress{
  border-radius: 12px;
  overflow: hidden;
  .mat-progress-bar-buffer{
    background-color: #F3F3F3;
  }
  .mat-progress-bar-fill::after{
    border-radius: 12px;
  }
  span{
    color: #363637;
    font-size: 9px;
    font-weight: 600;
    margin-left: 8px;
  }
}
.open{
  .mat-progress-bar-fill::after{
    border-radius: 12px;
    background-color: #f6ce12;
  }
}


share-buttons{
  share-button{
    button{
      border: none;
      background: transparent;
      margin-right: 8px;
      .fa{
        font-size: 22px;
      }
      .fa-facebook{
        color: #2196F3;
      }
      .fa-twitter{
        color: #03A9F4;
      }
      .fa-linkedin{
        color: #0077B5;
      }
      .fa-pinterest-p{
        color: #D32F2F;
      }
      .fa-google-plus{
        color: #F44336;
      }
      .fa-stumbleupon{
        color: #eb4823;
      }
      .fa-reddit-alien{
        color: #363637;
      }
      .fa-whatsapp{
        color: #4CAF50;
      }
      .fa-tumblr{
        color: #001835;
      }
      .fa-vk{
        color: #5181b8;
      }
      .fa-send{
        color: #D32F2F;
      }
      .fa-envelope{
        color: #2f80d3;
      }
      .fa-link{
        color: #f5d80b;
      }
      .fa-print{
        color: #D32F2F;
      }
    }
  }
}

.mat-progress-bar{
  height: 6px !important;
  border-radius: 10px;
}
.no-data{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  color: #c5c5c5;
  letter-spacing: 1px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  figure{
    width: 260px;
  }
}

.cookies-popup{
  position: fixed;
  bottom: 0;
  background: rgba(37, 37, 36, 0.8);
  left: 0;
  width: 100%;
  z-index: 999;
  ul{
    display: flex;
    align-items: center;

    height: 100%;
    justify-content: end;

    li{
      button{
        border: none;
        border-radius: 4px;
        box-shadow: none;
        width: 120px;
        margin-left: 16px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
  .inner-cookies{
    padding: 24px 0;
  }
  h2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #F89406;
  }
  p{
    color: #fff;
    font-size: 12px;
    margin-bottom: 8px;
  }
}

.feed-popup{
  .next-btn{
    font-family: Poppins;
    background-color: #FF9100;
    height: 40px;
    width: 101px;
    color: #fff;
    font-size: 14px;

  }
  .closebtn{
    font-family: Poppins;
    background-color: #F2F2F2;
    height: 40px;
    width: 101px;
    color: #363637;
    font-size: 14px;
    border: none;
    margin-right: 16px;
    border-radius: 4px;
  }
  button{
    &:focus{
      outline: none;
    }
  }
  .feed-popup-header{
    border-bottom: solid 1px #e6e6e6;
    /* padding-bottom: 16px; */
    margin: 0 -39px;
    padding: 0 24px 16px;
    h2{
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
      
      letter-spacing: 0.06em;
      
      color: #363637;
    }
    figure{
      width: 16px;
    }
  }
  .feed-popup-content{
    margin: 24px -16px 0;
    padding: 0 0 0;
    border: solid 1px #f9f9f9;
    .content-ribbon{
      background: #fff5e8;
      padding: 16px 16px;
      border-radius: 4px;
      figure{
        width: 32px;
        height: 32px;
        overflow: hidden;
        border: 1px solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 100%;
      }
      h3,p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #363637; 
      }
      p{
        font-size: 12px;
        margin-bottom: 0;
      }
      .title-pop{
        width: calc(100% - 108px);
      }
      .point-badge{
        background: #709C0C;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        width: 108px;
        span{
          font-family: Poppins;
          font-size: 10px;
          color: #fff;
        }
      
      }
    }
    .feed-content{
      padding: 24px 24px;
      label{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height */
        
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        
        color: rgba(54, 54, 55, 0.65);
      }
      h5{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        
        color: #363637;
      }
    }
  }
}



// Chatbot=============
.chatbot{
  width: 59px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    margin: 0;
    z-index: 99;
    cursor: pointer;
}
.mat-bottom-sheet-container{
  padding: 0;
}
.survey-tabs{
  .customize-porf{

  .profQuest{
    flex-direction: initial !important;
    .form-horizontal{
      height: calc(100vh - 185px);
    }
    .mat-tab-body-wrapper{
      width: 100%;
    }
    .mat-tab-header{
      background: whitesmoke;
      height: calc(100vh - 92px);
      border-bottom: none;
      border-right: solid 1px #f9f9f9;
    
      .mat-tab-labels{
        flex-direction: column;
      }
      .mat-tab-label{
        justify-content: flex-start;
      }
      .mat-tab-label-active{
        border-bottom: none;
      }
    }
  }
}
}


.form-horizontal{
  height: calc(100vh - 257px);
  position: relative;
  .primary-btn{
    height: 40px;
    width: 110px;
    span{
      color: #fff;
      font-family: "Poppins", sans-serif;
      min-width: 110px;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }
  }
  .question-list{
    .form-group{
      display: block;
    }
    mat-select{
      border: none;
      border-bottom: solid 1px #ddd;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
      .mat-select-value-text{
        span{
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          color: #363637;
        }
      }
      &:focus{
        box-shadow: none;
      }
    }
  }
  .form-footer{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
}
.mat-option-text{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #363637;
}
.label-quest{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  color: #363637;
}
.quest-radio{
  mat-radio-group{
    display: grid;
    margin-top: 24px;
    mat-radio-button{
      margin-bottom: 8px;
      .mat-radio-label{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.06em;
        color: #6b6b6b;
      }
    }
  }
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #f89406 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #f89406 !important;
}
.primary-btn{
  &:focus{
    outline: none;
  }
}




.mat-app-background{
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 260px;
  }
}

#accordion{
  .card{
      margin-bottom: 24px;
      border: none;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
      .card-header{
          border-bottom: none;
          background: #fff;
          .card-link{
              span{
                  font-size: 14px;
                  font-family: Poppins;
                  font-weight: 500;
                  color: #363637;
                  display: block;
              }
              small{
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 18px;
                  letter-spacing: 0.06em;

                  color: rgba(19, 37, 59, 0.63);
              }
              figure{
                  width: 32px;
              }
          }
      }
      .collapse{
          border-top: solid 1px #f5f5f5;
          h2{
              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */
              
              letter-spacing: 0.06em;
              
              color: #363637;
          }
          input{
              border: solid 1px #ddd;
              background-color: #f9f9f9;
          }
          small{
              font-family: Poppins;
              font-style: normal;
              font-weight: 300;
              font-size: 10px;
              line-height: 15px;
              /* identical to box height */
              margin-bottom: 16px;
              display: inline-flex;
              align-items: center;
              letter-spacing: 0.06em;
              
              color: rgba(54, 54, 55, 0.65);
          }
          ul{
              display: flex;
              align-items: center;
              li{
                  background: #FFFFFF;
                  border: 1px solid #F89406;
                  box-sizing: border-box;
                  border-radius: 23px;
                  margin-right: 16px;
                  padding: 2px 12px;
                  cursor: pointer;
                  span{
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 11px;
                      line-height: 16px;
                      /* identical to box height */
                      
                      display: flex;
                      align-items: center;
                      letter-spacing: 0.06em;
                      
                      color: #F89406;
                  }
              }
          }
      }
  }
}

.bot-wrapper{
  position: fixed;
  width: 350px;
  right: 10px;
  bottom: 0;
  background: #fff;
  z-index: 99;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.disc{
  background-color: #f9f9f9;
  padding: 6px 16px;
  p{
      font-size: 10px;
      @include font-family();
      color: #363637;
      opacity: 0.65;
      letter-spacing: 0.2px;
      margin: 0;
      padding-right: 4px;
      span{
          text-decoration: underline;
          font-weight: 500;
      }
  }
  mat-icon{
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: end;
  }
}

.donate-disc{
  padding: 0;
  background: transparent;
  p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.06em;
    opacity: 1;
    color: rgba(19, 37, 59, 0.63);
  }
}

.share-blog{
  figure{
    width: 20px;
  }
}
.share-box{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 16px 16px;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.08);
  max-height: 100%;
  overflow: auto;
  share-button{
    margin: 0 4px 8px 0;
    display: inline-flex;
  }
  .share-box-header{
    margin-bottom: 24px;
    h1{
      font-size: 14px;
      margin-bottom: 0;
      @include font-family();
      color: #363637;
  }
  small{
    width: 16px;
    cursor: pointer;
  }
  }

}
.blog-card-content{
  .detail-content{

    div{
      p{
        font-family: Poppins !important;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.04em;
          color: rgba(27, 27, 37, 0.62) !important;
        span{
          font-family: Poppins !important;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.04em;
          color: rgba(27, 27, 37, 0.62) !important;
          a{
            span{
              font-weight: 600;
              color: #1671FB !important;
            }
          }
        }
        
      }
      ul,ol{
        padding-left: 16;
        li{
          span{
            font-family: Poppins !important;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.04em;
            color: rgba(27, 27, 37, 0.62) !important;
            em{
              font-style: initial;
              span{
                font-family: Poppins !important;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.04em;
                color: rgba(27, 27, 37, 1) !important;
              }
            }
          }
        }
      }
    }
  }
}

.contact-wrapper{
  .form-wrapper{
    .mat-radio-label{
      align-items: flex-start;
      .mat-radio-container{
        margin-top: 3px;
      }
      .mat-radio-label-content{
        white-space: pre-wrap;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.2px;
        color: #363637;
      }
    }
  }
}

.inputTextSearch.custSearch{
  padding: 12px 16px !important;
  background-color: #f9f9f9 !important;
  border: none !important;
}



.loader,
.loader:after {
  border-radius: 50%;
  width: 51px;
  height: 51px;
}
.loadinga{
  font-size: 12px;
}
.loader {
  margin: 60px auto 8px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(248,148,6, 0.2);
  border-right: 5px solid rgba(248,148,6, 0.2);
  border-bottom: 5px solid rgba(248,148,6, 0.2);
  border-left: 5px solid #f89406;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.indicator{
  animation: blinker 1.6s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  background-color: rgb(248 148 6 / 27%);
  position: absolute;
  z-index: 99;
  left: 34%;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  .Blink {
    animation: blinker 1.6s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: #f89406;
  }
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.backtoCategory{
  position: absolute !important;
  right: 139px;
  background-color: #e0e0e0 !important;
  bottom: 18px;
  span{
    font-family: Poppins;
    font-size: 12px;
    text-transform: uppercase;
    color: #363637;
  }
}

