<div class="dashboard">
  <!-- <app-header></app-header> -->
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-left-navigation ProfilePercentage='' menuIndex='1'></app-left-navigation>
    </mat-drawer>
    <mat-drawer-content class="d-flex">
      <div class="content-left">
        <div class="content-top d-flex">
          <div class="profile">
            <h2 class="o-title">Profile</h2>
            <div class="opinionest-card radius-13 min-173 cursor-pointer" (click)="editProfile()">
              <figure class="profile-watermark">
                <img src="assets/images/dashboard/profile.png" alt="profile">
              </figure>
              <div class="progress-bar-box">
               
                <div class="progress">
                  <div class="progress-inner">
                    <!-- <mat-progress-spinner mode="indeterminate" *ngIf="profileProgress" for  value="{{profileProgress}}"></mat-progress-spinner> -->
                    <mat-progress-spinner
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="ProfilePercentage">
                </mat-progress-spinner>
                  </div>
                  <!-- <mat-progress-bar mode="determinate" value="{{profileProgress}}"></mat-progress-bar> -->
                  <b>{{ProfilePercentage}}%</b>
                </div>
                <div class="user-detail">
                  <h4>{{fullName}}</h4>
                  <small class="d-block">{{country}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="offer-card cursor-pointer" (click)="transfer(2)">
            <h2 class="o-title">Offers & Rewards</h2>
            <div class="opinionest-card radius-13 min-173 d-flex align-items-center">
              <div class="content-part pr-2">
                <p>More survey
                  comes with more rewards and offers</p>
                  <span class="total-value">+{{offerCount}}</span>
                  <small class="value-title">Total offers</small>
              </div>
              <figure>
                <img src="assets/images/dashboard/offers.png" alt="">
              </figure>
            </div>
          </div>
        </div>

        <div class="content-center">
          <h2 class="o-title">Refer & Earn</h2>
          <div class="opinionest-card friendlist radius-13">
            
            <div class="d-flex align-items-start justify-content-between">
              <div class="left">
                <p>Refer More and Earn More</p>
                <span class="total-value">{{referralCount}}</span>
                <small class="value-title">Total referral</small>
              </div>
              <div class="right">
                <div class="header-top d-flex justify-content-end">
                  <span class="d-flex align-items-center view-detail" (click)="transfer(4)">View details <img src="assets/images/right-arrow-orange.png" alt=""></span>
                </div>
                <div class="list-of-friends d-flex align-items-center">
                  <div class="tp">
                    <span class="total-value">{{referalPoint}} <small>Point</small></span>
                    <small class="value-title">Total referral points</small>
                  </div>
                  <div class="avatar-list">
                    <ul *ngIf="referralList" class="m-0 p-0 d-flex align-items-center">
                      <li *ngFor="let refr of referralList; let index = index">
                        <figure>{{refr.shortName}}<span><img src="assets/images/dashboard/smiley.png" alt=""></span></figure>
                        <small>{{refr.name.split(" ")[0]}}</small>
                      </li>
                      <span class="d-flex align-items-center view-detail" (click)="transfer(4)"> {{totalReferralCount > 0 ? '+': ''}}</span>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-bottom d-flex justify-content-between">
          <div class="opinionest-card radius-13">
            <div class="header-top d-flex align-items-center justify-content-between mb-2">
              <div class="header-left d-flex align-items-center" (click)="transfer(6)">
                <figure class="d-flex align-items-center m-0"><img src="assets/images/dashboard/wallet.png" alt=""></figure>
                <h2 class="mb-0">Wallet</h2>
              </div>
              <span class="d-flex align-items-center view-detail" (click)="transfer(6)">View details <img src="assets/images/right-arrow-orange.png" alt=""></span>
            </div>
            <div class="points-box">
              <span class="total-value">{{totalPoints}} <small>Points</small></span>
              <small class="value-title">Total points</small>
            </div>
            <div class="point-sum">
              <ul class="m-0 p-0 d-flex align-items-center justify-content-between">
                <li><img src="assets/images/dashboard/money-bag.png" alt="">Survey</li>
                <li>+</li>
                <li><img src="assets/images/dashboard/money-bag.png" alt="">Referral</li>
                <li>+</li>
                <li><img src="assets/images/dashboard/money-bag.png" alt="">Forum</li>
                <li>+</li>
                <li><img src="assets/images/dashboard/money-bag.png" alt="">Profile</li>
              </ul>
            </div>
          </div>
          <div class="opinionest-card radius-13">
            <div class="header-top d-flex align-items-center justify-content-between mb-2">
              <div class="header-left d-flex align-items-center">
                <figure class="d-flex align-items-center m-0"><img src="assets/images/dashboard/survey.png" alt=""></figure>
                <h2 class="mb-0">Survey</h2>
              </div>
              <span (click)="transfer(7)" class="d-flex align-items-center view-detail">View details <img src="assets/images/right-arrow-orange.png" alt=""></span>
            </div>
            <div class="points-box">
              <span class="total-value">{{totalRecords}}</span>
              <small class="value-title">Total active survey</small>
            </div>
            <div class="point-msg mt-3">
              <p class="m-0 mx-auto">Attempt your active survey to earn more reward points before it gets expired</p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="content-right">
        <div class="feed">
          <div class="feed-header d-flex align-items-center justify-content-between">
            <div class="inner d-flex align-items-center">
              <img src="assets/images/dashboard/bell.png" alt="">
              <h2 class="o-title mb-0">Notification</h2> <span>{{dailyFeeds}}</span>
            </div>
            <span (click)="transfer(6)" class="d-flex align-items-center view-detail">See all <img src="assets/images/right-arrow-orange.png" alt=""></span>
          </div>
          <div class="latest-feed" *ngIf="Notification">
            <div class="feed-card d-flex align-items-center justify-content-between">
              <div class="left d-flex align-items-center justify-content-between">
                <figure class="m-0"><img src="assets/images/dashboard/reward.png" alt=""></figure>
                <div class="feed-text">
                  <h3 class="mb-1">{{Notification.notification.header}}</h3>
                  <p class="m-0">{{Notification.notification.message}}</p>
                </div>
              </div>
              <div class="right" *ngIf="Notification.count>0">
                +{{Notification.count}}
              </div>
            </div>
          </div>
          
        </div>
        <hr>
        <div class="feed forum">
          <div class="feed-header d-flex align-items-center justify-content-between">
            <div class="inner d-flex align-items-center">
              <h2 class="o-title mb-0">Forum</h2>
            </div>
            <span (click)="transfer(3)" class="d-flex align-items-center view-detail">See all <img src="assets/images/right-arrow-orange.png" alt=""></span>
          </div>
          <div *ngIf="mySurvey && mySurvey.lenght>0">
          <div *ngFor="let srv of mySurvey; let index = index" class="forum-card mb-3">
            <div  class="feed-card d-flex align-items-center justify-content-between">
              <div class="left">
                
                <div class="feed-text mb-2 d-flex align-items-center justify-content-between">
                  <h3 class="mb-1">{{srv.title}}</h3>
                  <span>{{srv.status}}</span>
                </div>
                <div class="status-progress open d-flex align-items-center justify-content-between">
                  <mat-progress-bar mode="determinate" value="{{srv.surveyLimit}}"></mat-progress-bar>
                  <span>{{srv.limit}}</span>
                </div>
              </div>
              <div class="right">
                {{srv.totalClicks}}
                <small class="d-block text-center">Clicks</small>
              </div>
            </div>
          </div>
        </div>
        </div>
        <hr>
        <div class="feed forum">
          <div class="feed-header d-flex align-items-center justify-content-between">
            <div class="inner d-flex align-items-center">
              <h2 class="o-title mb-0">Blog</h2>
            </div>
            <span (click)="transfer(8)" class="d-flex align-items-center view-detail">See all <img src="assets/images/right-arrow-orange.png" alt=""></span>
          </div>
          <div *ngIf="blog">
          <div  *ngFor="let details of blog" class="opinionest-card blog d-flex align-items-start">
            <figure class="m-0">
              <img  (click)="transferBlog(details.newHeader)" style="cursor: pointer;"
               src="{{details.image}}" alt="image">
            </figure>
            <div (click)="transferBlog(details.newHeader)" style="cursor: pointer;" class="blog-content">
             
              <h4 class="mb-1">{{details.header.lenght>60?details.header.substring(0, 60):details.header}}</h4>
              <p class="mb-0">{{toHTML(details.subHeader.length>60?details.subHeader.substring(0, 60):details.subHeader)}}...</p>
            </div>
          </div>
        </div> 
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>


</div>

