
// @import'../../../theme/custom-theme.scss';
@import'../../../../src/assets/scss/button.scss';
// @import'../../../../src/assets/scss/form.scss';
@import'../../../../src/assets/scss/color.scss';
.dashboard{
	.total-value{
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.96px;
		line-height: 32px;
		color: #f89406;
		@include font-family();
		display: block;
	}
	.value-title{
		@include font-family();
		font-size: 10px;
		font-weight: 300;
		letter-spacing: 0.4px;
		color: #363637;
		display: block;
	}
	.view-detail{
		display: inline-block;
		font-size: 11px;
		font-weight: 400;
		color: #f89406;
		letter-spacing: 0.9px;
		cursor: pointer;
		img{
			width: 8px;
			margin-left: 4px;
		}
	}
	.min-173{
		min-height: 173px;
	}
	mat-drawer-container{
		mat-drawer-content{
			.content-left{
				width: 70%;
				padding: 28px 40px 24px;	
				overflow: auto;
				height: 100vh;	
				.content-top{
					margin-bottom: 40px;
					.profile{
						width: 40%;
						margin-right: 32px;
						.profile-watermark{
							width: 24px;
							background: #FFF2DF;
							border-radius: 30px;
							padding: 5px;
							height: 24px;
							display: flex;
							align-items: center;
							justify-content: center;
							margin: 0;
							position: absolute;
							left: 16px;
							top: 16px;
						}
						.progress-bar-box{
							padding-top: 10px;
							.user-detail{
								text-align: center;
								padding: 12px 0 4px;
								h4{
									font-size: 14px;
									color: #363637;
									font-weight: 600;
									letter-spacing: 1px;
									margin-bottom: 4px;
									text-transform: capitalize;
									@include font-family();
								}
								small{
									@include font-family();
									font-size: 10px;
									font-weight: 400;
									color: #363637;
									letter-spacing: 1px;
									opacity: 0.65;
								}
							}
						}
					
					}
					.offer-card{
						width: calc(60% - 32px);
						.opinionest-card{
							background: #363637;
							padding: 16px 24px;
							figure{
								margin: 0;
								width: 35%;
							}
							.content-part{
								width: 65%;
								p{
									color: #fff;
									font-size: 16px;
									letter-spacing: 0.64px;
									font-weight: 600;
								}
								.value-title{
									color: #c6c6c6;
								}
							}
						}
					}
				}	
			}
			.content-right{
				width: 30%;
				background-color: #fff;
				height: 100vh;
				overflow: auto;
				.feed{
					padding: 28px 24px 24px;
					border-radius: 9px;
					.feed-header{
						margin-bottom: 24px;
						.inner{
							img{
								width: 16px;
								margin-right: 8px;
							}
							span{
								background-color: #ff5252;
								border-radius: 100%;
								width: 18px;
								height: 18px;
								color: #fff;
								font-size: 9px;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-left: 8px;
							}
						}
					
					}
					.latest-feed{
						.feed-card{
							background-color: #e4ffe3;
							padding: 16px 12px;
							border-radius: 9px;
							.left{
								
								figure{
									width: 24px;
									height: 24px;
									background: #fff;
									border-radius: 100%;
									padding: 3px;
									display: flex;
									align-items: center;
								}
								.feed-text{
									width: calc(100% - 24px);
									padding: 0 0 0 16px;
									border-right: solid 1px #ade5b6;
									h3{
										font-size: 12px;
										font-weight: 600;
										letter-spacing: 0.5px;
										color: #363637;
									}
									p{
										font-size: 9px;
										color: rgba(54, 54, 55, 0.9);
										letter-spacing: 0.36px;
										font-weight: 400;
									}
								}
							}
							.right{
								width: 70px;
								text-align: center;
								font-size: 14px;
								color: #445b10;
								font-weight: 600;
							}
						}
					}
				}
				hr{
					border: solid 1px #f9f9f9;
					margin: 0;
				}
				.forum{
					padding-top: 22px;
					.forum-card{
						border-radius: 9px;
						border: solid 1px #f0f0f0;
						padding: 16px 12px;
						.left{
							width: calc(100% - 43px);
							border-right: solid 1px #f0f0f0;
							padding-right: 16px;
							.feed-text{
								h3{
									font-size: 12px;
									color: #363637;
									line-height: 18px;
									letter-spacing: 0.4px;
								}
								span{
									height: 16px;
									display: flex;
									-webkit-box-align: center;
									align-items: center;
									-webkit-box-pack: center;
									justify-content: center;
									background-color: #f6ce12;
									font-size: 8px;
									color: #000;
									font-weight: 500;
									padding: 0 10px;
									border-radius: 30px;
								}
							}
						}
						.right{
							width: 43px;
								text-align: center;
								font-size: 14px;
								color: #363637;
								font-weight: 600;
								small{
									font-size: 8px;
									letter-spacing: 0.3px;
									font-weight: 500;
								
								}
						}
					}
				}
			}
		}
	}
	.content-center{
		margin-bottom: 40px;
	}
	.friendlist{
		padding: 24px;
		.left{
			width: 40%;
			padding-right: 32px;
    		border-right: solid 1px #f2f2f2;
			p{
				font-size: 12px;
				color: #363637;
				font-weight: 500;
				letter-spacing: 0.96px;
				margin-bottom: 16px;
			}
		}
		.right{
			width: 60%;
			padding-left: 32px;
			.header-top{
				margin-bottom: 24px;
			
			}
			.list-of-friends{
				.tp{
					width: 110px;
				}
				span{
					small{
						font-size: 12px;
						font-weight: 700;
						margin-left: -4px;
					}
				}
				.avatar-list{
					padding-left: 24px;
					width: calc(100% - 110px);
					ul{
						li{
							margin-right: 16px;
							display: flex;
							flex-direction: column;
							align-items: center;
							small{
								font-size: 10px;
								font-weight: 500;
								letter-spacing: 0.7px;
								color: #363637;
								opacity: 0.65;
							}
						}
					}
					figure{
						position: relative;
						width: 24px;
						height: 24px;
						background: #ced073;
						border-radius: 100%;
						font-size: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: 500;
						margin-bottom: 4px;
						span{
							position: absolute;
							width: 12px;
							top: -3px;
							right: -5px;
						}
					}
				}
			}
		}
	}
	.content-bottom{
		.opinionest-card{
			width: 48%;
			.header-top{
				figure{
					width: 24px;
					height: 24px;
					border-radius: 100%;
					background: #FFF2DF;
					padding: 5px;
				}
				h2{
					font-size: 12px;
					font-weight: 600;
					color: #363637;
					letter-spacing: 0.72px;
					margin-left: 16px;
				}
			}
			.points-box{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.point-sum{
				background-color: #fdefdc;
				margin-top: 16px;
				padding: 8px 12px;
				border-radius: 34px;
				
				ul{
					li{
						display: flex;
						align-items: center;
						font-size: 10px;
						color: rgba(54, 54, 55, 0.65);
						letter-spacing: 0.4px;
						img{
							width: 14px;
							margin-right: 4px;
						}
					}
				}
			}
			.point-msg{
				p{
					font-size: 10px;
					color: #363637;
					opacity: 0.65;
					letter-spacing: 0.4px;
					text-align: center;
					width: 80%;
				}
			}
		}
	}
	.content-left::-webkit-scrollbar {
		width: 8px;
	  }
	  
	  /* Track */
	  .content-left::-webkit-scrollbar-track {
		border-radius: 10px;
	  }
	   
	  /* Handle */
	  .content-left::-webkit-scrollbar-thumb {
		background: transparent; 
		border-radius: 10px;
	  }
	  
	  /* Handle on hover */
	  .content-left::-webkit-scrollbar-thumb:hover {
		background: #f1f1f1; 
	  }
	  .blog{
		  border-radius: 9px;
		  padding: 8px 8px;
		  border: solid 1px #f0f0f0;
		  figure{
			  width: 70px;
			  border-radius: 4px;
			  overflow: hidden;
			  height: 46px;
			  img{
				  height: 100%;
				  object-fit: cover;
			  }
		  }
		  .blog-content{
			  width: calc(100% - 70px);
			  padding-left: 12px;
			  h4{
				  color: #363637;
				  font-weight: 600;
				  font-size: 12px;
				  margin-bottom: 0;
			  }
			  p{
				  font-size: 10px;
				  color: #363637;
				  opacity: 0.65;
			  }
		  }
	  }
}




// .poly {
// 	clip-path: polygon(50% 0%, 68% 9%, 83% 27%, 88% 53%, 80% 90%, 50% 93%, 24% 87%, 3% 67%, 16% 50%, 37% 35%);
// 	background-color: red;
// }
