<app-header-web activeIndex="5"></app-header-web>
<div class="contact-wrapper">
    <div class="contact-inner" *ngIf="contactUs"> <!-- *ngIf="contactUs" -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title mb-4">Don’t go yet; say hello</h1>
                    <div class="form-wrapper select-form" *ngIf="!nextPressed">
                        <mat-radio-group  id="contactRaio">
                            <mat-radio-button class="mb-3" (change)="handleChange($event)" [checked]="isExistingUser==true"  value="1">Are you a new/existing survey respondent who has an interest 
                                in filling online surveys that pay cash?</mat-radio-button>
                            <mat-radio-button (change)="handleChange($event)" value="2"  [checked]="isExistingUser==false">A fantastic brand/market research firm looking for same help in legitimate and fast data collection.</mat-radio-button>
                          </mat-radio-group>
                          <div class="form-footer d-flex justify-content-end mt-3">
                            <button class="btn op-cta btn-shadow" (click)="onNext()">Next</button>
                          </div>
                    </div>

                    <div class="form-wrapper" *ngIf="showForm">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                            <mat-form-field class="d-block">
                                <input type="text" matInput placeholder="{{isExistingUser==true ? 'Name': 'Company Name'}}" ngModel required name="name" #name="ngModel" value="{{userName}}">
                            </mat-form-field>
                            <mat-form-field class="d-block">
                                <input [pattern]="emailPattern" type="email" matInput placeholder="{{isExistingUser==true ? 'Email' : 'Company Email'}}" ngModel required name="email" #email="ngModel" value="{{emailAddress }}">
                                
                            </mat-form-field>
                            <div *ngIf="email.errors && f.submitted && !isValidFormSubmitted" [ngClass] = "'error'">  
                                <small *ngIf="email.errors.pattern">  
                                  Please enter a valid email.  
                                </small>   
                            </div>  
                            <mat-form-field class="d-block" *ngIf="isExistingUser">
                                <mat-label>Select</mat-label>
                                <mat-select ngModel name="selectedItem" #selectedItem = "ngModel">
                                  <mat-option *ngFor="let cat of category" [value]="cat.value">
                                     {{cat.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field class="d-block" *ngIf="!isExistingUser">
                                <input pattern="[0-9]*" type="number" maxlength="15" matInput placeholder="Contact Number" ngModel required name="contactnumber" #contactnumber="ngModel" value="{{contactnumber }}">
                            </mat-form-field>
                              <mat-form-field class="d-block">
                                <mat-label>{{isExistingUser==true ? 'Query' : 'Write a brief message of what you want to collaborate on'}}</mat-label>
                                <textarea matInput ngModel required name="query" #query="ngModel"></textarea>
                              </mat-form-field>
                              <div class="form-footer d-flex justify-content-end mt-3">
                                <button class="btn op-cta prev" (click)="goBack()">Back</button>
                                <button [disabled]="disableButton!='Submit'" type="submit" class="btn op-cta btn-shadow ml-3">
                                    {{disableButton}}</button>
                              </div>
                              
                        </form>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <figure>
                        <img src="assets/images/contact.png" alt="Contact Us">
                    </figure>
                </div>
            </div>
        </div>
        <div class="pattern">
            <img src="assets/images/pattern/contact.png" alt="Contact Us">
    
        </div> 
    </div>
    <div class="success-wrapper" *ngIf="formSubmit">
        <div class="success-inner">
            <figure>
                <img src="assets/images/success.png" alt="success">
            </figure>
            <h2 class="text-center" *ngIf="isExistingUser">Request ID: {{referenceNumber}}</h2>
            <p class="text-center" *ngIf="isExistingUser">
                Thank you for reaching out to us. We will get back to<br>you at the earliest
            </p>
            <p class="text-center" *ngIf="!isExistingUser">
                Thank you for reaching out. Our experts will soon reach out to you.
            </p>
        </div>
        <div class="back-to-home">
            
            <figure>
                <button class="btn op-cta btn-shadow" [routerLink]="['']" type="button">Home</button>
                <img src="assets/images/pattern/success.png" alt="">
            </figure>
        </div>
    </div>
</div>
<app-footer-web></app-footer-web>