// @import'../../../theme/custom-theme.scss';
// @import'../../../assets/scss/button.scss';
@import'../../../assets/scss/form.scss';
@import'../../../assets/scss/color.scss';
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contact-wrapper{
    position: relative;
    min-height: 100vh;
    background-color: #f9f9f9;
    .contact-inner{
        padding: 144px 0 54px;
        background: #f9f9f9;
    }
    .pattern{
        position: absolute;
        top: 88px;
        right: 0;
        width: 440px;
        z-index: 9; 
    }
    .form-wrapper{

        background: #fff;
        margin: 0 auto;
        padding: 32px 44px;
        position: relative;
        border-radius: 4px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.03);
    }
    .select-form{
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    figure{
        width: 100%;
        position: relative;
        z-index: 99;
        margin-bottom: 0;
    }
    .success-wrapper{
        padding: 140px 0 176px;
        background: #fff;
        position: relative;
        .back-to-home{
            position: absolute;
            bottom: -16px;
            left: 0;
            right: 0;
            margin: auto;
            figure{
                width: 350px;
                button{
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 36px;
                }
            }
        }
        figure{
            width: 140px;
            margin: 0 auto 16px;
           
        }
        h2{
            font-size: 16px;
            font-weight: 600;
            color: #F89406;
            letter-spacing: 0.6px;
        }
        p{
            font-weight: 300;
            font-size: 14px;
            color: #363637;
            opacity: 0.65;
        }
    }
}
.prev{
    background-color: #F2F2F2;
    color: #363637;
    font-weight: 500;
}