<div class="contact-wrapper">
<div class="success-wrapper">
    <div class="success-inner">
        <figure>
            <img src="assets/images/success.png" alt="success">
        </figure>
        <h2 class="text-center" *ngIf="isExistingUser=='true'">Request ID: {{referenceNumber}}</h2>
        <p class="text-center" *ngIf="isExistingUser=='true'">
            Thank you for reaching out to us. We will get back to<br>you at the earliest
        </p>
        <p class="text-center" *ngIf="isExistingUser!='true'">
            Thank you for reaching out. Our experts will soon reach out to you.
        </p>
    </div>
    <div class="back-to-home">
        
        <figure>
            <button class="btn op-cta btn-shadow" [routerLink]="['']" type="button">Home</button>
            <img src="assets/images/pattern/success.png" alt="">
        </figure>
    </div>
</div>
</div>