
@import'../../../../theme/custom-theme.scss';
@import'../../../../assets/scss/button.scss';
@import'../../../../assets/scss/color.scss';

.header-base{
  @include position(absolute, $top: 0px, $right: 0, $bottom: initial, $left: initial);
  background-image: url('../../../../assets/images/pattern/header-pattern.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: calc(100% - 61px);
  nav{
    @include padding(24px, 16px, 35px, 0px);
    @include position(fixed, $top: 0px, $right: 0, $bottom: initial, $left: initial);
    width: calc(100% - 61px);
    z-index: 999;
    background: #2ABFCE;
    h1{
      width: 120px;
    }
    .profile-noti{
      .notification-btn{
        position: relative;
        figure{
          width: 24px;
        }
        span{
          @include position(absolute, $top: -1px, $right: -6px, $bottom: initial, $left: initial);
          min-width: 16px;
          height: 16px;
          border-radius: 100%;
          background: #F25353;
          font-size: 0.5rem;
          font-weight: 600;
        }
      }
    }
  }
}

.home-header{
  background: $white;
  padding: 24px 0;  
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  .navbar{
    li{
      margin:0 0 0 24px;
      a{
        font-size: 12px;
        color:#1b1b25;
        padding: 4px 16px;
        font-weight: 500;
        border-radius: 20px;
        letter-spacing: 0.4px;
        transition: all 0.3s ease-in-out;
      }
      .active{
        color:$white;
        background: $themesecondary;
        font-weight: 500;
      }
      &:hover{
        a{
          color:$white;
          background: $themesecondary;
        }
      }
    }
    .country-codeselector{
      margin-left: 20px;
      border-radius: 3px;
      border: solid 1px $themesecondary;
      background: transparent;
      min-width: 105px;
      height: 33px;
      color:$themesecondary;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 0 5px;
    }
    .login-btn{
      margin-left: 24px;
      height: 33px;
      color: #f89406;
      border-radius: 4.5px;
      border: solid 1px #f89406;
      padding: 0 12px;
      span{
        display: inline-block;
        padding-left: 5px;
        font-size: 12px;
        font-weight: 500;
      }
      img{
        width: 16px;
      }
    }
    
  }
  .navbar-brand {
    img{
      max-width: 150px;
    }
  }
  .navbar-expand-sm{
    justify-content: flex-end;
  }
}
@media (min-width: 480px) {
  .navbar{
    li{ a{
    font-size: 20px;
    color:#1b1b25;
    padding: 4px 2px;
    font-weight: 500;
  }
}
}
}