<header class="home-header custom-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pl-0">
        <a class="navbar-brand mr-auto" [routerLink]="['/']">
          <img src="assets/images/logo-color.png" alt="Logo">
        </a>
      </div>

      <div class="col-md-9 pr-0">
        <nav class="navbar navbar-expand-sm white-bg p-0">
          <ul class="navbar-nav">
           
            <li class="{{activeIndex==='1' ? 'nav-item cursor-pointer active': 'nav-item cursor-pointer'}}">
                <a class="nav-link" (click)="RedirectPage(1)">Home</a>
            </li>
          
            <li class="{{activeIndex==='2' ? 'nav-item cursor-pointer active': 'nav-item cursor-pointer'}}">
                <a class="nav-link" (click)="RedirectPage(2)">About Us</a>
            </li>
           
            <li class="{{activeIndex==='3' ? 'nav-item cursor-pointer active': 'nav-item cursor-pointer'}}">
                <a class="nav-link" (click)="RedirectPage(3)">How It Works</a>
            </li>
            
            <li class="{{activeIndex==='4' ? 'nav-item cursor-pointer active': 'nav-item cursor-pointer'}}">
                <a class="nav-link" (click)="RedirectPage(4)">Blogs</a>
            </li>
            
            <li class="{{activeIndex==='5' ? 'nav-item cursor-pointer active': 'nav-item cursor-pointer'}}">
                <a class="nav-link" (click)="RedirectPage(5)">Contact Us</a>
            </li>
          </ul>

          <a class="nav-link login-btn cursor-pointer d-flex align-items-center justify-content-center" (click)="redirecttoRespectivePage()">
            
            <img src="assets/images/padlock.png" alt="Login"> <span>{{loginbuttonText}}</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
  